<script type="text/javascript">
	jQuery(document).ready(function() {    
		initLists();
	});

    var i18n_eliminating = '$encoder.jsEscape( $i18n.getString( "eliminating" ), "'" )';
    var i18n_elimination_done = '$encoder.jsEscape( $i18n.getString( "elimination_done" ), "'" )';
    var i18n_select_different_data_elements = '$encoder.jsEscape( $i18n.getString( "select_different_data_elements" ), "'" )';
</script>

<h3>$i18n.getString( "duplicate_data_elimination" ) #openHelp( "duplicateDataElimination" )</h3>

<div style="width: 450px;">
	<select id="operandList" name="operandList" multiple="multiple" style="height: 150px; width: 100%;"></select>
</div>

<br/>
	
<table>
    <col style="width:2em"/>
    <col/>
    <tr>
        <td rowspan="3" id="step1" style="text-align:center;background-color:#ccffcc">1.</td>
        <th>$i18n.getString( "select_the_data_element_to_eliminate" )</th>
    </tr>
    <tr>
        <td><span id="eliminateNameField">[$i18n.getString( "not_selected" )]</span></td>
    </tr>
    <tr>
        <td>
        	<input id="confirmEliminateButton" type="button" value="$i18n.getString( 'confirm' )" onclick="eliminateConfirmed()" style="width:10em" disabled="disabled" />
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="3" id="step2" style="text-align:center">2.</td>
        <th>$i18n.getString( "select_the_data_element_to_keep" )</th>
    </tr>
    <tr>
        <td><span id="keepNameField">[$i18n.getString( "not_selected" )]</span></td>
    </tr>
    <tr>
        <td>
        	<input id="confirmKeepButton" type="button" value="$i18n.getString( 'confirm' )" onclick="keepConfirmed()" style="width:10em" disabled="disabled" />
        </td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="2" id="step3" style="text-align:center">3.</td>
        <th>$i18n.getString( "eliminate" )</th>
    </tr>
    <tr>
        <td>
        	<input type="button" id="eliminateButton" value="$i18n.getString( 'eliminate' )" style="width:10em" onclick="eliminate()" disabled="disabled" />
        	<input type="button" value="$i18n.getString( 'reset' )" style="width:10em" onclick="window.location.href='displayDuplicateDataEliminationForm.action'" />
        </td>
    </tr>
</table>

<p><span id="message"></span></p>
