#set( $size = $dataSets.size() )
{ "dataSets": [
#foreach( $dataSet in $dataSets )
  {
    "id": $!{dataSet.id},
    "name": "$!encoder.jsonEncode( ${dataSet.displayName} )"
  }#if( $velocityCount < $size ),#end
#end
] }
