<script type="text/javascript">
	jQuery( document ).ready( function()
	{	
		contentDiv = 'showDataSqlViewContent';

		if ( jQuery( '#baseLink' ).length )
		{
			var newBaseLink = getFieldValue( 'baseLink' ).replace( 'exportSqlView.action', 'showDataSqlViewByAjax.action' );
			setFieldValue( 'baseLink', newBaseLink );
		}
	} );

</script>

<h3>$i18n.getString( "view_data_for" ) &quot;${sqlView.name}&quot;</h3>

<input type="hidden" id="viewTableName" value="${viewTableName}"/>

<div>
<input type="button" value="$i18n.getString( 'get_report_as_xls' )" onclick="exportSqlView( '${sqlView.id}', 'xls' )" style="width:140px"/>
<input type="button" value="$i18n.getString( 'get_report_as_csv' )" onclick="exportSqlView( '${sqlView.id}', 'csv' )" style="width:140px"/>
<input type="button" value="$i18n.getString( 'get_report_as_pdf' )" onclick="exportSqlView( '${sqlView.id}', 'pdf' )" style="width:140px"/>
<input type="button" value="$i18n.getString( 'back' )" onclick="javascript:window.location.href='showSqlViewListForm.action'" style="width:140px"/>
</div>
<br/>

<div id="showDataSqlViewContent">
#parse( "/dhis-web-maintenance-dataadmin/showDataSqlViewGrid.vm" )
</div>