<h2>DHIS SMS</h2>
<ul>
    <li><a href = "receiveImport.action">Receive Data and Import</a></li>
    <li><a href = "sendSMS.action">Send SMS</a></li>
    <li><a href = "mobileSettings.action">Settings</a></li>
</ul>