<h2>$i18n.getString( "enroll" ) $patient.name to $program.getName()</h2>
<form action="saveMobileProgramEnrollment.action" method="POST">
<div class="header-box" align="center">
<input type="hidden" name="patientId" value="$patientId"/>	
<input type="hidden" name="programId" value="$programId"/>	
	<p style="text-align: left;">
	
		<label>$!encoder.htmlEncode( $program.dateOfEnrollmentDescription ) [yyyy-MM-dd] </label>
		#if( $validationMap.get( "enrollmentDate" ) )
           	<br /><span style="color: #990000;"> $i18n.getString($validationMap.get( "enrollmentDate" ))</span>
     	#end
		<input type="text" name="enrollmentDate" value="#if($previousValues.get("enrollmentDate"))$previousValues.get("enrollmentDate")#else$now#end" />
		<label>$!encoder.htmlEncode( $program.dateOfIncidentDescription ) [yyyy-MM-dd] </label>
		#if( $validationMap.get( "incidentDate" ) )
           	<br /><span style="color: #990000;"> $i18n.getString($validationMap.get( "incidentDate" ))</span>
		#end
		<input type="text" name="incidentDate" value="#if($previousValues.get("incidentDate"))$previousValues.get("incidentDate")#else$now#end" />
		
		#foreach($patientIdentifierType in $patientIdentifierTypes)
				#set($key = "IDT${patientIdentifierType.id}")
				<label>$patientIdentifierType.getName()#if( $patientIdentifierType.isMandatory() )*#end </label>
				#if( $validationMap.get( $key ) )
		           	<br /><span style="color: #990000;"> $i18n.getString($validationMap.get( $key ))</span>
		     	#end
				<input type="text" name="$key" value="$!previousValues.get($key)" />

		#end

		#foreach($patientAttribute in $patientAttributes)
				#set($key = "AT${patientAttribute.id}")
				<label>$patientAttribute.getName()#if( $patientAttribute.isMandatory() )*#end  </label>
				#if( $validationMap.get( $key ) )
		           	<br /><span style="color: #990000;"> $i18n.getString($validationMap.get( $key ))</span>
		     	#end
				#if($patientAttribute.getValueType() == "COMBO")
					<select type="text" name="$key">
					#foreach($option in $patientAttribute.getAttributeOptions())
						<option value="$option.id"
							#if( $prevDataValues.get( $key ) == $option.id ) 
								selected="selected"
							#end
							> $option.getName() </option>
					#end
					</select>
				#elseif( $patientAttribute.getValueType() == "YES/NO" )
					<select name="$key">
							<option #if( $prevDataValues.get( $key ) == "true" ) selected="selected" #end value="true">$i18n.getString("yes")</option>
							<option #if( $prevDataValues.get( $key ) == "false" ) selected="selected" #end value="false">$i18n.getString("no")</option>
					</select>
				#else
					<input type="text" name="$key" value="$!previousValues.get($key)" />
				#end
		#end
	</p>
</div>

<div class="header-box" align="center">
	<p>
		<input type="submit" style="width: 100%;" value="$i18n.getString("enroll")" />
	</p>
</div>

</form>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li> <a href="selectEnrollmentProgram.action?patientId=$patientId"> $i18n.getString("program_list")</a> </li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>
