/*
 * General
 * Pivot
 *
 * Panel
 * PT Panel
 *
 * Combobox
 * PT Combobox
 *
 * Multiselect
 * PT Multiselect
 *
 * Checkbox
 * PT Checkbox
 *
 * Toolbar
 * PT Toolbar
 *
 * Menu
 * PT Menu
 *
 * Button
 * Tooltip
 * LoadMask
 *
 * PT Grid
 * PT Window
 * PT Label
 * PT Textfield
 * PT Treepanel
 * PT Statusbar
 * PT Accordion
 * PT Textarea
*/

/*----------------------------------------------------------------------------
 * General
 *--------------------------------------------------------------------------*/

body {
	background-color: #e1e1e1;
	opacity: 0;
	filter:Alpha(opacity=0)
}

body,
.x-body,
.x-btn-default-toolbar-small .x-btn-inner,
.x-form-item,
.x-panel-header-text-default,
.x-grid-cell-inner,
.x-form-item-label,
.x-window-header-text-default {
	font-family: arial,sans-serif,ubuntu,consolas;
}

body {
    font-size: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body.x-windows {
	-webkit-text-stroke: 0.2px #888;
}

	/* Scrollbar Webkit */
::-webkit-scrollbar {
    width: 8px;
    height: 7px;
    border: 0 none;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #ddd;
    margin: 0 2px;
    border-bottom: 1px solid white;
}
::-webkit-scrollbar-thumb:horizontal {
	background-color: #bbb;
    border-bottom: 1px solid white;
}

::-webkit-scrollbar-track:vertical {
    background-color: #e1e1e1;
    margin: 2px 0;
    border-right: 2px solid white;
}
::-webkit-scrollbar-thumb:vertical {
	background-color: #bbb;
    border-right: 2px solid white;
}

	/* User select */
.user-select {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

	/* Scrollbar */
.x-scroller-vertical {
	border: 0 none;
}

	/* Disabled icons */
.disabled {
	opacity: 0.4;
	cursor: default !important;
}


	/* Collapse splitter column */
.x-splitter {
    display: none;
}

.fixed {
	position: fixed;
}

.pointer {
	cursor: pointer;
}

.td-nobreak {
	white-space: nowrap;
}

.td-hidden {
	display: none;
}

.td-collapsed {
	display: none;
}

.text-weak {
	color: #303038;
}

.align-left {
	text-align: left !important;
}

/*----------------------------------------------------------------------------
 * Pivot
 *--------------------------------------------------------------------------*/

table.pivot {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0 none;

	-webkit-touch-callout: all;
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
.pivot td {
	padding: 5px;
	border: 1px solid #b2b2b2;
}

.pivot-dim {
	background-color: #dae6f8;
	text-align: center;
}
.pivot-dim.highlighted {
	background-color: #c5d8f6;
}
.pivot-dim-subtotal {
	background-color: #cad6e8;
	text-align: center;
}
.pivot-dim-total {
	background-color: #bac6d8;
	text-align: center;
}
.pivot-dim-empty {
	background-color: #dae6f8;
	text-align: center;
}

.pivot-value {
	background-color: #fff;
	white-space: nowrap;
	text-align: right;
}
.pivot-value-subtotal {
	background-color: #f4f4f4;
	white-space: nowrap;
	text-align: right;
}
.pivot-value-subtotal-total {
	background-color: #e7e7e7;
	white-space: nowrap;
	text-align: right;
}
.pivot-value-total {
	background-color: #e4e4e4;
	white-space: nowrap;
	text-align: right;
}
.pivot-value-total-subgrandtotal {
	background-color: #d8d8d8;
	white-space: nowrap;
	text-align: right;
}
.pivot-value-grandtotal {
	background-color: #c8c8c8;
	white-space: nowrap;
	text-align: right;
}

	/* Legend */
.pivot td.legend {
	padding: 0;
}

.pivot div.legendCt {
	display: table;
	float: right;
	width: 100%;
}
.pivot div.arrowCt {
	display: table-cell;
	vertical-align: top;
	width: 8px;
}
.pivot div.arrow {
	width: 0;
	height: 0;
}
.pivot div.number {
	display: table-cell;
}

.pivot div.legendColor {
	display: table-cell;
	width: 2px;
}


/*----------------------------------------------------------------------------
 * Panel
 *--------------------------------------------------------------------------*/

.x-panel-body {
    font-size: 11px;
}
.x-panel .x-grid-body {
    border-style: none;
}


/*----------------------------------------------------------------------------
 * PT Panel
 *--------------------------------------------------------------------------*/

.pt-panel-title-data,
.pt-panel-title-period,
.pt-panel-title-organisationunit,
.pt-panel-title-dimension {
	height: 17px;
	background-repeat: no-repeat;
	padding-left: 20px
}

.pt-panel-title-data {
	background-image: url(../images/data.png);
}
.pt-panel-title-period {
	background-image: url(../images/period.png);
}
.pt-panel-title-organisationunit {
	background-image: url(../images/organisationunit.png);
}
.pt-panel-title-dimension {
	background-image: url(../images/dataelementgroupset.png);
}


/*----------------------------------------------------------------------------
 * Combobox
 *--------------------------------------------------------------------------*/

	/* Combobox text position*/
.x-webkit .x-form-empty-field {
    line-height: 14px;
}

	/* Combobox font size */
.x-form-text, textarea.x-form-field {
    font-size: 10px;
}

	/* Combobox field label font */
.x-form-item-label {
    font-size: 11px;
    color: #111;
}


/*----------------------------------------------------------------------------
 * PT Combobox
 *--------------------------------------------------------------------------*/

	/* Combobox text position*/
.pt-combo .x-form-text {
    padding-left: 5px;
}
.pt-combo .small .x-form-field {
	padding-top: 2px;
}

	/* Combobox border-radius */
.pt-combo input {
    border-radius: 2px 0px 0px 0px;
}


/*----------------------------------------------------------------------------
 * Multiselect
 *--------------------------------------------------------------------------*/

	/* Inner border */
.x-fit-item {
    border-style: none;
}

	/* Boundlist (multiselect, comboboxlist etc) */
.x-boundlist-item {
    color: #333;
    padding: 3px 2px 3px 4px;
    font-size: 10px;
    border: 1px solid transparent;
}
.x-boundlist-item-over {
    background-color: #e1e1e1;
    border-color: #e1e1e1;
}
.x-boundlist-selected {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
}


/*----------------------------------------------------------------------------
 * PT Multiselect
 *--------------------------------------------------------------------------*/

.pt-multiselect {
    color: #111;
}

.pt-toolbar-multiselect-left .x-docked-top {
	border-top-left-radius: 2px;
}
.pt-toolbar-multiselect-right .x-docked-top {
	border-top-right-radius: 2px;
}
.pt-toolbar-multiselect-leftright .x-docked-top {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

	/* Multiselect docked bar font size */
.pt-toolbar-multiselect-left .pt-toolbar-multiselect-left-label,
.pt-toolbar-multiselect-right .pt-toolbar-multiselect-right-label,
.pt-toolbar-multiselect-leftright .pt-toolbar-multiselect-leftright-label {
    font-size: 11px;
}
.pt-toolbar-multiselect-left .pt-toolbar-multiselect-left-label {
	padding-left: 6px;
}
.pt-toolbar-multiselect-right .pt-toolbar-multiselect-right-label {
    padding-right: 7px;
}
.pt-toolbar-multiselect-leftright .pt-toolbar-multiselect-leftright-label {
    padding-left: 4px;
}

	/* Multiselect boundlist */
.pt-toolbar-multiselect-left .x-boundlist-item-over,
.pt-toolbar-multiselect-right .x-boundlist-item-over {
    background-color: transparent;
    border-color: transparent;
}
.pt-toolbar-multiselect-left .x-boundlist-selected,
.pt-toolbar-multiselect-right .x-boundlist-selected {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}


/*----------------------------------------------------------------------------
 * Checkbox
 *--------------------------------------------------------------------------*/

	/* Box label */
.x-form-cb-label-after {
    padding-left: 1px;
    font-size: 11px;
    color: #333;
    position: relative;
	top: -1px;
}

	/* Icons */
.x-form-checkbox {
    background-image: url('../images/checkbox.gif');
}


/*----------------------------------------------------------------------------
 * PT Checkbox
 *--------------------------------------------------------------------------*/

.pt-checkbox .x-form-item-label {
    padding-left: 5px;
}
.pt-checkbox .x-form-cb-label-after {
    margin-left: 3px;
    font-size: 11px;
}


/*----------------------------------------------------------------------------
 * Toolbar
 *--------------------------------------------------------------------------*/

	/* Separator */
.x-toolbar .x-toolbar-separator-horizontal {
    height: 15px;
    border-right: 1px solid #f2f2f2;
}

	/* Background */
.x-toolbar-default {
    border-color: #D0D0D0;
    background-image: none;
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1f1f1), color-stop(100%, #f5f5f5));
    background-image: -webkit-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -moz-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -o-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: -ms-linear-gradient(top, #f1f1f1,#f5f5f5);
    background-image: linear-gradient(top, #f1f1f1,#f5f5f5);
}
.pt-toolbar-main {
    border-color: #D0D0D0;
    background-image: none;
    background-color: #f1f1f1;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #e3e3e3,#eaeaea);
    background-image: -moz-linear-gradient(top, #e3e3e3,#eaeaea);
    background-image: -o-linear-gradient(top, #e3e3e3,#eaeaea);
    background-image: -ms-linear-gradient(top, #e3e3e3,#eaeaea);
    background-image: linear-gradient(top, #e3e3e3,#eaeaea);
}


/*----------------------------------------------------------------------------
 * PT Toolbar
 *--------------------------------------------------------------------------*/

	/* Align menu */
.pt-toolbar-btn-menu {
	margin-top: 4px;
}

/*----------------------------------------------------------------------------
 * Menu
 *--------------------------------------------------------------------------*/

.x-menu-body {
    border-color: #bbb;
    border-radius: 2px;
}
.x-menu-item-active .x-menu-item-link {
	border-radius: 0;
	border-color: #e1e1e1;
	background-color: #e1e1e1;
	background-image: none;
}
.x-menu-body {
	padding: 0;
}
.x-menu-body .x-box-inner {
	background-color: #fafafa;
}

	/* Menu item */
.x-menu-item {
	background-color: #fafafa;
}

.x-menu-item-link {
    padding: 4px 5px 4px 26px;
}
	/* Menu item color */
.x-menu-item-text {
    color: #111;
}

/*----------------------------------------------------------------------------
 * PT Menu
 *--------------------------------------------------------------------------*/

	/* Menu item icon */
.pt-menu-item-noicon .x-menu-item-link {
	padding-left: 10px;
}

.pt-menu-item-image {
    background-image:url('../images/dl_image.png');
    padding-left: 18px;
}
.pt-menu-item-tablelayout {
    background-image:url('../images/dl_tablelayout.png');
    padding-left: 18px;
}
.pt-menu-item-datasource {
    background-image:url('../images/dl_datasource.png');
    padding-left: 18px;
}

.pt-menu-item-selected {
    background-image:url('../images/check.png');
    padding-left: 18px;
}
.pt-menu-item-unselected {
    background-image:url('../images/check-un.png');
    padding-left: 18px;
}


	/* Menu align */
.pt-btn-menu {
	margin-top: 2px;
}

/*----------------------------------------------------------------------------
 * Button
 *--------------------------------------------------------------------------*/

.x-btn-arrow {
	background-image: url('../images/arrow.png') !important;
}

.x-btn-default-toolbar-small,
.x-btn-default-toolbar-small-over,
.x-btn-default-toolbar-small-pressed {
	border-radius: 1px;
}
.x-btn-default-toolbar-small-over,
.x-btn-default-toolbar-small-pressed {
	border-color: #bbb;
}

	/* Chart image */
.x-btn-default-toolbar-small-icon button {
    width: 32px !important;
}
.x-btn-default-toolbar-small-icon .x-btn-icon {
    width: 32px;
    height: 32px;
}

.x-btn-default-small {
	border-radius: 1px;
}

.x-btn-default-toolbar-small-pressed {
	border-color: #bbb;
    background-image: none;
    background-color: #d6d6d6;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1d1d1), color-stop(100%, #e5e5e5));
    background-image: -webkit-linear-gradient(top, #d1d1d1,#e5e5e5);
    background-image: -moz-linear-gradient(top, #d1d1d1,#e5e5e5);
    background-image: -o-linear-gradient(top, #d1d1d1,#e5e5e5);
    background-image: -ms-linear-gradient(top, #d1d1d1,#e5e5e5);
    background-image: linear-gradient(top, #d1d1d1,#e5e5e5);
}

/*----------------------------------------------------------------------------
 * PT Button
 *--------------------------------------------------------------------------*/

.pt-button-icon-gear {
	width: 22px !important;
	height: 22px !important;
	background: url('../images/gear_18.png') no-repeat;
}

.pt-button-icon-table {
	background: url('../images/table_14.png') no-repeat;
}
.pt-button-icon-chart {
	background: url('../images/chart_14.png') no-repeat;
}
.pt-button-icon-map {
	background: url('../images/map_14.png') no-repeat;
}

.pt-button-organisationunitselection .x-btn-center {
	width: 18px !important;
}


/*----------------------------------------------------------------------------
 * Tooltip
 *--------------------------------------------------------------------------*/

.x-tip {
    border-radius: 2px;
    padding: 1px 4px;
    border: 1px solid #111;
    background-color: #111;
}

.x-tip .x-tip-body {
	font-size: 10px;
	color: #fff;
	-webkit-text-stroke: 0.2px #fff;
}

.x-tip-anchor {
	border-top-color: #111;
}


/*----------------------------------------------------------------------------
 * LoadMask
 *--------------------------------------------------------------------------*/

.x-mask-msg {
	padding: 0;
	border: 0 none;
	background-image: none;
	background-color: transparent;
}
.x-mask-msg div {
    background-position: 11px center;
}
.x-mask-msg .x-mask-loading {
	border: 0 none;
	background-color: #000;
	color: #fff;
	border-radius: 2px;
	padding: 12px 14px 12px 30px;
	opacity: 0.65;
}


/*----------------------------------------------------------------------------
 * PT Grid
 *--------------------------------------------------------------------------*/

.pt-grid-row-icon-edit,
.pt-grid-row-icon-overwrite,
.pt-grid-row-icon-sharing,
.pt-grid-row-icon-dashboard,
.pt-grid-row-icon-delete {
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.pt-grid-row-icon-edit {
	background: url('../images/grid-edit_16.png') no-repeat;
}
.pt-grid-row-icon-overwrite {
	background: url('../images/grid-save_16.png') no-repeat;
	margin-left: 4px;
}
.pt-grid-row-icon-sharing {
	background: url('../images/grid-sharing_16.png') no-repeat;
	margin-left: 4px;
}
.pt-grid-row-icon-dashboard {
	background: url('../images/grid-dashboard_16.png') no-repeat;
	margin-left: 4px;
}
.pt-grid-row-icon-delete {
	background: url('../images/grid-delete_16.png') no-repeat;
	margin-left: 4px;
}

.pt-grid-row-icon-disabled img.pt-grid-row-icon-sharing,
.pt-grid-row-icon-disabled img.pt-grid-row-icon-dashboard {
	cursor: pointer !important;
}

.pt-grid .x-grid-cell-inner,
.pt-grid .x-grid-cell-inner * {
	font-size: 10px !important;
}
.pt-grid .x-grid-cell-inner {
	padding-top: 3px;
	padding-bottom: 3px;
}

.pt-grid .x-column-header-text {
	color: #333;
}
.pt-grid .x-grid-header-ct {
	border-bottom-width: 1px !important;
	border-bottom-color: #d0d0d0;
}
.pt-grid .x-grid-body {
	border: 1px solid #d0d0d0;
	border-top: 0 none !important;
}

.pt-grid .x-grid-dirty-cell { /* hide red "dirty" icon */
	background-image: none;
}
.pt-grid .x-grid-row { /* middle align text in row with image */
	vertical-align: middle;
}
.pt-grid .x-grid-row .x-grid-cell { /* remove blurry borders */
	border-top: 0 none;
}

.pt-grid .link,
.pt-grid .link * {
	cursor: pointer;
	cursor: hand;
	color: blue;
	text-decoration: underline;
}


/*----------------------------------------------------------------------------
 * PT Window
 *--------------------------------------------------------------------------*/

.pt-window-title-favorite {
    padding-left: 19px;
    background-image: url('../images/favorite.png');
}
.pt-window-title-interpretation {
    padding-left: 19px;
    background-image: url('../images/interpretation.png');
}
.pt-window-title-datatable {
    padding-left: 19px;
    background-image: url('../images/datatable.png');
}
.pt-window-title-messagebox {
    padding-left: 16px;
    background-image: url('../images/error_m.png');
    background-position-y: 1px;
}

	/* Confirm list */
.pt-window-confirm-list .x-panel-body {
    color: #444;
    font-size: 10px;
    border-style: none;
}


/*----------------------------------------------------------------------------
 * PT Label
 *--------------------------------------------------------------------------*/

	/* Label heading periods */
.pt-label-period-heading,
.pt-label-period-heading-options {
    font-size: 11px;
    font-weight: bold;
    color: #333;
    line-height: 20px;
}
.pt-label-period-heading-options {
    background-color: #e1e1e1;
    padding: 1px 5px;
    border-radius: 2px
}

	/* Window bbar info */
.pt-label-info {
	font-size: 10px !important;
	color: #666;
	padding-left: 4px;
	height: 22px;
	line-height: 21px;
}

/*----------------------------------------------------------------------------
 * PT Textfield
 *--------------------------------------------------------------------------*/

.pt-textfield .x-form-field, .pt-textfield-alt1 .x-form-field {
    height: 26px;
    padding-left: 4px;
    border-radius: 1px;
    font-size: 11px;
    color: #333;
}
.pt-textfield .x-form-item-label {
    padding-left: 5px;
    line-height: 20px;
}
.pt-textfield-alt1 .x-form-item-label {
    padding-left: 5px;
    line-height: 8px;
}


/*----------------------------------------------------------------------------
 * PT Treepanel
 *--------------------------------------------------------------------------*/

	/* Node height */
.pt-tree.x-tree-panel .x-grid-row .x-grid-cell-inner {
    height: 17px;
    font-size: 10px;
}

	/* Selected row background */
.pt-tree .x-grid-row-selected .x-grid-cell,
.pt-tree .x-grid-row-selected .x-grid-rowwrap-div {
    background-color: #e0e0e0;
    border-radius: 2px 2px 2px 2px;
}

	/* Hover row background */
.pt-tree .x-grid-cell {
    border-radius: 2px 2px 2px 2px;
}

	/* Treepanel contextmenu */
#treepanel-contextmenu {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
}


/*----------------------------------------------------------------------------
 * PT Statusbar
 *--------------------------------------------------------------------------*/

.pt-statusbar .x-panel-body-default {
	padding: 5px 0 0 6px;
	border: 0 none;
	background-color: transparent;
	color: #111;
	vertical-align: top;
	font-size: 10px;
	line-height: 14px;
}


/*----------------------------------------------------------------------------
 * PT Accordion
 *--------------------------------------------------------------------------*/

	/* accordion title bar, shared */
.pt-accordion .x-accordion-item .x-accordion-hd {
	padding: 6px 5px 4px 8px;
	border: 0 none;
	cursor: pointer;
	border-radius: 0;
    background-image: none;
    background-color: #e0e0e0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dedede), color-stop(100%, #e6e6e6)) !important;
    background-image: -webkit-linear-gradient(top, #dddddd, #e6e6e6) !important;
    background-image: -moz-linear-gradient(top, #dddddd, #e6e6e6) !important;
    background-image: -o-linear-gradient(top, #dddddd, #e6e6e6) !important;
    background-image: -ms-linear-gradient(top, #dddddd, #e6e6e6) !important;
    background-image: linear-gradient(top, #dddddd, #e6e6e6) !important;
}
	/* accordion title dock, default, collapsed */
.pt-accordion .collapsed .x-accordion-hd {
	padding-bottom: 5px !important;
}

	/* accordion title dock outer, shared */
.pt-accordion .x-accordion-item {
	border-radius: 1px;
}
	/* accordion title dock outer, default */
.pt-accordion .x-accordion-item {
	border: 1px solid #c5c5c5;
	border-bottom: 0 none;
}
	/* accordion title dock outer, last */
.pt-accordion .pt-accordion-last {
	border: 1px solid #c5c5c5;
}

	/* accordion title dock text, shared */
.pt-accordion .x-accordion-hd .x-panel-header-text {
	font-weight: bold;
	cursor: pointer;
}

	/* accordion item body */
.pt-accordion .x-accordion-body {
	padding: 2px 2px 0px;
	border-top: 1px solid #c5c5c5 !important;
}

.pt-accordion .x-accordion-hd-sibling-expanded {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.pt-accordion .pt-toolbar-multiselect-left, .pt-accordion .pt-toolbar-multiselect-right {
	margin-bottom: 0;
}

	/* accordion combo box */
.pt-accordion .pt-combo .x-form-text, .pt-accordion .pt-combo .x-form-trigger {
	height: 24px;
	padding-top: 1px;
}
	/* accordion combo box label */
.pt-accordion .pt-combo .x-form-item-label {
	padding: 4px 0 0;
}


/*----------------------------------------------------------------------------
 * PT Textarea
 *--------------------------------------------------------------------------*/

.pt-textarea .x-form-field {
	font-size: 11px;
}
