<script type="text/javascript">
    jQuery(document).ready(function () {
        selectAll();
    });

    function selectAll()
    {
        $("#exportForm").find("input:checkbox").attr("checked", true);
    }

    function selectNone()
    {
        $("#exportForm").find("input:checkbox").attr("checked", false);
    }

    function exportMetaData()
    {
        if( $( '#dataSets' ).is(':checked'))
        {
            $( '#sections' ).attr( 'checked', true );
        }
        else
        {
            $( '#sections' ).removeAttr('checked');
        }

        if( $( '#categories' ).is(':checked'))
        {
            $( '#categoryCombos' ).attr('checked', true);
            $( '#categoryOptionCombos' ).attr('checked', true);
            $( '#categoryOptions' ).attr('checked', true);
        }
        else
        {
            $( '#categoryCombos' ).removeAttr( 'checked');
            $( '#categoryOptionCombos' ).removeAttr('checked');
            $( '#categoryOptions' ).removeAttr('checked');
        }

        if( $( '#mapLegendSets' ).is(':checked') )
        {
            $( '#mapLegends' ).attr('checked', true);
        }
        else
        {
            $( '#mapLegends' ).removeAttr('checked');
        }

        if( $( '#maps' ).is(':checked') )
        {
            $( '#mapViews' ).attr('checked', true);
        }
        else
        {
            $( '#mapViews' ).removeAttr('checked');
        }

        var url = "../api/metaData";
        var format = $("#format").val();
        var compression = $("#compression").val();

        url += "." + format;

        if(compression == "zip")
        {
            url += ".zip";
        }
        else if(compression == "gz")
        {
            url += ".gz";
        }

        url += "?assumeTrue=false&" + $("#exportForm").serialize();

        log("url" + url);

        window.location=url;
    }
</script>

<h3>$i18n.getString( "metadata_export" )</h3>

<form id="exportForm" name="exportForm">

<input id="categoryCombos" name="categoryCombos" type="checkbox" value="true" style="display: none;" />
<input id="categoryOptionCombos" name="categoryOptionCombos" type="checkbox" value="true" style="display: none;" />
<input id="categoryOptions" name="categoryOptions" type="checkbox" value="true" style="display: none;" />
<input id="sections" name="sections" type="checkbox" value="true" style="display: none;" />
<input id="mapViews" name="mapViews" type="checkbox" value="true" style="display: none;" />
<input id="mapLegends" name="mapLegends" type="checkbox" value="true" style="display: none;" />

<fieldset style="width: 80%; border: 1px solid #ccc; padding: 15px;">
    <div style="width: 200px; float: left;"><input id="attributeTypes" name="attributeTypes" type="checkbox" value="true" /> <label for="attributeTypes"> Attribute Types</label></div>
    <div style="width: 200px; float: left;"><input id="categories" name="categories" type="checkbox" value="true" /> <label for="categories">Categories</label></div>
    <div style="width: 200px; float: left;"><input id="charts" name="charts" type="checkbox" value="true" /> <label for="charts">Charts</label></div>
    <div style="width: 200px; float: left;"><input id="concepts" name="concepts" type="checkbox" value="true" /> <label for="concepts">Concepts</label></div>
    <div style="width: 200px; float: left;"><input id="constants" name="constants" type="checkbox" value="true" /> <label for="constants">Constants</label></div>
    <div style="width: 200px; float: left;"><input id="dataDictionaries" name="dataDictionaries" type="checkbox" value="true" /> <label for="dataDictionaries"> Data Dictionaries</label></div>
    <div style="width: 200px; float: left;"><input id="dataElementGroupSets" name="dataElementGroupSets" type="checkbox" value="true" /> <label for="dataElementGroupSets"> Data Element Group Sets</label></div>
    <div style="width: 200px; float: left;"><input id="dataElementGroups" name="dataElementGroups" type="checkbox" value="true" /> <label for="dataElementGroups"> Data Element Groups</label></div>
    <div style="width: 200px; float: left;"><input id="dataElements" name="dataElements" type="checkbox" value="true" /> <label for="dataElements"> Data Elements</label></div>
    <div style="width: 200px; float: left;"><input id="dataSets" name="dataSets" type="checkbox" value="true" /> <label for="dataSets"> Data Sets</label></div>
    <div style="width: 200px; float: left;"><input id="documents" name="documents" type="checkbox" value="true" /> <label for="documents">Documents</label></div>
    <div style="width: 200px; float: left;"><input id="indicatorGroupSets" name="indicatorGroupSets" type="checkbox" value="true" /> <label for="indicatorGroupSets"> Indicator Group Sets</label></div>
    <div style="width: 200px; float: left;"><input id="indicatorGroups" name="indicatorGroups" type="checkbox" value="true" /> <label for="indicatorGroups"> Indicator Groups</label></div>
    <div style="width: 200px; float: left;"><input id="indicatorTypes" name="indicatorTypes" type="checkbox" value="true" /> <label for="indicatorTypes"> Indicator Types</label></div>
    <div style="width: 200px; float: left;"><input id="indicators" name="indicators" type="checkbox" value="true" /> <label for="indicators">Indicators</label></div>
    <div style="width: 200px; float: left;"><input id="mapLegendSets" name="mapLegendSets" type="checkbox" value="true" /> <label for="mapLegendSets"> Map Legend Sets</label></div>
    <div style="width: 200px; float: left;"><input id="maps" name="maps" type="checkbox" value="true" /> <label for="maps">Maps</label></div>
    <div style="width: 200px; float: left;"><input id="optionSets" name="optionSets" type="checkbox" value="true" /> <label for="optionSets"> Option Sets</label></div>
    <div style="width: 200px; float: left;"><input id="organisationUnitGroupSets" name="organisationUnitGroupSets" type="checkbox" value="true" /> <label for="organisationUnitGroupSets"> Organisation Unit Group Sets</label></div>
    <div style="width: 200px; float: left;"><input id="organisationUnitGroups" name="organisationUnitGroups" type="checkbox" value="true" /> <label for="organisationUnitGroups"> Organisation Unit Groups</label></div>
    <div style="width: 200px; float: left;"><input id="organisationUnitLevels" name="organisationUnitLevels" type="checkbox" value="true" /> <label for="organisationUnitLevels"> Organisation Unit Levels</label></div>
    <div style="width: 200px; float: left;"><input id="organisationUnits" name="organisationUnits" type="checkbox" value="true" /> <label for="organisationUnits"> Organisation Units</label></div>
    <div style="width: 200px; float: left;"><input id="reportTables" name="reportTables" type="checkbox" value="true" /> <label for="reportTables"> Report Tables</label></div>
    <div style="width: 200px; float: left;"><input id="reports" name="reports" type="checkbox" value="true" /> <label for="reports">Reports</label></div>
    <div style="width: 200px; float: left;"><input id="sqlViews" name="sqlViews" type="checkbox" value="true" /> <label for="sqlViews"> Sql Views</label></div>
    <div style="width: 200px; float: left;"><input id="userGroups" name="userGroups" type="checkbox" value="true" /> <label for="userGroups"> User Groups</label></div>
    <div style="width: 200px; float: left;"><input id="userRoles" name="userRoles" type="checkbox" value="true" /> <label for="userRoles"> User Roles</label></div>
    <div style="width: 200px; float: left;"><input id="users" name="users" type="checkbox" value="true" /> <label for="users">Users</label></div>
    <div style="width: 200px; float: left;"><input id="validationRuleGroups" name="validationRuleGroups" type="checkbox" value="true" /> <label for="validationRuleGroups"> Validation Rule Groups</label></div>
    <div style="width: 200px; float: left;"><input id="validationRules" name="validationRules" type="checkbox" value="true" /> <label for="validationRules"> Validation Rules</label></div>
</fieldset>

<br />

<table>
<tr>
    <td colspan="2">
        <input type="button" value="$i18n.getString( 'select_all' )" style="width:100px;" onclick="selectAll();" />
        <input type="button" value="$i18n.getString( 'select_none' )" style="width:100px;" onclick="selectNone();" />
    </td>
</tr>

<tr>
    <td colspan="2">
        <select id="format" style="width: 204px;">
            <option value="xml">XML</option>
            <option value="json">Json</option>
        </select>
    </td>
</tr>

<tr>
    <td colspan="2">
        <select id="compression" style="width: 204px;">
            <option value="zip">Zipped</option>
            <option value="gz">GZipped</option>
            <option value="uncompressed">Uncompressed</option>
        </select>
    </td>
</tr>

<tr>
    <td colspan="2">
        <input type="button" value="$i18n.getString( 'export' )" style="width:204px;" onclick="exportMetaData();" />
    </td>
</tr>

</table>
</form>

<span id="message"></span>
