<h3>$i18n.getString( "dhis-web-importexport" )</h3>

<ul class="introList">
    #introListImgItem( "dxf2MetaDataImport.action" "metadata_import" "import" )
    #introListImgItem( "displayImportDataValueForm.action?importFormat=xml" "xml_data_import" "import" )
    #introListImgItem( "displayImportDataValueForm.action?importFormat=csv" "csv_data_import" "import" )
    #introListImgItem( "displayImportDataValueForm.action?importFormat=pdf" "pdf_data_import" "import" )
    #introListImgItem( "displayEventImportForm.action" "event_data_import" "import" )
    #introListImgItem( "displayExternalImportMenu.action" "dhis14_import" "import" )

    #introListImgItem( "dxf2MetaDataExport.action" "metadata_export" "export" )
    #introListImgItem( "displayDataValueExportForm.action" "data_export" "export" )
    #introListImgItem( "displayEventExportForm.action" "event_data_export" "export" )
    #introListImgItem( "displayExternalExportMenu.action" "export_to_other_systems" "export" )
       
    #introListImgItem( "displayConfigDhis14Form.action" "dhis14_file_configuration" "configuration" )
</ul>
