
<h1>$i18n.getString( "ll_data_aggregation_form" )</h1>

<hr /><br />
<!--<form id="autoLLAggForm" name="autoLLAggForm" action="autoLLAgg.action" method="post" onsubmit="return formValidationsLLAggregation()">-->
<form id="autoLLAggForm" name="autoLLAggForm">
<table>
	<tr>
		<td><label>$i18n.getString( "from_date" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select id="sDateLB" name="sDateLB" style="width:200px">
				 #foreach ( $monthlyPeriod in $monthlyPeriods )
				 	<option value='$monthlyPeriod.id'>$simpleDateFormat.format( $monthlyPeriod.startDate )</option>
 				#end
			</select>
		</td>
		<td>&nbsp;</td>
		
		<td><label>$i18n.getString( "to_date" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td>
			<select id="eDateLB" name="eDateLB" style="width:200px">
				 #foreach ( $monthlyPeriod in $monthlyPeriods )
				 	<option value='$monthlyPeriod.id'>$simpleDateFormat.format( $monthlyPeriod.startDate )</option>
 				#end
			</select>
		</td>		
	</tr>
      
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
    
    <tr>
    	<td><label>$i18n.getString( "orgUnit" )</label></td>
    	<td><input type="text" id="selOrgUnitName" name="selOrgUnitName" style="width:200px" disabled  ></td>
    	<td>&nbsp;</td><td>&nbsp;</td>
    	<td class="NormalB"><input type="button" id="aggregate" name="aggregate"  value="$i18n.getString( 'aggregate' )" style="width:200px" onclick="llAggregate()" /></td>
    </tr>
<input type="hidden" id="selOrgUnitId" name="selOrgUnitId">
</table>

#parse( "/dhis-web-commons/loader/loader.vm" )
<div id='llAggregateDiv'></div>
<div id='loaderDiv'></div>


</form>

<!--

<table>

    <tr>
        <td class="NormalB">
            From:<br>
            <select id="sDateLB" name="sDateLB">
                #foreach ( $monthlyPeriod in $monthlyPeriods )
                    <option value='$monthlyPeriod.id'>$simpleDateFormat.format( $monthlyPeriod.startDate )</option>
                #end
            </select>
        </td>
        <td>&nbsp;</td>
        <td class="NormalB">
            To:<br>
            <select id="eDateLB" name="eDateLB">
                #foreach ( $monthlyPeriod in $monthlyPeriods )
                    <option value='$monthlyPeriod.id'>$simpleDateFormat.format( $monthlyPeriod.startDate )</option>
                #end            
            </select>
        </td>
    </tr>

    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    
    <tr>
        
        <td class="NormalB">
            <input type="submit" value="Aggregate" style="font-family: Arial; font-weight: bold; color: rgb(0, 0, 0);" />           
        </td>
        <td>&nbsp;</td>
        <td class="NormalB">
            OrgUnit: <input type="text" id="selOrgUnitName" name="selOrgUnitName" disabled >
            <input type="hidden" id="selOrgUnitId" name="selOrgUnitId">
        </td>
    </tr>
    
</table>
-->