#set($recordNo = $maxRecordNo + 1)

<script>
	var nextRecordNo = $recordNo;
	var nextFlag = 0;
	
	var orgUnitInfo = "<option value='NONE' selected>---</option>";					
	#foreach( $orgUnit in $orgUnitChildList)
		orgUnitInfo += "<option value='$orgUnit.id'>$orgUnit.name</option>";
	#end		
		
	function addLLUUIDSPENewRow()
	{
		if(nextFlag == 0)
		{
		   nextFlag = 1;
		}
		else
		{
		    return;
		}
		
		nextRecordNo++;
			
		var tbl = document.getElementById("tblGrid");
		var lastRow = tbl.rows.length;
		var newRow = tbl.insertRow(lastRow);		
            
    	var oCell = newRow.insertCell(0);
    	oCell.innerHTML = "<select name='entryfield' id='value[1040].value:value["+nextRecordNo+"].value' onchange='saveLLbirthValue(1040,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' style='width:100% text-align:center' onblur='addLLUUIDSPENewRow()'>"+orgUnitInfo+"</select>";    	
    
    	oCell = newRow.insertCell(1);
    	oCell.innerHTML = "<input name='entryfield' id='value[1041].value:value["+nextRecordNo+"].value' type='text' value='' onchange='saveLLbirthValue(1041,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' style='width:10em text-align:center'> <img src='../images/calendar_icon.gif' width='16' height='16' id='getvalue[1041].value:value["+nextRecordNo+"].value' cursor: pointer;' title='$i18n.getString( 'date_selector' )' onmouseover='this.style.background='orange';' onmouseout='this.style.background='''>";
    		    	        	
    	oCell = newRow.insertCell(2);
    	oCell.innerHTML = "<input name='entryfield' id='value[1042].value:value["+nextRecordNo+"].value' type='text' value=' ' onchange='saveLLbirthValue(1042,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' style='width:20em text-align:center'>";

    	oCell = newRow.insertCell(3);
    	oCell.innerHTML = "<select name='entryfield' id='value[1043].value:value["+nextRecordNo+"].value' onchange='saveLLbirthValue(1043,"+nextRecordNo+")' onkeypress='return keyPress(event, this)' style='width:100% text-align:center'><option value='NONE' selected>---</option><option value='Y'>YES</option><option value='N'>NO</option><option value='NK'>NOT KNOWN</option></select>";

		var inputFieldVal1 = "value[1041].value:value["+nextRecordNo+"].value";
		var butVal1 = "getvalue[1041].value:value["+nextRecordNo+"].value";
    	Calendar.setup({inputField:inputFieldVal1,ifFormat:"$i18n.getString('format.date.label')",button:butVal1});
    	    	
	}
</script>



<div align="center"><h3><u>Line Listing of Unusual IDSP events</u></h3></div>


<table id="tblGrid" width="100%">
	<tr>
		<th width="30%">Name of Orgunit</th>
		<th width="25%">Date of Event</th>
		<th width="30%">Details of Unusual Events</th>
		<th width="15%">Was Investigated</th>
	<tr>

#set($calInfo = "")
#set( $mapKeys = $recordNos )
#foreach( $mapKey in $mapKeys)
	<tr>
	#set($llDataValues = $lldataValueMap.get($mapKey))
	#set($count1 = 1)
	
	#foreach( $llDataValue in $llDataValues)
		#if($count1 == 1)
			<td>
				<select name="entryfield" id="value[$llDataValue.getDataElement().getId()].value:value[$llDataValue.getRecordNo()].value" onchange="saveLLbirthValue($llDataValue.getDataElement().getId(),$llDataValue.getRecordNo())" onkeypress="return keyPress(event, this)" style="width:100% text-align:center">
					<option value="NONE" #if(!$llDataValue.getValue() || $llDataValue.getValue()=="NONE") selected #end>---</option>
					#foreach( $orgUnit in $orgUnitChildList)
						<option value="$orgUnit.id" #if(!$llDataValue.getValue() || $llDataValue.getValue()==$orgUnit.id) selected #end>$orgUnit.name</option>
					#end
				</select>
			</td>			
		#elseif($count1 == 4)
			<td>
				<select name="entryfield" id="value[$llDataValue.getDataElement().getId()].value:value[$llDataValue.getRecordNo()].value" onchange="saveLLbirthValue($llDataValue.getDataElement().getId(),$llDataValue.getRecordNo())" onkeypress="return keyPress(event, this)" style="width:100% text-align:center">
					<option value="NONE" #if(!$llDataValue.getValue() || $llDataValue.getValue()=="NONE") selected #end>---</option>
					<option value="Y" #if($llDataValue.getValue() && $llDataValue.getValue()=="Y") selected #end>YES</option>
					<option value="N" #if($llDataValue.getValue() && $llDataValue.getValue()=="N") selected #end>NO</option>
					<option value="NK" #if($llDataValue.getValue() && $llDataValue.getValue()=="NK") selected #end>NOT KNOWN</option>
				</select>
			</td>
		#elseif($count1 == 2)
			<td>
				<input name="entryfield" id="value[$llDataValue.getDataElement().getId()].value:value[$llDataValue.getRecordNo()].value" type="text" value="#if($llDataValue.getValue()) $llDataValue.getValue() #end" onchange="saveLLbirthValue($llDataValue.getDataElement().getId(),$llDataValue.getRecordNo())" onkeypress="return keyPress(event, this)" style="width:10em text-align:center">
				<img src="../images/calendar_icon.gif" width="16" height="16" id="getvalue[$llDataValue.getDataElement().getId()].value:value[$llDataValue.getRecordNo()].value" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''">
			</td>
			#set($calInfo = $calInfo + "Calendar.setup({inputField:'value["+$llDataValue.getDataElement().getId()+"].value:value["+$llDataValue.getRecordNo()+"].value',ifFormat:'$i18n.getString('format.date.label')',button:'getvalue["+$llDataValue.getDataElement().getId()+"].value:value["+$llDataValue.getRecordNo()+"].value'});")			
		#else
			<td><input name="entryfield" id="value[$llDataValue.getDataElement().getId()].value:value[$llDataValue.getRecordNo()].value" type="text" value="#if($llDataValue.getValue()) $llDataValue.getValue() #end" onchange="saveLLbirthValue($llDataValue.getDataElement().getId(),$llDataValue.getRecordNo())" onkeypress="return keyPress(event, this)" style="width:20em text-align:center"></td>		
		#end
		#set($count1 = $count1+1)
	#end
	</tr>	
#end
<tr>
	<td>
		<select name="entryfield" id="value[1040].value:value[$recordNo].value" onchange="saveLLbirthValue(1040,$recordNo)" onkeypress="return keyPress(event, this)" style="width:100% text-align:center" onblur="addLLUUIDSPENewRow()">
			<option value="NONE" selected>---</option>
			#foreach( $orgUnit in $orgUnitChildList)
				<option value="$orgUnit.id">$orgUnit.name</option>
			#end		
		</select>
	</td>
	<td>
		<input name="entryfield" id="value[1041].value:value[$recordNo].value" type="text" value="" onchange="saveLLbirthValue(1041,$recordNo)" onkeypress="return keyPress(event, this)" style="width:10em text-align:center">
		<img src="../images/calendar_icon.gif" width="16" height="16" id="getvalue[1041].value:value[$recordNo].value" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''">
		#set($calInfo = $calInfo + "Calendar.setup({inputField:'value[1041].value:value["+$recordNo+"].value',ifFormat:'$i18n.getString('format.date.label')',button:'getvalue[1041].value:value["+$recordNo+"].value'});")
	</td>	
	<td><input name="entryfield" id="value[1042].value:value[$recordNo].value" type="text" value=" " onchange="saveLLbirthValue(1042,$recordNo )" onkeypress="return keyPress(event, this)" style="width:20em text-align:center"></td>
	<td>
		<select name="entryfield" id="value[1043].value:value[$recordNo].value" onchange="saveLLbirthValue(1043,$recordNo)" onkeypress="return keyPress(event, this)" style="width:100% text-align:center">
			<option value="NONE" selected>---</option>
			<option value="Y">YES</option>
			<option value="N">NO</option>
			<option value="NK">NOT KNOWN</option>
		</select>	
	</td>
</tr>		
</table>


<script type="text/javascript">
	$calInfo
</script>

<script type="text/javascript">
	<div id="caleninfo" name="caleninfo">aaa</div>
</script>