<script>
	
	// Global Variables
	var selriRadioButton = "indicatorsRadio";
	var selCategory = "";
	var selFacility = "";
	var dailyPeriodTypeName = '$dailyPeriodTypeName';
	var weeklyPeriodTypeName = '$weeklyPeriodTypeName';
	var monthlyPeriodTypeName = '$monthlyPeriodTypeName';
	var quarterlyPeriodTypeName = '$quarterlyPeriodTypeName';
	var sixmonthPeriodTypeName = '$sixMonthPeriodTypeName';
	var yearlyPeriodTypeName = '$yearlyPeriodTypeName';
	var financialAprilPeriodType = '$financialAprilPeriodType';
    var orgUnitIds="NONE";
    var currentOrgUnitId = "";
    var currentOrgUnitName = "";
    
	var monthDays = new Array(31,29,31,30,31,30,31,31,30,31,30,31); // for daily Period
	var days = new Array();
    
   	var yearList = '$periodNameList';
  	var regularYear = new Array();
  	var financialYear = new Array();
    
    var monthNames = new Array("Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec");
    var quarterNames = new Array("Q1","Q2","Q3","Q4");
    var halfYearNames = new Array("HY1","HY2");
    
    var financialMonthNames = new Array("Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec","Jan","Feb","Mar");
    
    k = 0;

    for( i = 0; i< monthDays.length; i++ )
    {
        var curMonthDays = monthDays[i];
     
        for( j = 1; j<=curMonthDays; j++ )
        {
            if( (i+1) <= 9 )
            {
				days[k]=  "0"+ (i+1);
            }
            else
            {
				days[k]=  i+1;
            }
            if( j <= 9 )
            {
                days[k] += "-0"+j;
            }
            else
            {
            days[k] +=  "-"+j;
            }    
        
            k++;
         }
    }
   
   
    #set( $count2 = 0 );
    #foreach( $year in $periodNameList )
       regularYear[$count2] = $year;
       financialYear[$count2] = $year + "-" + ($year+1);
       #set( $count2 = $count2 + 1 );
    #end   
   
   
   
    var orgUnitGroupIds = new Array();
    var orgUnitGroupNames = new Array();

    #set( $count1 = 0 );
    #foreach( $orgUnitGroup in $orgUnitGroups )
       orgUnitGroupIds[$count1] = $orgUnitGroup.id;
       orgUnitGroupNames[$count1] = '$orgUnitGroup.name';
       #set( $count1 = $count1 + 1 );
    #end
  
</script>

<h3>$i18n.getString( "indicator_wise_graphical_analyser" )</h3>
<hr />
<!--<form id="ChartGenerationForm" name="ChartGenerationForm" action="generateChartIndicator.action" method="post" onSubmit="return formValidationsIndicator()" target="chartWindowIndicator">-->
<form id="ChartGenerationForm" name="ChartGenerationForm">
	<table style=" border-collapse: collapse; margin-top: 0;" cellpadding="0" cellspacing="0" border=0>
	<tr>
		<td class="NormalB">$i18n.getString( "ga_filter_by_indicatorgroup" )<br>
			<select id="indicatorGroupId" name="indicatorGroupId" style="width:325px" onChange="getIndicators()" >
				<option value="$ALL">[ Select IndicatorGroup / All ]</option>
				#foreach ( $group in $indicatorGroups )
				<option value="$group.id" title="$group.name">$group.name</option>
				#end
			</select>
		</td>
		<td class="NormalB">&nbsp;</td>       
		<td class="NormalB">&nbsp;</td>
    </tr>
    <tr>
		<td class="NormalB">&nbsp;</td>
		<td class="NormalB">&nbsp;</td>
		<td class="NormalB">&nbsp;</td>
    </tr>    
    <tr>
		<td class="NormalB">$i18n.getString( "filter" ):&nbsp;<input type="text" id="availableIndicatorsFilter" onkeyup="filterAvailableIndicators()" style="min-width:24em"></td>
		<td class="NormalB">&nbsp;</td>
		<td class="NormalB">&nbsp;</td>
    </tr>
    <tr>
		<td class="NormalB">&nbsp;</td>
		<td class="NormalB">&nbsp;</td>
		<td class="NormalB">&nbsp;</td>
    </tr>        
    <tr>
		<td class="NormalB">$i18n.getString( "ga_available_indicatorList" )<br>
			<select multiple size="7" id="availableIndicators" name="availableIndicators"  style="width:325px; height:100px" ondblclick="moveSelectedById( 'availableIndicators', 'selectedIndicators' )">
				#foreach ( $element in $indicators )
					<option value="$element.id" title="$element.name">$element.name</option>
				#end
			</select>
		</td>
		<td class="NormalB" align="center">
			&nbsp;&nbsp;<input type="button" value="&gt;" style="width:40px" onClick="moveSelectedById( 'availableIndicators', 'selectedIndicators' )">&nbsp;&nbsp;<br>
			&nbsp;&nbsp;<input type="button" value="&lt;" style="width:40px" onClick="moveSelectedById( 'selectedIndicators', 'availableIndicators' )">&nbsp;&nbsp;<br>
			&nbsp;&nbsp;<input type="button" value="&gt;&gt;" style="width:40px" onClick="moveAllById( 'availableIndicators', 'selectedIndicators' )">&nbsp;&nbsp;<br>
			&nbsp;&nbsp;<input type="button" value="&lt;&lt;" style="width:40px" onClick="moveAllById( 'selectedIndicators', 'availableIndicators' )">&nbsp;&nbsp;
		</td>
		<td class="NormalB"> $i18n.getString( "ga_selected_IndicatorList" )<br />
			<select multiple size="7" id="selectedIndicators" name="selectedIndicators"  style="width:350px; height:100px" ondblclick="moveSelectedById( 'selectedIndicators', 'availableIndicators' )">
			</select>
		</td>
    </tr>
    <tr>
      <td class="NormalB">&nbsp;<br/></td>
      <td class="NormalB">&nbsp;<br/></td>
      <td class="NormalB">&nbsp;<br/></td>
    </tr>
    <tr>
        <td class="NormalB">
            <input type="checkbox"  id="aggDataCB" name="aggDataCB" checked="true" >$i18n.getString( "ga_aggregated_data" )
        </td>
        <td class="NormalB">&nbsp;</td>
        <td class="NormalB">
            <table>
                <tr>
                    <td class="NormalB"> $i18n.getString( "ga_viewby" )<br>
                        <select id="categoryLB" name="categoryLB" onChange="categoryChangeFunction1(event)" disabled="true" style="width: 150px;">
                            <option value="period">Period Wise</option>
                            <option value="children">Children</option>
                            <option value="random">Selected</option>    
                        </select>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td align="left" class="NormalB"> $i18n.getString( "periodType" )<br>
                        <select id="periodTypeLB" name="periodTypeLB" onchange="getPeriods()" style="width: 175px;" disabled="true">                                
                        #foreach ( $periodType in $periodTypes )
                            <option value="$periodType.name" #if($periodType.name==$monthlyPeriodTypeName) selected #end>$periodType.name</option>                              
                        #end
                        </select>
                    </td>
                </tr>
            </table>            
        </td>
    </tr>
    <tr>
        <td class="NormalB">
            <table>
                <tr>
                    <td class="NormalB">$i18n.getString( "ga_orgunit" )<br>
                        <select name="orgUnitListCB" id="orgUnitListCB" multiple size="7" style="width:150px;height:100px"  ondblclick="remOUFunction()"> >
                        </select>                       
                    </td>
                    <td class="NormalB"><input type="checkbox" id="ougGroupSetCB" name="ougGroupSetCB" onChange="getOrgUnitGroupsDataElements()"  disabled="true">$i18n.getString( "ga_orgUnitGroups" )<br>
                        <select name="orgUnitGroupList" id="orgUnitGroupList" multiple size="7"  onChange="selectSingleOptionOrgUnitGroup()"  style="width:150px;height:100px" disabled="true">
                        </select>
                    </td>
                </tr>
            </table>
        </td>
        <td class="NormalB" align="center"></td>
        <td class="NormalB" align="center">
            <table>
                <tr>
                    <td class="NormalB">$i18n.getString( "year" )<br>
                        <select id="yearLB" name="yearLB" onchange="getWeeklyPeriod()" size="7" multiple style="width:150px;height:100px" disabled="true">                                                                                
                        #foreach($periodName in $periodNameList)
                        <option value="$periodName">$periodName</option>                                
                        #end
                        </select>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td class="NormalB">$i18n.getString( "period" )<br>
                        <select id="periodLB" name="periodLB" size="7" multiple style="width:175px;height:100px" disabled="true">                              
                        </select>
                    </td>
                </tr>
            </table>
        </td>
    </tr>   
    <tr>
        <td class="NormalB">&nbsp;</td>
        <td class="NormalB" align="center">&nbsp;</td>
        <td class="NormalB" align="center">
            <table>
                <tr>
					<td><input type="button" name="ViewChart" value="$i18n.getString( 'ga_viewchart' )" style="width:150px; height: 25; font-family:Arial; font-weight:bold; color:#000000" onClick="javascript:selButtonFunction('ViewChart')"></td>
					<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
					<td align="right"><input type="button" name="ViewSummary" value="$i18n.getString( 'ga_viewsummary' )" style="width:175px; height: 25; font-family:Arial; font-weight:bold; color:#000000" onClick="javascript:selButtonFunction('ViewSummary')" /></td>
                    <input type="hidden" name="selectedButton" id="selectedButton">
                    <input type="hidden" name="validation" id="validation" value="indicator">
                </tr>
            </table>
        </td>
    </tr>               
  </table>
</form>
<div id="contentDiv"></div>
<script>
	getPeriods();
</script>

<script type="text/javascript">

	var availableIndicators = new Object();	
    #foreach ( $availableIndicator in $indicators )
    	availableIndicators['$availableIndicator.id'] = '$encoder.jsEscape( $availableIndicator.name, "'" )';
    #end

</script>



