<script>

  function drillDownResult(evt, selVal )
  {
    evt.target.href = "drillDownResult.action?selectedValues="+selVal;
  }
   
    // method called when  view by   period and group not check or group checked
    function drillDownPeriodToOrgChildResult(evt, selDrillDownData )
    {
        //var aggDataCB = '$aggDataCB';
       
       // alert( " First method " );
        //alert( " Period To OrgUnit View by period and Group checked or not checked " );
        var selectedButton  = '$selectedButton';
        
        var viewBy = 'children';
        
       // alert( viewBy + ":" + selectedButton );
       
        //alert( selDrillDownData );
        
        var arugDetails = selDrillDownData.split(":");
        var orgUnitId = arugDetails[0];
        var orgUnitGroupId = arugDetails[1];
        var indicatorId = arugDetails[2];
        
        var periodTypeName = arugDetails[3];
        var startDate = arugDetails[4];
        var endDate = arugDetails[5];
        var drillDownPeriodName = arugDetails[6];
        var aggDataCB = arugDetails[7];
        //alert( aggDataCB );
        
       // alert( orgUnitId + ","  + orgUnitGroupId + "," + indicatorId + "," + periodTypeName + "," + startDate + "," + endDate + "," + drillDownPeriodName + "," + aggDataCB );
       
       /*
        evt.target.href = "generateDrillDownPeriodToOrgChildChartIndicator.action?selDrillDownData="+selDrillDownData + "&selectedButton=" + selectedButton + "&categoryLB=" + viewBy + "&aggDataCB=" + aggDataCB;
      */  
        
   		var url = "generateDrillDownPeriodToOrgChildChartIndicator.action?selDrillDownData="+selDrillDownData + "&selectedButton=" + selectedButton + "&categoryLB=" + viewBy + "&aggDataCB=" + aggDataCB;
		$('#contentDataRecord').dialog('destroy').remove();
   	    $('<div id="contentDataRecord">' ).load(url).dialog({
        title: 'Period to Org Child',
		maximize: true, 
		closable: true,
		modal:true,
		overlay:{background:'#000000', opacity:0.1},
		width: 1000,
        height: 800
    	});        
        
        
        
        
    }
     
     // method called when  view by  children  or  random  and  Group not check , and view by children and Group checked
    function drillDownOrgUnitToPeriodResult(evt, selDrillDownData )
    {
        var selectedButton  = '$selectedButton';
        //alert( " OrgUnit To Period  view by  children or  selected and Group not checked / view by children and Group checked " );
        
        //alert( " Second method " );
        var viewBy = 'period';
        
        //alert( viewBy + ":" + selectedButton );
       
        //alert( selDrillDownData );
        
        var arugDetails = selDrillDownData.split(":");
        var orgUnitId = arugDetails[0];
        var orgUnitGroupId = arugDetails[1];
        var indicatorId = arugDetails[2];
        
        var periodTypeName = arugDetails[3];
        var startDate = arugDetails[4];
        var endDate = arugDetails[5];
        var drillDownPeriodName = arugDetails[6];
        var aggDataCB = arugDetails[7];
        //alert( aggDataCB );
        
       // alert( orgUnitId + ","  + orgUnitGroupId + "," + indicatorId + "," + periodTypeName + "," + startDate + "," + endDate + "," + drillDownPeriodName + "," + aggDataCB );
       
       /*
        evt.target.href = "generatedrillDownOugUnitToPeriodChartIndicator.action?selDrillDownData="+selDrillDownData + "&selectedButton=" + selectedButton + "&categoryLB=" + viewBy + "&aggDataCB=" + aggDataCB;
       */ 
        
   		var url = "generatedrillDownOugUnitToPeriodChartIndicator.action?selDrillDownData="+selDrillDownData + "&selectedButton=" + selectedButton + "&categoryLB=" + viewBy + "&aggDataCB=" + aggDataCB;
		$('#contentDataRecord').dialog('destroy').remove();
   	    $('<div id="contentDataRecord">' ).load(url).dialog({
        title: 'Org Unit to Period',
		maximize: true, 
		closable: true,
		modal:true,
		overlay:{background:'#000000', opacity:0.1},
		width: 1000,
        height: 800
    	});                
        
    }

     // method called when  view by  selected  and Group checked
    function drillDownOrgUnitGroupToPeriodResult(evt, selDrillDownData )
    {
       
        var selectedButton  = '$selectedButton';
        //alert( " OrgUnitGroup To Period view by  selected  and Group checked " );
        //alert( " Third method " );
        var viewBy = 'period';
        
        //alert( viewBy + ":" + selectedButton );
       
        //alert( selDrillDownData );
        
        var arugDetails = selDrillDownData.split(":");
        var orgUnitId = arugDetails[0];
        var orgUnitGroupId = arugDetails[1];
        var indicatorId = arugDetails[2];
        
        var periodTypeName = arugDetails[3];
        var startDate = arugDetails[4];
        var endDate = arugDetails[5];
        var drillDownPeriodName = arugDetails[6];
        var aggDataCB = arugDetails[7];
        //alert( aggDataCB );
        
        //alert( orgUnitId + ","  + orgUnitGroupId + "," + indicatorId + "," + periodTypeName + "," + startDate + "," + endDate + "," + drillDownPeriodName + "," + aggDataCB );
       
       /*
        evt.target.href = "generatedrillDownOugUnitToPeriodChartIndicator.action?selDrillDownData="+selDrillDownData + "&selectedButton=" + selectedButton + "&categoryLB=" + viewBy + "&aggDataCB=" + aggDataCB;
       */ 
 
   		var url = "generatedrillDownOugUnitToPeriodChartIndicator.action?selDrillDownData="+selDrillDownData + "&selectedButton=" + selectedButton + "&categoryLB=" + viewBy + "&aggDataCB=" + aggDataCB;
		$('#contentDataRecord').dialog('destroy').remove();
   	    $('<div id="contentDataRecord">' ).load(url).dialog({
        title: 'Org Unit Group to Period',
		maximize: true, 
		closable: true,
		modal:true,
		overlay:{background:'#000000', opacity:0.1},
		width: 1000,
        height: 800
    	});                 
        
        
        
    }



// Chart Display Option change start

  function chartTypeOptionChange(evt)
   {
     
     var chartTypeOptionList = document.getElementById("chartTypeOption");
     var chartTypeOptionValue = chartTypeOptionList.options[ chartTypeOptionList.selectedIndex ].value;
     
    // var tempICount = $selectedServiceList.size();
    
    // alert(chartTypeOptionValue);
     
     var chartDisplayOptionList = document.getElementById("chartDisplayOption");
     var chartDisplayOptionValue = chartDisplayOptionList.options[ chartDisplayOptionList.selectedIndex ].value;
     
    // alert(chartDisplayOptionValue);   
	
	
     var tempSRC = "generateChart1.action?currentChart="+chartTypeOptionValue + "&chartDisplayOption=" + chartDisplayOptionValue;
     document.getElementById('iframeForChart').src = tempSRC;	
	
	
     //iframeForChart.location.href = "generateChart1.action?currentChart="+chartTypeOptionValue+"&chartDisplayOption="+chartDisplayOptionValue;
     
   }

// Chart Display Option change for sorting

   function chartDisplayOptionChange(evt)
   {

     var chartTypeOptionList = document.getElementById("chartTypeOption");
     var chartTypeOptionValue = chartTypeOptionList.options[ chartTypeOptionList.selectedIndex ].value;   
    // alert(chartTypeOptionValue);   
     var chartDisplayOptionList = document.getElementById("chartDisplayOption");
     var chartDisplayOptionValue = chartDisplayOptionList.options[ chartDisplayOptionList.selectedIndex ].value;
    // alert(chartDisplayOptionValue);   
   //  iframeForChart.location.href = "generateChart1.action?currentChart="+chartNamesToView[chartType][indexForChart]+"&chartDisplayOption="+chartDisplayOptionValue;
     
     
     var tempSRC = "generateChart1.action?currentChart="+chartTypeOptionValue + "&chartDisplayOption=" + chartDisplayOptionValue;
     document.getElementById('iframeForChart').src = tempSRC;     
     
     
     
     //iframeForChart.location.href = "generateChart1.action?currentChart="+chartTypeOptionValue+"&chartDisplayOption="+chartDisplayOptionValue;
       
     //getSortedList(chartDisplayOptionValue);
     getSortedListIndicator(chartDisplayOptionValue);    
   }

function getSortedListForSummary()
{
     var chartDisplayOptionList = document.getElementById("chartDisplayOption");
     var chartDisplayOptionValue = chartDisplayOptionList.options[ chartDisplayOptionList.selectedIndex ].value;

     //getSortedList(chartDisplayOptionValue);
     getSortedListIndicator(chartDisplayOptionValue);
}
/*
function getSortedListIndicator(chartDisplayOptionValue)
{
    //var url = "getSortedData.action?chartDisplayOption=" + chartDisplayOptionValue;
        
    var request = new Request();
    request.setResponseTypeXML( 'messages' );
    request.setCallbackSuccess( getSortedListReceived );
    //request.send( url );
    
   // alert("inside sorting function");
    var requestString = "getSortedIndicatorData.action";
    var params = "chartDisplayOption=" + chartDisplayOptionValue;
    request.sendAsPost( params );
    request.send( requestString );
}

function getSortedListReceived(xmlObject)
{   
    var messages = xmlObject.getElementsByTagName("message");
    document.getElementById("headingInfoId").innerHTML = "";
    document.getElementById("testId").value = "";
    
    for ( var i = 0; i < messages.length; i++ )
    {
        var hinfo = messages[ i ].firstChild.nodeValue;
        //document.getElementById("headingInfoId").innerHTML += hinfo;
        document.getElementById("testId").value += hinfo;
    }
    
    document.getElementById("headingInfoId").innerHTML = document.getElementById("testId").value;           
}
*/
//fucction for selected Button is ViewChart

function exportToExcelFunction1( summaryOption )
    {
        //alert("inside Viw Summary: " + summaryOption );
        var chartDisplayOptionList = document.getElementById("chartDisplayOption");
        var chartDisplayOptionValue = chartDisplayOptionList.options[ chartDisplayOptionList.selectedIndex ].value;
        
        document.getElementById("exportExcelAnchor1").href="exportIndicatorToExcel.action?viewSummary="+summaryOption+"&chartDisplayOption="+chartDisplayOptionValue;
    
    }
 
function exportDataStatusResultToWorkBook()
    {               
        document.getElementById('htmlCode').value = document.getElementById('formResult').innerHTML;                                
    
        return true;                
    }

//fucction for selected Button is ViewSummary

function exportToExcelFunction2( summaryOption )
    {
       // alert("inside Viw Summary" + summaryOption );
        var chartDisplayOptionList = document.getElementById("chartDisplayOption");
        var chartDisplayOptionValue = chartDisplayOptionList.options[ chartDisplayOptionList.selectedIndex ].value;
        
        document.getElementById("exportExcelAnchor2").href="exportIndicatorToExcel.action?viewSummary="+summaryOption+"&chartDisplayOption="+chartDisplayOptionValue;
    
    }

</script>
<div align="right" class="NormalB">
    <table>
        <tr>
            <td class="NormalB">
              #if($selectedButton.equals("ViewSummary"))
                      
              <td class="NormalB"><a id="exportExcelAnchor2" name="exportExcelAnchor2" href="#" onclick="javascript:exportToExcelFunction2('yes')" target="_blank">Export To WorkBook</a></td>
              <td class="NormalB">&nbsp;&nbsp;
                        <select id="chartDisplayOption" name="chartDisplayOption" onchange="getSortedListForSummary()">
                            <option value="none">Select Sort Type</option>
                            <option value="ascend">Ascending</option>
                            <option value="desend">Desending</option>
                            <option value="alphabet">Alphabetical</option>
                        </select>
                        &nbsp;&nbsp;
              
             </td>
    
     </tr>      
             #else 
     <tr>        
        <td class="NormalB"><a id="exportExcelAnchor1" name="exportExcelAnchor1" href="#" onclick="javascript:exportToExcelFunction1('no')" target="_blank">Export To Excel</a></td>
        <td class="NormalB">&nbsp;&nbsp;<!--<font face="Arial, Helvetica, sans-serif" color="#000000">-->
                    <select id="chartTypeOption" name="chartTypeOption" onchange="chartTypeOptionChange(event)">
                        <option value="Vertical3DBarChart">Vertical 3D BarChart</option>
                        <!--<option value="Vertical3DBarChart">Vertical 3D BarChart</option>-->
                        <option value="Horizontal3DBarChart">Horizontal 3D BarChart</option>
                        <option value="LineChart">Line Chart</option>
                        <option value="LineAndBarChart">Line And BarChart</option>
                         <option value="AreaChart" >Area Chart</option>
                    </select>
                    &nbsp;&nbsp;
                    <select id="chartDisplayOption" name="chartDisplayOption" onchange="chartDisplayOptionChange(event)">
                        <option value="none">Select Sort Type</option>
                        <option value="ascend">Ascending</option>
                        <option value="desend">Desending</option>
                        <option value="alphabet">Alphabetical</option>
                    </select>
        </td>        
    </tr>            
        #end 
    </table>             
</div> 

<div id="formResult">
<div id="headingInfoId">
<table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-style: solid" bordercolor="black" width="100%">                
        <tr>
            <td class="TableHeadingCellStyles" bgcolor="#C0C0C0" style="border-style: dotted; border-width: 1"><strong>Indicator Names</strong></td> 
            <td class="TableHeadingCellStyles" bgcolor="#C0C0C0" align="center" style="border-style: dotted; border-width: 1"><strong>&nbsp;</strong></td>            
                     #foreach($xaxisvalue in $indicatorChartResult.categories)
            <td class="TableHeadingCellStyles" align="center" bgcolor="#C0C0C0" style="border-style: dotted; border-width: 1"><strong>$xaxisvalue</strong></td>                     
                    #end
        </tr>
         #set($count1 = 0) 
         #set( $count4 = 0 )
         #foreach($onedataList in $indicatorChartResult.data )
      
        <tr>  
		        #set( $numValCimpleteResult = $indicatorChartResult.numDataArray )
		        #set( $denumValCimpleteResult = $indicatorChartResult.denumDataArray )
		        #set( $numValList = $listTool.get($numValCimpleteResult, $count1) )
		        #set( $denumValList = $listTool.get($denumValCimpleteResult, $count1) )
		        #set( $count2 = 0 )
		        	  	
		       
		      <!-- <td class="TableHeadingCellStyles" style="border-style: dotted; border-width: 1" rowspan="3">$yseriesList.get($count1).name</td>-->
		       <td class="TableHeadingCellStyles" style="border-style: dotted; border-width: 1" rowspan="3">$listTool.get( $indicatorChartResult.series, $count1 )</td>  
		       <td class="TableHeadingCellStyles" align="center" bgcolor="#C0C0C0" style="border-style: dotted; border-width: 1" ><strong>Num</strong></td>
		        #foreach($data in $onedataList) 
		       <td class="TableDataCellStyles" align="center" style="border-style: dotted; border-width: 1">$listTool.get($numValList, $count2)</td>
		        #set( $count2 = $count2 + 1 )
		       #end
        </tr>
           
        <tr>           
              <td class="TableHeadingCellStyles" align="center" bgcolor="#C0C0C0" style="border-style: dotted; border-width: 1" ><strong>Den</strong></td>
              #set( $count2 = 0 )
              #foreach($data in $onedataList)
                <td class="TableDataCellStyles" align="center" style="border-style: dotted; border-width: 1">$listTool.get($denumValList, $count2)</td>
              #set( $count2 = $count2 + 1 )
              #end
       </tr>
                
       <tr>
             <td class="TableHeadingCellStyles" align="center"  bgcolor="#C0C0C0" style="border-style: dotted; border-width: 1" ><strong>Val</strong></td>
             
             #if( $categoryLB.equals( "period" ) && !$ougGroupSetCB )
                #foreach($data in $onedataList)
                    <td class="TableDataCellStyles" align="center" style="border-style: dotted; border-width: 1"><strong><a href="#" onclick="javascript:drillDownPeriodToOrgChildResult( event, '$selectedDrillDownData.get($count4)' )">$data</a></strong></td>
             #set( $count4 = $count4 + 1 )
                #end
             #elseif( $categoryLB.equals( "period" ) && $ougGroupSetCB )
                #foreach($data in $onedataList)
                    <td class="TableDataCellStyles" align="center" style="border-style: dotted; border-width: 1"><strong><a href="#" onclick="javascript:drillDownPeriodToOrgChildResult( event, '$selectedDrillDownData.get($count4)' )">$data</a></strong></td>
             #set( $count4 = $count4 + 1 )
                #end 
             #elseif( ( $categoryLB.equals( "children" ) || $categoryLB.equals( "random" )) && !$ougGroupSetCB )
                #foreach($data in $onedataList)
                   <td class="TableDataCellStyles" align="center" style="border-style: dotted; border-width: 1"><strong><a href="#" onclick="javascript:drillDownOrgUnitToPeriodResult( event, '$selectedDrillDownData.get($count4)' )">$data</a></strong></td>
             #set( $count4 = $count4 + 1 )
                #end        
             #elseif( $categoryLB.equals( "children" ) && $ougGroupSetCB )
                 #foreach($data in $onedataList)
                   <td class="TableDataCellStyles" align="center" style="border-style: dotted; border-width: 1"><strong><a href="#" onclick="javascript:drillDownOrgUnitToPeriodResult( event, '$selectedDrillDownData.get($count4)' )">$data</a></strong></td>
             #set( $count4 = $count4 + 1 )
                #end        
             #elseif( $categoryLB.equals( "random" ) && $ougGroupSetCB )
                 #foreach($data in $onedataList)
                   <td class="TableDataCellStyles" align="center" style="border-style: dotted; border-width: 1"><strong><a href="#" onclick="javascript:drillDownOrgUnitGroupToPeriodResult( event, '$selectedDrillDownData.get($count4)' )">$data</a></strong></td>
             #set( $count4 = $count4 + 1 )
                #end        
            
             #else
             #set( $count2 = 0 )
               #foreach($data in $onedataList)
                    <td class="TableDataCellStyles" align="center" style="border-style: dotted; border-width: 1"><strong>$data</strong></td>
               #set( $count2 = $count2 + 1 )
               #end
             #end
             
      </tr>
      #set( $count1 = $count1 + 1 )
        #end
    </table>
</div>
</div>   
#if($selectedButton.equals("ViewSummary"))
     <br><br>
     #else
     <br>
         <div align="center">
             <iframe name="iframeForChart" id="iframeForChart" src="generateChart1.action?currentChart=Vertical3DBarChart" width="850px" height="550px" scrolling=auto frameborder="0"></iframe>
         </div>    
    <br>
#end 
</div> 
#if( $!yseriesList && $yseriesList.size() != 0 )
   
        <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-style: solid" bordercolor="black" width="100%" WRAP="HARD">
              <tr>
                      <td class="TableHeadingCellStyles" width="30%"  align="center" bgcolor="#C0C0C0" style="border-left-style:dotted; border-left-width:1; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1"><strong>Indicator Names</strong></td>
                      <td class="TableHeadingCellStyles" width="30%"  align="center"  bgcolor="#C0C0C0" colspan="2" style="border-left-style:dotted; border-left-width:1; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1"><strong>Formula</strong></td>
                      <td class="TableHeadingCellStyles" width="20%"  align="center"  bgcolor="#C0C0C0" style="border-left-style:dotted; border-left-width:1; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1"><strong>Numerator DataElements</strong></td> 
                      <td class="TableHeadingCellStyles" width="20%"  align="center"  bgcolor="#C0C0C0" style="border-left-style:dotted; border-left-width:1; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1"><strong>Denominator DataElements</strong></td>                   
             </tr>
                    #set($count1 = 0)
                    #foreach($service in $yseriesList )
             <tr>
                      <td class="TableHeadingCellStyles" width="30%" style="border-left-style:dotted; border-left-width:1; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1">$service.getName()</td>
                      <td class="TableHeadingCellStyles" width="25%" align="center" style="border-left-style:dotted; border-left-width:1; border-right-width:0; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1"><u>$service.getNumeratorDescription()</u><br>$service.getDenominatorDescription()</td>
                      <td class="TableHeadingCellStyles" width="5%"  align="left" style="border-left-style:dotted; border-left-width:0; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1">&nbsp;X&nbsp;$service.getIndicatorType().getFactor()</td>
                 <!-- <td class="TableHeadingCellStyles" width="20%" style="border-left-style:dotted; border-left-width:1; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1">$numeratorDEList.get($count1)</td>
                      <td class="TableHeadingCellStyles" width="20%" style="border-left-style:dotted; border-left-width:1; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1">$denominatorDEList.get($count1)</td>-->
                      <td class="TableCellDataWrapStyles" width="20%" style="border-left-style:dotted; border-left-width:1; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1" >$numDataElements.get($count1)</td>
                      <td class="TableCellDataWrapStyles" width="20%" style="border-left-style:dotted; border-left-width:1; border-right-width:1; border-top-style:dotted; border-top-width:1; border-bottom-style:dotted; border-bottom-width:1" >$denumDataElements.get($count1)</td>
             </tr>                                           
                     #set($count1 = $count1 + 1) 
                     #end 
       </table> 
#end
                       
    <textarea id="testId" rows="10" cols="70" style="display:none">&nbsp;</textarea>                                                                       
</form>
