
<html>
    <head>
        <title>DataStatus Result</title>
        <link type="text/css" rel="stylesheet" media="screen" href="css/StylesForTags.css">
        <script>
            var startDate = "$sDateLB"; 
            var endDate = "$eDateLB";
            var dsType = "$selectedButton";
            var includeZeros = "$includeZeros";
            
            function getImmChildInfo(evt, dsId, selOrgUnit)
            {
                immChildOption = "yes";             
                
                //evt.target.href = "groupWiseDataStatusResult.action?immChildOption="+immChildOption+"&dsId="+dsId+"&sDateLB="+startDate+"&eDateLB="+endDate+"&ouId="+selOrgUnit;
                
                if( document.getElementById('includeZeros').checked )
                {
                    /*
                    evt.target.href = "groupWiseDataStatusResult.action?immChildOption="+immChildOption+"&dsId="+dsId+"&sDateLB="+startDate+"&eDateLB="+endDate+"&ouId="+selOrgUnit+"&selectedButton="+dsType+"&includeZeros="+includeZeros;
                	*/
                	//alert("inside include zero : " + immChildOption );
 			   		var url = "groupWiseDataStatusResult.action?immChildOption="+immChildOption+"&dsId="+dsId+"&sDateLB="+startDate+"&eDateLB="+endDate+"&ouId="+selOrgUnit+"&selectedButton="+dsType+"&includeZeros="+includeZeros;
					//alert( url );
					$('#contentDataRecord').dialog('destroy').remove();
			   	    $('<div id="contentDataRecord">' ).load(url).dialog({
			        title: 'Data Entry Status Result',
					maximize: true, 
					closable: true,
					modal:true,
					overlay:{background:'#000000', opacity:0.1},
					width: 1000,
			        height: 800
			    	});                                
                
                
                }
                else
                {
                	alert("inside include zero null");
                	/*
                    evt.target.href = "groupWiseDataStatusResult.action?immChildOption="+immChildOption+"&dsId="+dsId+"&sDateLB="+startDate+"&eDateLB="+endDate+"&ouId="+selOrgUnit+"&selectedButton="+dsType;
                	*/
 			   		var url = "groupWiseDataStatusResult.action?immChildOption="+immChildOption+"&dsId="+dsId+"&sDateLB="+startDate+"&eDateLB="+endDate+"&ouId="+selOrgUnit+"&selectedButton="+dsType;
					$('#contentDataRecord').dialog('destroy').remove();
			   	    $('<div id="contentDataRecord">' ).load(url).dialog({
			        title: 'Data Entry Status Result',
					maximize: true, 
					closable: true,
					modal:true,
					overlay:{background:'#000000', opacity:0.1},
					width: 1000,
			        height: 800
			    	});                                
                
                }           
            }
            
            function exportDataStatusResultToWorkBook()
            {               
                document.getElementById('htmlCode').value = document.getElementById('formResult').innerHTML;
                
                opener.focus();
            
                return true;                
            }
        </script>   
    </head>
    <body>

        <form id="form1" name="form1" action="exportDataStatusToExcel.action" method="post" onsubmit="return exportDataStatusResultToWorkBook()" target="_newtab">
            <input type="hidden" name="htmlCode" id="htmlCode" />
            <div align="right" class="NormalB">
                <input type="checkbox" name="includeZeros" id="includeZeros" #if($includeZeros) checked #end /> Include Zero<br />
                <input type="submit" name="ExportToWorkBook" value="Export To WorkBook" style="width: 160; height: 25; font-family:Arial; font-weight:bold; color:#000000">
            </div>
            
        <div id="formResult">               
                <div align="center" class="NormalB">Data Entry Status by Data Element Groups Of Data Set :  $selDataSet.name </div>
        <div align="right">
                        <table width="30%">
                                <tr class="TableDataCellStyles" >
                                    <td bgcolor="#a0c0a0">&nbsp;</td>
                                    <td align="left">&nbsp;Completed (75+) %</td>
                                </tr>
                                <tr class="TableDataCellStyles">
                                    <td bgcolor="#a0a0ff">&nbsp;</td>
                                    <td align="left">&nbsp;Partially Completed (41 - 75) %</td>
                                </tr>
                                <tr class="TableDataCellStyles">
                                    <td bgcolor="#905090">&nbsp;</td>
                                    <td align="left">&nbsp;Not Completed (1 - 40) %</td>
                                </tr>
                                <tr class="TableDataCellStyles">
                                    <td bgcolor="#ff0000">&nbsp;</td>
                                    <td align="left">&nbsp;Not Entered ( 0 ) %</td>
                                </tr>
                        </table>
                </div>
                #set($count2 = 0)
                    ##foreach($dataElementGroup in $dataElementGroups)
                    #foreach( $dataElementGroup in $sections )	
            <br>
                        #set( $deGroupCount = $deMapGroupCount.get($dataElementGroup) )
                        #set( $ouMapDeCount = $ouGroupMapDeMapCount.get($dataElementGroup) )
                        <div align="left" class="NormalB">Data Element Group : $dataElementGroup.name  ( $!deGroupCount )</div>
                        <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse" width="100%">       
                              <tr class="TableHeadingCellStyles" align="center">
                                  #foreach($levelName in $levelNames)
                                      <th>$!levelName</th>
                                  #end
                                  
                                  #foreach($periodname in $periodNameList)
                                      <th>$periodname</th>
                                  #end                                    
                              </tr>
                              #foreach($chiildorgUnit in $orgUnitList)
                                  #set($count1 = $minOULevel)
                                  #set($curOrgUnitLevel = $organisationUnitService.getLevelOfOrganisationUnit($chiildorgUnit.id))
                                  <tr class="TableHeadingCellStyles">
                                      #foreach($levelName in $levelNames)
                                          #if($count1 == $curOrgUnitLevel)
                                              <td><a href="#" onclick="javascript:getImmChildInfo(event, '$selDataSet.id', '$chiildorgUnit.id')" target="_blank">$chiildorgUnit.name</a></td>
                                          #else
                                              <td>&nbsp;</td>
                                          #end
                                          #set($count1 = $count1 + 1)
                                      #end
                                          #set($periods = $dataSetPeriods.get($selDataSet))
                                          #set( $dataElementCounts = $ouMapDeCount.get( $chiildorgUnit ) )
                                          #set($count3 = 0)
                                          #foreach($period in $periods)
                                              #set($result = $results.get($count2))
                                              ##set($dataElement = $dataElementCount.get($count2))
                                              #set( $deCount = $dataElementCounts.get( $count3 ) )
                            
                            #if($result < 0) 
                                <td  bgcolor="white">&nbsp;</td>
                                              #elseif($result == 0)
                                                  <td align="center" bgcolor="#ff0000"><font color="#ffffff">$result% #if( $deCount != -1 ) ( $deCount )  #end</font></td>
                                              #elseif($result > 75)
                                                  <td align="center" bgcolor="#a0c0a0"><font color="#ffffff">$result% #if( $deCount != -1 ) ( $deCount )  #end</font></td>
                                              #elseif($result > 40 && $result <= 75 )
                                                  <td align="center" bgcolor="#a0a0ff"><font color="#ffffff">$result% #if( $deCount != -1 ) ( $deCount )  #end</font></td>
                                              #else
                                                  <td align="center" bgcolor="#905090"><font color="#ffffff">$result% #if( $deCount != -1 ) ( $deCount )  #end</font></td>
                                              #end
                                              #set($count3 = $count3 + 1)
                                              #set($count2 = $count2 + 1)
                                          #end
                                      </tr>
                #end
            </table>
                  #end
        </div>
                </form>
    </body>
</html>
