<html>
	<head>
		<title>Last Updated Mobile Data Set Result</title>
		<link type="text/css" rel="stylesheet" media="screen" href="css/StylesForTags.css">
		
		<!-- <script type="text/javascript" src="javascript/ds.js"></script> -->
		
		<script>
		    var startDate = "$sDateLB"; 
		    var endDate = "$eDateLB";
		    var dsType = "$selectedButton";
		    
		    function getImmChildInfo(evt, dsId, selOrgUnit)
		    {
		        immChildOption = "yes";             
		        evt.target.href = "lastUpdatedMobileDataSetResult.action?immChildOption="+immChildOption+"&dsId="+dsId+"&sDateLB="+startDate+"&eDateLB="+endDate+"&ouId="+selOrgUnit+"&selectedButton="+dsType;
		    }
		    
		   function exportDataStatusResultToWorkBook()
		   {               
		    document.getElementById('htmlCode').value = document.getElementById('formResult').innerHTML;
		    return true;                
		   }
		   
		</script>   
	</head>
<body>

#if( "$!ouMapDataStatusResult" == "" || $ouMapDataStatusResult.isEmpty() || $ouMapDataStatusResult.size() == 0 )
    
    <div align="center" class="NormalB">Selected OrgUnit and its Children are Not assigned to $selDataSet.name</div>

#else

        <form id="form1" name="form1" action="exportDataStatusToExcel.action" method="post" onsubmit="return exportDataStatusResultToWorkBook()" target="_newtab">
            <input type="hidden" name="htmlCode" id="htmlCode" />
            
            
            <div align="right" class="NormalB">
                <!--<input type="checkbox" name="includeZeros" id="includeZeros" #if($includeZeros) checked #end /> Include Zero<br />-->
                <input type="submit" name="ExportToWorkBook" value="Export To WorkBook" style="width: 160; height: 25; font-family:Arial; font-weight:bold; color:#000000">
            </div>
            
        <div id="formResult">               
                <div align="center" class="NormalB">$i18n.getString( "ds_lastupdated_status_mobile" )</div>
        <div align="right">
                        
                </div>
                #set($count2 = 0)
                    
            <br />
                        <div align="left" class="NormalB">$i18n.getString( "ds_mobile" ): $selDataSet.name</div>
                        <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-style: solid" bordercolor="black" width="100%">       
                              <tr class="TableHeadingCellStyles" align="center">
                                  #foreach($levelName in $levelNames)
                                      <td class="TableHeadingCellStyles"  bgcolor="#C0C0C0"><strong>$!levelName</strong></td>
                                  #end                                
                                 <td class="TableHeadingCellStyles"  bgcolor="#C0C0C0"><strong>$i18n.getString( "ds_mobile_anm_name" )</strong></td>
                                 <td class="TableHeadingCellStyles"  bgcolor="#C0C0C0"><strong>$i18n.getString( "ds_mobile_anm_phone" )</strong></td>    
                                  #foreach($periodname in $periodNameList)
                                      <td class="TableHeadingCellStyles"  bgcolor="#C0C0C0"><strong>$periodname</strong></td>
                                  #end
                              </tr>
                              
                              #foreach($chiildorgUnit in $orgUnitList)
                                  #set($count1 = $minOULevel)
                                  #set($curOrgUnitLevel = $organisationUnitService.getLevelOfOrganisationUnit($chiildorgUnit.id))
                                  <tr class="TableHeadingCellStyles">
                                      #foreach($levelName in $levelNames)
                                          #if($count1 == $curOrgUnitLevel)
                                              <td><a href="#" onclick="javascript:getImmChildInfo(event, '$selDataSet.id', '$chiildorgUnit.id')" target="_blank">$chiildorgUnit.name</a></td>
                                          #else
                                              <td>&nbsp;</td>
                                          #end
                                          #set($count1 = $count1 + 1)
                                      #end
                                          #set( $dsValidationPhoneNo = $ouMapUserPhoneNo.get($chiildorgUnit) )
                        
                                         <td class="TableHeadingCellStyles">$!chiildorgUnit.comment</td>
                         
                                         <td class="TableHeadingCellStyles">$dsValidationPhoneNo</td>
                                         
                                          #set($dsResults = $ouMapDataStatusResult.get($chiildorgUnit))
                                          #foreach($result in $dsResults)
                                              
                                          #set($count2 = $count2 + 1)
                                            #if($result < 0)
                                                <td  bgcolor="white">&nbsp;</td>
                                            #else
                                                <td align="center" bgcolor="white"><font color="#000000">$result</font></td>
                                            #end
                                          #end
                              </tr>
                        #end
            </table>
                  
        </div>
                </form>
                
#end                
    </body>
</html>
