
<a href="index.action"><h2>$i18n.getString( "dataanalyser" )</h2></a>

<ul>
	<li>$i18n.getString( "ds_datastatus" )</li>
	<ul>
		<li>$i18n.getString( "nr_null_reporter" )</li>
	 </ul>
</ul>

#parse( "/dhis-web-commons/ouwt/orgunittreesearch.vm" )

<script type="text/javascript">

	function orgUnitHasBeenSelected( orgUnitIds )
	{    
		if(orgUnitIds == null || orgUnitIds == "" )
		{
			return;
		}
		if(orgUnitIds != null)
		{
			getOUDeatilsForNR( orgUnitIds );
		}        
	}

	selection.setListenerFunction( orgUnitHasBeenSelected );

</script>