
<h3>$i18n.getString( "Maintenance" )</h3>
<hr />
<br /><br />
<form id="maintenanceForm" name="maintenanceForm" action="maintenanceResult.action" method="post">
	<table>
		<tr>
			<td><label>$i18n.getString( "MySQL Path" )</label><br /></td>
			<td>
				<input type="text" id="mysqlPath" name="mysqlPath" size="60" value="$!mysqlPath" onchange="javscript:formatPath(this);" onload="javscript:formatPath(this);" />
				<br />
				(eg:- C:/Program Files/MySQL/MySQL Server 5.0/bin/)
			</td>		
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		</tr>
		<tr>
			<td><label>$i18n.getString( "Root Data Path" )</label><br /></td>
			<td>
				<input type="text" id="rootDataPath" name="rootDataPath" size="60" value="$!rootDataPath" onchange="javscript:formatPath(this);" onload="javscript:formatPath(this);" />
				<br />
				(eg:- D:/testdata/)
			</td>		
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>		
		</tr>				
		<tr>
			<td>&nbsp;</td>
			<td><input type="submit" value="SAVE"/></td>
		</tr>
	</table>	
</form>

<script>
	function formatPath(text)
	{
		var value = text.value;		
		text.value = value.replace(/\\/g,"/");		
	}
</script>
