<table class="mainPageTable">
    <tr>
        <td style="vertical-align:top">    
        <table class="listTable">
				<col>
            #if( $sortPatientAttribute )
                <col>
            #end
            #foreach( $programStage in $program.programStages )
                <col>
            #end       
            <tr>
				<th style="text-align:center">Sl. No.</th>
                #if( $sortPatientAttribute )
                    <th style="text-align:center">$encoder.htmlEncode( $sortPatientAttribute.name )</th>
                #end
                <th style="text-align:center">$i18n.getString( "full_name" )</th>
                #foreach( $programStage in $program.programStages )
                    <th style="text-align:center">$encoder.htmlEncode( $programStage.name )</th>
                #end                
            </tr>
          
            <tbody id="list">
                #set( $mark = false )
				#set( $count1 = 0 )                 
                #foreach( $patient in $patientListByOrgUnit )
                    #set( $programInstance = $programInstanceMap.get( $patient ) )
					#set( $count1 = $count1 + 1 )
                    <tr #alternate( $mark )>
						<td>$count1</td>
                        #if( $sortPatientAttribute )
                            #set( $patientAttributeValue = $patinetAttributeValueMap.get( $patient ) )
                            <td>$!patientAttributeValue.value</td>
                        #end
                        <td><a href="javascript:showPatientDetails( $programInstance.patient.id )" title="$i18n.getString( "show_details" )">$patient.getFullName()</a></td>                    
                        #foreach( $programStageInstance in $programStageInstanceMap.get( $programInstance ) )
                            #if( $programStageInstance.executionDate )
                                <td style="text-align:center" bgcolor="$colorMap.get( $programStageInstance.id )">$format.formatDate( $programStageInstance.executionDate )</td>
                            #else
                                <td style="text-align:center" bgcolor="$colorMap.get( $programStageInstance.id )">$format.formatDate( $programStageInstance.dueDate )</td>
                            #end
                        #end
                    </tr>
                    #if( $mark )
                        #set( $mark = false )
                    #else
                        #set( $mark = true )
                    #end 
                #end    
            </tbody>
        </table>
        </td>
    </tr>
</table>

<div class="paging-container">
    ##parse( "/dhis-web-commons/paging/paging.vm" )
</div>

<div id="detailsArea" style="display:none;overflow:auto;height:250px;width:250px">
    <div style="float:right">
        <a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/close.png" alt="$i18n.getString( "hide_details" )"></a>
    </div>
    <p><label>$i18n.getString( "common_info" ):</label><br><span id="commonInfoField"></span></p>   
    <p><label>$i18n.getString( "identifier" ):</label><br><span id="identifierField"></span></p>
    <p><label>$i18n.getString( "attributes" ):</label><br><span id="attributeField"></span></p>
    <p><label>$i18n.getString( "enrolled_in_program" ):</label><br><span id="programField"></span></p>
</div>
