
<script>

    function formValidations()
    {
        var reportListIndex = document.reportForm.reportList.selectedIndex;
        var periodIndex = document.reportForm.availablePeriods.selectedIndex;
        var orgunitIdValue = document.reportForm.ouIDTB.value;
        
        if(orgunitIdValue == null || orgunitIdValue=="" || orgunitIdValue==" ") {alert("Please Select OrganisationUnit"); return false;}
        else if(document.reportForm.availablePeriods.options[periodIndex].text == null || document.reportForm.availablePeriods.options[periodIndex].text== "") {alert("Please Select Period"); return false;}
        else if(reportListIndex < 0 || document.reportForm.reportList.options[reportListIndex].text == null) {alert("Please Select Report"); return false;}
        
        return true;
    }

</script>

<h1>$i18n.getString( "feedback_ra" )</h1>
<hr /><br />

<form id="reportForm" name="reportForm" action="generateFeebackReport.action" method="post" onsubmit="return formValidations()" target="_blank">
    <table align="center" style=" border-collapse: collapse; margin-top: 0;" cellpadding="0" cellspacing="0" width="730" border=0>
        <tr>
            <td class="NormalB">
                1. $i18n.getString( "periodtype" ) :<br />
                <select id="periodTypeId" name="periodTypeId" style="width:200px" onchange="getPeriods()">
                    <option value="NA">[ Select PeriodType ]</option>
                    #foreach ( $type in $periodTypes )
                        <option value="$type.name">$type.name</option>
                    #end
                </select>
            </td>
            <td class="NormalB">
                3. $i18n.getString( "organisationunit" ) :<br />
                <input type="text" name="ouNameTB" id="ouNameTB" size="20" disabled>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="NormalB">
                2. $i18n.getString( "periods" ) :<br />
                <select id="availablePeriods" name="availablePeriods" style="width:200px"></select>
            </td>
            <td class="NormalB">
                4. $i18n.getString( "reports" ) :<br />
                <select id="reportList" name="reportList" style="width:200px"></select>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="NormalB">
                <!--<input type="checkbox" id="aggCB" name="aggCB" checked> $i18n.getString( "aggregated_data" )-->
                5. $i18n.getString( "generated_data_type" ) :<br />
                <select id="aggData" name="aggData" style="width:200px">
                    <option value="generateaggdata">$i18n.getString( "generate_agg_data" )</option>
                    <option value="useexistingaggdata">$i18n.getString( "use_existing_agg_data" )</option>
                    <option value="usecaptureddata">$i18n.getString( "use_captured_data" )</option>
                </select>
                <br><br><br><br>
                <input type="submit" name="generate" value='$i18n.getString( "generate_report" )' disabled="disabled"/>
                <input type="hidden" name="autogen" id="autogen" value="0" >
                <input type="hidden" name="ouIDTB" id="ouIDTB">
                <input type="hidden" name="reportTypeNameTB" id="reportTypeNameTB" value="$reportTypeName">
            </td>
        </tr>
    </table>
</form>