
		<script>
			//Global Variables
		    
			// OrganisationUnit ids and its Names
			var orgUnits = new HashTable();
			#foreach($orgUnit in $organisationUnits)
				var orgUnitId = ""+$orgUnit.getId();
			    orgUnits.put(orgUnitId,"$orgUnit.getShortName()");
			#end
			            
			// OrganisationUnit ids and its Level
			var orgUnitLevels = new HashTable();
			#foreach($orgUnit in $organisationUnits)
				var orgUnitId = ""+$orgUnit.getId();
			    orgUnitLevels.put(orgUnitId,"$organisationUnitService.getLevelOfOrganisationUnit( $orgUnit )");
			#end
			
			
			// Grading Report Form Validations
			function formValidations()
			{			         
				var selOUListLength = document.reportForm.orgUnitListCB.options.length;   
				var startDateValue = document.reportForm.startDate.value;
				var endDateValue = document.reportForm.endDate.value;
				var summaryCBIndex = document.reportForm.summaryByCB.selectedIndex;		
				   
				if(selOUListLength <= 0) {alert("Please Select OrganisationUnit"); return false;}
				else if(startDateValue == null || startDateValue== "" || endDateValue == null || endDateValue=="") {alert("Please Select Period"); return false;}
				else if(startDateValue > endDateValue) {alert("Starte Date is Greaterthan End Date"); return false;}
				else if(document.reportForm.summaryByCB.options[summaryCBIndex].value == null || document.reportForm.summaryByCB.options[summaryCBIndex].value == "") { alert("Please Select Summary By Option"); return false; } 
			
			    for(k=0;k<selOUListLength;k++)
				{
					document.reportForm.orgUnitListCB.options[k].selected = true;
				}
																		
				return true;
			}
		</script>

		<h1>Grading Abstration Form</h1><hr /><br />
	        
		<form id="reportForm" name="reportForm" action="gradingAbstractionResult.action" method="post" onsubmit="return formValidations()" target="_blank">        
            <table align="center" style=" border-collapse: collapse; margin-top: 0;" cellpadding="0" cellspacing="0" width="730" border=0>		                
				<tr>
					<td class="NormalB">
						OrganisationUnit:<br />
       					<select name="orgUnitListCB" id="orgUnitListCB" multiple style="width: 325px;height: 100px" ondblclick="remOUFunction()">
       					</select>
						<br /><br />
						Summary By:<br />
						<select name="summaryByCB" id="summaryByCB">
       					</select>                    				                                                                    				                                                
    			    </td>
                    <td class="NormalB">
						<br /><br />
						<label for="startDate">$i18n.getString( 'start_date' ) ($i18n.getString( "format.date.label" ))</label><br/>
						<input type="text" id="startDate" name="startDate" style="width:20em">
						<img src="../images/calendar_icon.gif" width="16" height="16" id="getStartDate" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''">
						<br /><br />						  
						<label for="endDate">$i18n.getString( 'end_date' ) ($i18n.getString( "format.date.label" ))</label><br />
						<input type="text" id="endDate" name="endDate" style="width:20em">
						<img src="../images/calendar_icon.gif" width="16" height="16" id="getEndDate" cursor: pointer;" title="$i18n.getString( "date_selector" )" onmouseover="this.style.background='orange';" onmouseout="this.style.background=''">
						<br /><br />
						<input type="submit" name="generate" value='View Abstraction' />																					
					</td>
                </tr>
            </table>
		</form>

<script type="text/javascript">
	
	Calendar.setup({
        inputField     :    "startDate",      // id of the input field
        ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
        button         :    "getStartDate"   // trigger for the calendar (button ID)
    });
	
	Calendar.setup({
        inputField     :    "endDate",      // id of the input field
        ifFormat       :    "$i18n.getString("format.date.label")",       // format of the input field
        button         :    "getEndDate"   // trigger for the calendar (button ID)
    });
</script>

