
<a href="index.action"><h2>Report Analyser</h2></a>

<ul>
    <li>NameBased Reports</li>
    <ul>
    	<li>
            NBITS Portal Reports
        </li>
    </ul>
</ul>

#parse( "/dhis-web-commons/ouwt/orgunittreesearch.vm" )

<script type="text/javascript">

    function orgUnitHasBeenSelected( orgUnitIds )
    {
        document.reportForm.ouIDTB.value = orgUnitIds;

        if(orgUnitIds == null || orgUnitIds == "" )
        {
			document.reportForm.ouNameTB.value = "";
            return;
        }

        if( orgUnitIds != null )
        {
            getSelectedOrgUnit( orgUnitIds );
        }
    }

    selection.setListenerFunction( orgUnitHasBeenSelected );

</script>
