
<a href="index.action"><h2>Report Analyser</h2></a>
<ul>
    <li>Report Analysis</li>
    <ul>
    	<li>
            Dataset Reports
        </li>
    </ul>
</ul>

#parse( "/dhis-web-commons/ouwt/orgunittree.vm" )

<script type="text/javascript">

	function orgUnitHasBeenSelected( orgUnitIds )
	{    
		document.reportForm.ouIDTB.value = orgUnitIds;
		
		reportListFileName = document.reportForm.reportListFileNameTB.value;
	
		if(orgUnitIds != null && orgUnitIds != "" )
		{
			getReports(orgUnitIds, reportListFileName)		
		}
	}
	
	selection.setListenerFunction( orgUnitHasBeenSelected );

</script>

