
<a href="index.action"><h2>Report Analyser</h2></a>

<ul>
    <li>Report Analysis</li>
    <ul>
        <li>
            Malaria Reports
        </li>
    </ul>
</ul>

#parse( "/dhis-web-commons/ouwt/orgunittreesearch.vm" )

<script type="text/javascript">

	function orgUnitHasBeenSelected( orgUnitIds )
	{    
	
		document.reportForm.ouIDTB.value = orgUnitIds;
		
		if(orgUnitIds == null || orgUnitIds == "" )
		{
			return;
		}
		
		if(orgUnitIds !=null)
		{
			getOUDetails(orgUnitIds);
		}
	}
	
	selection.setListenerFunction( orgUnitHasBeenSelected );

</script>
