
<script>

    function showOrHideDates()
    {
        var includePeriodChecked = document.getElementById( "includePeriod" ).checked;

        if( includePeriodChecked == true )
        {
            jQuery("#periodTR").show();
        }
        else
        {
            jQuery("#periodTR").hide();
        }
    }

    function formValidations()
    {
        var includePeriodChecked = document.getElementById( "includePeriod" ).checked;
        var programList = document.getElementById( "programList" );
        var orgunitIdValue = document.reportForm.ouIDTB.value;
        var startDateValue = document.reportForm.startDate.value;
        var endDateValue = document.reportForm.endDate.value;

        if( programList.selectedIndex < 0 || programList.options[programList.selectedIndex].text == null ) { alert("Please Select Report"); return false; }
        else if( orgunitIdValue == null || orgunitIdValue == "" ) { alert("Please Select OrganisationUnit"); return false; }
        else if( includePeriodChecked == true )
        {
            if( startDateValue == null || startDateValue== "" || endDateValue == null || endDateValue=="" ) { alert("Please Select Start Date And End Date"); return false; }
            else if( startDateValue > endDateValue ) { alert("Start Date Is Greater Than End Date"); return false; }
        }

        return true;
    }

</script>

<h3>NBITS Report Analyser</h3>
<hr /><br />

<form id="reportForm" name="reportForm" action="generateNBITSReport.action" method="post" onsubmit="return formValidations()" target="_blank">
    <table align="center" style=" border-collapse: collapse; margin-top: 0;" cellpadding="0" cellspacing="0" width="730" border=0>
        <tr>
            <td class="NormalB">
                Program List :<br />
                <select id="programList" name="programList" style="width:200px">
                #foreach($program in $programList)
                    <option value="$program.id">$program.name</option>
                #end
                </select>
            </td>
            <td class="NormalB">
                OrganisationUnit : <br />
                <input type="text" name="ouNameTB" id="ouNameTB" style="width:175px" disabled = "disabled">
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr id="periodTR">
            <td class="NormalB">
                <label for="startDate" id="lblStartDate">$i18n.getString( 'start_date' ) ($i18n.getString( "format.date.label" ))</label><br/>
                <input type="text" id="startDate" name="startDate" style="width:175px">
            </td>
            <td class="NormalB">
                <label for="endDate" id="lblEndDate">$i18n.getString( 'end_date' ) ($i18n.getString( "format.date.label" ))</label><br />
                <input type="text" id="endDate" name="endDate" style="width:175px">
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="checkbox" name="includePeriod" onChange="return showOrHideDates()" id="includePeriod" checked>Report With Specified Period
                <br/><br/>
                <input type="submit" name="generate" value='Generate Report' #if( $!programList.size() == 0 ) disabled="disabled" #end>
                <input type="hidden" name="ouIDTB" id="ouIDTB" />
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    jQuery( function(){
            datePickerInRange( "startDate", "endDate", false, false );
    });
</script>
