
<h3>$i18n.getString( "define_report_associations" )</h3>

<h4>$encoder.htmlEncode( $report.name )</h4>

<form id="defineReportAssociationsForm" action="defineReportAssociations.action" method="post">
  <div style="display:inline">
    <input type="hidden" name="reportId" value="$reportId">
  </div>
  <table id="selectionTable">
    <tr>
      <td>
        #organisationUnitSelectionTree( false, true, false )
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" id="submitButton" value="$i18n.getString( "save" )" style="width:10em">
        <input type="button" onclick="window.location.href='reportManagement.action'" value="$i18n.getString( "cancel" )" style="width:10em">
      </td>
    </tr>
  </table>

</form>
