{ "dataElementCategory":
  {
    "id":  "${dataElementCategory.id}" ,
    "name": "$!encoder.jsonEncode( ${dataElementCategory.name} )",
	"categoryOptionCount": "${dataElementCategory.categoryOptions.size()}"
  }
}
