{ "dataElementCategoryOption":
  {
    "id":  "${dataElementCategoryOption.id}" ,
    "name": "$!encoder.jsonEncode( ${dataElementCategoryOption.name} )",
	"concept": "$!encoder.jsonEncode(${dataElementCategoryOption.concept.name})"
  }
}
