{ "dataElementCategoryCombo":
  {
    "id": "$!{dataElementCategoryCombo.id}",
    "name": "$encoder.jsonEncode( $!{dataElementCategoryCombo.name} )",
    "dataElementCategoryCount": "$!{dataElementCategories.size()}"
  }
}