{ "program":
  {
    "id": "$program.id",
	"name": "$!encoder.jsEncode( ${program.name} )",
	"description": "$!encoder.jsEncode( ${program.description} )",
	"type": "$!program.type",
	"dataEntryMethod": "$!program.dataEntryMethod",
	"displayIncidentDate": "$!program.displayIncidentDate",
	"ignoreOverdueEvents": "$!program.ignoreOverdueEvents",
	"dateOfEnrollmentDescription": "$!encoder.jsEncode( ${program.dateOfEnrollmentDescription} )",
	"dateOfIncidentDescription": "$!encoder.jsEncode( ${program.dateOfIncidentDescription} )",
	"programStageCount": "${program.programStages.size()}",
	"noAttributes": "$!program.patientAttributes.size()",
	"noIdentifierTypes": "$!program.patientIdentifierTypes.size()",
	"onlyEnrollOnce": "$!program.onlyEnrollOnce",
	"displayOnAllOrgunit": "$!program.displayOnAllOrgunit",
	"useBirthDateAsIncidentDate": "$!program.useBirthDateAsIncidentDate",
	"useBirthDateAsEnrollmentDate": "$!program.useBirthDateAsEnrollmentDate",
	"selectEnrollmentDatesInFuture": "$!program.selectEnrollmentDatesInFuture",
	"selectIncidentDatesInFuture": "$!program.selectIncidentDatesInFuture"
  }
}