{ "patientAttributeGroup":
  {
    "id": "${patientAttributeGroup.id}",
    "name": "$!encoder.jsonEncode( ${patientAttributeGroup.name} )",
	"description": "$!encoder.jsonEncode( ${patientAttributeGroup.description} )",
	"noAttribute": "${patientAttributeGroup.attributes.size()}"
  }
}