{ "patientIdentifierType":
  {
    "id": "${patientIdentifierType.id}",
	"name": "$!encoder.jsonEncode( ${patientIdentifierType.name} )",
	"description": "$!encoder.jsonEncode( ${patientIdentifierType.description} )",
	"mandatory": "$!{patientIdentifierType.mandatory}",
	"related": "$!{patientIdentifierType.related}",
	"noChars": "$!{patientIdentifierType.noChars}",
	"type": "$!{patientIdentifierType.type}"
  }
}