{ "patientAttribute":
  {
    "id": "${patientAttribute.id}",
	"name": "$!encoder.jsonEncode( ${patientAttribute.name} )",
	"description": "$!encoder.jsonEncode( ${patientAttribute.description} )",
	"mandatory":  "$!{patientAttribute.mandatory}",
	"valueType": "$!patientAttribute.valueType",
	"inherit": "$!patientAttribute.inherit"
  }
}