<script type="text/javascript">
	jQuery(document).ready(	function(){
		jQuery("#availableList").dhisAjaxSelect({
			source: "../dhis-web-commons-ajax-json/getDataSets.action",
			iterator: 'dataSets',
			connectedTo: 'selectedList',
			handler: function(item) {
				var option = jQuery("<option />");
				option.text( item.name + "-Version " + item.version );
				option.attr( "value", item.id );

				return option;
			}
		});
		
		jQuery("#save").bind("click", function(e) {
			jQuery("#availableList").children().attr("selected", "selected");
			jQuery("#selectedList").children().attr("selected", "selected");
		});
	});
</script>

<h3>$i18n.getString( "mobile_dataset" )</h3>
<form id="updateMobileDataset" name="updateMobileDataset" action="updateMobileDataset.action" method="post">
<table id="dataSetSelectionArea">
    <colgroup>
      <col style="width: 500px;"/>
      <col/>
      <col style="width: 500px;"/>
    </colgroup>

    <thead>
      <tr>
        <th>$i18n.getString( "available_datasets" )</th>
		<th>$i18n.getString( "filter" )</th>
        <th>$i18n.getString( "mobile_dataset" )</th>
      </tr>
    </thead>

    <tbody>
		<tr>
		  <!---->
		  <td>
		  	<select id="availableList" name="availableList" multiple="multiple" style="height: 200px; width: 100%;"></select>          
          </td>

        <td style="text-align:center">
        	<input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'availableList' );"/><br/>
            <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedList' );"/><br/>
			<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'availableList' );"/><br/>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'selectedList' );"/>
        </td>

        <td>
          <select id="selectedList" name="selectedList" multiple="multiple" style="height: 200px; width: 100%; margin-top: 22px;">
        	#foreach( $mobiledataset in $mobileDatasets )
      			<option value="$mobiledataset.id">$encoder.htmlEncode( $mobiledataset.name )-Version $mobiledataset.version</option>
    		#end
          </select>
        </td>

        <td style="width:30px; text-align:center">
            <a href="javascript:moveUpSelectedOption( 'selectedList' )"><img src="../images/move_up.png"/></a><br/><br/>
            <a href="javascript:moveDownSelectedOption( 'selectedList' )"><img src="../images/move_down.png"/></a><br/><br/>
        </td>
		</tr>
		<tr>
        <td colspan="3">
          <input id="save" type="submit" value="$i18n.getString( 'save' )" style="width:20em"/>
        </td>
      </tr>
	</tbody>
</table>
</form>
