<script type="text/javascript" src="javascript/addDataDictionaryForm.js"></script>
<script type="text/javascript">
	jQuery(function() {
		jQuery("#availableDataElements").dhisAjaxSelect({
			source: "../dhis-web-commons-ajax-json/getDataElements.action",
			iterator: "dataElements",
			connectedTo: 'selectedDataElements',
			handler: function(item) {
				var option = jQuery("<option data-id='" + item.groups + "' />");
				option.text( item.name );
				option.attr( "value", item.id );

				return option;
			},
			filter: {
				source: "../dhis-web-commons-ajax-json/getDataElementGroups.action",
				label: 'dataelement group',
				iterator: "dataElementGroups",
				handler: function(item) {
					return "<option data-key='id' data-value='" + item.id + "'>" + item.name + "</option>";
				}
			}
		});

		jQuery("#availableIndicators").dhisAjaxSelect({
			source: "../dhis-web-commons-ajax-json/getIndicators.action",
			iterator: "indicators",
			connectedTo: 'selectedIndicators',
			handler: function(item) {
				var option = jQuery("<option data-id='" + item.groups + "' />");
				option.text( item.name );
				option.attr( "value", item.id );

				return option;
			},
			filter: {
				source: "../dhis-web-commons-ajax-json/getIndicatorGroups.action",
				iterator: "indicatorGroups",
				label: 'indicator group',
				handler: function(item) {
					return "<option data-key='id' data-value='" + item.id + "'>" + item.name + "</option>";
				}
			}
		});
	});
</script>

<h3>$i18n.getString( "create_new_data_dictionary" )</h3>

#sharingCreateNotification( "dataDictionary" )

<form id="addDataDictionaryForm" action="addDataDictionary.action" method="post" class="inputForm">

<table>	
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>

	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name"/></td>
	</tr>

	<tr>
		<td><label for="description">$i18n.getString( "description" )</label></td>
		<td><textarea id="description" name="description"></textarea></td>
	</tr>

	<tr>
		<td><label for="region">$i18n.getString( "region" )</label></td>
		<td><input type="text" id="region" name="region"></td>
	</tr>
	<tr>
		<td colspan="2" height="15px"></td>
	</tr>
</table>

<table>
    <colgroup>
      <col style="width: 500px;"/>
      <col/>
      <col style="width: 500px;"/>
    </colgroup>

	<tr>
		<th>$i18n.getString( "available_data_elements" )</th>
		<th></th>
		<th>$i18n.getString( "selected_data_elements" )
			<select id="memberValidator" style="display:none"/>
		</th>
	</tr>

	<tr>
		<td>
			<select id="availableDataElements" name="availableDataElements" multiple="multiple" style="height: 200px; width: 100%;"></select>
		</td>

        <td>
        	<input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'availableDataElements' );"/><br/>
            <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedDataElements' );"/><br/>
			<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'availableDataElements' );"/><br/>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'selectedDataElements' );"/>
		</td>			

		<td>
			<select id="selectedDataElements" name="selectedDataElements" multiple="multiple" style="height: 200px; width: 100%; margin-top: 45px;"></select>
		</td>		
	</tr>

	<tr>		
		<th>$i18n.getString( "available_indicators" )</th>
		<th></th>
		<th>
			$i18n.getString( "selected_indicators" )<select id="memberValidatorIn" style="display:none"/>
		</th>
	</tr>

	<tr>	
		<td>
			<select id="availableIndicators" name="availableIndicators" multiple="multiple" style="height: 200px; width: 100%;"></select>
		</td>

        <td>
        	<input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'availableIndicators' );"/><br/>
            <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedIndicators' );"/><br/>
			<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'availableIndicators' );"/><br/>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'selectedIndicators' );"/>
        </td>

		<td>
			<select id="selectedIndicators" name="selectedIndicators" multiple="multiple" style="height: 200px; width: 100%; margin-top: 45px;"></select>
		</td>
	</tr>
</table>

<p>
	<input type="submit" value="$i18n.getString( 'add' )" style="width:10em" />
	<input type="button" value="$i18n.getString( 'cancel' )" onclick="dhis2.commons.redirectCurrentPage( 'dataDictionary.action' )" style="width:10em" />
</p>

</form>
