
#sharingDialog()

<script type="text/javascript">
	jQuery(document).ready(function(){	
		tableSorter( 'listTable' );	
	});

	var i18n_adding_datadictionary_failed = '$encoder.jsEscape( $i18n.getString( "adding_datadictionary_failed" ), "'")';
	var i18n_updating_datadictionary_failed = '$encoder.jsEscape( $i18n.getString( "updating_datadictionary_failed" ), "'")';
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_data_dictionary" ), "'")';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';	
</script>

<h3>$i18n.getString( "data_dictionary_management" ) #openHelp( "dataDictionary" )</h3>

<table class="mainPageTable">
	<tr>
		<td style="vertical-align:top">
			<table width="100%">
				<tr>
					<td>#filterDiv( "dataDictionary" )</td>
					<td colspan="3" style="text-align:right"><input type="button" value="$i18n.getString( 'add_new' )" onclick="window.location.href='showAddDataDictionaryForm.action'" style="width:80px"/></td>
				</tr>
			</table>
			<table class="listTable" id="listTable">
				<col/>
				<col width="145px"/>
                <thead>			
				<tr>
					<th>$i18n.getString( "name" )</th>
					<th class="{sorter: false}">$i18n.getString( "operations" )</th>
				</tr>
                </thead>
				<tbody id="list">
				#foreach( $dataDictionary in $dataDictionaries )

				<tr id="tr${dataDictionary.id}">
					<td onclick="showDataDictionaryDetails( $dataDictionary.id )">$encoder.htmlEncode( $dataDictionary.name )</td>
					<td style="text-align:right">

                        #if ( $security.canManage( $dataDictionary ) )
                        <a href="javascript:showSharingDialog('dataDictionary', '$dataDictionary.uid');" title="$i18n.getString( 'sharing_settings' )"><img src="../images/relationship.png" alt="$i18n.getString( 'sharing_settings' )"></a>
                        #else
                        <img src="../images/relationship-denied.png">
                        #end

                        #if( $security.canUpdate( $dataDictionary ) )
                        <a href="showUpdateDataDictionaryForm.action?id=$dataDictionary.id" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"/></a>
                        #else
                        <img src="../images/edit-denied.png">
                        #end

                        #if( $security.canUpdate( $dataDictionary ) )
                        <a href="javascript:translate( 'DataDictionary', '$dataDictionary.id' )"><img src="../images/i18n.png" alt="$i18n.getString( 'translation_translate' )"/></a>
                        #else
                        <img src="../images/i18n-denied.png">
                        #end

                        #if( $security.canDelete( $dataDictionary ) )
                        <a href="javascript:removeDataDictionary( $dataDictionary.id, '$encoder.jsEncode( $dataDictionary.name )' )" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"/></a>
                        #else
                        <img src="../images/delete-denied.png">
                        #end

						<a href="javascript:showDataDictionaryDetails( $dataDictionary.id )" title="$i18n.getString( 'show_details' )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"/></a>
					</td>
				</tr>

				#end
				</tbody>
			</table>
			<p></p>
			#parse( "/dhis-web-commons/paging/paging.vm" )

		</td>
		<td id="detailsData">

			<div id="detailsArea">
				<div id="hideDetailsArea">
					<a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"/></a>
				</div>
				<p><label>$i18n.getString( "name" ):</label><br/><span id="nameField"></span></p>
				<p><label>$i18n.getString( "description" ):</label><br/><span id="descriptionField"></span></p>
				<p><label>$i18n.getString( "region" ):</label><br/><span id="regionField"></span></p>				
			</div>

            <div id="warningArea" style="position:fixed;right:10px;top:200px;display:none">
                <div id="hideDetailsArea">
                    <a href="javascript:hideWarning()" title="$i18n.getString( 'hide_warning' )"><img src="../images/close.png" alt="$i18n.getString( 'hide_warning' )"/></a>
                </div>
                <p><span id="warningField"></span></p>
            </div>
			
		</td>
	</tr>
</table>
