
<h2>$i18n.getString( "data_element" )&nbsp;</h2>
<ul>
    <li><a href="dataElement.action">$i18n.getString( "data_element" )&nbsp;</a></li>
    <li><a href="dataElementGroup.action">$i18n.getString( "data_element_group" )&nbsp;</a></li>
    <li><a href="dataElementGroupEditor.action">$i18n.getString( "data_element_group_editor" )&nbsp;</a></li>
	<li><a href="dataElementGroupSet.action">$i18n.getString( "data_element_group_set" )&nbsp;</a></li>
    <li><a href="categoryOption.action">$i18n.getString( "category_option" )&nbsp;</a></li>
    <li><a href="category.action">$i18n.getString( "category" )&nbsp;</a></li>
    <li><a href="categoryCombo.action">$i18n.getString( "category_combination" )&nbsp;</a></li>
    <li><a href="dataDictionary.action">$i18n.getString( "data_dictionary" )&nbsp;</a></li>
	<li><a href="concept.action">$i18n.getString( "concept" )&nbsp;</a></li>
</ul>

<h2>$i18n.getString( "indicator" )&nbsp;</h2>
<ul>
    <li><a href="indicator.action">$i18n.getString( "indicator" )&nbsp;</a></li>
    <li><a href="indicatorType.action">$i18n.getString( "indicator_type" )&nbsp;</a></li>   
    <li><a href="indicatorGroup.action">$i18n.getString( "indicator_group" )&nbsp;</a></li>
	<li><a href="indicatorGroupEditor.action">$i18n.getString( "indicator_group_editor" )&nbsp;</a></li>
	<li><a href="indicatorGroupSet.action">$i18n.getString( "indicator_group_set" )&nbsp;</a></li>
</ul>
