<script type="text/javascript">
    function submitForm()
    {
        selectAllById( "dataElements" );
        document.getElementById( "sortOrderForm" ).submit();
    }
</script>

<h3>$i18n.getString( "data_element_sort_order" )</h3>

<form id="sortOrderForm" action="saveDataElementSortOrder.action" method="post">
    
<p>
<input type="button" value="$i18n.getString( 'move_up' )" style="width:130px" onclick="moveUpSelectedOption( 'dataElements' )"/><input 
type="button" value="$i18n.getString( 'move_down' )" style="width:130px" onclick="moveDownSelectedOption( 'dataElements' )"/><input
type="button" value="$i18n.getString( 'move_to_top' )" style="width:130px" onclick="moveSelectedOptionToTop( 'dataElements' )"/><input
type="button" value="$i18n.getString( 'move_to_bottom' )" style="width:130px" onclick="moveSelectedOptionToBottom( 'dataElements' )"/>
</p>

<p>
<select multiple id="dataElements" name="dataElements" size="25" style="width:680px">
#foreach ( $element in $dataElements )
    <option value="$element.id">$element.name</option>
#end
</select>
</p>

<p>
	<input type="button" value="$i18n.getString( 'save' )" style="width:130px" onclick="submitForm()"/>
	<input type="button" value="$i18n.getString( 'cancel' )" style="width:130px" onclick="window.location.href='dataElement.action'"/>
</p>

</form>
