<script type="text/javascript" src="javascript/updateDataElementGroupSet.js"></script>
<script type="text/javascript">
	jQuery(function() {
		jQuery("#availableDataElementGroupsList").dhisAjaxSelect({
			source: "../dhis-web-commons-ajax-json/getDataElementGroups.action",
			iterator: "dataElementGroups",
			connectedTo: 'groupMembers',
			handler: function(item) {
				var option = jQuery("<option />");
				option.text( item.name );
				option.attr( "value", item.id );

				return option;
			},
			params: {
				filterNoGroupSet: true
			}
		});
	});
</script>

<h3>$i18n.getString( "update_dataelementgroupset" )</h3>

<form id="updateDataElementGroupSet" action="updateDataElementGroupSet.action" method="post" class="inputForm">

<input type=hidden id="id" name="id" value="$dataElementGroupSet.id"/>

<table>
    <col style="width: 120px;" />

	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>

	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" value="$encoder.htmlEncode( $dataElementGroupSet.name )"/></td>
	</tr>

	<tr>
		<td><label for="description">$i18n.getString( "description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="description" name="description" value="#if( $dataElementGroupSet.description)$encoder.htmlEncode( $dataElementGroupSet.description )#end"></td>
	</tr>

	<tr>
		<td><label for="compulsory">$i18n.getString( "compulsory" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>
			<select id="compulsory" name="compulsory" onchange="changeCompulsory( this.value )">
				<option value="true" #if( $dataElementGroupSet.compulsory ) selected="selected" #end>$i18n.getString( "yes" )</option>
				<option value="false" #if( !$dataElementGroupSet.compulsory ) selected="selected" #end>$i18n.getString( "no" )</option>
			</select>
		</td>
	</tr>

	<tr>
		<td colspan="2" height="15px"></td>
	</tr>
</table>

<table>
    <colgroup>
      <col style="width: 500px;"/>
      <col/>
      <col style="width: 500px;"/>
    </colgroup>

	<tr>
		<th>$i18n.getString( "available_dataelementgroup" )</th>
		<th></th>
		<th>$i18n.getString( "group_members" )
			<select id="memberValidator" multiple="multiple" style="display:none" class="{validate:{required:true}}"/>
		</th>
	</tr>

	<tr>
		<td>
			<select id="availableDataElementGroupsList" name="availableDataElementGroupsList" multiple="multiple" style="height: 200px; width: 100%;"></select>
		</td>
		
        <td style="text-align:center">
        	<input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'availableDataElementGroupsList' );"/><br/>
            <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'groupMembers' );"/><br/>
			<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'availableDataElementGroupsList' );"/><br/>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'groupMembers' );"/>
        </td>

		<td>
			<select id="groupMembers" name="groupMembers" multiple="multiple" style="height: 200px; width: 100%; margin-top: 22px;" class="{validate:{required:true}}">
				#foreach( $dataElementGroup in $selectedGroups )
                    <option value="$dataElementGroup.id">$encoder.htmlEncode( $dataElementGroup.displayName )</option>
                #end
			</select>
		</td>
		
	</tr>
</table>

<p>
	<input type="submit" value="$i18n.getString( 'update' )" style="width:10em"/>
	<input type="button" value="$i18n.getString( 'cancel' )" onclick="dhis2.commons.redirectCurrentPage( 'dataElementGroupSet.action' )" style="width:10em"/>
</p>

</form>
