<script type="text/javascript">
    jQuery(document).ready(function() {        
	    	  	
	  	#if( $render == true )
	    var dataSetReport = {
	        dataSet: "${ds}",
	  	    periodType: "${periodType.name}",
	  	    period: "${pe}",
	  	    offset: ${offset}
	  	};
	  	setDataSetReport( dataSetReport );	  	
		#else
		selectionTreeSelection.setMultipleSelectionAllowed( false );
    	selectionTree.clearSelectedOrganisationUnits();
    	selectionTree.buildSelectionTree();
    	#end
	});

    var i18n_select_data_set = '$encoder.jsEscape( $i18n.getString( "select_data_set" ), "'")';
    var i18n_select_period = '$encoder.jsEscape( $i18n.getString( "select_period" ), "'")';
    var i18n_select_organisation_unit = '$encoder.jsEscape( $i18n.getString( "select_organisation_unit" ), "'")';
    var i18n_generating_report = '$encoder.jsEscape( $i18n.getString( "generating_report" ), "'")';    
    var i18n_share_your_interpretation = '$encoder.jsEscape( $i18n.getString( "share_your_interpretation" ), "'")';
    var i18n_interpretation_was_shared = '$encoder.jsEscape( $i18n.getString( "interpretation_was_shared" ), "'")';
</script>

<style type="text/css" media="print">
div#control {
  display: none;
}

h3#dataset_report_header {
  display: none;
}

#download_buttons {
  display: none;
}

#shareForm {
  display: none;
}  

.gridTable {
    width: 100%;
}
</style>

<style type="text/css">
div#control {
  margin-bottom: 15px;
}

div.inputSection {
  padding-top: 7px;
  padding-bottom: 5px;
}
</style>

<h3 id="dataset_report_header">$i18n.getString( "dataset_report" ) #openHelp( "dataset_reports" )</h3>

<div id="control">
<input type="button" value='$i18n.getString( "data" )' style="width:140px" onclick="showCriteria()">
<input type="button" class="downloadButton" value="$i18n.getString( 'get_report_as_xls' )" onclick="exportDataSetReport( 'xls' )" style="width:140px; display:none;">
<input type="button" class="downloadButton" value="$i18n.getString( 'get_report_as_pdf' )" onclick="exportDataSetReport( 'pdf' )" style="width:140px; display:none;">
<input type="button" class="downloadButton" value="$i18n.getString( 'print' )" onclick="window.print()" style="width:140px; display:none;">
</div>

<!-- Data set -->

<div id="criteria" class="inputCriteria" style="width:360px;">
<div class="inputSection">
<label>$i18n.getString( "dataset" )</label><br>
<select id="dataSetId" name="dataSetId" style="width:330px">
  <option value="">[ $i18n.getString( "select" ) ]</option>
  #foreach( $dataSet in $dataSets )
  <option value="$dataSet.uid">$encoder.htmlEncode( $dataSet.displayName )</option>
  #end
</select>
</div>

<!-- Period -->

<div class="inputSection">
<label>$i18n.getString( "report_period" )</label><br>
<select id="periodType" name="periodType" style="width:174px" onchange="displayPeriods()">
  <option value="">[ $i18n.getString( "select_period_type" ) ]</option>
  #foreach ( $type in $periodTypes )
  <option value="$type.name">$i18n.getString( $type.name )</option>
  #end
</select>
<input type="button" style="width:75px" value="$i18n.getString( 'prev_year' )" onclick="displayPreviousPeriods()" />
<input type="button" style="width:75px" value="$i18n.getString( 'next_year' )" onclick="displayNextPeriods()" /><br>

<select id="periodId" name="periodId" style="width:330px" disabled="disabled">
</select>
</div>

<!-- Organisation unit -->

<div class="inputSection">
<label>$i18n.getString( "use_data_for_selected_unit_only" )</label>
<input type="checkbox" id="selectedUnitOnly" name="selectedUnitOnly" value="true">
</div>

<div class="inputSection">
<label>$i18n.getString( "report_organisation_unit" )</label><br>
<div id="selectionTree" style="width:328px; height:200px; overflow:auto; border:1px solid #ccc; margin-bottom: 8px;"></div>
</div>

<!-- Org unit group sets -->

<div id="advancedOptions" style="display:none">
#foreach( $groupSet in $groupSets )
<select name="groupSet" data-uid="${groupSet.uid}" style="width:330px" class="advanced">
    <option value="">[ $i18n.getString( "select" ) $encoder.htmlEncode( $groupSet.name ) / $i18n.getString( "view_all" ) ]</option>
    #foreach( $group in $groupSet.organisationUnitGroups )
    <option value="${group.uid}">$encoder.htmlEncode( $group.name )</option>
    #end
</select><br>
#end </div>

<div id="advancedOptionsLink" style="padding: 8px 0;"><a href="javascript:showAdvancedOptions()">$i18n.getString( "more_options" )</a></div>

<div class="inputSection">
<input type="button" value='$i18n.getString( "get_report" )' style="width:120px" onclick="generateDataSetReport()">
<input type="button" value='$i18n.getString( "cancel" )' style="width:120px" onclick="hideCriteria()">
</div>
</div>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id="content"></div>
