
<h3>$i18n.getString( "analytics_and_data_mart_tables_management" ) #openHelp( "data_mart" )</h3>

<!-- Analytics -->

<div class="settingHeader">$i18n.getString( "analytics_tables" )</div>

<div class="setting">
	<input type="checkbox" id="analytics" checked="checked" />
    <label for="analytics">$i18n.getString( "analytics_tables_update" )</label>
</div>

<!-- Data mart -->

<div class="settingHeader">$i18n.getString( "data_mart" )</div>

<div class="setting">
    <input type="checkbox" id="dataMart" onclick="toggleDataMart()"/>
    <label for="dataMart">$i18n.getString( "data_mart_tables_update" )</label>
</div>

<div class="settingLabel">$i18n.getString( "aggregation_period_types" )</div>

<div class="setting">
<input type="checkbox" id="weekly" class="dataMart" name="periodTypes" value="Weekly"> <label for="weekly">$i18n.getString( "Weekly" )</label>&nbsp;
<input type="checkbox" id="monthly" class="dataMart" name="periodTypes" value="Monthly" checked="checked"> <label for="monthly">$i18n.getString( "Monthly" )</label>&nbsp;
<input type="checkbox" id="biMonthly" class="dataMart" name="periodTypes" value="BiMonthly"> <label for="biMonthly">$i18n.getString( "BiMonthly" )</label>&nbsp;
<input type="checkbox" id="quarterly" class="dataMart" name="periodTypes" value="Quarterly" checked="checked"> <label for="quarterly">$i18n.getString( "Quarterly" )</label><br>
<input type="checkbox" id="sixMonthly" class="dataMart" name="periodTypes" value="SixMonthly" checked="checked"> <label for="sixMonthly">$i18n.getString( "SixMonthly" )</label>&nbsp;
<input type="checkbox" id="yearly" class="dataMart" name="periodTypes" value="Yearly" checked="checked"> <label for="yearly">$i18n.getString( "Yearly" )</label>&nbsp;
<input type="checkbox" id="financialYearly" class="dataMart" name="periodTypes" value="FinancialJuly"> <label for="financialYearly">$i18n.getString( "financial_yearly" )</label>
</div>

<div class="settingLabel">$i18n.getString( "start_date" )</div>

<div class="setting"><input type="text" id="startDate" class="dataMart" style="width:200px"></div>

<div class="settingLabel">$i18n.getString( "end_date" )</div>

<div class="setting"><input type="text" id="endDate" class="dataMart" style="width:200px"></div>

<div class="setting"><input type="button" onclick="startExport()" value="$i18n.getString( 'start_export' )" style="width:120px"></div>

<div>
<table id="notificationTable" class="notificationTable" style="display:none">
<col width="140">
<col width="360">
</table>
</div>
