<h3>$i18n.getString( "dhis-web-maintenance-settings" )</h3>

<ul class="introList">
    #introListImgItem( "systemGeneralSettings.action" "system_general_settings" "systemsettings" )
    #introListImgItem( "systemAppearanceSettings.action" "system_appearance_settings" "systemsettings" )
    #introListImgItem( "systemEmailSettings.action" "system_email_settings" "systemsettings" )
    #introListImgItem( "systemAccessSettings.action" "system_access_settings" "systemsettings" )
</ul>
    
