<h2>$i18n.getString( "system_settings" )&nbsp;</h2>
<ul>
	<li><a href="systemGeneralSettings.action">$i18n.getString( "general" )&nbsp;</a></li>
	<li><a href="systemAppearanceSettings.action">$i18n.getString( "appearance" )&nbsp;</a></li>
	<li><a href="systemEmailSettings.action">$i18n.getString( "email" )&nbsp;</a></li>
    <li><a href="systemAccessSettings.action">$i18n.getString( "access" )&nbsp;</a></li>
</ul>
