<script type="text/javascript">
jQuery( document ).ready( function() {
    jQuery( "input[type=button]" ).click( function() {
        jQuery.postUTF8( "setSystemAccessSettings.action", {
            selfRegistrationRole: jQuery( "#selfRegistrationRole" ).val(),
            selfRegistrationOrgUnit: jQuery( "#selfRegistrationOrgUnit" ).val(),
            accountRecovery: jQuery( '#accountRecovery' ).is( ':checked' )
        }, function( json ) {
            if ( json.response == "success" ) {
                setHeaderDelayMessage( json.message );
            }
        } );
    } );
} );    
</script>

#set( $curRole = $keyConfig.selfRegistrationRole )
#set( $curUnit = $keyConfig.selfRegistrationOrgUnit )

<h3>$i18n.getString( "access_settings" )</h3>

<div class="settingLabel">$i18n.getString( "self_registration_account_user_role" )</div>

<div class="setting">
<select id="selfRegistrationRole" name="selfRegistrationRole">
	<option>$i18n.getString( "do_not_allow_self_registration" )</option>
	<option>---</option>
    #foreach( $role in $userRoles )
    <option value="$role.id" #if( $curRole && $role.id == $curRole.id )selected="selected"#end>$encoder.htmlEncode( $role.name )</option>
    #end
</select>
</div>

<div class="settingLabel">$i18n.getString( "self_registration_account_organisation_unit" )</div>

<div class="setting">
<select id="selfRegistrationOrgUnit" name="selfRegistrationOrgUnit">
	<option value="">[ $i18n.getString( "select_organisation_unit" ) ]</option>
    #foreach( $unit in $selfRegistrationOrgUnits )
    <option value="$unit.id" #if( $curUnit && $unit.id == $curUnit.id )selected="selected"#end>$encoder.htmlEncode( $unit.name )</option>
    #end
</select>
</div>

<div class="setting">
	<input type="checkbox" id="accountRecovery" name="accountRecovery"#if( $keyAccountRecovery ) checked="checked"#end>
	<label for="accountRecovery">$i18n.getString( "enable_user_account_recovery" )</label>
</div>

<div class="setting"><input type="button" value="$i18n.getString( 'save' )" style="width:10em"/></div>
