<h2>$i18n.getString( "add_relationship" )</h2>

<form action="addNewRelationship.action" method="POST">
<div class="header-box" align="center">
<input type="hidden" name="originalPatientId" value="$originalPatientId"/>	
<input type="hidden" name="relatedPatientId" value="$relatedPatientId"/>	
<input type="hidden" name="relationshipTypeId" value="$relationshipTypeId"/>	
	<p style="text-align: left;">
		<label>$originalPatient.name is</label>
		<select name="relationship" style="width: 100%;">
			<option value="$relationshipType.getaIsToB()">$relationshipType.getaIsToB()</option>
			<option value="$relationshipType.getbIsToA()">$relationshipType.getbIsToA()</option>
		</select>
		<label>of $relatedPatient.name</label>
	</p>

</div>

<div class="header-box" align="center">
	<p>
		<input type="submit" style="width: 100%;" value="$i18n.getString("add")" />
	</p>
</div>

</form>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li> <a href="showPatientProgramList.action?patientId=$originalPatientId"> $i18n.getString("program_list")</a> </li>
	<li> <a href="trackingMenu.action"> $i18n.getString("tracking_menu")</a> </li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>
