<h2>$i18n.getString( "related_person_search" )</h2>

	#if( $validated == true)
		<div class="header-box">
			<h3 style="text-align: left;">$i18n.getString("successfully_saved")</h3>
		</div>
	#else
	
	#end

<form action="findRelatedPatient.action" method="POST">
<div class="header-box" align="center">
<input type="hidden" name="originalPatientId" value="$originalPatientId"/>	
<input type="hidden" name="relationshipTypeId" value="$relationshipTypeId"/>	
	<p style="text-align: left;">
		<label>$i18n.getString( "search_by_name_or_id" )</label>
		#if( $validationMap.get( "keyword" ) )
           	<br /><span style="color: #990000;"> $i18n.getString($validationMap.get( "fullName" ))</span>
     	#end
		<input type="text" name="keyword" value="$!previousValues.get("fullName")" />
		<a href="registerBeneficiary.action?orgUnitId=$orgUnitId&originalPatientId=$originalPatientId&relationshipTypeId=$relationshipTypeId">$i18n.getString( "or_register_new_person" )</a>
	</p>
	<p style="text-align: left;">
		<label>$i18n.getString( "select_orgunit" )</label>
		<select name="organisationUnitId">
			<option value="0">$i18n.getString( "all_orgunit" )</option>
			#foreach($orgUnit in $organisationUnits)
				<option value="$orgUnit.getId()">$orgUnit.getName()</option>
			#end
		</select>
	</p>
	
</div>

<div class="header-box" align="center">
	<p>
		<input type="submit" style="width: 100%;" value="$i18n.getString("search")" />
	</p>
</div>

</form>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li> <a href="showPatientProgramList.action?patientId=$originalPatientId"> $i18n.getString("program_list")</a> </li>
	<li><a href="selectRegistrationOrganisationUnit.action">$i18n.getString( "beneficiary_registration" )</a></li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>
