<h2>$i18n.getString( "related_person_list" )</h2>
	#if( $validated)
		<div class="header-box">
			<h3 style="text-align: left;">$i18n.getString("successfully_saved")</h3>
		</div>
	#else	
	
	#end
<p>
<ul>
#foreach( $patient in $patients )
	<li><a href="showAddNewRelationshipForm.action?originalPatientId=$originalPatientId&relatedPatientId=$patient.id&relationshipTypeId=$relationshipTypeId">$!encoder.htmlEncode( ${patient.name} )</a></li>
#end
</ul>
</p>
<p><strong>Total found: $patients.size() </strong> #if($patients.size() == 0)<a href="selectRegistrationOrganisationUnit.action">$i18n.getString( "add_new_person" )</a> #end</p>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
	<li> <a href="showFindRelatedPatientForm.action?originalPatientId=$originalPatientId&relationshipTypeId=$relationshipTypeId"> $i18n.getString("find_related_person")</a></li>
	<li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>