<h2>Report Analyser</h2>
<ul>
    <li>Report Management</li>
    <ul>
    	<li><a href = "reportManagement.action">Report Management</a></li>
    </ul>
    <li>Report Analysis</li>
    <ul>
        <li><a href = "routineReportForm.action">Routine Reports</a></li>
    </ul>    
</ul>
