<script type="text/javascript">
	
	jQuery(document).ready(
		function()
		{
			validation( 'configurationForm', function( form ){ 
				checkConfiguration( form ); 
			});
		}
	);
</script>

<h3>$i18n.getString('configuration') #openHelp( "excelReportingConfiguration" )</h3>
<form id="configurationForm" action="setConfiguration.action" method="post">
<table>
	<tr>
		<td>$i18n.getString('excel_file_directory')</td>		
	</tr>
	<tr>
		<td><input type="text" id="templateDirectory" name="templateDirectory" style="width:300px" value="$!templateDirectory" 
		class="{validate:{required:true,custome_regex:[/^[\w-\s\/\\]*$/, '$i18n.getString( 'config_path_invalid' )']}}" onblur="replaceFlash( this )"/></td>
		<td><input type="submit" value="$i18n.getString( 'ok' )" style="width:120px"/>
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location='administration.action'" style="width:120px">
		</td>
	</tr>
	
</table>

</form>

<script type="text/javascript">

	function checkConfiguration( form )
	{
		jQuery.postJSON(
			"checkConfiguration.action",
			{
				templateDirectory: getFieldValue( "templateDirectory" )
			},
			function( json )
			{
				if( json.response == "success" ) { form.submit(); }
				else
				{
					if ( window.confirm( json.message ) ) backUpTemplateFiles( form );
					else form.submit();
				}
			}
		);
	}
	
	function backUpTemplateFiles( form )
	{
		jQuery.getJSON( 
			"backUpTemplateFiles.action",
			{
				templateDirectory: getFieldValue( "templateDirectory" )
			}, function( json ) { form.submit(); } );
	}
	
	function replaceFlash( element )
	{
		element.value = element.value.replace(/[\\]+/g, '\\').replace(/[/]+/g, '/');
	}
	
</script>