<h3>$i18n.getString( "data_status" ) #openHelp( "excelReportingDataEntryStatusReport" )</h3>

<table width="100%" class="list">
	<tr>
		<th>$i18n.getString( 'dataset' )</th>
		<th></th>		
	</tr>
	#set( $mark = false )
	#foreach($ds in $!dataStatus)
		<tr #alternate( $mark )>
			<td width="200px"><h3>$!ds.dataSet.displayName</h3></td>
			<td>	
				<table width="100%" style="background-color:#000000;" cellpadding="2" cellspacing="1">	
					#foreach($ds_ in $maps.get($ds.dataSet))
						<tr style="background-color:white">
							<td rowspan=2 style="width:150px">$format.formatPeriod($ds_.period)</td>		
							<td rowspan=2 style="width:25px"><a href="javascript:viewData($ds.dataSet.id,$ds_.period.id,$organisationUnit.id)"><img src="../images/view_report.png" title="$i18n.getString( 'view_data' )"></a></td>
							<td style="width:150px">$i18n.getString( 'number_datavalue' )</td>
							<td title="$ds_.numberOfDataValue/$ds_.numberOfDataElement"><div style="text-align:center;#if($ds_.getCompletedPercent()>0) padding:2px;color:white; #end width:$ds_.getCompletedPercent()%;background-color:green;">$ds_.getCompletedPercent()%</div></td>	
						</tr>	
						<tr style="background-color:white"title="$ds_.numberOfDataValue/$ds_.numberOfDataElement">
							<td>$i18n.getString( 'completed' )</td>
							<td >
							#if($ds_.completed) 
								<img src="../images/check.png" alt="$i18n.getString( 'yes' )">
							#else 
								<img src="../images/warning.png" alt="$i18n.getString( 'no' )">
							#end	
							</td>
						</tr>	
					#end
				</table>	
			
			<td>
				
			</td>
		</tr>
		#if( $mark )
			#set( $mark = false )
		#else
			#set( $mark = true )
		#end
	#end
</table>