{ "orgUnitPrototype":
  {
    "id" : "${organisationUnitPrototype.id}",
    "name" : "$!encoder.jsonEncode( ${organisationUnitPrototype.displayName} )",
    "shortName" : "$!encoder.jsonEncode( ${organisationUnitPrototype.displayShortName} )"
  }
}