#set( $size = $importItems.size() )
{
  "importItems": [
  #foreach($importItem in $importItems)
  {
    "id": "${importItem.id}",
	"name": "$!encoder.jsonEncode( ${importItem.name} )",
	"row": "${importItem.row}",
	"column": "${importItem.column}",
	"expression": "$!encoder.jsonEncode( ${importItem.expression} )",
	"sheetNo": "${importItem.sheetNo}"
  }#if( $velocityCount < $size ),#end
  #end
  ]
}