#set( $size = $organisationUnitPrototypeGroups.size() )
{ "orgUnitPrototypeGroups": [
#foreach( $group in $organisationUnitPrototypeGroups )
  {
    "id": "$group.id",
    "name": "$!encoder.jsonEncode( ${group.displayName} )"
  }#if( $velocityCount < $size ),#end    
#end
]
#if( $usePaging ),
	"paging":#parse( "/dhis-web-commons/ajax/jsonPaging.vm" )
#end
}
