{ "orgUnitPrototypeGroup":
  {
    "id": "$!{organisationUnitPrototypeGroup.id}",
    "name": "$!encoder.jsonEncode( ${organisationUnitPrototypeGroup.displayName} )",
    "memberCount": "$!{memberCount}"
  }
}
