<script type="text/javascript">
	jQuery(document).ready(	function() {
	   jQuery("#availableList").dhisAjaxSelect({
            source: "../dhis-web-commons-ajax-json/getDataElementCategoryOptions.action",
            iterator: 'dataElementCategoryOptions',
            sortSelected: false,
            connectedTo: 'selectedList',
            handler: function(item) {
                var option = jQuery("<option />");
                option.text( item.name );
                option.attr( "value", item.id );

                return option;
            }
        });
	
		validation2( 'addDataElementCategoryForm', function( form ){ form.submit() }, {
			'beforeValidateHandler': function() { 
			    jQuery("#selectedList option").each(function() { jQuery(this).attr("selected", "true"); });
			    listValidator( 'memberValidator', 'categoryOptionNames' ); 
			},
			'rules': getValidationRules("dateElementCategory")
		});

		checkValueIsExist( "name", "validateDataElementCategory.action");	
	});

    var i18n_specify_category_option_name = '$encoder.jsEscape( $i18n.getString( "specify_category_option_name" ) , "'")';
    var i18n_category_option_name_already_exists = '$encoder.jsEscape( $i18n.getString( "category_option_name_already_exists" ) , "'")';
    var i18n_must_include_category_option = '$encoder.jsEscape( $i18n.getString( "must_include_category_option" ) , "'")';
</script>

<h3>$i18n.getString( "create_new_data_element_category" )</h3>

<form id="addDataElementCategoryForm" name="addDataElementCategoryForm" action="addDataElementCategory.action" method="post" class="inputForm">
  <table>
    <tr>
      <th colspan="2">$i18n.getString( "details" )</th>      
    </tr>
    <tr>
      <td><label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
      <td><input type="text" id="name" name="name"/></td>
    </tr>
    <tr>
      <td><label for="dataDimension">$i18n.getString( "use_as_data_dimension" )</label></td>
      <td><input type="checkbox" id="dataDimension" name="dataDimension" value="true" /></td>
    </tr>
    <tr>
      <td><label>$i18n.getString( "concept_name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
      <td colspan="3">
		<div style="inline">
			<select id="conceptId" name="conceptId">				
				#foreach( $concept in $concepts )
				<option value="$concept.id">$concept.name</option>
				#end
			</select>
		</div>
	  </td>
    </tr>   
    <tr>
      <td colspan="2" style="height:15px"></td>
    </tr>
  </table>  
  
  <table id="dataElementCategoryOptionSelectionArea">
    <colgroup>
      <col style="width: 500px;"/>
      <col/>
      <col style="width: 500px;"/>
      <col/>
    </colgroup>

    <thead>
      <tr>        
        <th>$i18n.getString( "available_category_options" )</th>
        <th></th>
        <th>$i18n.getString( "selected_category_options" )</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
            <select id="availableList" name="availableList" multiple="multiple" style="height: 200px; width: 100%;"></select>
        </td>

        <td style="text-align:center">
            <input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'availableList' );"/><br/>
            <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedList' );"/><br/>
            <input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'availableList' );"/><br/>
            <input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'selectedList' );"/>
        </td>

        <td>
            <select id="selectedList" name="selectedList" multiple="multiple" style="height: 200px; width: 100%; margin-top: 22px;"></select>
        </td>

        <td>
          <a onclick="moveUpSelectedOption('selectedList')" title="$i18n.getString( 'move_up' )"><img src="../images/move_up.png" style="border:0;cursor:pointer" alt="$i18n.getString( 'move_up' )"/></a><br/><br/>
          <a onclick="moveDownSelectedOption('selectedList')" title="$i18n.getString( 'move_down' )"><img src="../images/move_down.png" style="border:0;cursor:pointer" alt="$i18n.getString( 'move_down' )"/></a>
        </td>
      </tr>

    </tbody>
  </table>
  
  <p>
  	<input type="submit" value="$i18n.getString( 'add' )" style="width:100px">
    <input type="button" onclick="dhis2.commons.redirectCurrentPage( 'category.action' )" value="$i18n.getString( 'cancel' )" style="width:100px"/>
  </p>
  
</form>
