<script type="text/javascript">
	jQuery(document).ready(	function(){
		jQuery("#availableList").dhisAjaxSelect({
			source: "../dhis-web-commons-ajax-json/getDataElementCategories.action",
			iterator: 'dataElementCategories',
			sortSelected: false,
			connectedTo: 'selectedList',
			handler: function(item) {
				var option = jQuery("<option />");
				option.text( item.name );
				option.attr( "value", item.id );

				return option;
			}
		});

		validation2( 'editDataElementCategoryComboForm', function( form ) { 
			validateSelectedCategories( form );
		}, {
			'beforeValidateHandler': function() { 
				jQuery("#selectedList option").each(function() { jQuery(this).attr("selected", "true"); });
				listValidator( 'selectedCategories', 'selectedList' );
			},
			'rules': getValidationRules("dateElementCategoryCombo")
		});

		checkValueIsExist( "name", "validateDataElementCategoryCombo.action", {id: $dataElementCategoryCombo.id});				
	});
</script>

<h3>$i18n.getString( "edit_data_element_category_combo" )</h3>

<form id="editDataElementCategoryComboForm" name="editDataElementCategoryComboForm" action="updateDataElementCategoryCombo.action" method="post" class="inputForm">
  <input type="hidden" id="id" name="id" value="$dataElementCategoryCombo.id"/>
  
  <table id="detailsList">
    <thead>
      <tr>
        <th colspan="2">$i18n.getString( "data_element_category_combo_details" )</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width:120px"><label>$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="name" name="name" value="$encoder.htmlEncode( $dataElementCategoryCombo.displayName )"/></td>
      </tr>  
      <tr>
        <td><label for="skipTotal">$i18n.getString( "skip_total_in_reports" )</label></td>
        <td><input type="checkbox" id="skipTotal" name="skipTotal" value="true"#if( $dataElementCategoryCombo.skipTotal ) checked="checked"#end/></td>
      </tr>
      <tr>
      	<td colspan="2" style="height:15px"></td>
      </tr>
    </tbody>
  </table>

 <table id="dataElementCategorySelectionArea">
     <colgroup>
       <col style="width: 500px;"/>
       <col/>
       <col style="width: 500px;"/>
       <col/>
     </colgroup>

    <thead>
        <tr>        
		<th>$i18n.getString( "available_categories" )</th>
		<th></th>        
		<th>$i18n.getString( "selected_categories" )</th>
      </tr>
    </thead>
  
    <tbody>
      <tr>       
		<td>
          <select id="availableList" name="availableList" multiple="multiple" style="height: 200px; width: 100%;"></select>
        </td>
       </td>

        <td style="text-align:center">
        	<input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'availableList' );"/><br/>
            <input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedList' );"/><br/>
			<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'availableList' );"/><br/>
			<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'selectedList' );"/>
        </td>

		<td>
          <select id="selectedList" name="selectedList" multiple="multiple" style="height: 200px; width: 100%; margin-top: 22px;">
            #foreach ( $dataElementCategory in $dataElementCategories )
              <option value="$dataElementCategory.id">$encoder.htmlEncode( $dataElementCategory.name )</option>
            #end
          </select>
        </td>
        
		<td>
		  <a onclick="moveUpSelectedOption('selectedList')" title="$i18n.getString( 'move_up' )"><img src="../images/move_up.png" style="border:0;cursor:pointer" alt="$i18n.getString( 'move_up' )"/></a><br/><br/>
		  <a onclick="moveDownSelectedOption('selectedList')" title="$i18n.getString( 'move_down' )"><img src="../images/move_down.png" style="border:0;cursor:pointer" alt="$i18n.getString( 'move_down' )"/></a>		  
        </td> 
            
      </tr>

	  <tr>
		<td colspan="4">
			<select id="selectedCategories" name="selectedCategories" style="display:none"></select>
		</td>
      </tr>

    </tbody>
  </table>

<p>
	<input type="submit" name="update" value="$i18n.getString( 'update' )" style="width:10em" />
	<input type="button" name="cancel" onclick="dhis2.commons.redirectCurrentPage( 'categoryCombo.action' )" value="$i18n.getString( 'cancel' )" style="width:10em" />
</p>
       
</form>
