#set( $size = $dataSets.size() )
{ "dataSets": [
#foreach( $dataSet in $dataSets )
{
      "id": ${dataSet.id},
      "name": "$!encoder.jsonEncode( ${dataSet.name} )",
      "description": "$!encoder.jsonEncode( ${dataSet.description} )",
      "code": "$!encoder.jsonEncode( ${dataSet.code} )"
}#if( $velocityCount < $size ),#end
#end
]
}