<?xml version="1.0" encoding="UTF-8"?>

<equipmentType-type-attributes>
	#foreach( $equipmentTypeAttribute in $equipmentTypeAttributeList )	
		<equipmentType-type-attribute>
			<id>$equipmentTypeAttribute.equipmentTypeAttribute.id</id>
			<name>$equipmentTypeAttribute.equipmentTypeAttribute.name</name>
		</equipmentType-type-attribute>
	#end
</equipmentType-type-attributes>