#set($oucSize = $currentUser.getOrganisationUnit().getSortedChildren().size())
#if($callback)$!{callback}
(
#end
{
"contextPath":"$!{contextPath}",
"user":{
  "id":"$!currentUser.uid",
  "name":"$currentUser.name",
  "isAdmin":true,
  "ou":"$currentUser.getOrganisationUnit().uid",
  "ouc":[#foreach($ou in $currentUser.getOrganisationUnit().getSortedChildren())"$ou.uid"#if($velocityCount < $oucSize),#end#end]
 },
"rootNodes":[#foreach($node in $rootNodes){"id": "$!{node.uid}","text": "$!encoder.jsonEncode( ${node.name} )","level": 1,"hasChildrenWithCoordinates": $!{node.hasChildrenWithCoordinates()},"expanded": true}#if($velocityCount<$rootNodes.size()),#end#end],
"dimensions":[#foreach($dim in $dimensions){"id":"$!{dim.uid}","name":"$!encoder.jsonEncode($!{dim.displayName})"}#if($velocityCount<$dimensions.size()),#end#end],
"legendSets":[#foreach($set in $legendSets){"id":"$!{set.uid}","name":"$!encoder.jsonEncode($!{set.name})", "mapLegends":[#foreach($legend in $set.mapLegends){"id":"$!{legend.uid}","name":"$!{legend.name}","sv":"$!{legend.startValue}", "ev":"$!{legend.endValue}", "color":"$!{legend.color}"}#if($velocityCount<$set.mapLegends.size()),#end#end]}#if($velocityCount<$legendSets.size()),#end#end],
"organisationUnitLevels":[#foreach($level in $levels){"id":"$!{level.uid}","name":"$!encoder.jsonEncode($!{level.displayName})","level":"$!{level.level}"}#if($velocityCount<$levels.size()),#end#end],
"i18n":{
"dimensions": "$encoder.jsEscape($i18n.getString( 'dimensions' ) , "'")",
"row": "$encoder.jsEscape($i18n.getString( 'row' ) , "'")",
"column": "$encoder.jsEscape($i18n.getString( 'column' ) , "'")",
"filter": "$encoder.jsEscape($i18n.getString( 'filter' ) , "'")",
"table_layout": "$encoder.jsEscape($i18n.getString( 'table_layout' ) , "'")",
"show_totals": "$encoder.jsEscape($i18n.getString( 'show_totals' ) , "'")",
"show_subtotals": "$encoder.jsEscape($i18n.getString( 'show_subtotals' ) , "'")",
"hide_empty_rows": "$encoder.jsEscape($i18n.getString( 'hide_empty_rows' ) , "'")",
"display_density": "$encoder.jsEscape($i18n.getString( 'display_density' ) , "'")",
"font_size": "$encoder.jsEscape($i18n.getString( 'font_size' ) , "'")",
"digit_group_separator": "$encoder.jsEscape($i18n.getString( 'digit_group_separator' ) , "'")",
"comfortable": "$encoder.jsEscape($i18n.getString( 'comfortable' ) , "'")",
"compact": "$encoder.jsEscape($i18n.getString( 'compact' ) , "'")",
"large": "$encoder.jsEscape($i18n.getString( 'large' ) , "'")",
"small_": "$encoder.jsEscape($i18n.getString( 'small_' ) , "'")",
"normal": "$encoder.jsEscape($i18n.getString( 'normal' ) , "'")",
"reporting_period": "$encoder.jsEscape($i18n.getString( 'reporting_period' ) , "'")",
"organisation_unit": "$encoder.jsEscape($i18n.getString( 'organisation_unit' ) , "'")",
"organisation_units": "$encoder.jsEscape($i18n.getString( 'organisation_units' ) , "'")",
"parent_organisation_unit": "$encoder.jsEscape($i18n.getString( 'parent_organisation_unit' ) , "'")",
"user_organisation_unit": "$encoder.jsEscape($i18n.getString( 'user_organisation_unit' ) , "'")",
"user_organisation_unit_children": "$encoder.jsEscape($i18n.getString( 'user_organisation_unit_children' ) , "'")",
"table_options": "$encoder.jsEscape($i18n.getString( 'table_options' ) , "'")",
"create": "$encoder.jsEscape($i18n.getString( 'create' ) , "'")",
"update": "$encoder.jsEscape($i18n.getString( 'update' ) , "'")",
"cancel": "$encoder.jsEscape($i18n.getString( 'cancel' ) , "'")",
"delete_": "$encoder.jsEscape($i18n.getString( 'delete_' ) , "'")",
"save": "$encoder.jsEscape($i18n.getString( 'save' ) , "'")",
"hide": "$encoder.jsEscape($i18n.getString( 'hide' ) , "'")",
"add_new": "$encoder.jsEscape($i18n.getString( 'add_new' ) , "'")",
"manage_favorites": "$encoder.jsEscape($i18n.getString( 'manage_favorites' ) , "'")",
"search_for_favorites": "$encoder.jsEscape($i18n.getString( 'search_for_favorites' ) , "'")",
"overwrite_favorite": "$encoder.jsEscape($i18n.getString( 'overwrite_favorite' ) , "'")",
"delete_favorite": "$encoder.jsEscape($i18n.getString( 'delete_favorite' ) , "'")",
"prev": "$encoder.jsEscape($i18n.getString( 'prev' ) , "'")",
"next": "$encoder.jsEscape($i18n.getString( 'next' ) , "'")",
"rename": "$encoder.jsEscape($i18n.getString( 'rename' ) , "'")",
"overwrite": "$encoder.jsEscape($i18n.getString( 'overwrite' ) , "'")",
"share_with_other_people": "$encoder.jsEscape($i18n.getString( 'share_with_other_people' ) , "'")",
"sharing_settings": "$encoder.jsEscape($i18n.getString( 'sharing_settings' ) , "'")",
"can_view": "$encoder.jsEscape($i18n.getString( 'can_view' ) , "'")",
"can_edit_and_view": "$encoder.jsEscape($i18n.getString( 'can_edit_and_view' ) , "'")",
"none": "$encoder.jsEscape($i18n.getString( 'none' ) , "'")",
"public_access": "$encoder.jsEscape($i18n.getString( 'public_access' ) , "'")",
"search_for_user_groups": "$encoder.jsEscape($i18n.getString( 'search_for_user_groups' ) , "'")",
"available": "$encoder.jsEscape($i18n.getString( 'available' ) , "'")",
"selected": "$encoder.jsEscape($i18n.getString( 'selected' ) , "'")",
"indicators": "$encoder.jsEscape($i18n.getString( 'indicators' ) , "'")",
"all_indicator_groups": "$encoder.jsEscape($i18n.getString( 'all_indicator_groups' ) , "'")",
"select_indicator_group": "$encoder.jsEscape($i18n.getString( 'select_indicator_group' ) , "'")",
"data_elements": "$encoder.jsEscape($i18n.getString( 'data_elements' ) , "'")",
"all_data_element_groups": "$encoder.jsEscape($i18n.getString( 'all_data_element_groups' ) , "'")",
"select_data_element_group": "$encoder.jsEscape($i18n.getString( 'select_data_element_group' ) , "'")",
"data_sets": "$encoder.jsEscape($i18n.getString( 'data_sets' ) , "'")",
"reporting_rates": "$encoder.jsEscape($i18n.getString( 'reporting_rates' ) , "'")",
"periods": "$encoder.jsEscape($i18n.getString( 'periods' ) , "'")",
"select_period_type": "$encoder.jsEscape($i18n.getString( 'select_period_type' ) , "'")",
"weeks": "$encoder.jsEscape($i18n.getString( 'weeks' ) , "'")",
"last_week": "$encoder.jsEscape($i18n.getString( 'last_week' ) , "'")",
"last_4_weeks": "$encoder.jsEscape($i18n.getString( 'last_4_weeks' ) , "'")",
"last_12_weeks": "$encoder.jsEscape($i18n.getString( 'last_12_weeks' ) , "'")",
"months": "$encoder.jsEscape($i18n.getString( 'months' ) , "'")",
"last_month": "$encoder.jsEscape($i18n.getString( 'last_month' ) , "'")",
"last_3_months": "$encoder.jsEscape($i18n.getString( 'last_3_months' ) , "'")",
"last_12_months": "$encoder.jsEscape($i18n.getString( 'last_12_months' ) , "'")",
"bimonths": "$encoder.jsEscape($i18n.getString( 'bimonths' ) , "'")",
"last_bimonth": "$encoder.jsEscape($i18n.getString( 'last_bimonth' ) , "'")",
"last_6_bimonths": "$encoder.jsEscape($i18n.getString( 'last_6_bimonths' ) , "'")",
"quarters": "$encoder.jsEscape($i18n.getString( 'quarters' ) , "'")",
"last_quarter": "$encoder.jsEscape($i18n.getString( 'last_quarter' ) , "'")",
"last_4_quarters": "$encoder.jsEscape($i18n.getString( 'last_4_quarters' ) , "'")",
"sixmonths": "$encoder.jsEscape($i18n.getString( 'sixmonths' ) , "'")",
"last_sixmonth": "$encoder.jsEscape($i18n.getString( 'last_sixmonth' ) , "'")",
"last_2_sixmonths": "$encoder.jsEscape($i18n.getString( 'last_2_sixmonths' ) , "'")",
"years": "$encoder.jsEscape($i18n.getString( 'years' ) , "'")",
"this_year": "$encoder.jsEscape($i18n.getString( 'this_year' ) , "'")",
"last_year": "$encoder.jsEscape($i18n.getString( 'last_year' ) , "'")",
"last_5_years": "$encoder.jsEscape($i18n.getString( 'last_5_years' ) , "'")",
"financial_years": "$encoder.jsEscape($i18n.getString( 'financial_years' ) , "'")",
"last_financial_year": "$encoder.jsEscape($i18n.getString( 'last_financial_year' ) , "'")",
"last_5_financial_years": "$encoder.jsEscape($i18n.getString( 'last_5_financial_years' ) , "'")",
"prev_year": "$encoder.jsEscape($i18n.getString( 'prev_year' ) , "'")",
"next_year": "$encoder.jsEscape($i18n.getString( 'next_year' ) , "'")",
"select_all_children": "$encoder.jsEscape($i18n.getString( 'select_all_children' ) , "'")",
"table": "$encoder.jsEscape($i18n.getString( 'table' ) , "'")",
"chart": "$encoder.jsEscape($i18n.getString( 'chart' ) , "'")",
"map": "$encoder.jsEscape($i18n.getString( 'map' ) , "'")",
"home": "$encoder.jsEscape($i18n.getString( 'home' ) , "'")",
"data": "$encoder.jsEscape($i18n.getString( 'data' ) , "'")",
"categories": "$encoder.jsEscape($i18n.getString( 'categories' ) , "'")",
"style": "$encoder.jsEscape($i18n.getString( 'style' ) , "'")",
"parameters": "$encoder.jsEscape($i18n.getString( 'parameters' ) , "'")",
"for_standard_reports_only": "$encoder.jsEscape($i18n.getString( 'for_standard_reports_only' ) , "'")",
"please_create_a_table_first": "$encoder.jsEscape($i18n.getString( 'please_create_a_table_first' ) , "'")",
"indicators_cannot_be_specified_as_filter": "$encoder.jsEscape($i18n.getString( 'indicators_cannot_be_specified_as_filter' ) , "'")",
"categories_cannot_be_specified_as_filter": "$encoder.jsEscape($i18n.getString( 'categories_cannot_be_specified_as_filter' ) , "'")",
"data_element_group_sets_cannot_be_specified_together_with_data_sets": "$encoder.jsEscape($i18n.getString( 'data_element_group_sets_cannot_be_specified_together_with_data_sets' ) , "'")",
"at_least_one_dimension_must_be_specified_as_row_or_column": "$encoder.jsEscape($i18n.getString( 'at_least_one_dimension_must_be_specified_as_row_or_column' ) , "'")",
"at_least_one_period_must_be_specified_as_column_row_or_filter": "$encoder.jsEscape($i18n.getString( 'at_least_one_period_must_be_specified_as_column_row_or_filter' ) , "'")",
"example1": "$encoder.jsEscape($i18n.getString( 'example1' ) , "'")",
"example2": "$encoder.jsEscape($i18n.getString( 'example2' ) , "'")",
"example3": "$encoder.jsEscape($i18n.getString( 'example3' ) , "'")",
"example4": "$encoder.jsEscape($i18n.getString( 'example4' ) , "'")",
"example5": "$encoder.jsEscape($i18n.getString( 'example5' ) , "'")",
"example6": "$encoder.jsEscape($i18n.getString( 'example6' ) , "'")",
"example7": "$encoder.jsEscape($i18n.getString( 'example7' ) , "'")",
"example8": "$encoder.jsEscape($i18n.getString( 'example8' ) , "'")",
"layout": "$encoder.jsEscape($i18n.getString( 'layout' ) , "'")",
"options": "$encoder.jsEscape($i18n.getString( 'options' ) , "'")",
"download": "$encoder.jsEscape($i18n.getString( 'download' ) , "'")",
"favorites": "$encoder.jsEscape($i18n.getString( 'favorites' ) , "'")",
"include_regression": "$encoder.jsEscape($i18n.getString( 'include_regression' ) , "'")",
"include_cumulative": "$encoder.jsEscape($i18n.getString( 'include_cumulative' ) , "'")",
"sort_order": "$encoder.jsEscape($i18n.getString( 'sort_order' ) , "'")",
"low_to_high": "$encoder.jsEscape($i18n.getString( 'low_to_high' ) , "'")",
"high_to_low": "$encoder.jsEscape($i18n.getString( 'high_to_low' ) , "'")",
"top_limit": "$encoder.jsEscape($i18n.getString( 'top_limit' ) , "'")",
"plain_data_sources": "$encoder.jsEscape($i18n.getString( 'plain_data_sources' ) , "'")",
"graphics": "$encoder.jsEscape($i18n.getString( 'graphics' ) , "'")",
"data_sets_cannot_be_specified_as_filter": "$encoder.jsEscape($i18n.getString( 'data_sets_cannot_be_specified_as_filter' ) , "'")",
"share": "$encoder.jsEscape($i18n.getString( 'share' ) , "'")",
"interpretation": "$encoder.jsEscape($i18n.getString( 'interpretation' ) , "'")",
"write_your_interpretation": "$encoder.jsEscape($i18n.getString( 'write_your_interpretation' ) , "'")",
"legend_set": "$encoder.jsEscape($i18n.getString( 'legend_set' ) , "'")",
"select_organisation_units": "$encoder.jsEscape($i18n.getString( 'select_organisation_units' ) , "'")",
"select_boundaries_and_levels": "$encoder.jsEscape($i18n.getString( 'select_boundaries_and_levels' ) , "'")",
"select_organisation_unit_levels": "$encoder.jsEscape($i18n.getString( 'select_organisation_unit_levels' ) , "'")",
"totals": "$encoder.jsEscape($i18n.getString( 'totals' ) , "'")",
"details": "$encoder.jsEscape($i18n.getString( 'details' ) , "'")",
"select_boundaries_and_groups": "$encoder.jsEscape($i18n.getString( 'select_boundaries_and_groups' ) , "'")",
"select_organisation_unit_groups": "$encoder.jsEscape($i18n.getString( 'select_organisation_unit_groups' ) , "'")",
"user_organisation_unit_grandchildren": "$encoder.jsEscape($i18n.getString( 'user_organisation_unit_grandchildren' ) , "'")",
"allow_external_access": "$encoder.jsEscape($i18n.getString( 'allow_external_access' ) , "'")",
"show_hierarchy": "$encoder.jsEscape($i18n.getString( 'show_hierarchy' ) , "'")",
"daily": "$encoder.jsEscape($i18n.getString( 'daily' ) , "'")",
"weekly": "$encoder.jsEscape($i18n.getString( 'weekly' ) , "'")",
"monthly": "$encoder.jsEscape($i18n.getString( 'monthly' ) , "'")",
"bimonthly": "$encoder.jsEscape($i18n.getString( 'bimonthly' ) , "'")",
"quarterly": "$encoder.jsEscape($i18n.getString( 'quarterly' ) , "'")",
"sixmonthly": "$encoder.jsEscape($i18n.getString( 'sixmonthly' ) , "'")",
"yearly": "$encoder.jsEscape($i18n.getString( 'yearly' ) , "'")",
"financial_oct": "$encoder.jsEscape($i18n.getString( 'financial_oct' ) , "'")",
"financial_july": "$encoder.jsEscape($i18n.getString( 'financial_july' ) , "'")",
"financial_april": "$encoder.jsEscape($i18n.getString( 'financial_april' ) , "'")"
}
}
#if($callback)
)
#end
