<script type="text/javascript">
jQuery( document ).ready( function()
{
    validation2( 'addOrganisationUnitGroupForm', function( form )
    {
        form.submit();
    }, {
        'beforeValidateHandler' : function()
        {
			jQuery( "#selectedDataSetsList" ).find( "option" ).attr( "selected", "selected" );

            #tblDynamicAttributesJavascript()
        },
        'rules' : getValidationRules( "organisationUnitGroup" )
    } );
	
	jQuery( "#availableDataSetsList" ).dhisAjaxSelect({
		source: "../dhis-web-commons-ajax-json/getDataSets.action",
		iterator: "dataSets",
		connectedTo: "selectedDataSetsList",
		handler: function( item ) {
			var option = jQuery( "<option />" );
			option.text( item.name );
			option.attr( "value", item.id );
			
			return option;
		}
	});

    checkValueIsExist( "name", "validateOrganisationUnitGroup.action" );
	checkValueIsExist( "shortName", "validateOrganisationUnitGroup.action" );
	checkValueIsExist( "code", "validateOrganisationUnitGroup.action" );
		
} );
</script>

<h3>$i18n.getString( "crease_new_org_unit_group" ) #openHelp( "ou_groups_edit" )</h3>

#sharingCreateNotification( "organisationUnitGroup" )

<form name="addOrganisationUnitGroupForm" id="addOrganisationUnitGroupForm" action="addOrganisationUnitGroup.action" method="post" class="inputForm">

<input type="hidden" id="symbol" name="symbol">

<table>
    <tr>
        <th colspan="3">$i18n.getString( "details" )</th>
    </tr>
    <tr>
        <td style="width:120px"><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td colspan="2"><input type="text" id="name" name="name"></td>
    </tr>
	<tr>
		<td><label for="shortName">$i18n.getString( "short_name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="shortName" name="shortName" /></td>
	</tr>
	<tr>
		<td><label for="code">$i18n.getString( "code" )</label></td>
		<td><input type="text" id="code" name="code" /></td>
	</tr>
    <tr>
    	<td style="height:35px"><label for="symbol">$i18n.getString( "symbol" )</td>
    	<td><a href="javascript:openSymbolDialog()">$i18n.getString( "select_symbol" )</a>
    	   <img id="symbolImg" style="margin-left: 30px;"></td>
    </tr>
</table>

#tblDynamicAttributes( { "attributes": $attributes } )

<table>
	<tr>
		<td>
			#organisationUnitSelectionTree( true true false )
		</td>
	</tr>
</table>

<table id="dataSetSelectionArea">
	<colgroup>
		<col style="width: 500px;"/>
		<col/>
		<col style="width: 500px;"/>
	</colgroup>
	<thead>
	<tr>
		<th>$i18n.getString( "available_data_sets" )</th>
		<th>$i18n.getString( "filter" )</th>
		<th>$i18n.getString( "selected_data_sets" )</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<select id="availableDataSetsList" multiple="multiple" style="height: 200px; width: 100%;"></select>
			</td>
			<td style="text-align:center">
				<input type="button" value="&gt;" title="$i18n.getString( 'move_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'availableDataSetsList' );"/><br/>
				<input type="button" value="&lt;" title="$i18n.getString( 'remove_selected' )" style="width:50px" onclick="dhisAjaxSelect_moveAllSelected( 'selectedDataSetsList' );"/><br/>
				<input type="button" value="&gt;&gt;" title="$i18n.getString('move_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'availableDataSetsList' );"/><br/>
				<input type="button" value="&lt;&lt;" title="$i18n.getString('remove_all')" style="width:50px" onclick="dhisAjaxSelect_moveAll( 'selectedDataSetsList' );"/>
			</td>
			<td>
				<select id="selectedDataSetsList" name="selectedDataSetsList" multiple="multiple" style="height: 200px; width: 100%; margin-top: 24px;"></select>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<input type="submit" name="save" value="$i18n.getString( 'save' )" style="width:10em"/>
	<input type="button" onclick="window.location.href='organisationUnitGroup.action'" value="$i18n.getString( 'cancel' )" style="width:10em"/>
</p>

</form>

#parse( "dhis-web-maintenance-organisationunit/organisationUnitGroupSymbol.vm" )
