<?xml version="1.0" encoding="UTF-8"?>
<periodSet>
  <periods>
  #foreach( $period in $periods )
    <period id="$period.id">$period.startDate - $period.endDate</period>
  #end
  </periods>
</periodSet>