<script type="text/javascript" src="javascript/equipmentDataEntry.js"></script>
<script type="text/javascript">
	//loadMetaData();	
	
	var i18n_select_period = '$encoder.jsEscape( $i18n.getString( "select_period" ) , "'")';
</script>
<script>
    
	jQuery(document).ready( function(){
	currentDiv = 'dataEntryForm';
	isSubmit = true;
    jQuery("#dataEntryForm").validate({
		meta:"validate"
		,errorElement:"span"
		,submitHandler: function(form)
		{
        	if( isSubmit ) 
            {
            	editEquipmentDataEntryForm();
            }
		}
    	});
    }); 
    
</script>



<h3>$i18n.getString( "equipment_dataentry" ) #openHelp( "equipmentDataEntry" )</h3>
<!--
<div id="currentSelection">
	<span style="float:left;cursor:pointer;margin-right:5px;"><img src="../images/hide.png" title="$i18n.getString( 'close' )" onclick="closeCurrentSelection()"></span>
	<span id="currentOrganisationUnit">$i18n.getString( "no_organisationunit_selected" )</span> - <span id="currentPeriod">$i18n.getString( "no_period_selected" )</span/><br>
	<span id="currentDataElement">$i18n.getString( "no_dataelement_selected" )</span>
</div>
-->
<!--
#foreach( $dataSet in $dataSetList )
	$dataSet.PeriodType.id --------- $dataSet.PeriodType.name
	<br>
#end
-->
<!--<form id="dataEntryForm" name="dataEntryForm" action="saveDataEntryForm.action" method="post" >-->
<form id="dataEntryForm" name="dataEntryForm" method="post" >	
<div>
	<input type="hidden" id="organisationUnitId" name="organisationUnitId" value="$organisationUnit.id">
	<input type="hidden" id="equipmentTypeId" name="equipmentTypeId" value="$equipmentType.name">
	<input type="hidden" id="equipmentId" name="equipmentId" value="$equipmentId">
</div>	
<div class="inputCriteria" style="width:600px;height:150px;">
<table>
	<tr>
		<td><label for="selectedOrganisationUnit">$i18n.getString( "registering_unit" )</label></td>
		<td><input type="text" id="selectedOrganisationUnit" readonly="readonly" value="$!organisationUnit.name" style="width:367px"></td>
	</tr>
	<tr>
		<td><label for="selectedEquipmenttype">$i18n.getString( "equipmenttype" )</label></td>
		<td><input type="text" id="selectedEquipmenttype" readonly="readonly" value="$!equipmentType.name" style="width:367px"></td>
	</tr>
	<!--
	<tr>
		<td><label for="equipmentTypeAttribute">$i18n.getString( "equipmenttype_attribute" )</label></td>
		<td>$equipmentTypeAttributeName</td>
	</tr>
	<tr>
		<td><label for="selectedEquipmenttype">$i18n.getString( "equipment_details" )</label></td>
		<td>$equipmentTypeAttributeValue</td>
	</tr>
	-->
	<tr>
		<td><label for="equipmentTypeAttribute">$i18n.getString( "model" )</label></td>
		<td><input type="text" id="modelName" readonly="readonly" value="$modelName" style="width:367px"></td>
	</tr>				
	<tr>
		<td><label for="selectedDataSetId">$i18n.getString( "dataset" )</label></td>
		<td><select id="selectedDataSetId" name="selectedDataSetId" style="width:371px" onchange="getPeriods()">
				<!--<option value="0">$i18n.getString( "please_select" )</option>-->
				#foreach( $dataSet in $dataSetList )
					<!--$dataSet.periodtype.id --------- $dataSet.periodtype.name-->
					<!--<option value="$dataSet.id:$dataSet.PeriodType.name">$dataSet.name</option>-->
					<option value="$dataSet.id">$dataSet.name</option>
				#end
			</select>
			<span id="loaderSpan" style="display:none"><img src='../images/ajax-loader-bar.gif'></span></td>
	</tr>
	<tr>
		<td><label for="selectedPeriodId">$i18n.getString( "period" )</label></td>
		<td><select id="selectedPeriodId" name="selectedPeriodId" style="width:220px" disabled="disabled" onchange="loadDataEntryForm()">
				<option value="-1">[$i18n.getString( "select" )]</option>
				#foreach( $period in $periods )
    				    <option value="$period.id">$encoder.htmlEncode( $period.name )</option>
    			    #end
			</select>
			<input type="button" id="prevButton" style="width:75px" value="$i18n.getString( 'prev_year' )" title="$i18n.getString('earlier_periods')" onclick="getAvailablePeriodsTemp( 'selectedPeriodId', 'selectedPeriodId', '-1' )" disabled="disabled">
			<input type="button" id="nextButton" style="width:75px" value="$i18n.getString( 'next_year' )" title="$i18n.getString('later_periods')" onclick="getAvailablePeriodsTemp( 'selectedPeriodId', 'selectedPeriodId', '1' )" disabled="disabled">
		</td>
	</tr>	
</table>
</div>

#parse( "/dhis-web-commons/loader/loader.vm" )
<div id='dataEntryFormDiv'></div> <!-- DataEntry Form -->  	


<p>
	<input type="submit" class="button" id="saveButton" name="saveButton" value="$i18n.getString( 'save' )" disabled="disabled"/>
	<!--<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='enquipmentSelect.action'" />-->
	<input type="button" value="$i18n.getString( 'cancel' )" onclick="loadAllEquipments();"/>
</p>

</form>

<script type="text/javascript">
jQuery( document ).ready( function()
{
	getPeriods();
});
</script>
