<script type="text/javascript" src="javascript/model.js"></script>
<span id="message" style="display:block">$encoder.xmlEncode( $message )</span>

<br/><br/>

<input type="button" value="$i18n.getString( 'back' )" onclick="window.location.href='model.action'" />

<!--<input type="button" value="$i18n.getString( 'back' )" onclick="loadAllModels();"/>-->
