<script type="text/javascript" src="javascript/model.js"></script>
## Macro for generating the jQuery validation rules 
#macro( validate $type $require )
  #if( $type == "NUMBER" )
  	{validate:{ number:true #if($require), required:true #end }}
  #elseif( $require )
  	{validate:{required:true}}
  #end
#end

<script>
    
    jQuery(document).ready( function(){

        currentDiv = 'modelForm';
        isSubmit = true;
        
        jQuery("#modelForm").validate({
                 meta:"validate"
                ,errorElement:"span"
                ,submitHandler: function(form)
                    {
                        if( isSubmit ) 
                        {
                            addModel();
                        }
                    }
            });
    }); 
    
</script>

<script type="text/javascript">
	checkValueIsExist( "name", "validateModel.action");
</script>
<h3>$i18n.getString( "add_new_model" )</h3>	

<form id="modelForm" name="modelForm" method="post" >
<input type="hidden" id="modelType" name="modelType" value="$modelType.id" />	

	<table>
		<tr>
			<td>$i18n.getString( "modelType" ) : </th>
			<td>$modelType.name</th>
		</tr>
	</table>

<table>
<tr><td>&nbsp;</td></tr>
<tr>
        <td><label>$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="name" name="name" class="{validate:{required:true, rangelength:[4,160]}}"/></td>
    </tr>   
    
    <tr>
        <td><label>$i18n.getString( "description" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
        <td><input type="text" id="description" name="description" class="{validate:{required:true, minlength:4}}"/></td>
    </tr>
</table>	
#if( $isCustom )

	$customDataEntryFormCode
	
#else
	
<div id="defaultScreen" >		
<!-- ATTRIBUTES -->
<table>
	<tr><th colspan="2" class="heading-column">$i18n.getString( "modelType_details" )</th></tr>
<tr>
<td>
<table>
<tr><td>&nbsp;</td></tr>
#if ( $modelTypeAttributes.size() > 0) 	
	<!--
	<tr>
		<td><label>$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" class="{validate:{required:true, rangelength:[4,160]}}"/></td>
	</tr>	
	
	<tr>
		<td><label>$i18n.getString( "description" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="description" name="description" class="{validate:{required:true, minlength:4}}"/></td>
	</tr>
	-->
	<!--<tr><th colspan="2" class="heading-column">$i18n.getString( "modelType_attribute" )</th></tr>-->
	#foreach($attribute in $modelTypeAttributes )
		<tr>
			<td class='text-column'><label>$attribute.name #if($attribute.mandatory)<em title="$i18n.getString( 'required' )" class="required">*</em> #end</label></td>
			<td class="input-column">
				#if( $attribute.valueType == "YES/NO" )
					<select id="attr$attribute.id"  name="attr$attribute.id" > 
						<option value="" >[$i18n.getString( "please_select" )]</option>             
						<option value="true">$i18n.getString( "yes" )</option>
						<option value="false" >$i18n.getString( "no" )</option>
					</select>                
				#elseif( $attribute.valueType == "DATE" )
						<input type="text" id="attr$attribute.id" name="attr$attribute.id" class='#validate( "default"  $attribute.mandatory )' />
						<script type="text/javascript">
						   datePickerValid( 'attr$attribute.id' );
						</script>                    
				#elseif( $attribute.valueType == "COMBO" )
					<select  id="attr$attribute.id" name="attr$attribute.id" class='#validate( "default"  $attribute.mandatory )'>
						<!--Collections.sort($attribute.attributeOptions))-->
						##set ( $options = $sorter.sort($attribute.attributeOptions))
						<option value="">[$i18n.getString( "please_select" )]</option>
						#foreach ($option in $!modelTypeAttributesOptionsMap.get( $attribute.id ) )
							<option value="$option.id" >$option.name</option>
						#end						
					</select>
				#else 
					<input type="text" id="attr$attribute.id" name="attr$attribute.id" class="{validate:{required:$attribute.mandatory #if($!attribute.noChars),maxlength:$attribute.noChars #end #if($attribute.valueType=='NUMBER'),number:true #end }}" />
				#end
			</td>		
		</tr>
		
	#end
#end
</table>
</td>
<td>&nbsp;</td>
<td><!--<img src="$outPutStream" alt="Model Image" width="100" height="100"/>-->
	<img src="showModelTypeImage.action?id=$modelType.id" style="width:200px;height:200px;" />
</td>
</tr>
</table>
</div>

#end
	<p>
		<input type="submit" class="button" value="$i18n.getString( 'add' )"/>
		<input type="button" class="button" value="$i18n.getString( 'back' )" onclick="loadAllModels();"/>
	</p>
</form>

<script>
    var i18n_error_connect_to_server = '$encoder.jsEscape( $i18n.getString( "error_connect_to_server" ) , "'" )';
    var i18n_add_equipment_successfully = '$encoder.jsEscape( $i18n.getString( "add_equipment_successfully" ) , "'" )';

</script>