<script>
	jQuery(document).ready(	function(){
		validation( 'activityPlanForm', function(form){
			if(getFieldValue('export')=='false'){
				showActitityList();
			}
			else{
				exportActitityList('xls');
			}
		});
		
		setFieldValue('searchByProgramStage', 'true');
		setFieldValue('hideLink', 'true');
	});	
</script>

<h3 id='mainLinkLbl'>$i18n.getString( "visit_schedule_form" ) #openHelp('visit_schedule')</h3>
<form id='activityPlanForm' name='activityPlanForm'>
	<input type='hidden' id='isRegistration' name= 'isRegistration' value='false'>
	<input type='hidden' id='listAll' name='listAll'>
	<input type='hidden' id='sendToList' name='sendToList'>
	<input type='hidden' id='programStageName' name='programStageName'>
	<input type='hidden' id='programStageInstanceId' name='programStageInstanceId'>
	<input type='hidden' id='searchByProgramStage' name='searchByProgramStage' value="false">
	<input type='hidden' id='orgunitId' name='orgunitId' value='$organisationUnit.id' >
	<input type="hidden" id='hideLink' name='hideLink' value='false'>
	<input type='hidden' id='isSearchByProgram' name='isSearchByProgram' value='false' >
	<input type='hidden' id='export' name= 'export'>
	<input type='hidden' class='stage-object-selected'>
	<select id='displayOnVisitSchedule' name='displayOnVisitSchedule' class='hidden'>
		#foreach( $patientAttribute in $patientAttributes)
			<option value='$patientAttribute.id'>$patientAttribute.name</option>
		#end
	</select>
	
	<div id='selectDiv' class='advanced-search' style='width:550px;'>
		<table style="margin-bottom:8px;width:550px;">    
			<tr>
				<td>
					<label>$i18n.getString( "registering_unit" )</label>
				</td>
				<td>
					<input type="text" id='orgunitName' readonly="readonly" #if( $organisationUnit ) value="$encoder.htmlEncode( $organisationUnit.name )" #else value="[$i18n.getString( 'please_select_village' )]" #end >
				</td>
			</tr> 
			<tr>
				<td>$i18n.getString('program')</td>
				<td>
					<select id='programIdAddPatient' name='programIdAddPatient' class="{validate:{required:true}}" >
						#if($programs.size()==0)
						<option value="">[$i18n.getString( "none_program" )]</option>
						#elseif($programs.size()>1)
						<option value="">[$i18n.getString( "please_select" )]</option>
						#end
						#foreach($program in $programs)
							#if($program.type=='1') 
								<option value="$program.id" type='$program.type'>$program.displayName</option>
							#end
						#end
					</select>
				</td>
			</tr>
			<tr>
				<td>$i18n.getString('status')</td>
				<td>
					<select id="statusEvent" name="statusEvent" onchange="statusEventOnChange()">
						<option value='3_4' selected>$i18n.getString("overdue_scheduled")</option>
						<option value='3'>$i18n.getString("scheduled_in_future")</option> 
						<option value='4'>$i18n.getString("overdue")</option>
						<option value='2'>$i18n.getString("incomplete")</option>
						<option value='2_3_4'>$i18n.getString("scheduled_overdue_incomplete")</option>
						<option value='1'>$i18n.getString("completed")</option>
						<option value='1_2_3_4'>$i18n.getString("all")</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>$i18n.getString('show_events_since')</td>
				<td>
					<select id="showEventSince" name="showEventSince" onchange="setDateRange();">
						<option value='-1'>$i18n.getString("one_day")</option>
						<option value='-3'>$i18n.getString("three_days")</option>
						<option value='-7' selected>$i18n.getString("one_week")</option>
						<option value='-30'>$i18n.getString("one_month")</option>
						<option value='ALL'>$i18n.getString("all")</option>
					</select>
					<input type='text' id='startDueDate' name='startDueDate' class='hidden'>
					&nbsp;
					<input type='checkbox' id='useCalendar' name='useCalendar' onchange="displayCadendar();"> $i18n.getString('use_calendar')
				</td>
			</tr>
			<tr>
				<td>$i18n.getString('show_events_up_to')</td>
				<td>
					<select id="showEventUpTo" name="showEventUpTo" onchange="setDateRange();">
						<option value='1'>$i18n.getString("one_day")</option>
						<option value='3'>$i18n.getString("three_days")</option>
						<option value='7' selected>$i18n.getString("one_week")</option>
						<option value='30'>$i18n.getString("one_month")</option>
						<option value='ALL'>$i18n.getString("all")</option>
					</select>
					<input type='text' id='endDueDate' name='endDueDate' class='hidden'>
				</td>
			</tr>
			<tr>
				<td>$i18n.getString('use_data_from_level')</td>
				<td>
					<input type="radio" id='facilityLB1' name="facilityLB" value="selected" checked> $i18n.getString('selected')
					<input type="radio" id='facilityLB2' name="facilityLB" value="childrenOnly"> $i18n.getString('children_only')
					<input type="radio" id='facilityLB3' name="facilityLB" value="all"> $i18n.getString('all')
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" class='large-button' id='listPatientBtn' value="$i18n.getString( 'show_activity_list' )" onclick="setFieldValue('export', false);">
					<input type="submit" class='large-button' value="$i18n.getString( 'export_xls' )" onclick="setFieldValue('export', true);">
				</td>
			</tr>
		</table>
	</div>
</form>


<div id='listPatientDiv'></div> <!-- List searching patients -->
<div id='patientDashboard'></div> <!-- Patient dashboard -->
<div id='editPatientDiv'></div> <!-- Add Patient Form -->
<div id='resultSearchDiv' style='font-size:13px'></div> <!-- List searching patients -->
<div id='enrollmentDiv'></div> <!-- Program Enrollment Form -->
<div id='listRelationshipDiv'></div> <!-- List relationship -->
<div id='addRelationshipDiv'></div> <!-- Add relationship -->
<div id='migrationPatientDiv'></div> <!-- Migration Patient -->

<div id='contentDataRecord'></div>

#parse( "dhis-web-commons/loader/loader.vm" )
	
<div class='hidden'>
	<input type='textbox' id='currentDate' name='currentDate'>
	<script>
		datePicker( 'currentDate', false );
	</script>
</div>

<script>
	unSave = false;
	statusSearching = 2;
	
	var i18n_please_select = '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'")';
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_value_must_number = '$encoder.jsEscape( $i18n.getString( "value_must_number" ) , "'")';
	var i18n_value_must_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_positive_integer" ) , "'")';
	var i18n_value_must_zero_or_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_zero_or_positive_integer" ) , "'")';
	var i18n_value_must_negative_integer = '$encoder.jsEscape( $i18n.getString( "value_must_negative_integer" ) , "'")';
    var i18n_invalid_date =   '$encoder.jsEscape( $i18n.getString( "invalid_date" ) , "'")' + ".\n " 
							+ '$encoder.jsEscape( $i18n.getString( "format_date" ) , "'")' + " '" 
							+ dateFormat.replace('yy', 'yyyy') + " '" ; 
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")';
    var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
    var i18n_error_required_field = '$encoder.jsEscape( $i18n.getString( "error_required_field" ) , "'")';
	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_date_is_greater_then_or_equals_due_date = '$encoder.jsEscape( $i18n.getString( "date_is_greater_then_or_equals_due_date" ) , "'")';
	
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'")';
	var i18n_specify_data_element = '$encoder.jsEscape( $i18n.getString( "specify_data_element" ) , "'")';
	var i18n_comfirm_delete_event = '$encoder.jsEscape( $i18n.getString( "comfirm_delete_event" ) , "'")';
	var i18n_delete_event_success = '$encoder.jsEscape( $i18n.getString( "delete_event_success" ) , "'")';
	var i18n_report_date = '$encoder.jsEscape( $i18n.getString( "report_date" ) , "'")';
	var i18n_search_events_by_dataelements = '$encoder.jsEscape( $i18n.getString( "search_events_by_dataelements" ) , "'")';
	var i18n_list_all_events = '$encoder.jsEscape( $i18n.getString( "list_all_events" ) , "'")';
	var i18n_no_compulsary_data_elements = '$encoder.jsEscape( $i18n.getString( "no_compulsary_data_elements" ) , "'")';
	var i18n_remove_empty_events_success = '$encoder.jsEscape( $i18n.getString( "remove_empty_events_success" ) , "'")';
	var i18n_confirm_remove_empty_events = '$encoder.jsEscape( $i18n.getString( "confirm_remove_empty_events" ) , "'")';
	var i18n_report_date = '$encoder.jsEscape( $i18n.getString( "report_date" ) , "'")';
	
	var i18n_male = '$encoder.jsEscape( $i18n.getString( "male" ) , "'")';
	var i18n_female = '$encoder.jsEscape( $i18n.getString( "female" ) , "'")';
	var i18n_transgender = '$encoder.jsEscape( $i18n.getString( "transgender" ) , "'")';
	var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
	var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
	var i18n_specify_search_criteria = '$encoder.jsEscape( $i18n.getString( "specify_search_criteria" ) , "'")';
	var i18n_add_filter = '$encoder.jsEscape( $i18n.getString( "add_filter" ) , "'")';
	var i18n_clear_filter = '$encoder.jsEscape( $i18n.getString( "clear_filter" ) , "'")';
	var i18n_specify_a_date = '$encoder.jsEscape( $i18n.getString( "specify_a_date" ) , "'")';
	var i18n_clear = '$encoder.jsEscape( $i18n.getString( "clear" ) , "'")';
	var i18n_insert_a_report_date = '$encoder.jsEscape( $i18n.getString( "insert_a_report_date" ) , "'")';
    var i18n_comment_added = '$encoder.jsEscape( $i18n.getString( "comment_added" ) , "'")';
	var i18n_patient_details_and_history = '$encoder.jsEscape( $i18n.getString( "patient_details_and_history" ) , "'")';
	var i18n_please_select_program_stage = '[' + '$encoder.jsEscape( $i18n.getString( "please_select_program_stage" ) , "'")' + ']';
	var i18n_update = '$encoder.jsEscape( $i18n.getString( "update" ) , "'")';
	var i18n_please_select_criteria = '[' + '$encoder.jsEscape( $i18n.getString( "please_select_criteria" ) , "'")' + ']';
	var i18n_program_stage = '$encoder.jsEscape( $i18n.getString( "program_stage" ) , "'")';
	var i18n_main_form_link = '$encoder.jsEscape( $i18n.getString( "visit_schedule_form" ) , "'")';
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'")';
	var i18n_specify_data_element = '$encoder.jsEscape( $i18n.getString( "specify_data_element" ) , "'")';
	var i18n_comfirm_delete_event = '$encoder.jsEscape( $i18n.getString( "comfirm_delete_event" ) , "'")';
	var i18n_delete_event_success = '$encoder.jsEscape( $i18n.getString( "delete_event_success" ) , "'")';
	var i18n_report_date = '$encoder.jsEscape( $i18n.getString( "report_date" ) , "'")';
	var i18n_search_events_by_dataelements = '$encoder.jsEscape( $i18n.getString( "search_events_by_dataelements" ) , "'")';
	var i18n_list_all_events = '$encoder.jsEscape( $i18n.getString( "list_all_events" ) , "'")';
	var i18n_no_compulsary_data_elements = '$encoder.jsEscape( $i18n.getString( "no_compulsary_data_elements" ) , "'")';
	var i18n_remove_empty_events_success = '$encoder.jsEscape( $i18n.getString( "remove_empty_events_success" ) , "'")';
	var i18n_confirm_remove_empty_events = '$encoder.jsEscape( $i18n.getString( "confirm_remove_empty_events" ) , "'")';
	var i18n_report_date = '$encoder.jsEscape( $i18n.getString( "report_date" ) , "'")';
	var i18n_comment = '$encoder.jsEscape( $i18n.getString( "comment" ) , "'")';
	var i18n_message = '$encoder.jsEscape( $i18n.getString( "message" ) , "'")';
	
	setDateRange();
</script>
