<script>
	
	jQuery(document).ready(	function(){

		currentDiv = 'patientForm';
		checkedDuplicate = false;
		
		jQuery("#patientForm").validate({
				 meta:"validate"
				,errorElement:"span"
				,submitHandler: function(form)
					{
						#if($!relatedProgram)
							var programId = getFieldValue("relatedProgramId");
							validateAddPatient(programId, true, isContinue);
						#else
							var programId = getFieldValue('programIdAddPatient');
							validateAddPatient(programId, false, isContinue);
						#end
						
					}
				,beforeValidateHandler: function(form)
					{
						var dobType = $('#patientForm [id=dobType]').val();
						
						if( dobType=='V' || dobType=='D' ) 
						{
							var birthDate = $('#patientForm [id=birthDate]').val();
							if( birthDate != '' ){
								$("#patientForm [id=memberValidator]").val(birthDate);
							}
						}else{
							var age = $('#patientForm [id=age]').val();
							$("#patientForm [id=memberValidator]").val(age);
						}
					}
			});
		
		#if($!customRegistrationForm)
		#else
			datePickerValid( 'patientForm [id=registrationDate]', true );
			datePickerValid( 'patientForm [id=birthDate]' );
			datePickerValid( 'patientForm [id=deathDate]', false );
		#end
		addEventForPatientForm( 'patientForm' );
	});	
	
	addRelationship = false;
	hideById('patientForm [id=age]');
	hideById('mainLinkLbl');
</script>

<h3 id='patientMamagementLink'>
	<a href="javascript:loadPatientList();">$i18n.getString( 'patient_management' )</a>
	#if($!relatedProgram)
		&#8226; <a href="javascript:showPatientDashboardForm($!patientId);">$i18n.getString( 'patient_dashboard' )</a>
	#end
	&#8226; $i18n.getString( "add_new_patient" )
</h3>

<form id="patientForm" name="patientForm" method="post" >

#if($relatedProgram)
	<input type='hidden' name="relationshipTypeId" id="relationshipTypeId" value="$relatedProgram.relationshipType.id">
	<input type='hidden' name="relationshipFromA" id="relationshipFromA" value="$relatedProgram.relationshipFromA" >
	<input type='hidden' name="relationshipId" id="relationshipId" value="$patientId">
	<input type='hidden' name="relatedProgramId" id="relatedProgramId" value="$program.id" >
#else
	<input type="hidden" id="representativeId" name="representativeId"/> 
	<input type="hidden" id="relationshipTypeId" name="relationshipTypeId"/>
	<input type="hidden" id="addRelationship" name="addRelationship" value="true">
#end
<table>
	#parse( "/dhis-web-caseentry/patientForm.vm" )
	<tr>
		<td></td>
		<td colspan='2' id='actionButtons'>
			#if($!relatedProgram)
				<input type="submit" class="button" value="$i18n.getString( 'add' )" onclick="isContinue=false;" style="width:70px;" />
				<input type='button' class="button" value="$i18n.getString( 'cancel' )" onclick="showPatientDashboardForm($!patientId);" style="width:70px;" />
			#else
			<input type="submit" class="button" value="$i18n.getString( 'add' )" onclick="isContinue=false;" style="width:70px;" />
			<input type="submit" class="button" value="$i18n.getString( 'add_and_register_new' )" style="width:140px;" onclick="isContinue=true;"/>
			<input type='button' class="button" value="$i18n.getString( 'cancel' )" onclick="loadPatientList();" style="width:70px;" />
			#end
		</td>
	</tr>
</table>

</form>

<script>
	var i18n_error_connect_to_server = '$encoder.jsEscape( $i18n.getString( "error_connect_to_server" ) , "'" )';
	var i18n_add_person_successfully = '$encoder.jsEscape( $i18n.getString( "add_person_successfully" ) , "'" )';
	var i18n_error_connect_to_server = '$encoder.jsEscape( $i18n.getString( "error_connect_to_server" ) , "'" )';
</script>