<script>
	jQuery('#relationshipSelectForm').ready(function(){
		
		jQuery('name').focus();
		
		validation( 'relationshipSelectForm', function(form){
			validateSearchPartner();
		}); 
		jQuery('[name=mainPagelink]').html(i18n_main_form_link);
	});		
</script>

<h5>
	<a name="mainPagelink" href="javascript:onClickBackBtn();">$i18n.getString( 'patient_management' )</a>
	&#8226; <a href="javascript:showPatientDashboardForm($!patient.id);">$i18n.getString( 'patient_dashboard' )</a>
	&#8226; <a href="javascript:showRelationshipList( '$patient.id' )">$i18n.getString( "relationship_management" )</a>
	
</h5>
<h3>
	&raquo; $i18n.getString( 'seach_available_patient' )
	&#8226; <a href="javascript:showAddRelationshipPatient( '$patient.id',false,'' )" >$i18n.getString( 'add_new_patient' )</a>
</h3>

<form id="relationshipSelectForm" name="relationshipSelectForm" method="post" action="showAddRelationshipForm.action">
<input type="hidden" id="patientId" name="patientId" value="$patient.id"/>

<table>
	<tr>
		<td class='information'>
			<table>
				<tr align='justify'>
					<td colspan='2'>$!patient.name
						#if($patient.gender=='F')
							<img src='images/female_small.png'>
						#else
							<img src='images/male_small.png'>
						#end
					</td>
				</tr>
				<tr>
					<td>$i18n.getString('date_of_birth'):</td>
					<td>$!format.formatDate($!patient.birthDate)</td>
				</tr>
				<tr>
					<td>$i18n.getString('age'):</td>
					<td>$!patient.getAge()</td>
				</tr>
			</table>
		</td>
		
    <td class='information'>
        <table>  
			 <tr>
                <td>$!encoder.htmlEncode( $patient.name) $i18n.getString( "is" )</td>
               <td>
                    <select id="relationshipTypeId" name="relationshipTypeId" class="{validate:{required:true}}" style='width:205px;'>
                        <option value="">[$i18n.getString( "select_relationship" )]</option>
                        #foreach( $relationshipType in $relationshipTypes )                        
                            <option value="$relationshipType.id:$encoder.htmlEncode( $relationshipType.aIsToB )" #if( $relationshipTypeId && "$relationshipType.id:$encoder.htmlEncode( $relationshipType.aIsToB )" == $relationshipTypeId ) selected="selected" #end>$encoder.htmlEncode( $relationshipType.bIsToA ) $i18n.getString("of") $encoder.htmlEncode( $relationshipType.aIsToB ) </option>
                            <option value="$relationshipType.id:$encoder.htmlEncode( $relationshipType.bIsToA )" #if( $relationshipTypeId && "$relationshipType.id:$encoder.htmlEncode( $relationshipType.bIsToA )" == $relationshipTypeId ) selected="selected" #end>$encoder.htmlEncode( $relationshipType.aIsToB ) $i18n.getString("of") $encoder.htmlEncode( $relationshipType.bIsToA ) </option>
                        #end
                    </select>
                </td>
            </tr>           
                                    
            <tr>           
                <td>
                    <select id="searchingAttributeId" name="searchingAttributeId" #if( $patientAttributes.size() == 0 ) disabled="disabled" #end style='width:200px;'>
                        <option value="">$i18n.getString( "search_by_name_identifier" )</option>
                        #foreach( $attribute in $patientAttributes )
                            <option value="$attribute.id" #if( $searchingAttributeId && $attribute.id == $searchingAttributeId ) selected="selected" #end>$encoder.htmlEncode( $attribute.displayName )</option>
                        #end
                    </select> 
                    <em title="$i18n.getString( 'required' )" class="required">*</em>
				</td>
				<td>
				   <input type="text" id="searchText" name="searchText" maxlength="30" style='width:200px;'/>        
                   <input type="button" value="$i18n.getString( 'search' )" onclick="validateSearchPartner();" class='large-button' />
                </td> 
            </tr>                  
        </table>
    </td>
</tr>
</table>
</form>

<div id='searchRelationshipDiv'></div>

<script type="text/javascript">
	var i18n_please_select_relationship_type = '$encoder.jsEscape( $i18n.getString( "please_select_relationship_type" ) , "'" )';
    var i18n_please_select_partner = '$encoder.jsEscape( $i18n.getString( "please_select_partner" ) , "'" )';    
</script>
