<script>
	
	jQuery("#singleEventForm").ready(	function(){

		currentDiv = 'patientForm';
		checkedDuplicate = false;
		
		jQuery("#patientForm").validate({
				 meta:"validate"
				,errorElement:"span"
				,submitHandler: function(form)
					{
						validateAddPatient();
					}
				,beforeValidateHandler: function(form)
					{
						var dobType = $('#patientForm [id=dobType]').val();
						
						if( dobType=='V' || dobType=='D' ) 
						{
							var birthDate = $('#patientForm [id=birthDate]').val();
							if( birthDate != '' ){
								$("#patientForm [id=memberValidator]").val(birthDate);
							}
						}else{
							var age = $('#patientForm [id=age]').val();
							$("#patientForm [id=memberValidator]").val(age);
						}
					}
			});
		#if($!customRegistrationForm)
		#else
			datePickerValid( 'patientForm [id=registrationDate]', true );
			datePickerValid( 'patientForm [id=birthDate]' );
		#end
		addEventForPatientForm( 'patientForm' );
	});	
	
</script>
	
<form id='singleEventForm'>
	<input type="hidden" id="representativeId" name="representativeId"/> 
	<input type="hidden" id="relationshipTypeId" name="relationshipTypeId"/>
	<input type="hidden" id="programStageId" name="programStageId" value='$programStage.id'/>
	
	<table>
		<tbody id='patientForm'>
			#parse( "/dhis-web-caseentry/patientForm.vm" )
		</tbody>
		<tbody>
			#parse( "/dhis-web-caseentry/singleDataEntryForm.vm" )
		</tbody>
		<tr>
			<td></td>
			<td>
				<input type="submit" class="button" value="$i18n.getString( 'add' )" onclick='_continue=false;' style="width:70px;"/>
				<input type="submit" class="button" value="$i18n.getString( 'add_and_register_new' )" style="width:140px;" onclick="_continue=true;"/>
				<input type="button" class="button" value="$i18n.getString( 'back' )" onclick="javascript:backEventList();" style="width:70px;"/>
			</td>
		</tr>
	</table>
</form>

<script>
	var i18n_error_connect_to_server = '$encoder.jsEscape( $i18n.getString( "error_connect_to_server" ) , "'" )';
	var i18n_add_person_successfully = '$encoder.jsEscape( $i18n.getString( "add_person_successfully" ) , "'" )';
	setInnerHTML('entryName', jQuery('#programIdAddPatient option:selected').text() );
	
	jQuery(document).ready(	function(){

		jQuery("#singleEventForm").validate({
			 meta:"validate"
			,errorElement:"span"
			,submitHandler: function(form)
				{
					validateData();
				}
				,beforeValidateHandler: function(form)
				{
					var dobType = $('#singleEventForm [id=dobType]').val();
					
					if( dobType=='V' || dobType=='D' ) 
					{
						var birthDate = $('#singleEventForm [id=birthDate]').val();
						if( birthDate != '' ){
							$("#singleEventForm [id=memberValidator]").val(birthDate);
						}
					}else{
						var age = $('#singleEventForm [id=age]').val();
						$("#singleEventForm [id=memberValidator]").val(age);
					}
				}
			});
	});
</script>