<script type="text/javascript">
    jQuery( document ).ready( function () {
        datePickerInRange( 'startDate', 'endDate', true, true );
        disableCriteriaDiv();
    } );
</script>

<h3>$i18n.getString( "anonymous_events_management" ) #openHelp('single_event_without_registration')</h3>
<h4 id='programName' name='programName'></h4>

<input type='hidden' id='orgunitId' name='orgunitId' value='$orgunit.id'>
<input type='hidden' id='programStageInstanceId' name='programStageInstanceId' value='0'>
<input type='hidden' id='programStageId' name='programStageId' class='stage-object-selected'>
<input type='hidden' id='listAll' name='listAll' value="true">

<select multiple id='displayInReports' name='displayInReports' class='hidden'></select>

<div>
	<div id='selectDiv'>
		<table>		
			<tr>
				<td><label>$i18n.getString( "registering_unit" )</label></td>
				<td><input type="text" id='orgunitName' name='orgunitName' #if( $orgunit ) value="$encoder.htmlEncode( $orgunit.name )" #else value="[$i18n.getString( 'please_select_village' )]" #end disabled /></td>
			</tr>
			<tr>	       
				<td>
				  $i18n.getString("program") <em title="$i18n.getString( "required" )" class="required">*</em></label>
				</td>		
				<td>
					<select type="text" id="programId" name="programId" onchange='getDataElements();'>
						<option value="" psid="" reportDateDes="$i18n.getString('report_date')">[$i18n.getString("please_select")]</option>
						#foreach( $program in $programs )
							#foreach( $programStage in $program.programStages )
								<option value='$program.id' psid='$programStage.id' reportDateDes="$programStage.reportDateDescription">$program.displayName</option>
							#end
						#end
					</select>
					<input type='hidden' class='stage-object-selected hidden' />
				</td>
				<td colspan="2" style="padding-left: 20px;">
					<input type="button" class='large-button' id='addBtn' style="width: 145px;" value='$i18n.getString( "add_new" )' onclick="showAddEventForm();" />
					<input type="button" id='removeBtn' value='$i18n.getString( "remove_empty_events" )' onclick="removeEmptyEvents();" style="width: 145px;" />
				</td>
			</tr>
            <tr><td style="padding-top: 10px;"></td></tr>
			<tr>
				<td><label>$i18n.getString('from')</label></td>
				<td>
					<input type="text" id='startDate' name='startDate' style="width:260px;" />
				</td>
                <td style="padding-left: 20px;">
                    <input type="checkbox" id="incompleted" name="incompleted" value="true">$i18n.getString("incomplete")</input>
                </td>
            </tr>
            <tr>
				<td><label>$i18n.getString('to')</label></td>
				<td>
					<input type="text" id='endDate' name='endDate' style="width:260px;" />
				</td>
				<td style="padding-left: 20px;">
					<input type="button" class='large-button' style="width: 145px;" id='filterBtn' name="filterBtn" value='$i18n.getString( "show_filter" )' onclick="showFilterForm();" />
					<input type="button" class='large-button' style="width: 145px;" id='listBtn' value="$i18n.getString( 'search' )" onclick="validateSearchEvents(false);" />
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr id='minimized-advanced-search' class="hidden">
				<td align='right' colspan='5' height="50px">
					$i18n.getString('you_have_active_filters')&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="button" class='normal-button' value="$i18n.getString('show_all')" onclick='showFilterForm()'>
					<input type="button" class='normal-button' value="$i18n.getString('clear_all')" onclick='removeAllOption()'>&nbsp;
				</td>
			</tr>
		</table>
		<table id='advanced-search' class='hidden advanced-search'>
			<col/>
			<col/>
			<col/>
			<col width="180"/>
			<tr class="hidden">
				<td id='searchingAttributeIdTD'>
					<select id="searchObjectId" name="searchObjectId" onchange='dataElementOnChange(this);'></select>
				</td>
			</tr>
			<tbody id='advancedSearchTB'>
				<tr><td></td></tr>
				<tr>
					<td></td>
					<td></td>
                <tr/>

                <tr id='advSearchBox0'>
                    <td>
                        <select id="searchObjectId" name="searchObjectId" onchange='dataElementOnChange(this);'></select>
                    </td>
                    <td>
                        <input type="text" id="searchText" name="searchText" value="$!searchText">
                        <input type="button" class='normal-button' name="clearSearchBtn" value='$i18n.getString( "clear" )' onclick="removeAttributeOption('advSearchBox0');" disabled>
                    </td>
                </tr>

			</tbody>
            <tfoot>
            <tr>
                <td colspan="2">
                    <input type="button" class='normal-button' id='addSearchOptionBtn' name='addSearchOptionBtn' value="$i18n.getString('add')" onclick='addAttributeOption()' />
                    <input type="button" class='normal-button' id='clearAllBtn' name='clearAllBtnaddSearchOptionBtn' value="$i18n.getString('clear_all')" onclick='removeAllOption()' />
                </td>
            </tr>
            </tfoot>
		</table>
	</div>
</div>

<script id="offline-event-template" type="text/template">
    <tr id="tr<%= programStageInstanceId %>" class="listRow">
        <td><%= index %></td>
        <td><%= executionDate %></td>

        <td align="right" style="padding-right:20px;">
            <% if( !completed ) { %>
            <span class="incomplete-record" title="Incomplete">&nbsp;!&nbsp;</span>
            <% } %>
            <a href="javascript:showUpdateEvent( '<%= programStageInstanceId %>' )" title="Data entry"><img src="images/data_entry.png" alt="Data entry"></a>
            <a href="javascript:removeEvent( '<%= programStageInstanceId %>' )" title="Remove"><img src="../images/delete.png" alt="Remove"></a>
        </td>
    </tr>
</script>

<script id="no-offline-event-template" type="text/template">
    <tr class="listRow">
        <td colspan="3">No offline events</td>
    </tr>
</script>

<div id='offlineListDiv'>
    <table class="listTable hidden">
        <thead>
        <tr>
            <th colspan="4">Offline Events</th>
        </tr>
        </thead>
        <thead>
        <tr>
            <th>#</th>
            <th>Report date</th>
            <th style="width:100px">Operations</th>
        </tr>
        </thead>

        <tbody id="offlineEventList">
        </tbody>
    </table>
</div>

<div id='listDiv'></div>

<div id='dataEntryInfor' class='hidden'>
	<table style="width:600px; margin-bottom: 0;" class="listTable">
			<tr>
				<th style='width:220px' colspan='2'><span id="reportDateDescriptionField2">$i18n.getString( "report_date" )</span> <em title="$i18n.getString( "required" )" class="required">*</em> </th>
				<th colspan="2"><input type="text" id="executionDate" name="executionDate" onchange="addNewEvent();" style="padding-left: 2px; margin-left:6px;width:300px;" ></th>
					<script type="text/javascript">
					   datePickerValid( 'executionDate', false );
					</script> 
			</tr>
	</table> 
	<div id='dataEntryFormDiv'></div>
	
	<div id='actionDiv' class="page inputCriteria" style="width:700px;height:29px;">	
		<input type="button" id="completeAndNewBtn" onclick="completedAndAddNewEvent();" value="$i18n.getString('complete_and_add_new_event')" style="width:160px;">
		<input type="button" id="completeBtn" onclick="doComplete()" value="$i18n.getString('complete')">
		<input type="button" id="uncompleteBtn" onclick="doUnComplete()" value="$i18n.getString('incomplete')">
		<input type="button" id="validateBtn" value="$i18n.getString('run_validation')" onclick="javascript: runValidation();">
		<input type="button" id="completeBtn" onclick="removeCurrentEvent();" value="$i18n.getString('remove')">
	</div>
</div>

#parse( "dhis-web-commons/loader/loader.vm" )

<script>	
	var i18n_please_select = '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'")';
	
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_value_must_number = '$encoder.jsEscape( $i18n.getString( "value_must_number" ) , "'")';
	var i18n_value_must_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_positive_integer" ) , "'")';
	var i18n_value_must_negative_integer = '$encoder.jsEscape( $i18n.getString( "value_must_negative_integer" ) , "'")';
	var i18n_value_must_zero_or_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_zero_or_positive_integer" ) , "'")';
    var i18n_invalid_date =   '$encoder.jsEscape( $i18n.getString( "invalid_date" ) , "'")' + ".\n " 
							+ '$encoder.jsEscape( $i18n.getString( "format_date" ) , "'")' + " '" 
							+ dateFormat.replace('yy', 'yyyy') + " '" ; 
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")';
    var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
    var i18n_error_required_field = '$encoder.jsEscape( $i18n.getString( "error_required_field" ) , "'")';
	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_date_is_greater_then_or_equals_due_date = '$encoder.jsEscape( $i18n.getString( "date_is_greater_then_or_equals_due_date" ) , "'")';

	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'")';
	var i18n_specify_data_element = '$encoder.jsEscape( $i18n.getString( "specify_data_element" ) , "'")';
	var i18n_comfirm_delete_event = '$encoder.jsEscape( $i18n.getString( "comfirm_delete_event" ) , "'")';
	var i18n_delete_event_success = '$encoder.jsEscape( $i18n.getString( "delete_event_success" ) , "'")';
	var i18n_report_date = '$encoder.jsEscape( $i18n.getString( "report_date" ) , "'")';
	var i18n_search_events_by_dataelements = '$encoder.jsEscape( $i18n.getString( "search_events_by_dataelements" ) , "'")';
	var i18n_list_all_events = '$encoder.jsEscape( $i18n.getString( "list_all_events" ) , "'")';
	var i18n_no_compulsary_data_elements = '$encoder.jsEscape( $i18n.getString( "no_compulsary_data_elements" ) , "'")';
	var i18n_remove_empty_events_success = '$encoder.jsEscape( $i18n.getString( "remove_empty_events_success" ) , "'")';
	var i18n_confirm_remove_empty_events = '$encoder.jsEscape( $i18n.getString( "confirm_remove_empty_events" ) , "'")';
	var i18n_report_date = '$encoder.jsEscape( $i18n.getString( "report_date" ) , "'")';

	var i18n_male = '$encoder.jsEscape( $i18n.getString( "male" ) , "'")';
	var i18n_female = '$encoder.jsEscape( $i18n.getString( "female" ) , "'")';
	var i18n_transgender = '$encoder.jsEscape( $i18n.getString( "transgender" ) , "'")';
	var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
	var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
	var i18n_specify_search_criteria = '$encoder.jsEscape( $i18n.getString( "specify_search_criteria" ) , "'")';
	var i18n_add_filter = '$encoder.jsEscape( $i18n.getString( "add_filter" ) , "'")';
	var i18n_clear_filter = '$encoder.jsEscape( $i18n.getString( "clear_filter" ) , "'")';
	var i18n_specify_a_date = '$encoder.jsEscape( $i18n.getString( "specify_a_date" ) , "'")';
	var i18n_clear = '$encoder.jsEscape( $i18n.getString( "clear" ) , "'")';
	var i18n_insert_a_report_date = '$encoder.jsEscape( $i18n.getString( "insert_a_report_date" ) , "'")';
    var i18n_comment_added = '$encoder.jsEscape( $i18n.getString( "comment_added" ) , "'")';

    var i18n_need_to_sync_notification = '$encoder.jsEscape( $i18n.getString( "need_to_sync_notification" ) , "'")';
    var i18n_sync_now = '$encoder.jsEscape( $i18n.getString( "sync_now" ) , "'")';
    var i18n_sync_success = '$encoder.jsEscape( $i18n.getString( "sync_success" ) , "'")';
    var i18n_sync_failed = '$encoder.jsEscape( $i18n.getString( "sync_failed" ) , "'")';
    var i18n_uploading_data_notification = '$encoder.jsEscape( $i18n.getString( "uploading_data_notification" ) , "'")';
    var i18n_incomplete_confirm_message = '$encoder.jsEscape( $i18n.getString( "incomplete_confirm_message" ) , "'")';
    var i18n_ajax_login_failed = '$encoder.jsEscape( $i18n.getString( "ajax_login_failed" ) , "'")';
    var i18n_online_notification = '$encoder.jsEscape( $i18n.getString( "online_notification" ) , "'")';
    var i18n_offline_notification = '$encoder.jsEscape( $i18n.getString( "offline_notification" ) , "'")';
    var i18n_operation_not_available_offline = '$encoder.jsEscape( $i18n.getString( "operation_not_available_offline" ) , "'")';
    var i18n_please_wait_loading = '$encoder.jsEscape( $i18n.getString( "please_wait_loading" ) , "'")';

	isAjax = true;
	contentDiv = '';
	var unSave = false;
	var searchTextBox = '<input type="text" id="searchText" name="searchText">';	
	setInnerHTML('reportDateDescriptionField', jQuery('#programId option:selected').attr('reportDateDes'));
	setInnerHTML('reportDateDescriptionField2', jQuery('#programId option:selected').attr('reportDateDes'));
	
	var date = new Date();
	var d = date.getDate();
	var m = date.getMonth();
	var y= date.getFullYear();
		
	var	startDateSince = jQuery.datepicker.formatDate( dateFormat, new Date(y, m, d-7) ) ;
	setFieldValue('startDate', startDateSince);
	
</script>
