<script type="text/javascript">
	var i18n_greater_then_from_date = '$encoder.jsEscape( $i18n.getString( "greater_then_from_date" ) , "'" )';
	var i18n_please_select = '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'" )';
	var i18n_confirm_data_values_aggregated_saved_into_database_directly = '$encoder.jsEscape( $i18n.getString( "confirm_data_values_aggregated_saved_into_database_directly" ) , "'" )';
	var i18n_aggregate_successfully = '$encoder.jsEscape( $i18n.getString( "aggregate_successfully" ) , "'" )';
	var isSubmit = true;
</script>

<div id='caseAggregationDiv'>

	<h1> $i18n.getString( "manual_person_aggregation_form" ) #openHelp('run_case_aggregation')</h1>
	
	<form id="caseAggregationForm" name="caseAggregationForm" action="caseAggregationResult.action" method="post">
		<input type='hidden' id='autoSave' name='autoSave' value='false' />
		<table>
			<tr>
				<td>
					$i18n.getString( "dataset_list" )
				</td>
				<td>
					<select id="dataSetId" name="dataSetId" style="width: 30em">
						#if( $datasets.size()== 0 )
						<option value=''>[$i18n.getString('none_dataset')]</option>
						#elseif( $datasets.size() > 1 )
						<option value=''>[$i18n.getString('please_select')]</option>
						#end
						#foreach ( $dataSet in $datasets )
							<option value='$dataSet.id' title='$dataSet.displayName'>$dataSet.displayName</option>
						#end
					</select>
				</td>
			</tr>

			<tr>
				<td>$i18n.getString( "from" )</td>
				<td>
					<input type='text' id="startDate" name="startDate" style="width:355px;" />
				</td>
			</tr>
			
			<tr>
				<td>$i18n.getString( "to" )</td>
				<td>
					<input type='text' id="endDate" name="endDate" style="width:355px;" />
					<script>
						datePickerInRange( 'startDate','endDate', true, true );
					</script>
				</td>
			</tr>
			
			<tr>
				<td>
				   $i18n.getString( "use_data_from_level" )
				</td>
				<td>
					<select id="facilityLB" name="facilityLB" style="width: 30em">
						<option value="all" selected="selected" >$i18n.getString( "all" )</option>
						<option value="childrenOnly" >$i18n.getString( "children_only" )</option>
						<option value="selected" >$i18n.getString( "selected" )</option>
					</select>
				</td>
			</tr>
			
			<tr><td colspan='2' style="height:1em"></td></tr>
			
			<tr>
				<td colspan='2'>
					#organisationUnitSelectionTree( true, false, false )
				</td>
			</tr>

			<tr>
				<td colspan='2'>
					<input type="submit" name="aggregateAndSaveBtn" value="$i18n.getString( 'aggregate_and_save' )" onclick="setFieldValue('autoSave', true)" >
					<input type="submit" name="aggregateBtn" value="$i18n.getString( 'preview' )" onclick="setFieldValue('autoSave', false)" >
				</td>
			</tr>
		</table>
	</form>
</div>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id='caseAggregationResult' style='none'></div>

