
<table style='width:100%'>
	<tr>
		<td>
			<a href="javascript:showColorHelp()" id="colorHelpLink" title="$i18n.getString( 'what_do_colors_mean' )">$i18n.getString('what_do_colors_mean')</a>
		</td>
		<td style='float:right' id='toogleRiskStatusTD' class='hidden'>
			#if($programInstance.followup)
				#set($followup=$programInstance.followup)
			#else
				#set($followup='false')
			#end
			
			$i18n.getString('toggle_risk_status')
			<a href='javascript:markForFollowup($programInstance.id, false)' #if( $followup == 'false') class='hidden' #end name='imgMarkFollowup' title='$i18n.getString("toggle_risk_status")' ><img src='images/risk_large.png'></a>
			<a href='javascript:markForFollowup($programInstance.id, true)' #if( $followup == 'true') class='hidden' #end name='imgUnmarkFollowup' title='$i18n.getString("toggle_risk_status")' ><img src='images/unrisk_large.png'></a>			
		</td>
	</tr>
</table>
			
<div id="colorHelpDiv" class="hidden history page">
	<table class="colorHelpTable">
		<col width='80px;'/>
		<tr>
			<th>$i18n.getString('color')</th>
			<th>$i18n.getString('description')</th>
		</tr>
		<tr>
			<td id='colorGreenTD' class='input-column'><script>byId('colorGreenTD').style.backgroundColor = COLOR_GREEN;</script></td>
			<td>$i18n.getString('completed_stages')</td>
		</tr>
		<tr>
			<td id='colorLightredTD'><script>byId('colorLightredTD').style.backgroundColor = COLOR_LIGHTRED;</script></td>
			<td>$i18n.getString('data_entered_and_uncompleted_stages')</td>
		</tr>
		<tr>
			<td id='colorYellowTD'><script>byId('colorYellowTD').style.backgroundColor = COLOR_YELLOW;</script></td>
			<td>$i18n.getString('coming_stages')</td>
		</tr>
		<tr>
			<td id='colorRedTD'><script>byId('colorRedTD').style.backgroundColor = COLOR_RED;</script></td>
			<td>$i18n.getString('stages_open_but_no_data_entered')</td>
		</tr>
		<tr>
			<td id='colorGreyTD'><script>byId('colorGreyTD').style.backgroundColor = COLOR_GREY;</script></td>
			<td>$i18n.getString('stage_skipped')</td>
		</tr>
	</table>
</div>