<script>
	jQuery("#entryFormContainer").ready(function(){
		entryFormContainerOnReady();
	});
</script>
<br/>
<div id='entryFormContainer'>

<input type='hidden' name='incidentDate' id='incidentDate'>
<input type='hidden' name='programStageInstanceId' id='programStageInstanceId'>
<input type='hidden' name='programInstanceId' id='programInstanceId'>
<input type='hidden' name='irregular' id='irregular'>
<input type='hidden' name='displayGenerateEventBox' id='displayGenerateEventBox'>
<input type='hidden' name='completed' id='completed'>
<input type='hidden' name='programStageUid' id='programStageUid'>
<input type='hidden' name='programId' id='programId'>
<input type='hidden' name='validCompleteOnly' id='validCompleteOnly'>
<input type='hidden' name='currentUsername' id='currentUsername'>
<input type='hidden' name='blockEntryForm' id='blockEntryForm'>
<input type='hidden' name='remindCompleted' id='remindCompleted'>
<input type='hidden' name='displayOptionSetAsRadioButton' id='displayOptionSetAsRadioButton'>
<input type='hidden' name='allowGenerateNextVisit' id='allowGenerateNextVisit'>

<div id='entryForm' class='hidden'>
	<table style="width:600px;margin-top:-30px" class="listTable">

		#if($programStage.captureCoordinates=='true')
		<tr>
			<th class='coordinates1'><label for="longitude">$i18n.getString( "longitude" )</label></th>
			<th class='coordinates2'><input type="text" class='criteria' id="longitude" name="longitude" class="{validate:{number:true,min:-180,max:180}}" placeholder='$i18n.getString("enter_a_number")' ></th>
			<th class='coordinates1'><label for="latitude">&nbsp;$i18n.getString( "latitude" )</label></th>
			<th class='coordinates2'>
				<input type="text" class='criteria' id="latitude" name="latitude" class="{validate:{number:true,min:-90,max:90}}" placeholder='$i18n.getString("enter_a_number")' >
				<img style='cursor:pointer' src='images/save.png' title='$i18n.getString("save")' onclick='saveCoordinatesEvent();' />
			</th>
		</tr>
		#end
		
		#if( $programStage.getDataEntryType()=='section' )
		<tr id="filterDataSetSectionTr" class='coordinates1'>
			<th class='coordinates1'><label for="filterDataSetSection">$i18n.getString( "filter_on_section" )</label></th>
			<th colspan='3'>
				<select id="filterDataSetSection" name="filterDataSetSection" onchange="filterOnSection()" style="width:430px;" >
					<option value='all'>[$i18n.getString("show_all_sections")]</option>
					#foreach( $section in $sections )
						<option value='$section.id'>$encoder.htmlEncode( $section.displayName )</option>
					#end
				</select>
			</th>
		</tr>
		#end
		
		<tr>
			<td colspan='3'>
				<table>
					<tbody></tbody>
				</table>
			</td>
		</tr>
		#foreach($key in $programIndicatorsMap.keySet())
		<tr>
			<td colspan='3' class='bold'>$key: $programIndicatorsMap.get($key)</td>
		</tr>
		#end
		
	</table>
	</table>

	<br>

	#if( $customDataEntryFormCode )
		#parse( "/dhis-web-caseentry/customDataEntryForm.vm" )
	#elseif( $sections && $sections.size() > 0 )
		#parse( "/dhis-web-caseentry/sectionDataEntryForm.vm" )
	#else
		#parse( "/dhis-web-caseentry/defaultDataEntryForm.vm" )
	#end
</div>

<table id='entryPostComment' class='listTable hidden' style="width:100%;">
<tr>
	<th width="10%"><label for="postComment">$i18n.getString('post_comment'):</label></th>
	<th width="85%">
		<textarea type="text" class="criteria" id="commentInput" name='commentInput'
			style="width:100%;height:12px;" onkeyup='commentKeyup()'></textarea>
	</th>
	<th width="5%">
		<input id="commentButton" name='commentButton' type="button" style='width:40px;' value="$i18n.getString('add')" onclick='addComment( byId("commentInput"), $programStageInstance.id )'>
	</th>
</tr>
</table>


<div id='inputCriteriaDiv' class="page inputCriteria hidden" style="width:580px; height:29px;">
	<input type="button" id="completeBtn" class="button" value="$i18n.getString('complete')" onClick="doComplete()">
	<input type="button" id="uncompleteBtn" value="$i18n.getString('incomplete')" onclick="doUnComplete()">
	<input type="button" id="validateBtn" class='button' id="validationBtn" value="$i18n.getString('run_validation')" onClick="javascript: runValidation();">
</div>

</div>

<div id="loading-bar" class="hidden" align='center'>
	<p>$i18n.getString('validation_rules_are_being_processed_please_wait')<br>
	<img src='../images/ajax-loader-circle.gif'></p>
</div>

<div id='validateProgramDiv'></div>

<script>
	var i18n_create_new_event = '$encoder.jsEscape( $i18n.getString( "create_new_event" ) , "'" )';
	var i18n_enter_a_value_less_than_or_equal_to_180 = '$encoder.jsEscape( $i18n.getString( "enter_a_value_less_than_or_equal_to_180" ) , "'" )';
	var i18n_enter_a_value_greater_than_or_equal_to_nagetive_180 = '$encoder.jsEscape( $i18n.getString( "enter_a_value_greater_than_or_equal_to_nagetive_180" ) , "'" )';
	var i18n_enter_a_value_less_than_or_equal_to_90 = '$encoder.jsEscape( $i18n.getString( "enter_a_value_less_than_or_equal_to_90" ) , "'" )';
	var i18n_enter_a_value_greater_than_or_equal_to_nagetive_90 = '$encoder.jsEscape( $i18n.getString( "enter_a_value_greater_than_or_equal_to_nagetive_90" ) , "'" )';
	var i18n_enter_values_for_longitude_and_latitude_fields = '$encoder.jsEscape( $i18n.getString( "enter_values_for_longitude_and_latitude_fields" ) , "'" )';
	var i18n_enter_a_valid_number = '$encoder.jsEscape( $i18n.getString( "enter_a_valid_number" ) , "'" )';
	var i18n_incomplete_confirm_message = '$encoder.jsEscape( $i18n.getString( "incomplete_confirm_message" ) , "'" )';
	var i18n_add_patient_related_the_selected_event = '$encoder.jsEscape( $i18n.getString( "add_patient_related_the_selected_event" ) , "'" )';
	
	var editDataEntryForm = eval($auth.hasAccess( "dhis-web-caseentry", "editDataEntryForm" ));
	if( (getFieldValue('completed')=='true' && getFieldValue('blockEntryForm')=='true' ) 
		||  !editDataEntryForm) {
		blockEntryForm();
		if(!editDataEntryForm){
			disable('executionDate');
			disable('completeBtn');
			disable('uncompleteBtn');
			disable('validateBtn');
		}
	}
	
</script>
