
#if($patientRegistrationForm.fixedAttributes.contains( 'registrationDate' ))
	<tr id='registrationDateTR'>
		<td class='text-column'><label for="registration_date">$i18n.getString( "registration_date" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td class="input-column" colspan='2'>
			<input type="text" id="registrationDate" name="registrationDate" class="{validate:{required:true}}" value='$!format.formatDate($!patient.registrationDate)'/>
		</td>		
	</tr>
#end

<tr>
	<th colspan="2" class="heading-column">$i18n.getString( "demographics" )</th>
</tr>

#if($patientRegistrationForm.fixedAttributes.contains( 'fullName' ))
	<tr>
		<td class='text-column'><label for="fullName">$i18n.getString( "full_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td class="input-column"><input type="text" id="fullName" name="fullName" value="$!patient.name" class="{validate:{required:true, rangelength:[3,50]}}"></td>
	</tr>
#end

#if($patientRegistrationForm.fixedAttributes.contains( 'gender' ))
	<tr>
		<td class='text-column'><label for="gender">$i18n.getString( "gender" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td class="input-column">
			<select id="gender" name="gender">
				<option value="M" #if( $!patient.gender == 'M' ) selected="selected" #end>$i18n.getString( "male" )</option>
				<option value="F" #if( $!patient.gender == 'F' ) selected="selected" #end>$i18n.getString( "female" )</option>
				<option value="T" #if( $!patient.gender == 'T' ) selected="selected" #end>$i18n.getString( "transgender" )</option>
			</select>
		</td>					
	</tr>
#end

<tr>
	<td class='text-column' ><label for="birthDate">$i18n.getString( "date_of_birth" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
	<td class="input-column">
		<select id='dobType' name="dobType" style='width:120px' onchange='dobTypeOnChange("patientForm")' >
			<option value="V" #if($patient.dobType=='V') selected #end >$i18n.getString( "verified" )</option>
			<option value="D" #if($patient.dobType=='D') selected #end >$i18n.getString( "declared" )</option>
			<option value="A" #if($patient.dobType=='A') selected #end >$i18n.getString( "approximated" )</option>
		</select>
		#if($patientRegistrationForm.fixedAttributes.contains( 'birthDate' ))
			<input type="text" id="birthDate" name="birthDate" value='$!format.formatDate($!patient.birthDate)' style='width:136px;' />
		#else
			<input type="text" id="age" name="age" placeholder="$i18n.getString('enter_age_in_years')" value='$!patient.getIntegerValueOfAge()' class="{validate:{number:true}}" style='width:136px;' />
		#end
	</td>
</tr>

<tr>
	<td></td>
	<td class="input-column">
		<input id="memberValidator" class="hidden {validate:{required:true}}"/>
	</td>
</tr>
	
#if($patientRegistrationForm.fixedAttributes.contains( 'phoneNumber' ))
	<tr>
		<td class='text-column'><label for="phoneNumber">$i18n.getString( "phone_number" )</label></td>
		<td class="input-column">
			<input type="text" id="phoneNumber" name="phoneNumber" class="{validate:{phone:true}}"/>
			<input type="button" value='+' style='width:20px;' onclick='addPhoneNumberField("$!phoneNumberAreaCode");' />
		</td>
	</tr>
#end

#if($patientRegistrationForm.fixedAttributes.contains( 'healthWorker' ))
	<tr>
		<td class='text-column'><label for="healthWorker">$i18n.getString( "health_worker" )</label></td>
		<td class="input-column">
			<select id="healthWorkerId" name="healthWorkerId">
				<option value="">[$i18n.getString("please_select")]</option>
				#foreach( $healthWorker in $healthWorkers)
					<option value="$healthWorker.id" #if($patient.healthWorker.id == $healthWorker.id) selected #end>$healthWorker.name</option>
				#end
			</select>
		</td>
	</tr>
#end

<!-- UNDERAGE -->

#if($!patient.underAge)
	#set( $representative = $!patient.representative ) 
	<tr id="representativeFormDiv" name="representativeFormDiv">
		<td class='text-column'>$i18n.getString("guardian")</td>
		<td> 
			$!patient.representative.name <img src="../images/information.png" alt="$i18n.getString( 'show_details' )" onclick='showRepresentativeInfo()' class='img-button'>
		</td>
	</tr>
#else
	<tr id="underAgeDiv" name="underAgeDiv">
		<td class='text-column'>$i18n.getString("has_guardian")</td>
		<td>
			<input type="checkbox" name="underAge" id="underAge" onclick="toggleUnderAge(this);" value="true" #if($!patient.underAge == "true") checked="checked" #end/>
		</td>
	</tr>
#end

<!-- DEAD -->
#if($patientRegistrationForm.fixedAttributes.contains( 'isDead' ))
	<tr id="deathCheckboxTR">
		<td class='text-column'>$i18n.getString("is_dead")</td>
		<td>
			<input type="checkbox" name="isDead" id="isDead" value="true" #if($!patient.isDead) checked="checked" #end onchange='isDeathOnChange();'/>
		</td>
	</tr>
#end

#if($patientRegistrationForm.fixedAttributes.contains( 'deathDate' ))
	<tr id='deathDateTR' #if($!patient.isDead) #else class="hidden" #end>
		<td class='text-column'><label for="deathDate">$i18n.getString("death_date")</label></td>
		<td class="input-column">
			<input type="text" name="deathDate" id="deathDate" #if($!patient.deathDate) value="$format.formatDate( $!patient.deathDate )" #end>
		</td>
	</tr>
#end

<tr>
	<td></td>
	<td><input type="button" class='button' id='checkDuplicateBtn' name='checkDuplicateBtn' value="$i18n.getString('check_duplicate')" /></td>
</tr>

<tr><td>&nbsp;</td></tr>
#set($identifierTypes = $patientRegistrationForm.identifierTypes)
#if( $identifierTypes.size() > 0)
	<!--IDENTIFIERS -->
	<tr><th colspan="2" class="heading-column">$i18n.getString("patient_details")</th></tr>
	#foreach ($identifierType in $identifierTypes)
		#if( $identifierType.program )
		#else
			#set( $identifier = '' )
			#set( $identifier = $identiferMap.get( $identifierType.id ) )
			#if($identifierType.type=='orgunitCount' && $!orgunitCountIdentifier)
				#set( $identifier = $!orgunitCountIdentifier )
			#end
		
			<tr> 
				<td class='text-column'><label>$encoder.htmlEncode($identifierType.displayName) #if($identifierType.mandatory) <em title="$i18n.getString( "required" )" class="required">*</em> #end</label></td>
				<td class="input-column">
					<input type="text" id="iden$identifierType.id" name="iden$identifierType.id" value="$!identifier" data="{related:$identifierType.related}" #if($identifierType.related && $!patient.underAge) disabled="disabled" #end class="{validate:{required:$identifierType.mandatory, #if($!identifierType.noChars) maxlength:$identifierType.noChars, #end #if($identifierType.type=='number') number:true #elseif($!identifierType.type=='letter') lettersonly:true #end }}" />
				</td>	
			</tr>
		#end
	#end
#end

<!-- ATTRIBUTES IN GROUPS -->
	
	
#foreach($attribute in $$patientRegistrationForm.dynamicAttributes )
	#if( $attribute )
		#set($value = "")
		#set($value = $patientAttributeValueMap.get($attribute.id))
		<tr>
			<td class='text-column'><label>$encoder.htmlEncode($attribute.displayName) #if($attribute.mandatory) <em title="$i18n.getString( 'required' )" class="required">*</em> #end</label></td>
			<td class="input-column">
				#if( $attribute.valueType == "bool" )
					<select id="attr$attribute.id" name="attr$attribute.id" inherit="$!attribute.inherit"> 
						<option value="" selected="selected">[$i18n.getString( "please_select" )]</option>
						<option value="true" #if($value=='true') selected #end>$i18n.getString( "yes" )</option>
						<option value="false" #if($value=='false') selected #end>$i18n.getString( "no" )</option>
					</select>                
				#elseif( $attribute.valueType == "trueOnly" )
					<input type='checkbox' value="true" id="attr$attribute.id" name="attr$attribute.id" inherit="$!attribute.inherit" #if($value=='true') checked #end> 
				#elseif( $attribute.valueType == "date" )
					<input type="text" id="attr$attribute.id" name="attr$attribute.id" inherit="$!attribute.inherit" value='$value' class=' #validate( "default"  $attribute.mandatory )'/>
					<script type="text/javascript">
						datePickerValid( 'attr$attribute.id', false, false );
					</script>                    
				#elseif( $attribute.valueType == "combo" )  
					<select  id="attr$attribute.id"  name="attr$attribute.id" inherit="$!attribute.inherit" class='#validate( "default"  $attribute.mandatory )'>
						<option value="">[$i18n.getString( "please_select" )]</option>
						#foreach ($option in $attribute.attributeOptions )
							<option value="$option.id" #if("$value"=="$option.name") selected #end>$option.name</option>
						#end
					</select>
				#else
					<input type="text" id="attr$attribute.id" name="attr$attribute.id" inherit="$!attribute.inherit" value='$value' class="{validate:{required:$attribute.mandatory #if($attribute.valueType=='NUMBER'),number:true #end }}" />
				#end
			</td>		
		</tr>
	#end
#end
	
<!-- PROGRAM ENROLLMENT -->

#if($!program)
	<tr><td>&nbsp;</td></tr>
	<tr><th colspan="2" class="heading-column">$i18n.getString( "program_enrollment" )</th></tr>
	<tr>
		<tr>
		<td class='text-column'><label for="enrollmentDate">$encoder.htmlEncode($program.dateOfEnrollmentDescription) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td colspan='2' class='input-column'><input type="text" id="enrollmentDate" name="enrollmentDate" class="{validate:{required:true}}"></td>
	</tr>
	#if($!program.displayIncidentDate=='true')
		<tr>
			<td class='text-column'><label for="dateOfIncident">$encoder.htmlEncode($program.dateOfIncidentDescription) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
			<td colspan='2' class='input-column'><input type="text" id="dateOfIncident" name="dateOfIncident"  class="{validate:{required:true}}"></td>
		</tr>
		<script>
			#if($program.selectEnrollmentDatesInFuture=='true' || $program.selectIncidentDatesInFuture=='true'  )
				datePickerInRange( 'dateOfIncident' , 'enrollmentDate', false, true );
			#else
				datePickerInRangeValid( 'dateOfIncident' , 'enrollmentDate', false, true );
			#end
		</script>
	#else
		<script>datePickerValid( 'enrollmentDate', true );</script>
	#end
#end

<script>
	#if($!patient.dobType && $!patient.dobType=='A') 
		showById('age');
		hideById('birthDate');
	#else
		hideById('age');
		showById('birthDate');
	#end
	
	#if( $!patient.phoneNumber && $patient.phoneNumber!="")
		var phoneNumbers = "$!patient.phoneNumber".split(';');
		setFieldValue('phoneNumber',phoneNumbers[0]);
		for( var i = 1;i<phoneNumbers.length;i++ )
		{
			addPhoneNumberField(phoneNumbers[i]);
		}
	#else 
		setFieldValue('phoneNumber',"$!phoneNumberAreaCode")
	#end
</script>