<style type="text/css">
.gridTable th, .gridTable td
{
  text-align: center;
  width: 150px;
  line-height: 170%;
}
</style>

<h3>$!encoder.htmlEncode( $grid.title )</h3>
<h5>$!encoder.htmlEncode( $grid.subtitle )</h5>

<table class="listTable gridTable">
	<thead>
		<tr>
			<th>#</th>
			#foreach( $header in $grid.getVisibleHeaders() )
				<th #if( $header.meta )style="text-align:left"#end>$!encoder.htmlEncode( $header.name )</th>
			#end
		</tr>
	</thead>
	<tbody>
		#set( $i = 1 )
		#foreach( $row in $grid.getVisibleRows() )
			<tr>
				<td>$i</td>
			#foreach( $col in $row )
				#set( $index = ( $velocityCount - 1 ) )
				#if( $grid.getVisibleHeaders().get( $index ).meta )
					<td style="text-align:left">$!encoder.htmlEncode( $col )</td>
				#elseif( $index < $row.size() - 1 )
					<td>$col</td>
				#else
					<td style="text-align:center">
						<a href="javascript:showDetails( $col )" title="$i18n.getString( 'show_details' )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"></a>
					</td>
				#end
			#end
			</tr>
			#set( $i = $i + 1 )
		#end
	</tbody>
</table>

<script type="text/javascript">
	jQuery(document).ready(function(){
		setTableStyles();	
	});
</script>	