#set( $size = $programInstances.size() )
{ 
	"programInstances": [
		#foreach( $programInstance in $programInstances )
		  {
			"id":  ${programInstance.program.id} ,
			"name": "$!encoder.jsonEncode( ${programInstance.program.displayName} )",
			"programInstanceId":  ${programInstance.id}
		  }#if( $velocityCount < $size ),#end
		#end]
}