#set( $size = ${programStages.size()} )
{ "programStages": [
  #foreach( ${programStage} in $!{programStages} )
  {
	"id": "${programStage.id}",
	"name": "$!encoder.jsonEncode( ${programStage.displayName} )"
  }#if( $velocityCount < $size ),#end
  #end
  ]
}