{ "metaData": {
"optionSets": [#foreach( $os in $optionSets ) {"uid":"$encoder.jsonEncode( $os.uid )", "v": $os.version}#if( $velocityCount < $optionSets.size() ),#end#end],
"usernames": $usernames,
"programs": {
#set( $psize = $programs.size() )
#foreach( $program in $programs )
"${program.id}":{
    "id":"${program.id}",
    "name":"$encoder.jsonEncode( ${program.displayName} )",
    "uid":"$encoder.jsonEncode( ${program.uid} )",
    "description":"$encoder.jsonEncode( ${program.description} )",
    "enrollmentDescription":"$encoder.jsonEncode( ${program.dateOfEnrollmentDescription} )",
    "incidentDescription":"$encoder.jsonEncode( ${program.dateOfIncidentDescription} )",
    "type": "$!program.type",
    "programStages":[#set( $pssize = $program.programStages.size() )
    #foreach( $ps in $program.programStages )
    {
        "id": "${ps.id}",
        "uid": "$encoder.jsonEncode( ${ps.uid} )",
        "name": "$encoder.jsonEncode( ${ps.displayName} )",
        "reportDateDescription": "$encoder.jsonEncode( ${ps.reportDateDescription} )",
        "irregular": "$!{ps.irregular}",
        "displayGenerateEventBox": "$!{ps.displayGenerateEventBox}",
        "validCompleteOnly": "$!{ps.validCompleteOnly}",
        "captureCoordinates": "$!{ps.captureCoordinates}",
        "blockEntryForm": "$!ps.blockEntryForm",
        "remindCompleted": "$!ps.remindCompleted",
		"allowGenerateNextVisit": "$!ps.allowGenerateNextVisit"
    }#if( $velocityCount < $pssize ),#end
    #end],
    "programAssociations": $programAssociations.get( ${program.id} )
}#if( $velocityCount < $psize ),#end
#end }
}}
