<script>
	jQuery(document).ready(	function(){
		jQuery("#programIdAddPatient option").each(function(){
			var item = jQuery(this);
			if( item.attr('type')!=1 && item.val()!='' ){
				item.remove();
			}
		});
		if(jQuery("#programIdAddPatient option").length==1)
		{
			jQuery("#programIdAddPatient [value=]").remove();
		}
		
		hideById('addPatientBtn');
		var i18n_list_events = '$encoder.jsEscape( $i18n.getString( "list_events" ) , "'")';
		setFieldValue('listPatientBtn', i18n_list_events);
		showById('dueDateTR');
		showById('programStageAddPatientTR');
		showById('scheduleVisitTR');
		
		jQuery("#searchObjectId [value=prg]").remove();
		registration = false;
		
		jQuery('#searchByIdTR').remove();
		jQuery('#listPatientBtnTD').attr('rowspan',5);
		jQuery('#listPatientBtnTD').attr('valign','bottom');
	});	
</script>

<h3 id='mainLinkLbl'>$i18n.getString( "multiple_individual_records_management" ) #openHelp('multiple_individual_records')</h3>
<form>
	<input type='hidden' id='isRegistration' name= 'isRegistration' value='false'>
	<input type='hidden' id='searchByProgramStage' name= 'searchByProgramStage' value='true'>
	<div id='searchDiv'>
		#parse( "dhis-web-caseentry/searchPatientCriteria.vm" )	
	</div>
</form>

#parse( "dhis-web-commons/loader/loader.vm" )

<div id='listPatientDiv'></div>
<div id='patientDashboard'></div> <!-- Patient dashboard -->
<div id='smsManagementDiv'></div>
<div id='sendSmsFormDiv'></div>
<div id='editPatientDiv'></div> <!-- Add Patient Form -->
<div id='resultSearchDiv' style='font-size:13px'></div> <!-- List searching patients -->
<div id='enrollmentDiv'></div> <!-- Program Enrollment Form -->
<div id='listRelationshipDiv'></div> <!-- List relationship -->
<div id='addRelationshipDiv'></div> <!-- Add relationship -->
<div id='migrationPatientDiv'></div> <!-- Migration Patient -->
<div id='contentDataRecord'></div>

<script>
	unSave = false;
	statusSearching = 3;
	var i18n_please_select = '[' + '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'")' + ']';
	var i18n_please_select_program_stage = '[' + '$encoder.jsEscape( $i18n.getString( "please_select_program_stage" ) , "'")' + ']';
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_value_must_number = '$encoder.jsEscape( $i18n.getString( "value_must_number" ) , "'")';
	var i18n_value_must_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_positive_integer" ) , "'")';
	var i18n_value_must_zero_or_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_zero_or_positive_integer" ) , "'")';
	var i18n_value_must_negative_integer = '$encoder.jsEscape( $i18n.getString( "value_must_negative_integer" ) , "'")';
    var i18n_invalid_date = '$encoder.jsEscape( $i18n.getString( "invalid_date" ) , "'")'; 
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")';
    var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
    var i18n_quit_confirm_message = '$encoder.jsEscape( $i18n.getString( "quit_confirm_message" ) , "'")';
	var i18n_incomplete_confirm_message = '$encoder.jsEscape( $i18n.getString( "incomplete_confirm_message" ) , "'")';
    var i18n_reenrollment_confirm_message = '$encoder.jsEscape( $i18n.getString( "reenrollment_confirm_message" ) , "'")';
    var i18n_error_required_field = '$encoder.jsEscape( $i18n.getString( "error_required_field" ) , "'")';
    var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_date_less_incident_date = '$encoder.jsEscape( $i18n.getString( "date_less_incident_date" ) , "'")';
	var i18n_scheduled_in_future = '$encoder.jsEscape( $i18n.getString( "scheduled_in_future" ) , "'")';
	
	var i18n_id = '$encoder.jsEscape( $i18n.getString( "id" ), "'")';
	var i18n_full_name = '$encoder.jsEscape( $i18n.getString( "full_name" ), "'")';
	var i18n_gender = '$encoder.jsEscape( $i18n.getString( "gender" ), "'")';
	var i18n_dob_type = '$encoder.jsEscape( $i18n.getString( "dob_type" ), "'")';
	var i18n_date_of_birth = '$encoder.jsEscape( $i18n.getString( "date_of_birth" ), "'")';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'")';
	var i18n_program_stage = '$encoder.jsEscape( $i18n.getString( "program_stage" ) , "'")';
	var i18n_color_quick_help = '$encoder.jsEscape( $i18n.getString( "color_quick_help" ) , "'")';
	var i18n_comment_added = '$encoder.jsEscape( $i18n.getString( "comment_added" ) , "'")';
	var i18n_list_all_patients = '$encoder.jsEscape( $i18n.getString( "list_all_patients" ), "'")';
	var i18n_main_form_link = '$encoder.jsEscape( $i18n.getString( "multiple_individual_records_management" ), "'")';
	var i18n_patient_details_and_history = '$encoder.jsEscape( $i18n.getString( "patient_details_and_history" ), "'")';
	var i18n_insert_a_report_date = '$encoder.jsEscape( $i18n.getString( "insert_a_report_date" ) , "'")';
	var i18n_comment = '$encoder.jsEscape( $i18n.getString( "comment" ) , "'")';
	var i18n_message = '$encoder.jsEscape( $i18n.getString( "message" ) , "'")';
</script>
