<h3>$grid.title</h3>

<table class="contentProviderTable" width="100%;">
	<colgroup>
		<col width="40%">
		<col width="60%">
	</colgroup>
	
	<tbody>  
		#set( $mark = false )
		#set( $flag = 0 )
		#set( $flagCol = false )
		#foreach( $row in $grid.getVisibleRows() )
			<tr #alternate($mark)>
				#foreach( $col in $row )
					#if( $flag == 2 && $velocityCount == 1 )
						<td><h5>$col</h5></td>
						#set( $flag = 0 )
						#set( $flagCol = true )
					#elseif( $velocityCount == 1 && $col != '' )
						<td>$!encoder.htmlEncode( $col )</td>
					#elseif( $col != '' || $flagCol == true)
						<td>$!col</td>
						#set( $flagCol = false )
					#end
					
					#if($velocityCount == 1)
						#set( $flag = 0 )
					#end
					#if( $col=='')
						#set( $flag = $flag + 1 )
					#end
				#end
			</tr>
		#end
		#set( $mark = !$mark)
	</tbody>
</table>