#if($message)
	<span id='message' style="display:block;">$message</span>
#else
	<table>
		<tr>
			<td class='text-column'>$i18n.getString( "total_result" )</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>$!totalRecords</td>
		</tr>
	</table>

	<table class="mainPageTable">
		<tr>
		<td>  
			<table class="listTable">
				<thead>
					<tr>
						<th># </th>
						#set($index = 0)
						#set( $noHeader = $grid.getHeaders().size() )
						#foreach( $col in $grid.getHeaders() )
							#if( $index > 0 && $index < $noHeader - 2 )
								<th>$col.name</th>
							#end
							#set($index = $index + 1)
						#end
						<th style="width:100px">$i18n.getString( "operations" )</th>
					</tr>
				</thead>
		
				<tbody id="list">
					#foreach( $row in $grid.getRows() )
						<tr id="row">
							<td>
								#set( $nr = ( ( $paging.getCurrentPage() - 1  ) * $paging.pageSize ) + $velocityCount )
								$nr
							</td>
							#set($completed = "")
							#set($index = 0)
							#foreach( $col in $row )
								#if( $index == 0 )
									#set($psid = $col)
								#elseif($velocityCount == $noHeader - 1 )
									#set($completed = $col)
								#else
									<td>$!col</td>
								#end
								#set($index = $index + 1)
							#end
							
							<td align='right' style='padding-right:20px;'>
								#if($completed=='false')<span class="incomplete-record" title="$i18n.getString('incomplete')">&nbsp;!&nbsp;</span>#end
								<a href="javascript:showUpdateEvent( $psid )" title='$i18n.getString( "data_entry" )'><img src="images/data_entry.png" alt='$i18n.getString( "data_entry" )'></a>
								<a href="javascript:removeEvent( $psid )" title='$i18n.getString( "remove" )'><img src="../images/delete.png" alt='$i18n.getString( "remove" )'></a>
							</td>
						<script>
							jQuery('#row').attr('id','tr' + "$psid");
						</script>
						</tr>	
					#end
				</tbody>
		 </table>
		</td>
	  </tr>
	  <tr>
		#set( $noCol = $grid.getHeaders().size() + 3 )
		<td colspan="$noCol">
			<p></p>
			<div class="paging-container">
				#parse( "/dhis-web-commons/paging/paging.vm" )
			</div>
		</td>
		<td></td>
	  </tr>
	</table>
#end

<script type="text/javascript">
	jQuery(document).ready(function(){
		setTableStyles();	
	});
</script>	
