<h5>
	<a name="mainPagelink" href="javascript:onClickBackBtn();">$i18n.getString( 'patient_management' )</a>
	&#8226; <a href="javascript:showPatientDashboardForm($!patient.id);">$i18n.getString( 'patient_dashboard' )</a>
	&#8226; $i18n.getString( "relationship_management" )
</h5>
<h3>	
	&raquo; <a href="javascript:showAddRelationship('$patient.id')" >$i18n.getString( 'seach_available_patient' )</a>
	&#8226; <a href="javascript:showAddRelationshipPatient( '$patient.id',false,'' )" >$i18n.getString( 'add_new_patient' )</a>
</h3>

<input type="hidden" id="id" name="id" value="$patient.id">
<table class="mainPageTable information">                           
	<tr>              
		<td>
			<table>
				<tr>
					<td class="bold text-column">$i18n.getString( "full_name" ): </td>
					<td>$!encoder.htmlEncode( $patient.name )<td>
				</tr>
				<tr>
					<td class="bold text-column">$i18n.getString( "gender" ): </td>
					<td>#if($patient.gender=='F')
							<img src='images/female_small.png'>
						#else
							<img src='images/male_small.png'>
						#end
					<td>
				</tr>
				<tr>
					<td class="bold text-column">$i18n.getString( "date_of_birth" ): </td>
					<td>$format.formatDate( $patient.birthDate )<td>
				</tr>
				<tr>
					<td class="bold text-column" style='vertical-align:top'>$i18n.getString( "age" ): </td>
					<td>$encoder.htmlEncode( $patient.getAge() )</td>
				</tr>
			</table>
		</td>
	
		#if( $patientAttributeValues.size() > 0 )
		<td align="right">
				<table>
					#foreach( $patientAttributeValue in $patientAttributeValues )
						<tr>
							<td class="bold text-column">$encoder.htmlEncode( $patientAttributeValue.patientAttribute.name ):</td>
							<td>
							#if( $patientAttributeValue.patientAttribute.valueType=="bool")
								$i18n.getString("$patientAttributeValue.value")
							#else
								$encoder.htmlEncode( $patientAttributeValue.value )
							#end
							</td>
						</tr>
					#end                         
				</table>
			
		</td>
		#end
	</tr>
	
</table>

<table class="list-table listTable">
               
	<tr>            
		<th>$i18n.getString( "relationship" )</th>
		<th>$i18n.getString( "full_name" )</th>
		<th style="text-align:center">$i18n.getString( "operations" )</th>
	</tr>
	
	<tbody id="list"> 
		#set( $mark = false )
		#foreach( $relationship in $relationships )
			<tr id="tr${relationship.id}" #alternate( $mark ) >
				#set( $partnerId = false )    
				#if( $relationship.patientA.id == $patient.id )
					#set( $partnerId = $relationship.patientB.id )
					<td>                                
						$encoder.htmlEncode( $relationship.relationshipType.BIsToA )
					</td>
								
					<td>
						$!encoder.htmlEncode( $relationship.patientB.name )
					</td>
				#elseif($relationship.patientB.id == $patient.id )
					#set( $partnerId = $relationship.patientA.id )
					<td>                                
						$encoder.htmlEncode( $relationship.relationshipType.AIsToB )
					</td>
								
					<td>
						$!encoder.htmlEncode( $relationship.patientA.name )
					</td>
				#end                  
				
				<td style="text-align:center">
					<a href="javascript:manageRepresentative( '$patient.id', $partnerId )" title="$i18n.getString( 'set_as_representative' )"><img src="images/representative.png" alt="$i18n.getString( 'manage_representative' )"></a>
					<a href="javascript:removeRelationship( '$relationship.id', '$!encoder.jsEncode( $relationship.patientA.name )', '$encoder.jsEncode( $relationship.relationshipType.aIsToB )', '$!encoder.jsEncode( $relationship.patientB.name )' )" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
				</td>   						
			</tr>
			#set( $mark = !$mark)
		#end
	</tbody>
</table>

<div id="detailsArea" class="hidden">
	<table>
		<tr>
			<td>
				<div style="float:right">
					<a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/close.png" alt="$i18n.getString( 'hide_details' )"></a>
				</div>	                     
			</td>
			<td>
                <span class="bold">$i18n.getString( "full_name" ):</span><span id="fullNameField"></span><br>
                <span class="bold">$i18n.getString( "gender" ):</span><span id="genderField"></span><br>
                <span class="bold">$i18n.getString( "date_of_birth" ):</span><span id="dateOfBirthField"></span><br>
                <span class="bold">$i18n.getString( "age" ):</span><span id="ageField"></span>
            </td>   
            <td style="vertical-align:top">
                <div style="float:right">                              
                    <p><span class="bold">$i18n.getString( "attributes" ):</span><br><span id="attributeField"></span></p>                                         
                </div>
            </td>    
        </tr>
        <tr>
            <td style="text-align:left">
                <span id="buttonFirstField"></span>
            </td>
            <td style="text-align:right">
                <span id="buttonSecondField"></span>
            </td>    
        </tr>                      
    </table>

</div>

<script type="text/javascript">
	jQuery(document).ready(	function(){
		hideById('mainLinkLbl');
		jQuery('[name=mainPagelink]').html(i18n_main_form_link);
	});
	
	var i18n_confirm_delete_relationship = '$encoder.jsEscape( $i18n.getString( "confirm_delete_relationship" ) , "'" )';
    var i18n_please_select_a_representative = '$encoder.jsEscape( $i18n.getString( "please_select_a_representative" ) , "'" )';
    var i18n_saving_representative_failed = '$encoder.jsEscape( $i18n.getString( "saving_representative_failed" ) , "'" )';
    var i18n_removing_representative_failed = '$encoder.jsEscape( $i18n.getString( "removing_representative_failed" ) , "'" )';
    var i18n_removing_relationship_failed = '$encoder.jsEscape( $i18n.getString( "removing_relationship_failed" ) , "'" )';        
    var i18n_adding_relationship_failed = '$encoder.jsEscape( $i18n.getString( "adding_relationship_failed" ) , "'" )';
	var i18n_set_as_representative = '$encoder.jsEscape( $i18n.getString( "set_as_representative" ) , "'" )';
</script>

