<table>
	<tr>
		<td class='text-column' >$i18n.getString( "search_result_matching_the_search_criteria" ):</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>$i18n.getString( "search_patients" )</td>
	</tr>
	<tr>
		<td class='text-column' >$i18n.getString( "total_result" )</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>$!patients.size()</td>
	</tr>
</table>

#if( $patients.size() > 0 )
   
  <table class="mainPageTable listTable" id="patientList" width='100%'>               
	  <col width="30"/>
	  <col/>
	  <col width="200"/>    
	  
	  <thead>
		<tr>
			<th>#</th>
			<th>$i18n.getString( "full_name" )</th>          
			<th>$i18n.getString( "gender" )</th>
			<th>$i18n.getString( "date_of_birth" )</th> 
			<th>$i18n.getString( "age" )</th>
			<th>$i18n.getString( "phone_number" )</th>
			<th style="text-align:center">$i18n.getString( "operations" )</th>
		</tr>
	  </thead>
	  
	  <tbody id="list">	
	  #foreach( $patient in $patients )
		<tr id="tr${patient.id}">
			
			<td>$velocityCount</td>
			
			<td style="cursor:pointer;" onclick="javascript:isDashboard=true;showPatientDashboardForm( '$patient.id' )">
				<a>$!encoder.htmlEncode($patient.name)</a>
			</td>
			
			<td>#if($!patient.gender) $i18n.getString($!patient.gender) #end</td>
			
			<td>#if($!patient.birthDate) $format.formatDate( $!patient.birthDate) #end</td>
			
			<td>#if($!patient.birthDate) $!patient.getAge() #end</td>
			
			<td>$!patient.phoneNumber</td>
			
			<td>
			  <a href="javascript:isDashboard=true;showPatientDashboardForm( '$patient.id' )" title='$i18n.getString( "patient_dashboard" )'><img src="../images/enroll.png"></a>
			  <a href="javascript:validateAddRelationship($patient.id);" title="$i18n.getString( 'assign_relationship' )" ><img src="../images/relationship.png" ></a>
			  <a href="javascript:showPatientHistory('$patient.id')" title='$i18n.getString( "patient_details_and_history" )'><img src="../images/information.png"></a>
			</td>
			
		</tr>
	#end
	</tbody>
</table>

<div id="detailsInfo"></div>

#end
<script type="text/javascript">
	jQuery(document).ready(function(){
		setTableStyles();	
	});
	var i18n_patient_details_and_history = '$encoder.jsEscape( $i18n.getString( "patient_details_and_history" ) , "'" )';	
	var i18n_id = '$encoder.jsEscape( $i18n.getString( "id" ), "'")';
	var i18n_full_name = '$encoder.jsEscape( $i18n.getString( "full_name" ), "'")';
	var i18n_gender = '$encoder.jsEscape( $i18n.getString( "gender" ), "'")';
	var i18n_dob_type = '$encoder.jsEscape( $i18n.getString( "dob_type" ), "'")';
	var i18n_date_of_birth = '$encoder.jsEscape( $i18n.getString( "date_of_birth" ), "'")';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
	var i18n_select = '[' + '$encoder.jsEscape( $i18n.getString( "select" ), "'")' + ']';
	var i18n_program_stages_history_plan = '$encoder.jsEscape( $i18n.getString( "program_stages_history_plan" ) , "'")';	
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_value_must_number = '$encoder.jsEscape( $i18n.getString( "value_must_number" ) , "'")';
	var i18n_value_must_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_positive_integer" ) , "'")';
	var i18n_value_must_negative_integer = '$encoder.jsEscape( $i18n.getString( "value_must_negative_integer" ) , "'")';
	var i18n_value_must_zero_or_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_zero_or_positive_integer" ) , "'")';
    var i18n_invalid_date = '$encoder.jsEscape( $i18n.getString( "invalid_date" ) , "'")' + ".\n " + '$encoder.jsEscape( $i18n.getString( "format_date" ) , "'")' + " '" + dateFormat.replace('yy', 'yyyy') + " '" ; 
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")';
    var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
    var i18n_quit_confirm_message = '$encoder.jsEscape( $i18n.getString( "quit_confirm_message" ) , "'")';
    var i18n_error_required_field = '$encoder.jsEscape( $i18n.getString( "error_required_field" ) , "'")';
	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_date_is_greater_then_or_equals_due_date = '$encoder.jsEscape( $i18n.getString( "date_is_greater_then_or_equals_due_date" ) , "'")';	
	var i18n_program_stage = '$encoder.jsEscape( $i18n.getString( "program_stage" ) , "'")';
    var i18n_scheduled_for = '$encoder.jsEscape( $i18n.getString( "scheduled_for" ) , "'")';
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'")';
	var i18n_create_new_event = '$encoder.jsEscape( $i18n.getString( "create_new_event" ) , "'")';
	var i18n_save_success = '$encoder.jsEscape( $i18n.getString( "save_success" ) , "'")';
	var i18n_color_quick_help = '$encoder.jsEscape( $i18n.getString( "color_quick_help" ) , "'")';
	var i18n_reenrollment_confirm_message = '$encoder.jsEscape( $i18n.getString( "reenrollment_confirm_message" ) , "'")';
</script>
