<table>
	<tr>
		<td style="text-align:left">$i18n.getString( "total_result" ): </td>
		<td>
			#if($!total)
				$total
			#else
				0
			#end
		</td>
	</tr>
</table>

#if( $programInstances && $programInstances.size() > 0 )
<p>#parse( "/dhis-web-caseentry/colorHelp.vm" )</p>

<table class="mainPageTable">
<tr>
    <td style="vertical-align:top">    
    <table class="listTable">
        <tbody id="list" style="width:300px; overflow:auto;">
            #set( $mark = false )  
			#foreach( $programInstance in $programInstances )
                <tr #alternate( $mark )>                
					<td>
						#set( $value="")
						#if($program.patientIdentifierTypes)
							#foreach( $identifierType in $program.patientIdentifierTypes )
								#foreach( $pIdentifier in $programInstance.patient.identifiers )
									#if($identifierType.personDisplayName=="true" && $identifierType.id==$pIdentifier.identifierType.id)
										#set( $value= $value + $pIdentifier.identifier + '&#13;&#10;' )
									#end
								#end
							#end
						#end
						#if($value=="")
							#set( $value=$programInstance.patient.name)
						#end
							
						<input type='button' class='patient-object' value="$value"
							onclick='javascript:showPatientHistory( $programInstance.patient.id )' title='$i18n.getString( "patient_details_and_history" )'>
					</td>	
					<td>
						#set( $programStageInstances = $programInstance.programStageInstances )
						#parse( "/dhis-web-caseentry/programStageInstanceFlow.vm" )
					</td>
                </tr>
                #if( $mark )
                    #set( $mark = false )
                #else
                    #set( $mark = true )
                #end 
            #end    
        </tbody>
		<tr>
			#set( $size=$program.programStages.size() + 2 )
			<td colspan="$size">
				<p></p>
				<div class="paging-container">
					#parse( "/dhis-web-commons/paging/paging.vm" )
				</div>
			</td>
		</tr>
    </table>
    </td>
</tr>
</table>

<div id="viewRecordsDiv"></div>
#end

<script>
	var i18n_patient_details_and_history = '$encoder.jsEscape( $i18n.getString( "patient_details_and_history" ) , "'" )';
	var i18n_records_for = '$encoder.jsEscape( $i18n.getString( "records_for" ) , "'" )';
	var i18n_at = '$encoder.jsEscape( $i18n.getString( "at" ) , "'" )';
	var i18n_on_date = '$encoder.jsEscape( $i18n.getString( "on_date" ) , "'" )';
	var i18n_no_records = '$encoder.jsEscape( $i18n.getString( "no_records" ) , "'" )';
</script>