<div id='reportTitle' name='reportTitle' style="display:none;">
	<h3>$i18n.getString('records_of') $!encoder.htmlEncode( $patient.name )  $i18n.getString('at') $programStage.displayName $i18n.getString('in') $organisationUnit.name $i18n.getString('on_value') $format.formatDate($programStageInstance.executionDate)</h3>
	<hr/>
</div>

<div id='patientInforTB' name="patientInforTB" style="display:none;">
	#if( $patient )
		<table>
			<tr>            
				<td class='coordinates1'>
					<span class='bold' id="patientName">$i18n.getString( "full_name" ):</span>
				</td>
				<td class='coordinates2'>
					$!encoder.htmlEncode( $patient.name ) 
					#if($patient.gender=='F')
						<img src='images/female_small.png'>
					#else
						<img src='images/male_small.png'>
					#end
				</td>
				<td class='bold coordinates1'>$i18n.getString('program'):</td>
				<td class='coordinates2'>$program.displayName</td>
				<td rowspan='2'>
					<a href='javascript:markForFollowup($programStageInstance.programInstance.id, false)' #if( $programStageInstance.programInstance.followup == 'false') class='hidden' #end name='imgMarkFollowup' title='$i18n.getString("imgMarkFollowup")' ><img src='images/risk_large.png'></a>
					<a href='javascript:markForFollowup($programStageInstance.programInstance.id, true)' #if( $programStageInstance.programInstance.followup == 'true') class='hidden' #end name='imgUnmarkFollowup' title='$i18n.getString("imgMarkFollowup")' ><img src='images/unrisk_large.png'></a>			
				</td>
			</tr>
			<tr>
				<td>
					<span class='bold'>$i18n.getString( "date_of_birth" ):</span>
				</td>
				<td>
					$format.formatDate( $patient.birthDate ) ( $encoder.htmlEncode( $patient.getAge() ) )
				</td>
				<td class='bold coordinates1' style="vertical-align:top">$i18n.getString('program_stage'):</td>
				<td class='coordinates2'>$programStageInstance.programStage.displayName</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
		</table>
	#end
		
	#if( $programStageInstance )
	<table style="width:600px;" class="listTable">
		<tr>
			<th class='coordinates1'><label for="executionDate">$programStageInstance.programStage.reportDateDescription <em title="$i18n.getString( "required" )" class="required">*</em> </label></th>
			<th class='coordinates2'><input type="text" class='criteria' id="executionDate" name="executionDate" value="$!format.formatDate( $programStageInstance.executionDate )" onchange="saveExecutionDate( $programStageInstance.programInstance.program.id, $programStageInstance.id, byId('executionDate') )" > </th>
				<script type="text/javascript">
				   datePickerValid( 'executionDate', false );
				</script>  
			<th class='coordinates1' id="dueDateLbl"><label for="dueDate"> $i18n.getString( "due_date" )</label> </th>
			<th class='coordinates2' id="dueDateField"><input type="text" class='criteria' id="dueDate" name="dueDate" value="$!format.formatDate( $programStageInstance.dueDate )" disabled="disabled"> </th>
		</tr>
	</table>
	#end
</div>

<input type='hidden' id="programId" name="programId" type="text" readonly="readonly" value="$encoder.htmlEncode( $program.displayName )" style="min-width:350px">		
<input id="programStageId" name="programStageId" type="hidden" value="$programStage.id" style="min-width:350px">            
<input id="programStageInstanceId" name="programStageInstanceId" type="hidden" value="$programStageInstance.id" style="min-width:350px">            

<p></p>
#parse( "dhis-web-commons/loader/loader.vm" )
<form id='dataEntryFormDiv' name='dataEntryFormDiv' #if($!programStageInstance.executionDate) #else class='hidden' #end >
	#parse( "dhis-web-caseentry/dataEntryForm.vm" )
</form>

<script type="text/javascript">
	jQuery('#patientForm').ready(	function(){
		enable('validationBtn');
		#if($programStageInstance.completed=='true') 
			disable('completeBtn');
			enable('uncompleteBtn');
		#else
			enable('completeBtn');
			disable('uncompleteBtn');
		#end
		setInnerHTML("patientNameLbl", "&raquo; " + "!$encoder.jsEncode( $patient.name)");
	});
	
	var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
	var i18n_value_must_number = '$encoder.jsEscape( $i18n.getString( "value_must_number" ) , "'")';
	var i18n_value_must_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_positive_integer" ) , "'")';
	var i18n_value_must_zero_or_positive_integer = '$encoder.jsEscape( $i18n.getString( "value_must_zero_or_positive_integer" ) , "'")';
	var i18n_value_must_negative_integer = '$encoder.jsEscape( $i18n.getString( "value_must_negative_integer" ) , "'")';
    var i18n_invalid_date =   '$encoder.jsEscape( $i18n.getString( "invalid_date" ) , "'")' + ".\n " 
							+ '$encoder.jsEscape( $i18n.getString( "format_date" ) , "'")' + " '" 
							+ dateFormat.replace('yy', 'yyyy') + " '" ; 
    var i18n_saving_value_failed_status_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_status_code" ) , "'")';
    var i18n_saving_value_failed_error_code = '$encoder.jsEscape( $i18n.getString( "saving_value_failed_error_code" ) , "'")';
    var i18n_searching_patient_failed = '$encoder.jsEscape( $i18n.getString( "searching_patient_failed" ) , "'")';
    var i18n_complete_confirm_message = '$encoder.jsEscape( $i18n.getString( "complete_confirm_message" ) , "'")';
	var i18n_quit_confirm_message = '$encoder.jsEscape( $i18n.getString( "quit_confirm_message" ) , "'")';
    var i18n_error_required_field = '$encoder.jsEscape( $i18n.getString( "error_required_field" ) , "'")';
	var i18n_violate_validation = '$encoder.jsEscape( $i18n.getString( "violate_validation" ) , "'")';
	var i18n_date_is_greater_then_or_equals_due_date = '$encoder.jsEscape( $i18n.getString( "date_is_greater_then_or_equals_due_date" ) , "'")';
	var i18n_show_all_items = '$encoder.jsEscape( $i18n.getString( "show_all_items" ) , "'")';
	var i18n_insert_a_report_date = '$encoder.jsEscape( $i18n.getString( "insert_a_report_date" ) , "'")';
</script>