<input type='hidden' id='searchByProgramStage' name='searchByProgramStage' value="false">
<input type='hidden' id='orgunitId' name='orgunitId' value='$organisationUnit.id' >
<input type="hidden" id='hideLink' name='hideLink' value='false'>
<input type='hidden' id='isSearchByProgram' name='isSearchByProgram' value='false' >

<table style="margin-bottom:8px" id="commonSearchDiv" name="commonSearchDiv">    
	<tr>
		<td>
			<label>$i18n.getString( "registering_unit" )</label>
		</td>
		<td>
			<input type="text" id='orgunitName' readonly="readonly" #if( $organisationUnit ) value="$encoder.htmlEncode( $organisationUnit.name )" #else value="[$i18n.getString( 'please_select_village' )]" #end >
		</td>
		<td valign='bottom' id='criteriaBtnTD'>
			<input type="button" id='addPatientBtn' name='addPatientBtn' class='large-button' value='$i18n.getString( "add_new" )' onclick="showAddPatientForm(getFieldValue('programIdAddPatient'),'', '');" >
		</td>
	</tr>
	<tr id='programAddPatientTR'>
		<td>$i18n.getString('program')</td>
		<td>
			<select id='programIdAddPatient' name='programIdAddPatient' onchange='enableBtn();'>
				#if($programs.size()==0)
					<option value="">[$i18n.getString( "none_program" )]</option>
					<script>disable('listPatientBtn')</script>
				#elseif($programs.size()>1)
					<option value='' type='2' id='emptyProgramOption'>[$i18n.getString("please_select")]</option>
					<script>disable('listPatientBtn')</script>
				#else
					<script>enable('listPatientBtn')</script>
				#end
				
				#foreach($program in $programs)
					<option value="$program.id" type='$program.type'>$program.displayName</option>
				#end
			</select>
			<span id="programLoader" style="display:none;" ><img src="../images/ajax-loader-bar.gif" /></span>
		</td>
		<td id='listPatientBtnTD'>
			<input type="button" id='listPatientBtn' value="$i18n.getString( 'list_all_patients' )" onclick="listAllPatient();">
			<input type="button" id='advancedSearchBtn' class='hidden' value='$i18n.getString( "advanced_search" )' onclick="advancedSearchOnclick();">
		</td>
	</tr>
	<tr id='scheduleVisitTR' class='hidden'>
		<td>$i18n.getString('scheduled_visits')</td>
		<td>
			<select id='scheduledVisitDays' name='scheduledVisitDays' >
				<option value=''>[$i18n.getString("please_select")]</option>
				<option value='0'>$i18n.getString("today")</option>
				<option value='7'>$i18n.getString("last_7_days")</option>
				<option value='30'>$i18n.getString("last_30_days")</option>
			</select>
		</td>
	</tr>
	<tr id='programStageAddPatientTR' class='hidden'>
		<td>$i18n.getString('status')</td>
		<td>
			<select id="statusEvent" name="statusEvent">
				<option value='4'>$i18n.getString("overdue")</option>
				<option value='2'>$i18n.getString("incomplete")</option>
				<option value='1'>$i18n.getString("completed")</option>
				<option value='3'>$i18n.getString("scheduled_in_future")</option> 
				<option value='5'>$i18n.getString("skipped")</option> 
			</select>
		</td>
	</tr>
	<tr id='followupTR' class='hidden'>
		<td>$i18n.getString('show_only_risk_cases')</td>
		<td>
			<input type='checkbox' id='followup' name='followup' />
		</td>
	</tr>
	<tr id='searchByIdTR' class='hidden'>
		<td colspan='2'>
			<input type='text' id='searchPatientByIds' name='searchPatientByIds' onchange='searchByIdsOnclick();' style='width:350px;' placeholder='$i18n.getString("search_by_name_identifier")' />
		</td>
		<td>
			<input type='button' value='$i18n.getString("search")' onclick='searchByIdsOnclick();'>
			<input type="button" id='advancedSearchBtn' value='$i18n.getString( "advanced_search" )' onclick="advancedSearchOnclick();">
		</td>
	</tr>
	
</table>

<div id='showSearchCriteriaDiv' class='hidden green-background'><img src='../images/move_bottom.png' onclick='showSearchCriteria();' >&nbsp;&nbsp; $i18n.getString("there_are_active_search_filter_click_on_arrow_to_show_them")</div>
<div id='advanced-search' name='advanced-search' class='hidden advanced-search'>
	<div style="float: right"><a id="clearAndCloseSearchBtn" href="javascript:clearAndCloseSearch()"><img src="../images/hide.png" title="$i18n.getString( 'clear_and_close' )"></a></div>
	<div id='hideSearchCriteriaDiv' class='hidden'><img src='../images/move_top.png' onclick='hideSearchCriteria();' >&nbsp;&nbsp; $i18n.getString("hide_search_criteria")</div>
	<table>	
		<tr>
			<td>$i18n.getString('select_orgunit_for_search')</td>
			<td><span id='orgunitForSearch'>$!organisationUnit.name</span></td>
		</tr>
		<tr>
			<td>$i18n.getString('orgunit_search_type')</td>
			<td>
				<select id='facilityLB' name='facilityLB'>
					<option value='' />$i18n.getString('selected')</option>
					#if( $auth.hasAccess( "dhis-web-caseentry", "searchInOtherOrgunits" ) )
						<option value='searchInBelowSelectedOrgunit' />$i18n.getString('selected_and_all_below')</option>
					#end
					<option value='searchInUserOrgunits' />$i18n.getString('all_visible')</option>
					#if( $auth.hasAccess( "dhis-web-caseentry", "searchAllFacilities" ) )
						<option value='searchInAllOrgunits' />$i18n.getString('all_in_system')</option>
					#end
				</select>
			</td>
		</tr>
		<tr id="enrollmentSelectTR" class='hidden' >
			<td>$i18n.getString('show')</td>
			<td>
				<select id='statusEnrollment'>
					<option value='0'>$i18n.getString('active_enrollments_only')</option>
					<option value='1'>$i18n.getString('completed_enrollments_only')</option>
					<option value=''>$i18n.getString('active_and_completed_enrolments')</option>
				</select>
			</td>
		</tr>
		<tr id='dueDateTR' class='hidden'>
			<td>$i18n.getString('due_date_from_to')</td>
			<td>
				<input type='text' id='startDueDate' name='startDueDate' style='width:127px;'>
				<input type='text' id='endDueDate' name='endDueDate' style='width:127px;'>
			</td>
		</tr>
		<tr>
			<td id='searchingAttributeIdTD' class="hidden">
			  <select class='search-field' id="searchObjectId" name="searchObjectId" #if( $patientAttributes.size() == 0 ) disabled="disabled" #end onchange="searchObjectOnChange(this)">
				#if( $auth.hasAccess( "dhis-web-caseentry", "accessPatientAttributes" ) )
					<option value="iden">$i18n.getString( "search_by_name_identifier" )</option>
					<option value="fixedAttr_registrationDate">$i18n.getString( "registration_date" )</option>
					<option value="fixedAttr_birthDate">$i18n.getString( "date_of_birth" )</option>
					<option value="fixedAttr_age">$i18n.getString( "age_year" )</option>
					<option value="fixedAttr_gender">$i18n.getString( "gender" )</option>
					<option value="fixedAttr_phoneNumber">$i18n.getString( "phone_number" )</option>
					<option value="pi_enrollmentDate">$i18n.getString( "enrollment_date" )</option>
					#foreach( $attribute in $patientAttributes )
						<option value="attr_$attribute.id" valueType='$attribute.valueType'>$encoder.htmlEncode( $attribute.displayName )</option>
					#end
				#end
			  </select>
			  <em title="$i18n.getString( 'required' )" class="required">*</em></label>
			</td>
		</tr>
		<tbody id='advancedSearchTB'>
			<tr id='advSearchBox0'>	       
				<td>
				  <select class='search-field' id="searchObjectId" name="searchObjectId" #if( $patientAttributes.size() == 0 ) disabled="disabled" #end onchange="searchObjectOnChange(this)">
					#if( $auth.hasAccess( "dhis-web-caseentry", "accessPatientAttributes" ) )
						<option value="iden">$i18n.getString( "search_by_name_identifier" )</option>
						<option value="fixedAttr_registrationDate">$i18n.getString( "registration_date" )</option>
						<option value="fixedAttr_birthDate">$i18n.getString( "date_of_birth" )</option>
						<option value="fixedAttr_age">$i18n.getString( "age_year" )</option>
						<option value="fixedAttr_gender">$i18n.getString( "gender" )</option>
						<option value="fixedAttr_phoneNumber">$i18n.getString( "phone_number" )</option>
						<option value="pi_enrollmentDate">$i18n.getString( "enrollment_date" )</option>
						#foreach( $attribute in $patientAttributes )
							<option value="attr_$attribute.id" valueType='$attribute.valueType'>$encoder.htmlEncode( $attribute.displayName )</option>
						#end
					  </select>
					#end
				  <em title="$i18n.getString( 'required' )" class="required">*</em></label>
				</td>		
				<td>
					<input type="text" id="searchText" name="searchText" class="searchInput" value="$!searchText" onkeyup='searchPatientsOnKeyUp( event );'>
					<input type="button" class='normal-button' name="clearSearchBtn" value='$i18n.getString( "clear" )' disabled onclick="removeAttributeOption('advSearchBox0');">
				</td>
			</tr>
		</tbody>
	</table>
	<div style="padding: 10px 0 15px 3px">
		<input type="button" class='large-button' value='$i18n.getString( "add_filter" )' onclick='addAttributeOption();'>
        <input type="button" class='large-button' value='$i18n.getString( "search" )' onclick='validateAdvancedSearch();' id='searchPatientBtn'>
        <input type="button" class='large-button hidden' id='sendSmsToListBtn' value="$i18n.getString('sms')" onclick="setFieldValue('sendToList', true);showSendSmsForm();">
    </div>
</div>

<script>
	var i18n_male = '$encoder.jsEscape( $i18n.getString( "male" ) , "'")';
	var i18n_female = '$encoder.jsEscape( $i18n.getString( "female" ) , "'")';
	var i18n_transgender = '$encoder.jsEscape( $i18n.getString( "transgender" ) , "'")';
	var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
	var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
	var i18n_specify_search_criteria = '$encoder.jsEscape( $i18n.getString( "specify_search_criteria" ) , "'")';
	var i18n_clear = '$encoder.jsEscape( $i18n.getString( "clear" ) , "'")';
	var i18n_view_all = '[' + '$encoder.jsEscape( $i18n.getString( "view_all" ) , "'")' + ']';
	var i18n_none_program = '[' + '$encoder.jsEscape( $i18n.getString( "none_program" ) , "'")' + ']';
	var i18n_please_select = '[' + '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'")' + ']';
	
	datePicker( 'startDueDate', true );
	datePicker( 'endDueDate', true );
	
	var searchTextBox = '<input type="text" id="searchText" name="searchText" class="searchInput" onkeyup="searchPatientsOnKeyUp( event );">';
</script>