<h3>$!encoder.htmlEncode( $grid.title )</h3>
<h5>$grid.subtitle</h5>

	<table class="listTable gridTable">
		<tbody>
			#set( $mark = false )
			#foreach( $row in $grid.getRows() )
			#set($rowIdx = $velocityCount)
			<tr #if($rowIdx > 7) #alternate( $mark ) #end >
				#if($rowIdx > 7)
					#set( $mark = !$mark )
				#end
				#foreach( $col in $row )
					#if($rowIdx<6 && $col!='') 
						<td colspan='3'>$col</td>
					#elseif($rowIdx == 6 && $col!='')
						<td colspan='3'><h4>$col</h4></td>
					#elseif($rowIdx == 7)
						<th>$col</th>
					#elseif($rowIdx>7)
						#if($velocityCount==1)
						<td>$col</td>
						#else
						<td align='center'>$col</td>
						#end
					#end
				#end
			</tr>
			#end
		</tbody>
	</table>
</div>

<div id='detailsDiv'></div>
<div id="viewRecordsDiv"></div>
