<h3>$encoder.htmlEncode( $i18n.getString( "validation_result" ) ) &nbsp;
	#if($programValidationResults.size()==0)
		<img src="../images/success_small.png">
	#else
		<img src="../images/warning_small.png">
	#end
</h3>
<input type="hidden" id="violateValidation" name="violateValidation" #if( $programValidationResults.size()==0 ) value="false" #else value="true" #end />
#if( $programValidationResults.size()==0 )  
    <p class="bold">$encoder.htmlEncode( $i18n.getString( "successful_validation" ) )</p>
#else
    <p class="bold">$encoder.htmlEncode( $i18n.getString( "unsuccessful_validation" ) )</p>
	#if($programValidationResults.size()>0 )
		<p class="bold">$encoder.htmlEncode( $i18n.getString( "the_following_dataelements_are_in_predefined_validate_rules" ) )</p>
		<table class="listTable" id="multiValidation" name="multiValidation" style="width:100%">
			<thead>
				<tr>
					<th style="width:110px">$i18n.getString( "validation_rule" )</th>                
					<th>$i18n.getString( "expression" )</th>
					<th>$i18n.getString( "description" )</th>
					<th>$i18n.getString( "value" )</th>
					<th>$i18n.getString( "operator" )</th>
					<th>$i18n.getString( "value" )</th>
					<th>$i18n.getString( "description" )</th>
				</tr>
			</thead>
			#set( $mark = false )	    
			<tbody>
				#foreach( $result in $programValidationResults )
					<tr #alternate( $mark )>	    
						#set ( $id = $result.programValidation.id )
						#set ( $leftFormula = $leftsideFormulaMap.get( $id ) )
						#set ( $rightFormula = $rightsideFormulaMap.get( $id ) )
						<tr>
							#set($leftsideValue = "NULL")
							#if($result.leftsideValue) #set($leftsideValue = $result.leftsideValue) #end
							#set($rightsideValue = "NULL")
							#if($result.rightsideValue) #set($rightsideValue = $result.rightsideValue ) #end
							
							<td style="height:32px">$encoder.htmlEncode( $result.programValidation.name )</td>
							<td>$!encoder.htmlEncode( $leftFormula ) $encoder.htmlEncode( $i18n.getString( $result.programValidation.operator.mathematicalOperator ) ) $!encoder.htmlEncode( $rightFormula )</td>
							<td>$!encoder.htmlEncode( $result.programValidation.leftSide.description )</td>
							<td>$leftsideValue</td>
							<td>$encoder.htmlEncode( $i18n.getString( $result.programValidation.operator.mathematicalOperator ) )</td>
							<td>$rightsideValue</td>
							<td>$!encoder.htmlEncode( $result.programValidation.rightSide.description )</td>
						</tr>
					#set( $mark = !$mark )
				#end
			</tbody>
		</table>
	#end
#end