#set($programStageInstances = $programInstance.programStageInstances)
#set($hasUsers = false)
#foreach($user in $!programInstance.patient.healthWorker.organisationUnit.users)
	#if($!user.phoneNumber!='') 
		#set($hasUsers = true)
	#end
#end
<table>
	<colgroup>
       <col/>
       <col/>
       <col/>
	   <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
	   <col style="width: 10%;">
       <col style="width: 10%;">
   </colgroup>
   
   <tr>	
		<!-- Progam Enrollement -->
		<td style="height:24px" valign="bottom" colspan='3'>       
            <div class="commentHeader">$encoder.htmlEncode( $i18n.getString( "program_enrollment" ) )</div>
        </td>
		<!-- Comment -->
		<td style="height:24px" valign="bottom" >
            <div class="commentHeader">$i18n.getString( "comment" )</div>
		</td>
		<td colspan='2' style="background-color: #e0e0e0; height:26px;">$i18n.getString( "updated_by" ): $!encoder.htmlEncode( $programInstance.patientComment.creator )</td>
		<td colspan='2' style="background-color: #e0e0e0; height:26px;">$i18n.getString( "updated_date" ): $!format.formatDate( $programInstance.patientComment.createdDate )</td>
    </tr>
   
   <tr>
		<td style="background-color:#88be3b; height:26px;">&nbsp;</td>
		<td class='text-column'>$i18n.getString('toggle_risk_status')</td>
		<td>
			#if($programInstance.followup)
				#set($followup=$programInstance.followup)
			#else
				#set($followup='false')
			#end
			<a href='javascript:markForFollowup($programInstance.id, false)' #if( $followup == 'false') class='hidden' #end name='imgMarkFollowup' title='$i18n.getString("toggle_risk_status")' ><img src='images/risk_large.png'></a>
			<a href='javascript:markForFollowup($programInstance.id, true)' #if( $followup == 'true') class='hidden' #end name='imgUnmarkFollowup' title='$i18n.getString("toggle_risk_status")' ><img src='images/unrisk_large.png'></a>			
		</td>
		<td rowspan='3' colspan='8'>
			<textarea id="comment" name='comment' maxlength="360" style="height:100px;width:100%">$!encoder.htmlEncode( $programInstance.patientComment.commentText )</textarea>
		</td>
   </tr>
   
   <tr>
		<td style="background-color:#88be3b; height:26px;">&nbsp;</td>
		<td class='text-column'>$programInstance.program.dateOfEnrollmentDescription:</td>
		<td><input name="enrollmentDate" id="enrollmentDate" readonly value="$!format.formatDate( $programInstance.enrollmentDate )" style="width:325px;"></td>
   </tr>
   
   <tr>
		<td style="background-color:#88be3b; height:26px;">&nbsp;</td>
		<td class='text-column'>$programInstance.program.dateOfIncidentDescription:</td>
		<td><input name="dateOfIncident" id="dateOfIncident" readonly value="$!format.formatDate( $programInstance.dateOfIncident )" style="width:325px;"></td>
	</tr>
               
   <tr>
		<td></td>
		<td></td>
		<td>
			#if( $auth.hasAccess( "dhis-web-caseentry", "saveProgramEnrollment" ) )
				<input type="button" style='width:80px' value="$i18n.getString( 'update' )" onclick='updateEnrollment($programInstance.patient.id, $programInstance.program.id, $programInstance.id, "$programInstance.program.displayName")'/>
			#end
			<input type="button" style='width:80px' id='completeProgram' value="$i18n.getString( 'complete' )" onclick='unenrollmentForm($programInstance.id, 1)' />
			<input type="button" style='width:80px' id='cancelProgram' value="$i18n.getString( 'quit' )" onclick='unenrollmentForm($programInstance.id, 2)' />
			<input type="button" style='width:80px' id='incompleteProgram' value="$i18n.getString( 're_enrol' )" onclick='reenrollmentForm($programInstance.id)' />
			#set($allowRemove = 'true')
			#foreach( $programStageInstance in $programStageInstances )
				#if( $!programStageInstance.executionDate 
					|| $!programStageInstance.outboundSms.size() > 0 
					|| $!programStageInstance.patientComment )
					
					#set($allowRemove = 'false')
				#end
			#end
	
		#if($allowRemove == 'true')
			<input type="button" style='width:80px' id='removeProgram' value="$i18n.getString( 'remove' )" onclick='removeProgramInstance($programInstance.id)' />
			<script>
				jQuery('#enrollmentDate').width('325');
				jQuery('#dateOfIncident').width('325');
			</script>
		#end
		</td>
		
		<td valign="top" colspan='4'>
			<input type="button" id='updateCommentBtn' name='updateCommentBtn' #if($!programStageInstance.patientComment) value="$i18n.getString( 'update_comment' )" #else value="$i18n.getString( 'save_comment' )" #end style="width:130px" onclick="saveComment($programInstance.id);">
			<input type="button" id='sendProgramSMSBtn' name='sendProgramSMSBtn' value="$i18n.getString( 'send_message' )" style="width:130px" onclick="setFieldValue('sendFromEvent','false');sendSmsOnePatientForm();">
		</td>
	</tr>

</table>

#if( $programInstance.outboundSms.size() > 0 )
	<table>
		<tr>
			<td><span class="commentHeader">$i18n.getString('message')</span><td>
		</tr>
		<tbody id="commentTB">
		#foreach($sms in $programInstance.outboundSms)
			<tr>
				<td>
					($format.formatDateTime($!sms.date) - $encoder.htmlEncode($sms.sender) )
					$encoder.htmlEncode($sms.message)
				</td>
			</tr>
		#end
		</tbody>
	</table>
#end

#if( $programStageInstances.size() > 0 )
	<table class='mainPageTable listTable' id='progarmStageListDiv' name='progarmStageListDiv' >
		<colgroup>
			<col width="20px">
			<col width="200px">
			<col width="150px">
			<col width="100px">
			<col>
			<col width="60px">  
			<col>  
		</colgroup>
		<tr>
			<th>$i18n.getString( "#" )</th>
			<th>$i18n.getString( "events" )</th>                   
			<th>$i18n.getString( "due_date" )</th>       
			<th>$i18n.getString( "status" )</th>
			<th colspan='2'>$i18n.getString( "comment" )</th>
			#if( $auth.hasAccess( "dhis-web-caseentry", "removeCurrentEncounter" ) )
			<th>$i18n.getString( "operation" )</th>
			#end
		</tr>
		<tbody>
	#set( $rowCount = 0 )
	#set( $mark = false )
	#foreach( $programStageInstance in $programStageInstances )
		#set( $rowCount = $rowCount + 1 )   
		<tr id="tr${programStageInstance.id}" #alternate( $mark ) >
			##rowCount
			<td>$rowCount</td>        
			##stage name
			<td>
				$encoder.htmlEncode( $programStageInstance.programStage.displayName )						
			</td>
			#set( $duedateId = "value_" + $programStageInstance.id + "_date" )        
			#set($status = $programStageInstance.getEventStatus())
			<td>        
				<input type="text" id="$duedateId" style='width:80%;' value="$!format.formatDate( $programStageInstance.dueDate )" onchange="saveDueDate( $programInstance.id, $programStageInstance.id, '$encoder.jsEncode( $programStageInstance.programStage.displayName )' )" />
				<script type="text/javascript">
					#if($status==1 || $status==2 || $status==5 )
						disable('$duedateId');
					#else
						datePickerFuture( '$duedateId' );
					#end
				</script> 
			</td> 
			<td>
				<select id="stat_$programStageInstance.id" name="status_$programStageInstance.id" onchange="setEventStatus(this, $programStageInstance.id)" style="width:100%">
					#if($status==4)
						<option value='4'>$i18n.getString("overdue")</option>
						<option value='5'>$i18n.getString("skipped")</option>
					#elseif($status==3 || $status==5 )
						<option value='3'>$i18n.getString("scheduled_in_future")</option>
						<option value='5'>$i18n.getString("skipped")</option>
					#else
						<option value='1'>$i18n.getString("completed")</option>
						<option value='2'>$i18n.getString("incompleted")</option>
					#end
				</select>
				<script>
					setFieldValue("stat_$programStageInstance.id", $status);
				</script>
			</td>
			<td>
				<input type='text' value='$!programStageInstance.patientComment.commentText' id='message_$programStageInstance.id' name='message_$programStageInstance.id' class="{validate:{required:true,maxlength:160}}" style="width:100%" onchange="addComment(byId('message_$programStageInstance.id'),'$programStageInstance.id')" >
			</td>
			<td>
				<input type='button' class='normal-button' onclick="addComment(byId('message_$programStageInstance.id'),'$programStageInstance.id')" value="$i18n.getString('save')" >
			</td>
			<td>
				#if(($auth.hasAccess( "dhis-web-caseentry", "sendSMS" ) ) 
					&& ($!programInstance.patient.phoneNumber 
					|| $!programInstance.patient.healthWorker.phoneNumber 
					|| $!programInstance.patient.healthWorker.organisationUnit.phoneNumber 
					|| $hasUsers ))
				<img src="images/send_sms.png" class='img-button' title="$i18n.getString( 'send_message' )" onclick="setFieldValue('sendFromEvent','true');setFieldValue( 'programStageInstanceId',$programStageInstance.id);sendSmsOnePatientForm();"/>
				#end
				#if( $auth.hasAccess( "dhis-web-caseentry", "removeCurrentEncounter" ) )
					<a href="javascript:removeEvent($programStageInstance.id, false)" link="javascript:removeEvent($programStageInstance.id, false)" title='$i18n.getString( "remove" )'><img src="../images/delete.png" id='del_$programStageInstance.id' name='del_$programStageInstance.id' alt='$i18n.getString( "remove" )' #if( $status==1 ) class='hidden' #end></a>
				#end
			</td>
		</tr>
		#set( $mark = !$mark  )
	#end
	</tbody>
	</table>
	
	<div id='smsDiv' name="smsDiv" class='hidden'>
		<input type='hidden' id='sendFromEvent' name='sendFromEvent' value='true'>
		<table>
			<tr>
				<td>$i18n.getString("send_to")</td>
				<td>
					<select id='sendTo' name='sendTo' style='width:260px;'>
						#if($!programInstance.patient.phoneNumber)
						<option value='1'>$i18n.getString('patient')</option>
						#end
						
						#if($!programInstance.patient.healthWorker.phoneNumber)
						<option value='2'>$i18n.getString('health_worker')</option>
						#end
						
						#if($!programInstance.patient.healthWorker.organisationUnit.phoneNumber)
						<option value='3'>$i18n.getString('orgunit_registered')</option>
						#end
						
						#if($hasUsers)
						<option value='4'>$i18n.getString('users_in_orgunit_registered')</option>
						#end
					</select>
				</td>
			</tr>
			<tr>
				<td>$i18n.getString("message")</td>
				<td><input type='text' id='smsField' name='smsField' style='width:260px;height:50px;'></td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type='button' value="$i18n.getString('send')" onclick="var id=getFieldValue('programStageInstanceId');if(getFieldValue('sendFromEvent')=='false'){id=$programInstance.id};sendSmsOnePatient(byId('smsField'),id );">
					<input type='button' value="$i18n.getString('cancel')" onclick="jQuery('#smsDiv').dialog('close');">
				</td>
			</tr>
		</table>
	</div>
#end

<script>
	#if( $programInstance.status==0)
		#if($program.attr("selectEnrollmentDatesInFuture")=='true')
			datePickerInRange( 'dateOfIncident' , 'enrollmentDate', false, true );
		#else
			datePickerInRangeValid( 'dateOfIncident' , 'enrollmentDate', false, true );
		#end
		
		jQuery("#incompleteProgram").attr('disabled', true);
	#else
		jQuery(":input").attr('disabled', true);
		jQuery("#incompleteProgram").attr('disabled', false);
		$('[id=tab-3]').find('img').parent().removeAttr("href");
	#end
	var i18n_insert_a_due_date = '$encoder.jsEscape( $i18n.getString( "insert_a_due_date" ) , "'")';
	var i18n_remove_confirm_message = '$encoder.jsEscape( $i18n.getString( "remove_confirm_message" ) , "'")';
	var i18n_send_message = '$encoder.jsEscape( $i18n.getString( "send_message" ) , "'")';
</script>
