
<h3>$encoder.htmlEncode( $i18n.getString( "create_new_validation_rule" ) )</h3>

<form id="addValidationRuleForm" action="addValidationRule.action" method="post" onsubmit="return validateAddValidationRule()">

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
	<tr>
		<td><label for="name">$encoder.htmlEncode( $i18n.getString( "name" ) ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="description">$encoder.htmlEncode( $i18n.getString( "description" ) )</label></td>
		<td><input type="text" id="description" name="description" style="width:20em"></td>
	</tr>
	<tr>
		<td><label for="operatorId">$encoder.htmlEncode( $i18n.getString( "operator" ) ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>
			<select id="operator" name="operator" style="width:20em">
				<option value="range">Range</option>
			</select>
		</td>
	</tr>
	<tr>
		<td><label for="selectedLineListGroupId">LineList Group<em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td valign="top">
  	 
                    <select id="selectedLineListGroupId" name="selectedLineListGroupId" style="width:325px" onchange="return getLineListElements()">
                        <option value="$ALL">[ Select Group ]</option>
                        #foreach ( $group in $lineListGroups )
                            <option value="$group.id" #if ( $selectedLineListGroupId == $group.id ) selected="selected"#end>$encoder.htmlEncode( $group.name )</option>
                        #end
                    </select>
                    <br>

                </td>

                <td><label for="availableLineListElements">LineList Element<em title="$i18n.getString( "required" )" class="required">*</em></label></td>
                <td valign="top">
                    <select id="availableLineListElements" name="availableLineListElements" style="width:325px;">
			#foreach ( $element in $lineListElements )
                            <option value="$element.id" title="$element.name">$element.name</option>
    			#end
                    </select>
                    <br>
                    <select multiple id="selectedLineListElements" name="selectedLineListElements" disabled style="width:325px; height:0px; display:none" ondblclick="moveSelectedById( 'selectedLineListElements', 'availableLineListElements' )">
                    </select>
                </td>
	</tr>

        <tr>
            <td><label for="leftSideExp">Left Side<em title="$i18n.getString( "required" )" class="required">*</em></label></td>
            <td><input type="text" id="leftSideExp" name="leftSideExp" style="width:20em"></td>
        </tr>

        <tr>
            <td><label for="rightSideExp">Right Side<em title="$i18n.getString( "required" )" class="required">*</em></label></td>
            <td><input type="text" id="rightSideExp" name="rightSideExp" style="width:20em"></td>
        </tr>

	<tr>
            <td></td>
            <td><input type="submit" value="$i18n.getString( 'save' )" style="width:10em"><input
				   type="button" value="$i18n.getString( 'cancel' )" id="cancel" name="cancel" onclick="window.location.href='showValidationRules.action'" style="width:10em"></td>
	</tr>
</table>

</form>

<span id="message"></span>

<script type="text/javascript">

	var nameField = document.getElementById( 'name' );
	nameField.select();
	nameField.focus();

        function valueChanged()
	{
            if(document.getElementById("selectedLineListGroupId").value != "0")
            {
                alert(document.getElementById("selectedLineListGroupId").value);
                document.getElementById("lineListElementId").style.display="block";         
            }
            else
            {
                document.getElementById("lineListElementId").style.display="none";
            }
        }

        valueChanged();
</script>
