<?xml version="1.0" encoding="UTF-8"?>
<lineListOptions>
#foreach ( $lineListOption in $lineListOptions )
	<lineListOption>
		<id>$lineListOption.id</id>
		<name>$encoder.xmlEncode( $lineListOption.name )</name>
		<shortName>$encoder.xmlEncode( $lineListOption.shortName )</shortName>
		<description>$!encoder.xmlEncode( $lineListOption.description )</description>
	</lineListOption>
#end
</lineListOptions>