<script type="text/javascript">
	var lpr_Period = $lprPeriod;
</script>

<script>
	jQuery(document).ready(	function(){
	
	validation( 'updateEmployeeForm' );	
		
	datePickerValid( 'dob', false );
	datePickerValid( 'lprDate', false );
	datePickerValid( 'govtSerJoinDate', false );
	
	});
</script>
<h3>Edit Employee Deatil</h3>

<form id="updateEmployeeForm" action="updateEmployee.action" method="post">
	
	<table>
		<tr>
			<th colspan="2">Employee Detail </th>
		</tr>
			<tr>
				<td><label for="pdscode"> $i18n.getString( "pdscode" ) <em title="$i18n.getString("required")" class="required">*</em></label></td>
				<td><input type="text" id="pdscode" name ="pdscode" value="$encoder.htmlEncode( $employee.pdsCode )" style="width:20em" readonly="readonly"></td>
			</tr>
			<tr>
				<td><label for="name"> $i18n.getString( "name" ) <em title="$i18n.getString("required")"class="required">*</em></label></td>
				<td><input type="text" id="name" name="name" value="$employee.name" style="width:20em"  class="{validate:{required:true,minlength:2}}"></td>
			</tr>
			<tr>
				<td><label for="DOB"> $i18n.getString( "dob" ) ($i18n.getString( "format.date.label" ))<em title="$i18n.getString("required")"class="required">*</em></label></td>
				<td><input type="text" id="dob" name="dob" value="$employee.dateOfBirth" onchange="lprChanged()" style="width:20em"></td>
			</tr>
			<tr>
				<td><label for="lprDate"> $i18n.getString( "lprDate" ) ($i18n.getString( "format.date.label" )) <em title="$i18n.getString("required")"class="required">*</em></label></td>
				<td><input type="text" id="lprDate" name="lprDate" value="$employee.lprDate" style="width:20em" onchange="validateDate( this )"></td>
			</tr>
			<tr>
				<td><label for="sex"> $i18n.getString( "sex" ) <em title="$i18n.getString("required")"class="required">*</em></label></td>
				<td><select id="sex" name="sex" style="width:20em">
					<option selected>$employee.sex</option>
                	<option>Male</option>
                	<option>Female</option>
                	<option>Others</option>
              	</select></td>
			</tr>
			<tr>
				<td><label for="govtserjoindate"> $i18n.getString( "joinDate" ) ($i18n.getString( "format.date.label" )) <em title="$i18n.getString("required")"class="required">*</em></label></td>
				<td><input type="text" id="govtSerJoinDate" name="govtSerJoinDate" value="$employee.joinDateToGovtService" style="width:20em" onchange="validateDate( this )"></td>
			</tr>
			<tr>
				<td><label for="resAdd"> $i18n.getString( "res_Add" ) <em title="$i18n.getString("required")"class="required">*</em></label></td>
				<td><input type="text" id="resAdd" name="resAdd" value="$employee.resAddress" style="width:20em" class="{validate:{required:true,minlength:1}}"></td>
			</tr>
			<tr>
				<td><label for="contactNo"> $i18n.getString( "contact_no" ) <em title="$i18n.getString("required")"class="required">*</em></label></td>
				<td><input type="text" id="contactNo" name="contactNo" value="$employee.contactNumber" style="width:20em" class="{validate:{required:true,number:true,minlength:6}}"></td>
			</tr>
			<tr>
				<td><label for="emerContactNo"> $i18n.getString( "emer_cont_no" ) <em title="$i18n.getString("required")"class="required">*</em></label></td>
				<td><input type="text" id="emerContactNo" name="emerContactNo" value="$employee.emergencyContactNumber" style="width:20em" class="{validate:{required:true,number:true,minlength:6}}"></td>
			</tr>
			
			<tr>
				<td></td>
				<td><input type="submit" value="$i18n.getString("save")" style="width:10em">
					<input type="button" value="$i18n.getString("cancel")" style="width:10em" onclick="window.location.href='getEmployeeList.action'">
				</td>
			</tr>
	</table>
</form>
