<h3>$i18n.getString( "command_management" )</h3>
<table class="mainPageTable">
<tr>
	<td style="vertical-align:top">
	<table width="100%">
		<tr>
			<td >
			   <input type="button" value="New command" onclick="window.location.href='newSMSCommand.action'" style="width:100px"/></a>	
			</td>
		</tr>
	</table>
	<table class="listTable" id="listTable">
      <thead>
      <tr>
        <th>Name</th>
        <th>Edit</th>
		<th>Delete</th>
      </tr>
      </thead>
	  <tbody id="list">
    	 #foreach( $command in $SMSCommands )
          <tr>
    		<td height="35">$command.name </td>
    		<td><a href="editSMSCommand.action?selectedCommandID=$command.id">Edit</a></td>
    		<td><a href="deleteSMSCommand.action?deleteCommandId=$command.id">Delete</a></td>
    	  </tr>
        #end
        
      
	 </tbody> 
</table>
</td>
</tr>
</table>