
<h3>$i18n.getString( "add_deTarget" )</h3>

<form id="addDeTargetForm" name="addDeTargetForm" action="addDeTarget.action" method="post" onsubmit="return validateAddDeTarget()">
  <table id="detailsList">
    <col> ## Labels
    <col> ## Input
    <thead>
      <tr>
        <th colspan="2">$i18n.getString( "deTarget_details" )</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><label>$i18n.getString( "name" )<em title=$i18n.getString( "required" ) class="required">*</em></label></td>
        <td><input type="text" id="name" name="name" style="width:20em"></td>
      </tr>
      <tr>
        <td><label>$i18n.getString( "short_name" )<em title=$i18n.getString( "required" ) class="required">*</em></label></td>
        <td><input type="text" id="shortName" name="shortName" maxlength="20" style="width:20em"></td>
      </tr>
      <tr>
        <td><label>$i18n.getString( "url" )</label></td>
        <td><input type="text" id="url" name="url" style="width:20em"></td>
      </tr>
      <tr>
        <td><label>$i18n.getString( "description" )</label></td>
        <td><textarea id="description" name="description" cols=41 rows=4></textarea></td>
      </tr>   
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    </tbody>
  </table>

  <table id="DataElementsSelectionArea">
    <col> ## Available DataElements
    <col> ## Filter
    <col> ## Selected DataElements
    <thead>
      <tr>
        <th>$i18n.getString( "available_dataElements" )</th>
        <th>##$i18n.getString( "filter" )</th>
        <th>$i18n.getString( "selected_dataElements" )</th>
      </tr>
    </thead>
    <tbody>
        
      <tr> 
        <td>
            <select id="dataElementGroupSelect" name="dataElementGroupSelect" style="min-width:25em"
            onchange="javascript:filterByDataElementGroup( this.options[this.selectedIndex].value )">
          <!--  <option value="ALL" selected="selected">$i18n.getString( "all" ) </option>-->
                <option value="ALL">$i18n.getString( "select_deGroup_all" )</option> 
                #foreach ( $dataElementGroup in $dataElementGroups )
                  <option value="$dataElementGroup.id">$encoder.htmlEncode( $dataElementGroup.name )</option>
                #end
          </select>
            </td>       
        <td>##$i18n.getString( "group" )</td>
        <td></td>
      </tr>
      
      <tr>
        <td><!--<input type="text" id="availableDataElementFilter" onkeyup="filterValues( this.value )" style="min-width:25em">--></td>
        <td><!--<input type="text" id="availableDataElementFilter" onkeyup="filterAvailableDataElements()" style="min-width:25em">--></td>
        <td>##$i18n.getString( "name" )</td>
        
        <td><!--<input type="text" id="deTargetMembersFilter" onkeyup="filterDeTargetMembers()" style="min-width:25em">--></td>
      </tr>
      
      <tr>
        <td>
          <!-- List of all available DataElements -->
          <select size="15" id="availableList" name="availableList" multiple="multiple" style="min-width:25em;height:20em" ondblclick="moveSelectedById( 'availableList', 'selectedList' )">            
          </select>
        </td>
        <td>
            <input type="button" value="&gt;" title=$i18n.getString( 'move_selected' ) onClick="moveSelectedById( 'availableList', 'selectedList' )">
            <br>
            <input type="button" value="&lt;" title=$i18n.getString( 'remove_selected' ) onClick="moveSelectedById( 'selectedList', 'availableList' )">        
        </td>
        <td>
          <!-- List of all selected DataElemnts -->
          <select id="selectedList" name="selectedList" multiple="multiple" style="min-width:25em;height:20em" ondblclick="moveSelectedById( 'selectedList', 'availableList' )">
          </select>
        </td>
      </tr>

      <tr>
        <td colspan="3">
          <input type="submit" value=$i18n.getString( "save" ) style="width:13em"><input type="button"
            onclick="window.location.href='deTargetManagement.action'" value=$i18n.getString( "cancel" ) style="width:12em">
        </td>
      </tr>     
    </tbody>
  </table>
</form>

<span id="message"></span>
