
<h3>$i18n.getString( "edit_detarget" )</h3>

<form id="editDeTargetForm" name="editDeTargetForm" action="updateDeTarget.action" method="post" onsubmit="return validateEditDeTarget()">
  <div style="display:inline">
  <input type="hidden" id="deTargetId" name="deTargetId" value="$deTarget.id">
  </div>
  
  <table id="detailsList">
    <col> ## Labels
    <col> ## Input
    <thead>
      <tr>
        <th colspan="2">$i18n.getString( "detarget_details" )</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td><input type="text" id="name" name="name" style="width:20em" value="$!encoder.htmlEncode( $deTarget.name )"></td>
      </tr>      
      <tr>
        <td><label>$i18n.getString( "short_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td><input type="text" id="shortName" name="shortName" maxlength="20" style="width:20em" value="$!encoder.htmlEncode( $deTarget.shortName )"></td>
      </tr>     
      <tr>
        <td><label>$i18n.getString( "url" )</label></td>
        <td><input type="text" id="url" name="url" style="width:20em" value="$!encoder.htmlEncode( $deTarget.url )"></td>
      </tr>
       <tr>
        <td><label>$i18n.getString( "description" )</label></td>
         <td><textarea id="description" name="description" cols=41 rows=4>$!encoder.htmlEncode( $deTarget.description )</textarea></td>
      </tr>   
      <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
    </tbody>
  </table>

  <table id="indicatorSelectionArea">
    <col> ## Available Indicators
    <col> ## Filter
    <col> ## Selected Indicators
    <thead>
      <tr>
        <th>$i18n.getString( "available_dataElements" )</th>
        <th>##$i18n.getString( "filter" )</th>
        <th>$i18n.getString( "selected_dataElements" )</th>
      </tr>
    </thead>
    <tbody>
        
      <tr>
        <td>
          <select id="indicatorGroupSelect" name="indicatorGroupSelect" style="min-width:20em"
             onchange="javascript:filterByDataElementGroup( this.options[this.selectedIndex].value )">
           <option value="ALL">$i18n.getString( "select_deGroup_all" )</option>
            #foreach ( $dataElementGroup in $dataElementGroups )
              <option value="$dataElementGroup.id">$encoder.htmlEncode( $dataElementGroup.name )</option>
            #end
          </select>
        </td>
        <td>##$i18n.getString( "group" )</td>
        <td></td>
      </tr>
     
      <tr>
        <td><!--<input type="text" id="availableDataElementFilter" onkeyup="filterValues( this.value )" style="min-width:20em">--></td>
        <td>##$i18n.getString( "name" )</td>
        <td><!--<input type="text" id="deTargetMembersFilter" onkeyup="filterValues( this.value )" style="min-width:20em">--></td>        
      </tr>
     
      <tr>
        <td>
          <!-- List of all available DataElements -->
          <select size="15" id="availableList" name="availableList" multiple="multiple" style="min-width:20em;height:20em" ondblclick="moveSelectedById( 'availableList', 'selectedList' )">           
          </select>
        </td>
        <td>
          <input type="button" value="&gt;" title="$i18n.getString('move_selected')" onClick="moveSelectedById( 'availableList', 'selectedList' )">
          <br>
          <input type="button" value="&lt;" title="$i18n.getString('remove_selected')" onClick="moveSelectedById( 'selectedList', 'availableList' )">
        </td>
        <td>
          <!-- List of all selected DataElements -->
          <select id="selectedList" name="selectedList" multiple="multiple" style="min-width:20em;height:20em" ondblclick="moveSelectedById( 'selectedList', 'availableList' )">
          #foreach ( $deTargetMember in $deTargetMemberList )
              <option value="$deTargetMember.dataelements.id:$deTargetMember.decategoryOptionCombo.id">$encoder.htmlEncode( $deTargetMember.dataelements.name ):$encoder.htmlEncode( $deTargetMember.decategoryOptionCombo.name )</option>
            #end
          
          </select>
        </td>
      </tr>

      <tr>
        <td colspan="3">
          <input type="submit" value="$i18n.getString( "save" )" style="width:10em"><input type="button"
            onclick="window.location.href='deTargetManagement.action'" value="$i18n.getString( "cancel" )" style="width:10em">
        </td>
      </tr>
      
    </tbody>
  </table>
</form>

<span id="message"></span>

