<?xml version="1.0" encoding="UTF-8"?>
<survey>
  <id>$survey.id</id>
  <name>$encoder.xmlEncode( $survey.name )</name> 
  <indicatorCount>$surveyIndicators.size()</indicatorCount>
  <url>$encoder.xmlEncode( $survey.url )</url>
  <description>$encoder.xmlEncode( $survey.description )</description>   
</survey>