<?xml version="1.0" encoding="UTF-8"?>
<dataElements>
<dataElement>
  <dename>$encoder.xmlEncode( $dename )</dename>
  <targetname>$encoder.xmlEncode( $targetname )</targetname>
  <targetid>$encoder.xmlEncode( $targetid )</targetid>
</dataElement>
</dataElements>