{ "metaData": {

"significantZeros": [
#set( $size = $significantZeros.size() )
#foreach( $dataElement in $significantZeros )
${dataElement.id}#if( $velocityCount < $size ),#end
#end ],

"dataElements": {
#set( $size = $dataElements.size() )
#foreach( $dataElement in $dataElements )
"${dataElement.id}":"$encoder.jsonEncode( ${dataElement.getDetailedNumberType()} )" 
#if( $velocityCount < $size ),#end
#end },

"indicatorFormulas": {
#set( $size = $indicators.size() )
#foreach( $indicator in $indicators )
"${indicator.id}":"($!{indicator.explodedNumerator})/($!{indicator.explodedDenominator})*($!{indicator.indicatorType.factor})"
#if( $velocityCount < $size ),#end
#end },

"dataSets": {
#set( $size = $dataSets.size() )
#foreach( $dataSet in $dataSets )
"${dataSet.id}":{"name":"$encoder.jsonEncode( ${dataSet.displayName} )","periodType":"$encoder.jsonEncode( ${dataSet.periodType.name} )",
"version":"${dataSet.version}","type":"${dataSet.getDataSetType()}","expiryDays":"${dataSet.expiryDays}"
}#if( $velocityCount < $size ),#end
#end },

"dataSetAssociationSets": {
#set( $size1 = $dataSetAssociationSets.size() )
#set( $index = 0 )
#foreach( $associationSet in $dataSetAssociationSets )
"${index}": [
#set( $index = $index + 1 )
#set( $size2 = $associationSet.size() )
#foreach( $id in $associationSet )
${id}#if( $velocityCount < $size2 ),#end
#end ]#if( $velocityCount < $size1 ),#end
#end },

"organisationUnitAssociationSetMap": {
#set( $size = $organisationUnitAssociationSetMap.size() )
#foreach( $orgUnit in $organisationUnitAssociationSetMap.keySet() )
"${orgUnit}":"$organisationUnitAssociationSetMap.get( ${orgUnit} )"#if( $velocityCount < $size ),#end
#end }
} }