<h2>$i18n.getString("anonymous_menu")</h2>
	#if( $validated)
		<div class="header-box">
			<h3 style="text-align: left;">$i18n.getString("successfully_saved")</h3>
		</div>	
	#end
<p>
<ul>
#foreach( $program in $programs)
	<li><a href="showAnonymousForm.action?programId=$program.id&orgUnitId=$orgUnitId">$program.name</a></li>
#end
</ul>
</p>

<div id="footer">
<h2>$i18n.getString( "navigate_to" )</h2>
<ul>
    <li><a href="index.action">$i18n.getString("home")</a></li>
</ul>
</div>