<script>
//-----------------------------------------------------------------------
//init jQuery validation for addAttributeGroupForm
//-----------------------------------------------------------------------
jQuery(document).ready(
  function()
  {
     jQuery("#addHrDataSetForm").validate({
       meta:"validate"
       ,errorElement:"td"
       ,submitHandler: function(form){
         validateAddDataSet();
       }
     });
     jQuery.validator.setMessages( validationMessage );
     jQuery("#nameField").focus();
}
);
var i18n_remove_option = '$encoder.jsEscape( $i18n.getString( "remove_option" ) , "'") ';
</script>
<input type="hidden" id="curLocaleCode" value="$locale.getLanguage()_$locale.getCountry()"/>
<h3>$i18n.getString( "add_dataset" )</h3>
<div id="tooltip"></div>
<form id="addHrDataSetForm" action="addHrDataSet.action" method="post" >

<table> 
    <tr>
      <th colspan="4">$i18n.getString( "dataset_details" ) </th>
    </tr>
    <tr>
        <td><label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td><input type="text" id="nameField" name="nameField"  style="width:20em" class="{validate:{required:true,rangelength:[2,32]}}"></td>
        </td>
        <tr>
        <td>$i18n.getString( "description" ) <em title="$i18n.getString( "required" )" class="required">*</em></td>
        <td><textarea id="description" name="description" rows="3" style="width:20em" class="{validate:{required:true,rangelength:[2,250]}}"></textarea></td>
    </tr>
    </tr>  
    
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <th colspan="2">$i18n.getString( "available_attributes" ) </th>
      <th>$i18n.getString( "filter" ) </th>
      <th>$i18n.getString( "selected_attributes" )</th>
    </tr>
    <tr>
        <td colspan="2">
              <select multiple id="availableAttributes" name="availableAttributes" size="15" style="width:25em " ondblclick="moveSelectedById( 'availableAttributes', 'selectedAttributes' )" >
                #foreach($attribute in $attributes)
                <option value='$attribute.id' >$attribute.name</option>
                #end
              </select>
        </em></label>        </td>
        <td>
          <input type="button" value="&gt;" title="$i18n.getString('move_selected')" onclick="moveSelectedById( 'availableAttributes', 'selectedAttributes' )">
          <br>
          <input type="button" value="&lt;" title="$i18n.getString('remove_selected')" onclick="moveSelectedById( 'selectedAttributes', 'availableAttributes' )">
        </td>
        <td><select multiple id="selectedAttributes" name="selectedAttributes" size="15" style="width:25em " ondblclick="moveSelectedById( 'selectedAttributes', 'availableAttributes' )"
             class="{validate:{required:true}}" >
            </select>
        </td>
        
        <td>
          <a href="javascript:moveUpSelectedOption( 'selectedAttributes')" title="$i18n.getString( "move_up" )"><img src="../images/move_up.png" alt="$i18n.getString( "move_up" )"></a>
          <br><br>
          <a href="javascript:moveDownSelectedOption( 'selectedAttributes' )" title="$i18n.getString( "move_down" )"><img src="../images/move_down.png" alt="$i18n.getString( "move_up" )"></a>
        </td>
    </tr>  
    
    <tr>
      <td colspan="2">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
</table>

<p>
    <input type="submit" value="$i18n.getString( "add" )" style="width:10em">
    <input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='hrDataSet.action'" style="width:10em">
</p>

</form>     

<span id="message"></span>
