
<h3>$i18n.getString( "hr_indicator_management" ) #openHelp( "indicator" )</h3>

<table class="mainPageTable">
  <tr>
    <td style="vertical-align:top">
    
      <table class="listTable">        
  <tr>
  <td></td>
<td colspan="3" style="text-align:right"><input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddTargetIndicatorForm.action'" style="width:70px"></td>
  </tr>
          <tr>
            <th>$i18n.getString( "name" )</th>
            <th colspan="3" style="width:75px;">$i18n.getString( "operations" )</th>
          </tr>

          <tbody id="list">
            #set( $mark = false )
            #foreach( $targetIndicator in $targetIndicators )
              <tr id="tr${targetIndicator.id}">
                <td #alternate( $mark ) onclick="showTargetIndicatorDetails( $targetIndicator.id )">$encoder.htmlEncode( $targetIndicator.name )</td>
                <td style="text-align:center;width:25px;"#alternate( $mark )>
                  <a href="showUpdateTargetIndicatorForm.action?id=$targetIndicator.id" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( "edit" )"></a>
                </td>
                
                <td style="text-align:center;width:25px;"#alternate( $mark )>
                  <a href="javascript:removeTargetIndicator( '$targetIndicator.id', '$encoder.jsEncode( $targetIndicator.name )' )" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( "remove" )"></a>
                </td>            
                
                <td style="text-align:center;width:25px;"#alternate( $mark )>
                  <a href="javascript:showTargetIndicatorDetails( $targetIndicator.id )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( "show_details" )"></a>
                </td>
                
              </tr>
  #if( $mark )
#set( $mark = false )
  #else
#set( $mark = true )
  #end
            #end

          </tbody>

        </table>
    </td>
<td style="width:20em; padding-left:2em; vertical-align:top">

<div id="detailsArea" style="display:none">
<div style="float:right">
<a href="javascript:hideDetails()" title="$i18n.getString( "hide_details" )"><img src="../images/close.png" alt="$i18n.getString( "hide_details" )"></a>
</div>
<p><label>$i18n.getString( "id" ):</label><br><span id="idField"></span></p>
                <p><label>$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
                <p><label>$i18n.getString( "organisation_unit_group" ):</label><br><span id="orgunitGroupField"></span></p>
                <p><label>$i18n.getString( "hr_attribute_option_group" ):</label><br><span id="attributeOptionGroupField"></span></p>
                <p><label>$i18n.getString( "year" ):</label><br><span id="yearField"></span></p>
                <p><label>$i18n.getString( "value" ):</label><br><span id="valueField"></span></p>
</div>

</td>
  </tr>
</table>
<script type="text/javascript">
var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_target_indicator" ) , "'" )';
var i18n_adding_target_indicator_failed = '$encoder.jsEscape( $i18n.getString( "adding_target_indicator_failed" ), "'")';
var i18n_saving_target_indicator_failed = '$encoder.jsEscape( $i18n.getString( "saving_target_indicator_failed" ) , "'" )';
var i18n_updating_house_hold_failed = '$encoder.jsEscape( $i18n.getString( "updating_target_indicator_failed" ), "'")';
var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
    var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ) , "'")';
    var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ) , "'")';
    var i18n_number = '$encoder.jsEscape( $i18n.getString( "number" ) , "'")';
    var i18n_yes_no = '$encoder.jsEscape( $i18n.getString( "yes_no" ) , "'")';
    var i18n_text = '$encoder.jsEscape( $i18n.getString( "text" ) , "'")';
    var i18n_date = '$encoder.jsEscape( $i18n.getString( "date" ) , "'")';
    var i18n_combo = '$encoder.jsEscape( $i18n.getString( "combo" ) , "'")';
</script>