DV.i18n = {
title:'$encoder.jsEscape($i18n.getString( 'title' ) , "'")',
chart_type:'$encoder.jsEscape($i18n.getString( 'chart_type' ) , "'")',
column_chart:'$encoder.jsEscape($i18n.getString( 'column_chart' ) , "'")',
stacked_column_chart: '$encoder.jsEscape($i18n.getString( 'stacked_column_chart' ) , "'")',
bar_chart:'$encoder.jsEscape($i18n.getString( 'bar_chart' ) , "'")',
stacked_bar_chart: '$encoder.jsEscape($i18n.getString( 'stacked_bar_chart' ) , "'")',
line_chart:'$encoder.jsEscape($i18n.getString( 'line_chart' ) , "'")',
area_chart:'$encoder.jsEscape($i18n.getString( 'area_chart' ) , "'")',
pie_chart:'$encoder.jsEscape($i18n.getString( 'pie_chart' ) , "'")',
series: '$encoder.jsEscape($i18n.getString( 'series' ) , "'")' ,
category:'$encoder.jsEscape($i18n.getString( 'category' ) , "'")',
filter:'$encoder.jsEscape($i18n.getString( 'filter' ) , "'")',
example_chart:'$encoder.jsEscape($i18n.getString( 'example_chart' ) , "'")',
loading:'$encoder.jsEscape($i18n.getString( 'loading' ) , "'")',
no_data:'$encoder.jsEscape($i18n.getString( 'no_data' ) , "'")',
value:'$encoder.jsEscape($i18n.getString( 'value' ) , "'")',
indicators:'$encoder.jsEscape($i18n.getString( 'indicators' ) , "'")',
select_group:'$encoder.jsEscape($i18n.getString( 'select_group' ) , "'")',
data_elements:'$encoder.jsEscape($i18n.getString( 'data_elements' ) , "'")',
all_indicator_groups:'$encoder.jsEscape($i18n.getString( 'all_indicator_groups' ) , "'")',
available:'$encoder.jsEscape($i18n.getString( 'available' ) , "'")',
selected:'$encoder.jsEscape($i18n.getString( 'selected' ) , "'")',
periods:'$encoder.jsEscape($i18n.getString( 'periods' ) , "'")',
months:'$encoder.jsEscape($i18n.getString( 'months' ) , "'")',
last_month:'$encoder.jsEscape($i18n.getString( 'last_month' ) , "'")',
last_12_months:'$encoder.jsEscape($i18n.getString( 'last_12_months' ) , "'")',
quarters:'$encoder.jsEscape($i18n.getString( 'quarters' ) , "'")',
last_quarter:'$encoder.jsEscape($i18n.getString( 'last_quarter' ) , "'")',
last_4_quarters:'$encoder.jsEscape($i18n.getString( 'last_4_quarters' ) , "'")',
six_months:'$encoder.jsEscape($i18n.getString( 'six_months' ) , "'")',
last_six_month:'$encoder.jsEscape($i18n.getString( 'last_six_month' ) , "'")',
last_two_six_month:'$encoder.jsEscape($i18n.getString( 'last_two_six_month' ) , "'")',
years:'$encoder.jsEscape($i18n.getString( 'years' ) , "'")',
last_year:'$encoder.jsEscape($i18n.getString( 'last_year' ) , "'")',
last_5_years:'$encoder.jsEscape($i18n.getString( 'last_5_years' ) , "'")',
organisation_units:'$encoder.jsEscape($i18n.getString( 'organisation_units' ) , "'")',
select_all_children:'$encoder.jsEscape($i18n.getString( 'select_all_children' ) , "'")',
chart_options:'$encoder.jsEscape($i18n.getString( 'chart_options' ) , "'")',
png_only:'$encoder.jsEscape($i18n.getString( 'png_only' ) , "'")',
trend_line:'$encoder.jsEscape($i18n.getString( 'trend_line' ) , "'")',
hide_subtitle:'$encoder.jsEscape($i18n.getString( 'hide_subtitle' ) , "'")',
hide_legend:'$encoder.jsEscape($i18n.getString( 'hide_legend' ) , "'")',
domain_axis_label:'$encoder.jsEscape($i18n.getString( 'domain_axis_label' ) , "'")',
range_axis_label:'$encoder.jsEscape($i18n.getString( 'range_axis_label' ) , "'")',
target:'$encoder.jsEscape($i18n.getString( 'target' ) , "'")',
target_line_value:'$encoder.jsEscape($i18n.getString( 'target_line_value' ) , "'")',
target_line_label:'$encoder.jsEscape($i18n.getString( 'target_line_label' ) , "'")',
show_hide_chart_settings:'$encoder.jsEscape($i18n.getString( 'show_hide_chart_settings' ) , "'")',
update:'$encoder.jsEscape($i18n.getString( 'update' ) , "'")',
data_table:'$encoder.jsEscape($i18n.getString( 'data_table' ) , "'")',
favorites:'$encoder.jsEscape($i18n.getString( 'favorites' ) , "'")',
manage_favorites:'$encoder.jsEscape($i18n.getString( 'manage_favorites' ) , "'")',
save_favorite:'$encoder.jsEscape($i18n.getString( 'save_favorite' ) , "'")',
sort_by:'$encoder.jsEscape($i18n.getString( 'sort_by' ) , "'")',
system:'$encoder.jsEscape($i18n.getString( 'system' ) , "'")',
name:'$encoder.jsEscape($i18n.getString( 'name' ) , "'")',
last_updated:'$encoder.jsEscape($i18n.getString( 'last_updated' ) , "'")',
rename:'$encoder.jsEscape($i18n.getString( 'rename' ) , "'")',
rename_favorite:'$encoder.jsEscape($i18n.getString( 'rename_favorite' ) , "'")',
cancel:'$encoder.jsEscape($i18n.getString( 'cancel' ) , "'")',
name_already_in_use:'$encoder.jsEscape($i18n.getString( 'name_already_in_use' ) , "'")',
delete_object:'$encoder.jsEscape($i18n.getString( 'delete_object' ) , "'")',
delete_favorite:'$encoder.jsEscape($i18n.getString( 'delete_favorite' ) , "'")',
are_you_sure:'$encoder.jsEscape($i18n.getString( 'are_you_sure' ) , "'")',
save:'$encoder.jsEscape($i18n.getString( 'save' ) , "'")',
create_chart_before_saving:'$encoder.jsEscape($i18n.getString( 'create_chart_before_saving' ) , "'")',
overwrite:'$encoder.jsEscape($i18n.getString( 'overwrite' ) , "'")',
download:'$encoder.jsEscape($i18n.getString( 'download' ) , "'")',
no_svg_format:'$encoder.jsEscape($i18n.getString( 'no_svg_format' ) , "'")',
image_png:'$encoder.jsEscape($i18n.getString( 'image_png' ) , "'")',
hide_data_table:'$encoder.jsEscape($i18n.getString( 'hide_data_table' ) , "'")',
saving:'$encoder.jsEscape($i18n.getString( 'saving' ) , "'")',
renaming:'$encoder.jsEscape($i18n.getString( 'renaming' ) , "'")',
deleting:'$encoder.jsEscape($i18n.getString( 'deleting' ) , "'")',
data:'$encoder.jsEscape($i18n.getString( 'data' ) , "'")',
indicator:'$encoder.jsEscape($i18n.getString( 'indicator' ) , "'")',
data_element:'$encoder.jsEscape($i18n.getString( 'data_element' ) , "'")',
period:'$encoder.jsEscape($i18n.getString( 'period' ) , "'")',
organisation_unit:'$encoder.jsEscape($i18n.getString( 'organisation_unit' ) , "'")',
system_favorite_overwrite_not_allowed:'$encoder.jsEscape($i18n.getString( 'system_favorite_overwrite_not_allowed' ) , "'")',
favorite_no_orgunits:'$encoder.jsEscape($i18n.getString( 'favorite_no_orgunits' ) , "'")',
this_year:'$encoder.jsEscape($i18n.getString( 'this_year' ) , "'")',
trend:'$encoder.jsEscape($i18n.getString( 'trend' ) , "'")',
chart_options:'$encoder.jsEscape($i18n.getString( 'chart_options' ) , "'")',
dataset:'$encoder.jsEscape($i18n.getString( 'dataset' ) , "'")',
datasets:'$encoder.jsEscape($i18n.getString( 'datasets' ) , "'")',
reporting_rates:'$encoder.jsEscape($i18n.getString( 'reporting_rates' ) , "'")',
base_line_value:'$encoder.jsEscape($i18n.getString( 'base_line_value' ) , "'")',
base_line_label:'$encoder.jsEscape($i18n.getString( 'base_line_label' ) , "'")',
base:'$encoder.jsEscape($i18n.getString( 'base' ) , "'")',
group_sets:'$encoder.jsEscape($i18n.getString( 'group_sets' ) , "'")',
none:'$encoder.jsEscape($i18n.getString( 'none' ) , "'")',
et_no_data:'$encoder.jsEscape($i18n.getString( 'et_no_data' ) , "'")',
em_no_data:'$encoder.jsEscape($i18n.getString( 'em_no_data' ) , "'")',
et_invalid_dimension_setup:'$encoder.jsEscape($i18n.getString( 'et_invalid_dimension_setup' ) , "'")',
em_invalid_dimension_setup:'$encoder.jsEscape($i18n.getString( 'em_invalid_dimension_setup' ) , "'")',
et_no_indicators_dataelements_datasets:'$encoder.jsEscape($i18n.getString( 'et_no_indicators_dataelements_datasets' ) , "'")',
em_no_indicators_dataelements_datasets:'$encoder.jsEscape($i18n.getString( 'em_no_indicators_dataelements_datasets' ) , "'")',
et_no_periods:'$encoder.jsEscape($i18n.getString( 'et_no_periods' ) , "'")',
em_no_periods:'$encoder.jsEscape($i18n.getString( 'em_no_periods' ) , "'")',
et_no_orgunits:'$encoder.jsEscape($i18n.getString( 'et_no_orgunits' ) , "'")',
em_no_orgunits:'$encoder.jsEscape($i18n.getString( 'em_no_orgunits' ) , "'")',
et_no_orgunitgroups:'$encoder.jsEscape($i18n.getString( 'et_no_orgunits' ) , "'")',
em_no_orgunitgroups:'$encoder.jsEscape($i18n.getString( 'em_no_orgunits' ) , "'")',
et_line_area_categories:'$encoder.jsEscape($i18n.getString( 'et_line_area_categories' ) , "'")',
em_line_area_categories:'$encoder.jsEscape($i18n.getString( 'em_line_area_categories' ) , "'")',
et_invalid_uid:'$encoder.jsEscape($i18n.getString( 'et_invalid_uid' ) , "'")',
em_invalid_uid:'$encoder.jsEscape($i18n.getString( 'em_invalid_uid' ) , "'")',
et_svg_browser:'$encoder.jsEscape($i18n.getString( 'et_svg_browser' ) , "'")',
em_svg_browser:'$encoder.jsEscape($i18n.getString( 'em_svg_browser' ) , "'")',
wm_trendline_deactivated:'$encoder.jsEscape($i18n.getString( 'wm_trendline_deactivated' ) , "'")',
wm_targetline_deactivated:'$encoder.jsEscape($i18n.getString( 'wm_targetline_deactivated' ) , "'")',
wm_baseline_deactivated:'$encoder.jsEscape($i18n.getString( 'wm_baseline_deactivated' ) , "'")',
wm_not_applicable:'$encoder.jsEscape($i18n.getString( 'wm_not_applicable' ) , "'")',
wm_stacked_chart:'$encoder.jsEscape($i18n.getString( 'wm_stacked_chart' ) , "'")',
wm_pie_chart:'$encoder.jsEscape($i18n.getString( 'wm_pie_chart' ) , "'")',
wm_required_categories:'$encoder.jsEscape($i18n.getString( 'wm_required_categories' ) , "'")',
wm_multiple_filter_ind_de_ds:'$encoder.jsEscape($i18n.getString( 'wm_multiple_filter_ind_de_ds' ) , "'")',
wm_multiple_filter_period:'$encoder.jsEscape($i18n.getString( 'wm_multiple_filter_period' ) , "'")',
wm_multiple_filter_orgunit:'$encoder.jsEscape($i18n.getString( 'wm_multiple_filter_orgunit' ) , "'")',
wm_multiple_filter_groups:'$encoder.jsEscape($i18n.getString( 'wm_multiple_filter_groups' ) , "'")',
wm_first_filter_used:'$encoder.jsEscape($i18n.getString( 'wm_first_filter_used' ) , "'")',
show_data:'$encoder.jsEscape($i18n.getString( 'show_data' ) , "'")',
share:'$encoder.jsEscape($i18n.getString( 'share' ) , "'")',
interpretation:'$encoder.jsEscape($i18n.getString( 'interpretation' ) , "'")',
write_your_interpretation:'$encoder.jsEscape($i18n.getString( 'write_your_interpretation' ) , "'")',
interpretation_was_shared:'$encoder.jsEscape($i18n.getString( 'interpretation_was_shared' ) , "'")',
save_load_favorite_before_sharing:'$encoder.jsEscape($i18n.getString( 'save_load_favorite_before_sharing' ) , "'")',
create_chart_before_datatable:'$encoder.jsEscape($i18n.getString( 'create_chart_before_datatable' ) , "'")',
organisation_unit_groups:'$encoder.jsEscape($i18n.getString( 'organisation_unit_groups' ) , "'")',
groups_replace_orgunits:'$encoder.jsEscape($i18n.getString( 'groups_replace_orgunits' ) , "'")',
fixed_periods:'$encoder.jsEscape($i18n.getString( 'fixed_periods' ) , "'")',
relative_periods:'$encoder.jsEscape($i18n.getString( 'relative_periods' ) , "'")',
periods:'$encoder.jsEscape($i18n.getString( 'periods' ) , "'")',
select_type:'$encoder.jsEscape($i18n.getString( 'select_type' ) , "'")',
last_3_months:'$encoder.jsEscape($i18n.getString( 'last_3_months' ) , "'")',
show_values:'$encoder.jsEscape($i18n.getString( 'show_values' ) , "'")',
select_indicator_group:'$encoder.jsEscape($i18n.getString( 'select_indicator_group' ) , "'")',
select_data_element_group:'$encoder.jsEscape($i18n.getString( 'select_data_element_group' ) , "'")',
table:'$encoder.jsEscape($i18n.getString( 'table' ) , "'")',
chart:'$encoder.jsEscape($i18n.getString( 'chart' ) , "'")',
map:'$encoder.jsEscape($i18n.getString( 'map' ) , "'")',
home:'$encoder.jsEscape($i18n.getString( 'home' ) , "'")',
table_options:'$encoder.jsEscape($i18n.getString( 'table_options' ) , "'")',
style:'$encoder.jsEscape($i18n.getString( 'style' ) , "'")',
select_period_type:'$encoder.jsEscape($i18n.getString( 'select_period_type' ) , "'")',
weeks:'$encoder.jsEscape($i18n.getString( 'weeks' ) , "'")',
last_week:'$encoder.jsEscape($i18n.getString( 'last_week' ) , "'")',
last_4_weeks:'$encoder.jsEscape($i18n.getString( 'last_4_weeks' ) , "'")',
last_12_weeks:'$encoder.jsEscape($i18n.getString( 'last_12_weeks' ) , "'")',
bimonths:'$encoder.jsEscape($i18n.getString( 'bimonths' ) , "'")',
last_bimonth:'$encoder.jsEscape($i18n.getString( 'last_bimonth' ) , "'")',
last_6_bimonths:'$encoder.jsEscape($i18n.getString( 'last_6_bimonths' ) , "'")',
sixmonths:'$encoder.jsEscape($i18n.getString( 'sixmonths' ) , "'")',
last_sixmonth:'$encoder.jsEscape($i18n.getString( 'last_sixmonth' ) , "'")',
last_2_sixmonths:'$encoder.jsEscape($i18n.getString( 'last_2_sixmonths' ) , "'")',
financial_years:'$encoder.jsEscape($i18n.getString( 'financial_years' ) , "'")',
last_financial_year:'$encoder.jsEscape($i18n.getString( 'last_financial_year' ) , "'")',
last_5_financial_years:'$encoder.jsEscape($i18n.getString( 'last_5_financial_years' ) , "'")',
prev_year: '$encoder.jsEscape($i18n.getString( 'prev_year' ) , "'")',
next_year: '$encoder.jsEscape($i18n.getString( 'next_year' ) , "'")',
user_organisation_unit: '$encoder.jsEscape($i18n.getString( 'user_organisation_unit' ) , "'")',
user_organisation_unit_children: '$encoder.jsEscape($i18n.getString( 'user_organisation_unit_children' ) , "'")',
user_organisation_unit_grandchildren: '$encoder.jsEscape($i18n.getString( 'user_organisation_unit_grandchildren' ) , "'")',
filters: '$encoder.jsEscape($i18n.getString( 'filters' ) , "'")',
at_least_one_dimension_must_be_specified_as_row_or_column: '$encoder.jsEscape($i18n.getString( 'at_least_one_dimension_must_be_specified_as_row_or_column' ) , "'")',
at_least_one_period_must_be_specified_as_column_row_or_filter: '$encoder.jsEscape($i18n.getString( 'at_least_one_period_must_be_specified_as_column_row_or_filter' ) , "'")',
indicators_cannot_be_specified_as_filter: '$encoder.jsEscape($i18n.getString( 'indicators_cannot_be_specified_as_filter' ) , "'")',
all_data_element_groups: '$encoder.jsEscape($i18n.getString( 'all_data_element_groups' ) , "'")',
hide: '$encoder.jsEscape($i18n.getString( 'hide' ) , "'")',
layout: '$encoder.jsEscape($i18n.getString( 'layout' ) , "'")',
options: '$encoder.jsEscape($i18n.getString( 'options' ) , "'")',
download: '$encoder.jsEscape($i18n.getString( 'download' ) , "'")',
favorites: '$encoder.jsEscape($i18n.getString( 'favorites' ) , "'")',
chart_title: '$encoder.jsEscape($i18n.getString( 'chart_title' ) , "'")',
hide_chart_title: '$encoder.jsEscape($i18n.getString( 'hide_chart_title' ) , "'")',
search_for_favorites: '$encoder.jsEscape($i18n.getString( 'search_for_favorites' ) , "'")',
overwrite_favorite: '$encoder.jsEscape($i18n.getString( 'overwrite_favorite' ) , "'")',
please_create_a_table_first: '$encoder.jsEscape($i18n.getString( 'please_create_a_table_first' ) , "'")',
delete_: '$encoder.jsEscape($i18n.getString( 'delete_' ) , "'")',
share_with_other_people: '$encoder.jsEscape($i18n.getString( 'share_with_other_people' ) , "'")',
totals: '$encoder.jsEscape($i18n.getString( 'totals' ) , "'")',
details: '$encoder.jsEscape($i18n.getString( 'details' ) , "'")',
prev: '$encoder.jsEscape($i18n.getString( 'prev' ) , "'")',
next: '$encoder.jsEscape($i18n.getString( 'next' ) , "'")',
create: '$encoder.jsEscape($i18n.getString( 'create' ) , "'")',
add_new: '$encoder.jsEscape($i18n.getString( 'add_new' ) , "'")',
can_view: '$encoder.jsEscape($i18n.getString( 'can_view' ) , "'")',
can_edit_and_view: '$encoder.jsEscape($i18n.getString( 'can_edit_and_view' ) , "'")',
search_for_user_groups: '$encoder.jsEscape($i18n.getString( 'search_for_user_groups' ) , "'")',
public_access: '$encoder.jsEscape($i18n.getString( 'public_access' ) , "'")',
detailed_data_elements_cannot_be_specified_as_filter: '$encoder.jsEscape($i18n.getString( 'detailed_data_elements_cannot_be_specified_as_filter' ) , "'")',
plain_data_sources: '$encoder.jsEscape($i18n.getString( 'plain_data_sources' ) , "'")',
graphics: '$encoder.jsEscape($i18n.getString( 'graphics' ) , "'")',
sharing_settings: '$encoder.jsEscape($i18n.getString( 'sharing_settings' ) , "'")',
select_organisation_units: '$encoder.jsEscape($i18n.getString( 'select_organisation_units' ) , "'")',
select_boundaries_and_levels: '$encoder.jsEscape($i18n.getString( 'select_boundaries_and_levels' ) , "'")',
select_organisation_unit_levels: '$encoder.jsEscape($i18n.getString( 'select_organisation_unit_levels' ) , "'")',
radar_chart: '$encoder.jsEscape($i18n.getString( 'radar_chart' ) , "'")',
select_boundaries_and_groups: '$encoder.jsEscape($i18n.getString( 'select_boundaries_and_groups' ) , "'")',
select_organisation_unit_groups: '$encoder.jsEscape($i18n.getString( 'select_organisation_unit_groups' ) , "'")',
user_organisation_unit_grandchildren: '$encoder.jsEscape($i18n.getString( 'user_organisation_unit_grandchildren' ) , "'")',
allow_external_access: '$encoder.jsEscape($i18n.getString( 'allow_external_access' ) , "'")',
"daily": "$encoder.jsEscape($i18n.getString( 'daily' ) , "'")",
"weekly": "$encoder.jsEscape($i18n.getString( 'weekly' ) , "'")",
"monthly": "$encoder.jsEscape($i18n.getString( 'monthly' ) , "'")",
"bimonthly": "$encoder.jsEscape($i18n.getString( 'bimonthly' ) , "'")",
"quarterly": "$encoder.jsEscape($i18n.getString( 'quarterly' ) , "'")",
"sixmonthly": "$encoder.jsEscape($i18n.getString( 'sixmonthly' ) , "'")",
"yearly": "$encoder.jsEscape($i18n.getString( 'yearly' ) , "'")",
"financial_oct": "$encoder.jsEscape($i18n.getString( 'financial_oct' ) , "'")",
"financial_july": "$encoder.jsEscape($i18n.getString( 'financial_july' ) , "'")",
"financial_april": "$encoder.jsEscape($i18n.getString( 'financial_april' ) , "'")"
};
