#set($indicatorSize = $indicatorValues.size())#set($dataElementSize = $dataElementValues.size())#set($dataSetSize = $dataSetValues.size())[#if ($indicatorSize > 0)#foreach($obj in $indicatorValues)["$!{obj.value}","in","$!{obj.indicatorId}","$!{obj.periodId}","$!{obj.organisationUnitId}","$!{obj.organisationUnitGroupId}"]#if ($velocityCount < $indicatorSize),#end#end#end#if ($dataElementSize > 0)#if ($indicatorSize > 0),#end#foreach($obj in $dataElementValues)["$!{obj.value}","de","$!{obj.dataElementId}","$!{obj.periodId}","$!{obj.organisationUnitId}","$!{obj.organisationUnitGroupId}"]#if($velocityCount < $dataElementSize),#end#end#end#if ($dataSetSize > 0)#if ($indicatorSize > 0 || $dataElementSize > 0),#end#foreach($obj in $dataSetValues)["$!{obj.value}","ds","$!{obj.dataSetId}","$!{obj.periodId}","$!{obj.organisationUnitId}","$!{obj.organisationUnitGroupId}"]#if ($velocityCount < $dataSetSize),#end#end#end]