#set( $size = $object.size() )
{"organisationUnits":[#foreach($unit in $object){"id":"$!{unit.uid}","name":"$!encoder.jsonEncode(${unit.name})","path":"#foreach($anc in $unit.getAncestors())/${anc.uid}#end"}#if($velocityCount < $size),#end#end]}
