#set($size=$object.size())#if($callback)$!{callback}(#end{"geojson":[#foreach($unit in $object){"ty":#if(${unit.featureType}=="Point")"2"#else"1"#end,"co":$!encoder.jsonEncode($!{unit.validCoordinates}),"uid":"$!{unit.uid}","iid":$!{unit.id},"na":"$!encoder.jsonEncode(${unit.name})","hcd":$!{unit.hasChildrenWithCoordinates()},"hcu":$!{unit.hasCoordinatesUp()},"le":$!{unit.getOrganisationUnitLevel()},"gppg":"$!{unit.parent.parent.getParentGraph()}","gpuid":"$!{unit.parent.parent.uid}","parentGraph":"$!{unit.getParentGraph()}","pi":"$!{unit.getParent().uid}","pn":"$!{unit.getParent().name}"}#if($velocityCount<$size),#end#end]}#if($callback))#end