#set($size=$object.size())
#set($groupSetSize=$groupSets.size())
#if($callback)$!{callback}(#end{ "properties":{},"geojson":[#foreach($unit in $object) {
"ty": #if(${unit.featureType}=="Point")"2"#else"1"#end,"co":$!encoder.jsonEncode($!{unit.validCoordinates}),"uid":"$!{unit.uid}","iid":$!{unit.id},"na":"$!encoder.jsonEncode(${unit.name})",
"groupSets": { #foreach($set in $groupSets)	#set( $index = ( $velocityCount - 1 ) )	#set( $key = $!encoder.jsonEncode( ${set.uid} ) ) #set( $val = $!encoder.jsonEncode( $unit.groupNames.get(${index}) ) )
"${key}":"$!{val}"#if($velocityCount<$groupSetSize),#end #end } } #if($velocityCount<$size),#end #end ] }#if($callback))#end