#set( $size = $object.size() )
{ "periodTypes": [
#foreach( $periodType in $object )
  {
    "id": "$!{periodType.id}",
    "name": "$!encoder.jsonEncode( $periodType.name )",
    "displayName": "$!encoder.jsonEncode( $i18n.getString($periodType.name) )"
  }#if( $velocityCount < $size ),#end
#end
] }
