#set( $size = $object.size() ){"mapOrganisationUnitRelations":[#foreach( $mapOrganisationUnitRelation in $object ){"id":"$!{mapOrganisationUnitRelation.id}","map":"$!encoder.jsonEncode( ${mapOrganisationUnitRelation.map.mapLayerPath} )","organisationUnit":"$!encoder.jsonEncode( ${mapOrganisationUnitRelation.organisationUnit.name} )","organisationUnitId":$!{mapOrganisationUnitRelation.organisationUnit.id},"featureId":"$!{mapOrganisationUnitRelation.featureId}"}#if( $velocityCount < $size ),#end#end]}