
<h3>$i18n.getString( "create_new_line_list_group" )</h3>

<form id="addLineListGroupElementForm" action="addLineListGroup.action" method="post" onsubmit="return validateAddLineListGroup()">

<table>
	<tr>
		<th colspan="2">$i18n.getString( "details" )</th>
	</tr>
	<tr>
		<td><label for="name">$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" style="width:20em"></td>
	</tr>
    <tr>
        <td><label for="shortName">$i18n.getString( "short_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td><input type="text" id="shortName" name="shortName" style="width:20em"></td>
    </tr>
    <tr>
        <td><label for="periodType">$i18n.getString( "periodType" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
        <td>
          <select id="periodTypeSelect" name="periodTypeSelect" style="min-width:20em">
            #foreach ( $periodType in $periodTypes )
              <option value="$periodType.name">$i18n.getString( $periodType.name )</option>
            #end
          </select>
        </td>
    </tr>
    <tr>
        <td><label for="description">$i18n.getString( "description" )</label></td>
        <td><textarea id="description" name="description" style="width:20em; height:8em"></textarea></td>
    </tr>
	<tr>
		<td colspan="2" height="15px"></td>
	</tr>
</table>

<table>
	<tr>
		<th>$i18n.getString( "available_line_lists_elements" )</th><td></td><th>$i18n.getString( "group_members" )</th>
	</tr>
	<tr>		
		<td><input type="text" id="availableLineListElementsFilter" onkeyup="filterAvailableLineListElements()" style="width:25em"></td>
		<td style="text-align:center">&lt; $i18n.getString( "filters" ) &gt;</td>
		<td><input type="text" id="groupMembersFilter" onkeyup="filterGroupMembers()" style="width:25em"></td>
	</tr>
	<tr>
		<td>
			<select id="availableList" size="2" multiple="multiple" style="min-width:25em; height:25em" ondblclick="addGroupMembers()">
			</select>
		</td>
		
		<td style="text-align:center">			
			<input type="button" value="&gt;" title="$i18n.getString('move_selected')" onclick="addGroupMembers()"><br>
			<input type="button" value="&lt;" title="$i18n.getString('remove_selected')" onclick="removeGroupMembers()">			
		</td>
	
		<td>
			<select id="selectedList" name="selectedList" size="2" multiple="multiple" style="min-width:25em; height:25em" ondblclick="removeGroupMembers()" />
		</td>
        <td>
            <a href="javascript:moveUp('selectedList')"><img src="../images/move_up.png" alt="$i18n.getString( "move_up" )"></a><br><br>
            <a href="javascript:moveDown('selectedList')"><img src="../images/move_down.png" alt="$i18n.getString( "move_down" )"></a>
    	</td>
	</tr>
</table>

<p><input type="submit" value="$i18n.getString( "add" )" style="width:10em"><input type="button" value="$i18n.getString( "cancel" )" onclick="window.location.href='getLineListGroups.action'" style="width:10em"></p>

</form>

<span id="message"></span>

<script type="text/javascript">

	var groupMembers = new Object();

	var availableLineLists = new Object();
#foreach( $availableLineListElement in $lineListElements )
	availableLineLists['$availableLineListElement.id'] = '$encoder.jsEscape( $availableLineListElement.name, "'" )';
#end

	initLists();

	var nameField = document.getElementById( 'name' );
	nameField.select();
	nameField.focus();

</script>
