<h2>Linelisting Meta Data</h2>
  <ul>
	<li><a href="getLineListOptions.action">Linelist Option</a></li>
	<li><a href="lineListElements.action">Linelist Element</a></li>
    <li><a href="getLineListGroups.action">Linelist Group</a></li>
  </ul>
<h2>Linelisting DataEntry</h2>
	<ul>
		<li><a href="select.action">DataEntry</a></li>
	</ul>
<h2>Linelisting Validation Rules</h2>
	<ul>
		<li><a href="showValidationRules.action">Linelist Validation Rules</a></li>
	</ul>
<h2>Linelisting Aggregation Engine</h2>
    <ul>
        <li><a href="showLLAggQueryBuilderForm.action">Linelisting Aggregation Query Builder</a></li>
        <li><a href="linelistAggForm.action">Linelisting Aggregation</a></li>
    </ul>
<!--	<ul>
        <li><a href="linelistAggForm.action">$i18n.getString( "linelisting_aggregation" )</a></li>     
    </ul>-->