#set( $size = $dataSets.size() )
{ "dataSets": [
#foreach( $dataSet in $dataSets )
  {
    "id": $!{dataSet.id},
    "name": "$!encoder.jsonEncode( ${dataSet.name} )"
  }#if( $velocityCount < $size ),#end
#end ],
  "dataSetValid": ${dataSetValid}
}