<script type="text/javascript" src="javascript/addProgramStageForm.js"></script>
<script>
	var program_stage_SMS_reminder_form ="<select type='text' id='userGroup$index' name='userGroup$index' class='userGroup'>";
	#foreach( $group in $userGroups )
		program_stage_SMS_reminder_form += "<option value='$group.id'>$i18n.getString($group.name)</option>";
	#end
	program_stage_SMS_reminder_form +="</select>";
</script>

<h3>$i18n.getString( "create_new_program_stage" )</h3>

<h4>$program.displayName</h4>
		
<form id="addProgramStageForm" name="addProgramStageForm" action="addProgramStage.action" method="get">
	<input type="hidden" id="programId" name="programId" value="$program.id"/>
	<input type='hidden' id="id" name="id" value="$program.id"/>
	<select id='daysAllowedSendMessages' name="daysAllowedSendMessages" multiple="multiple" class="hidden"></select>
	<select id='templateMessages' name="templateMessages" multiple="multiple" class="hidden"></select>
	<select id='sendTo' name="sendTo" multiple="multiple" class="hidden"></select>
	<select id='whenToSend' name="whenToSend" multiple="multiple" class="hidden"></select>
	<select id='messageType' name="messageType" multiple="multiple" class="hidden"></select>
	<select id='userGroup' name="userGroup" multiple="multiple" class="hidden"></select>
<table>
	<thead>
		<tr><th colspan="2">$i18n.getString( "program_stage_details" )</th></tr>
	</thead>
		
	<tr>
		<td><label>$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="name" name="name" class="{validate:{required:true,rangelength:[4,160]}}"/></td>
	</tr>	
	
	<tr>
		<td><label>$i18n.getString( "description" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="description" name="description" class="{validate:{required:true,minlength:4}}"/></td>
	</tr>
	
	#if( $program.type == 1 )
	<tr>
		<td><label>$i18n.getString( "scheduled_days_from_start" )</label></td>
		<td><input type="text" id="minDaysFromStart" name="minDaysFromStart" class="{validate:{number:true,min:0}}"/></td>
	</tr>
	
	<tr><th colspan="2">$i18n.getString( "repeatable_program_stage_details" )</th></tr>
	
	<tr>
		<td><label>$i18n.getString( "repeatable" )</label></td>
		<td><input type="checkbox" id="irregular" name="irregular" value='true' onchange='repeatableOnChange();' /></td>
	</tr>
	
	<tr>
		<td><label>$i18n.getString( "display_generate_event_box_after_completed" )</label></td>
		<td><input type="checkbox" id="displayGenerateEventBox" name="displayGenerateEventBox" value='true' checked disabled /></td>
	</tr>
	
	<tr>
		<td><label>$i18n.getString( "standard_interval_days" )</label></td>
		<td><input type="text" id="standardInterval" name="standardInterval" class="{validate:{number:true}}" disabled /></td>
	</tr>
	
	#end
	
	<tr><th colspan="2">$i18n.getString( "form_details" )</th></tr>
	
	#set($openAfterEnrollment = '' )
	#foreach($ps in $program.programStages )
		#if( $ps.openAfterEnrollment=='true')
			#set($openAfterEnrollment = $ps.displayName )
		#end
	#end
	
	<tr>
		<td><label>$i18n.getString( "auto_generate_event" )</label></td>
		<td><input type="checkbox" id="autoGenerateEvent" name="autoGenerateEvent" value='true' checked onchange='autoGenerateEventOnChange("$openAfterEnrollment")' /></td>
	</tr>
	
	#if($program.type!=3)
	
		#if($openAfterEnrollment!='' ) 
		<tr>
			<td colspan='2' style="color:grey;font-style:italic">$i18n.getString('the_properties_to_open_data_entry_form_after_enrolment_is_active_in_the_stage'): $openAfterEnrollment</td>
			<td></td>
		</tr>
		#end
		
		<tr>
			<td><label>$i18n.getString( "open_data_entry_form_after_enrolment" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input type="checkbox" id="openAfterEnrollment" name="openAfterEnrollment" value='true' 
				onchange="openAfterEnrollmentOnchange();" 
				#if($openAfterEnrollment!='') disabled #end>
			</td>
			<td></td>
		</tr>
		
		<tr>
			<td><label>$i18n.getString( "report_date_to_use" )</label></td>
			<td>
				<select id="reportDateToUse" name="reportDateToUse" class="{validate:{required:true}}" disabled>
					<option value=''>[$i18n.getString('please_select')]</option>
					<option value='registrationDate'>$i18n.getString("registration_date")</option>
					<option value='dateOfIncident'>$i18n.getString("date_of_incident")</option>
					<option value='enrollmentDate'>$i18n.getString("date_of_enrollment")</option>
				</select>
			</td>
			<td></td>
		</tr>
	#end
	
	<tr>
		<td><label>$i18n.getString( "block_entry_form_after_completed" )</label></td>
		<td><input type="checkbox" id="blockEntryForm" name="blockEntryForm" value='true'></td>
		<td></td>
	</tr>
	
	<tr>
		<td><label>$i18n.getString( "remind_completing_program_after_program_stage_completed" )</label></td>
		<td><input type="checkbox" id="remindCompleted" name="remindCompleted" value='true' ></td>
		<td></td>
	</tr>
	
	<tr>
		<td><label>$i18n.getString( "remind_creating_next_event_on_this_event_completed" )</label></td>
		<td><input type="checkbox" id="allowGenerateNextVisit" name="allowGenerateNextVisit" value='true' ></td>
		<td></td>
	</tr>
	
	#if($program.type==1)
	<tr>
		<td><label>$i18n.getString( "generated_events_by_enrollment_date" )</label></td>
		<td><input type="checkbox" id="generatedByEnrollmentDate" name="generatedByEnrollmentDate" value='true'></td>
		<td></td>
	</tr>
	#end
	
	<tr>
		<td><label>$i18n.getString( "capture_coordinates" )</label></td>
		<td><input type="checkbox" id="captureCoordinates" name="captureCoordinates" value="true" /></td>
	</tr>
	
	<tr>
		<td><label>$i18n.getString( "complete_allowed_only_if_validation_passes" )</label></td>
		<td><input type="checkbox" id="validCompleteOnly" name="validCompleteOnly" value="true" /></td>
	</tr>
	
	<tr>
		<td><label>$i18n.getString( "report_date_description" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
		<td><input type="text" id="reportDateDescription" name="reportDateDescription" class="{validate:{required:true}}" /></td>
	</tr>
	
	<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
	
</table>

<table id="programStageMembersArea">    
    <colgroup>
		<col style="width:550px;"/>
		<col/>
		<col style="width:500px;"/>
	</colgroup>
	<thead>
      <tr>        
        <th>$i18n.getString( "available_data_elements" )</th>
        <th></th>
        <th>$i18n.getString( "selected_data_elements" )							
			<select id="selectedDataElementsValidator" name='selectedDataElementsValidator' multiple="multiple" class="hidden" ></select>
			<select id="compulsories" name='compulsories' multiple="multiple" class="hidden"></select>     
			<select id="allowProvidedElsewhere" name='allowProvidedElsewhere' multiple="multiple" class="hidden"></select>     
			<select id="displayInReports" name='displayInReports' multiple="multiple" class="hidden"></select>     
			<select id="allowDateInFutures" name='allowDateInFutures' multiple="multiple" class="hidden"></select>   
		</th>
      </tr>
    </thead>
  
    <tbody>
      <tr>
        <td>
            <select style='width:100%' size="15" id="availableList" name='availableList' multiple="multiple" ondblclick="selectDataElements()">
            </select>
        </td>
        
		<td style="text-align:center">
        	<input type="button" value="&gt;" class='filterButton' onclick="selectDataElements();"/><br/>
            <input type="button" value="&lt;" class='filterButton' onclick="unSelectDataElements();"/><br/>
			<input type="button" value="&gt;&gt;" class='filterButton' onclick="selectAllDataElements();"/><br/>
			<input type="button" value="&lt;&lt;" class='filterButton' onclick="unSelectAllDataElements();"/>
		</td>
		
		<td>
			<div class="dataElementDiv">
				<table>
					<colgroup>
						<col/>
						<col style="width:20px;"/>
						<col style="width:20px;"/>
						<col style="width:20px;"/>
					</colgroup>
					<thead>
						<tr>
							<th>$i18n.getString( "dataelement" )</th>
							<th>$i18n.getString( "compulsory" )</th>
							<th>$i18n.getString( "allow_provided_elsewhere" )</th>
							<th>$i18n.getString( "display_in_reports" )</th>
							<th>$i18n.getString( "date_in_future" )</th>
					</thead>
					<tbody id="selectedList"></tbody>
				</table>
			</div>
			</td>
			
		<td>
            <a href="javascript:moveUpDataElement()"><img src="../images/move_up.png"/></a><br/><br/>
            <a href="javascript:moveDownDataElement()"><img src="../images/move_down.png"/></a><br/><br/>
        </td>  
		</tr>
    </tbody>
	<tr>
		<th colspan='3'>$i18n.getString("template_reminder_message")</th>
	</tr>
</table>

<table>
	<tbody id='programStageMessage'>
	</tbody>
	<tr>
		<td></td>
		<td>
			<input type="button" value="$i18n.getString('add_more')" onclick='generateTemplateMessageForm();'>
		</td>
	</tr>
</table>

<p>
	<input type="submit" value="$i18n.getString( 'add' )"/>
	<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='programStage.action?id=$program.id'" />
</p>

</form> 	

<script type="text/javascript">    
    var i18n_invalid_min_max_days = '$encoder.jsEscape( $i18n.getString( "invalid_min_max_days" ) , "'")';
    var i18n_value_must_positive = '$encoder.jsEscape( $i18n.getString( "value_must_positive" ) , "'")';
    var i18n_value_must_integer = '$encoder.jsEscape( $i18n.getString( "value_must_integer" ) , "'")';
    var i18n_compulsory_checkbox_title = '$encoder.jsEscape( $i18n.getString( "compulsory_checkbox_title" ) , "'")';   	
	var i18n_reminder = '$encoder.jsEscape( $i18n.getString( "reminder" ) , "'")';   
	var i18n_remove_reminder = '$encoder.jsEscape( $i18n.getString( "remove_reminder" ) , "'")';   
	var i18n_params = '$encoder.jsEscape( $i18n.getString( "params" ) , "'")';   
	var i18n_patient_name = '$encoder.jsEscape( $i18n.getString( "patient_name" ) , "'")';   
	var i18n_program_name = '$encoder.jsEscape( $i18n.getString( "program_name" ) , "'")';   
	var i18n_program_stage_name = '$encoder.jsEscape( $i18n.getString( "program_stage_name" ) , "'")';   
	var i18n_due_date = '$encoder.jsEscape( $i18n.getString( "due_date" ) , "'")';   
	var i18n_orgunit_name = '$encoder.jsEscape( $i18n.getString( "orgunit_name" ) , "'")';   
	var i18n_days_since_due_date = '$encoder.jsEscape( $i18n.getString( "days_since_due_date" ) , "'")';   
	var i18n_message = '$encoder.jsEscape( $i18n.getString( "message" ) , "'")';   
	var i18n_name_exists = '$encoder.jsEscape( $i18n.getString( "name_exists" ) , "'")'; 
	var i18n_recipients = '$encoder.jsEscape( $i18n.getString( "recipients" ) , "'")'; 
	var i18n_patient_sms_only = '$encoder.jsEscape( $i18n.getString( "patient_sms_only" ) , "'")'; 
	var i18n_health_worker_assigned_to_person = '$encoder.jsEscape( $i18n.getString( "health_worker_assigned_to_person" ) , "'")'; 
	var i18n_orgunit_phone_number_sms_only = '$encoder.jsEscape( $i18n.getString( "orgunit_phone_number_sms_only" ) , "'")'; 
	var i18n_all_users_at_orgunit = '$encoder.jsEscape( $i18n.getString( "all_users_at_orgunit" ) , "'")'; 
	var i18n_send_when_to = '$encoder.jsEscape( $i18n.getString( "send_base_on" ) , "'")';
	var i18n_days_scheduled = '$encoder.jsEscape( $i18n.getString( "days_scheduled" ) , "'")';
	var i18n_complete_event = '$encoder.jsEscape( $i18n.getString( "complete_event" ) , "'")';
	var i18n_user_group = '$encoder.jsEscape( $i18n.getString( "user_group" ) , "'")';
	var i18n_characters_without_params = '$encoder.jsEscape( $i18n.getString( "characters_without_params" ) , "'")';
	var i18n_send_message = '$encoder.jsEscape( $i18n.getString( "send_message" ) , "'")';
	var i18n_days = '$encoder.jsEscape( $i18n.getString( "days" ) , "'")';
	var i18n_before = '$encoder.jsEscape( $i18n.getString( "before" ) , "'")';
	var i18n_after = '$encoder.jsEscape( $i18n.getString( "after" ) , "'")';
	var i18n_scheduled_date = '$encoder.jsEscape( $i18n.getString( "scheduled_date" ) , "'")';
	var i18n_message_type = '$encoder.jsEscape( $i18n.getString( "message_type" ) , "'")';
	var i18n_direct_sms = '$encoder.jsEscape( $i18n.getString( "direct_sms" ) , "'")';
	var i18n_message = '$encoder.jsEscape( $i18n.getString( "message" ) , "'")';
	var i18n_both = '$encoder.jsEscape( $i18n.getString( "both" ) , "'")';
	
	var programStageList = new Array();
	#foreach($programStage in $program.programStages)
		programStageList.push("$programStage.displayName");
	#end
</script>