<div id="tabs">
	<ul>
		<li><a href="#tab-1">$i18n.getString("dataelements")</a></li>
		<li><a href="#tab-2">$i18n.getString("patient_attributes")</a></li>
		<li><a href="#tab-3">$i18n.getString("program")</a></li>
	</ul>	
	
	<div id="tab-1">
	  <table>
        <tr>
			<td colspan='2'>
				$i18n.getString("filter_by_name"): 
				<input type='text' id='txtSearchValue' name='txtSearchValue' onKeyUp="filterDataElement(event, this.value, 'dataElements','dataElementBackups');" style='width:185px;'/>
				<input type='button' value='$i18n.getString("clear")' onClick="setFieldValue('txtSearchValue', '');" style='width:50px'>			
			</td>
			<td>
				<label for="availableValues">$i18n.getString( "available_values" )</label>&nbsp;
				<input type='button' title="$i18n.getString( 'insert_selected_values' )" value="&raquo;" class="small-button" onClick="insertMultiValues('suggestedDEValues');" >
			</td>
        </tr>
		 <tr>
			<td colspan='2'>
				$i18n.getString("filter_by_type"): <select type='text' id='deValueType' name='deValueType' onchange="filterDataElement(event, getFieldValue('txtSearchValue'), 'dataElements','dataElementBackups');" style='width:245px;'>
					<option value=''>[$i18n.getString('view_all')]</option>
					<option value="int">$i18n.getString( "number" )</option>
					<option value="string">$i18n.getString( "text" )</option>
					<option value="bool">$i18n.getString( "yes_no" )</option>
					<option value="trueOnly">$i18n.getString( "yes_only" )</option>
					<option value="date">$i18n.getString( "date" )</option>
					<option value="username">$i18n.getString( "user_name" )</option>
				</select>
			</td>
		</tr>
        <tr>
			<td colspan='2'>
				<select id="dataElements" name="dataElements" size="8" ondblclick="insertDataElement(this);" onclick="getSuggestedValues(this.id, 'suggestedDEValues' )"></select>
				<select id="dataElementBackups" name="dataElementBackups" style='display:none;'></select>
			</td>
			<td rowspan='4'>
				<select name="suggestedDEValues" size="12" multiple id='suggestedDEValues' ondblclick="insertSingleValue('suggestedDEValues');" ></select>			
			</td>
		</tr>
		 <tr>
			<td>
				<table style='background-color:#CBDDEB'>
					<tr>
						<td>$i18n.getString("display_name")</td>
						<td>
							<select id='displayNameOption' style="width:220px" onchange='displayNameOnChange( this.value )'>
								<option value='1'>$i18n.getString("name")</option>
								<option value='2'>$i18n.getString("code")</option>
								<option value='3'>$i18n.getString("code_and_name")</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>$i18n.getString( "sort_by" )</td>
						<td>
							<input type='radio' name='sortBy' value='1' onchange="sortByOnChange('1')" checked >$i18n.getString("name")
							<input type='radio' name='sortBy' value='2' onchange="sortByOnChange('2')">$i18n.getString("code") &nbsp;&nbsp;&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
      </table>
	</div>
	
	<div id="tab-2">
		<table>
			<tr>
				<td><label>$i18n.getString( "patient_attributes" )</label></td>
				<td>
					<label>$i18n.getString( "available_values" )</label>
					<input type='button' title="$i18n.getString( 'insert_selected_values' )" value="&raquo;" class="small-button"  onClick="insertMultiValues('caSuggestedValues');" >
				</td>
			</tr>
			<tr>
				<td>
					<select id="caseProperty" name="caseProperty" size="10" ondblclick="insertInfo(this, false);" onclick="getSuggestedValues(this.id, 'caSuggestedValues' )">
						<option suggested="" title="Total of patient registration" value="[PT:count]">$i18n.getString( 'total_of_patient_registration' )</option>
						<option suggested="F, M" title="Gender" value="[CP:gender]">$i18n.getString( 'gender' )</option>
						<option suggested="V, D, A" title="DOB type" value="[CP:dobType]">$i18n.getString( 'dob_type' )</option>
						<option suggested="" title="Age (days)" value="[CP:age]">$i18n.getString( "age_days" )</option>
						#foreach($patientAttribute in $patientAttributes)
							<option suggested="" title="$patientAttribute.displayName" value="[CA:$patientAttribute.id]">$patientAttribute.displayName</option>
						#end
					</select>
				</td>
				<td>
					<select multiple size="10" id='caSuggestedValues' ondblclick="insertSingleValue('caSuggestedValues');"></select>
				</td>
			</tr>
		</table>
	</div>
	
	<div id="tab-3">
		<table>
			<tr>
				<td><label>$i18n.getString('program_properties')</label></td>
				<td><label>$i18n.getString('program_stage_properties')</label></td>
			</tr>
			<tr>
				<td>
					<select id="programProperty" name="programProperty" size="10" ondblclick="insertInfo(this, false);" disabled>
						<option value="[PG:*]">$i18n.getString( "program_enrollment" )</option>
						<option value="[PG:*] AND [PP:DATE@enrollmentdate#-DATE@dateofincident#]">$i18n.getString( "date_of_enrollment" ) - $i18n.getString( "date_of_incident" )</option>
					</select>
				</td>
				<td>
					<select multiple id="programStageProperty" size="10" name="programStageProperty" ondblclick="insertInfo(this, true);" disabled >
						<option value="[PS:*]">$i18n.getString( "visit_selected_program_stage" )</option>
						<option value="[PSIC:*]">$i18n.getString( "completed" )</option>
						<option value="[PS:*.COUNT]" name="multiProgram">$i18n.getString( "visit_selected_program_stage_x_th_time" )</option>
						<option value="[PS:*] AND [PSP:DATE@executionDate#-DATE@dueDate#]" name="multiProgram">$i18n.getString( "report_date" ) - $i18n.getString( "due_date" )</option>
						<option value="[PS:*] AND [PC:DATE@executionDate#-DATE@birthDate#]" name="multiProgram">$i18n.getString( "age_at_visit_days_since_birth" )</option>
					</select>
					</select>
				</td>
			</tr>
		</table>
	</div>
</div>

<p></p>
<table>
	<tr>
		<td>
			<input type='button' class="small-button" onclick='insertOperator( "(" );' value="(" />
			<input type='button' class="small-button" onclick='insertOperator( ")" );' value=")" />
			<input type='button' class="small-button" onclick='insertOperator( "<" );' value="<" />
			<input type='button' class="small-button" onclick='insertOperator( "<=" );' value="<=" />
			<input type='button' class="small-button" onclick='insertOperator( ">" );' value=">" />
			<input type='button' class="small-button" onclick='insertOperator( ">=" );' value=">=" />
			<input type='button' class="small-button" onclick='insertOperator( "=" );' value="=" />
			<input type='button' class="small-button" onclick='insertOperator( "!=" );' value="!=" />
			<span style='padding-left:10px'>
				<input type='button' class="nornal-button" onclick='insertBoolValue( "true" );' value="$i18n.getString( 'yes' )" />
				<input type='button' class="nornal-button" onclick='insertBoolValue( "false" );' value="$i18n.getString( 'no' )" />
				<input type='button' class="nornal-button" onclick='insertOperator( "is null" );' value="==NULL" />
				<input type='button' class="nornal-button" onclick='insertOperator( "is not null" );' value="!=NULL" />
			</span>
			<span style='padding-left:10px'>
				<input type='button' style="width:54px;" onclick='insertOperator( "AND" );' value="$i18n.getString( 'and_operator' )" />
				<input type='button' style="width:54px;" onclick='insertOperator( "OR" );' value="$i18n.getString( 'or_operator' )" />
				<input type='button' style="width:80px;" onclick='insertOperator( "COMBINE" );' value="$i18n.getString( 'combine_operator' )" />
			</span>
			<br><br>
			<input type='button' style="width:175px;" onclick='insertOperator( "DATEDIFF( , dateOfIncident) " );' value="$i18n.getString('minus_with_dateOfIncident')" />
			<input type='button' style="width:175px;" onclick='insertOperator( "DATEDIFF( , enrollmentDate) " );' value="$i18n.getString('minus_with_enrollmentDate')" />
			<input type='button' style="width:175px;" onclick='insertOperator( "DATEDIFF( , executionDate) " );' value="$i18n.getString('minus_with_executionDate')" />
			<input type='button' style="width:175px;" onclick='insertOperator( "DEDATEDIFF( , ) " );' value="$i18n.getString('minus_with_dataelement')" />
			<span style='padding-left:110px'>
				<input type='button' style="width:45px;" align="right" alt="$i18n.getString( 'clear' )" onclick="byId('aggregationCondition').value='';" value="$i18n.getString('clear')" />
			</span>
		</td>
	</tr>
    </tbody>
	<tr>
		<td>
			<fieldset>
				<legend>$i18n.getString( "condition" )</legend>
				<textarea id="aggregationCondition" name="aggregationCondition" onkeyup='getConditionDescription();' maxlength="1000">$!caseAggregation.aggregationExpression</textarea>
			</fieldset>
		</td>
	</tr>
	
	<tr>
		<td>
			<fieldset>
				<legend>$i18n.getString( "description" )</legend>
				<div id='aggregationDescription'>$!description</div>
			</fieldset>
		</td>
	</tr>
</table>

<script type="text/javascript">
	var i18n_total_of_patient_registration = '$encoder.jsEscape( $i18n.getString( "total_of_patient_registration" ) , "'") ';
	var i18n_gender = '$encoder.jsEscape( $i18n.getString( "gender" ) , "'") ';
	var i18n_dob_type = '$encoder.jsEscape( $i18n.getString( "dob_type" ) , "'") ';
	var i18n_age_days = '$encoder.jsEscape( $i18n.getString( "age_days" ) , "'") ';
	var i18n_please_select = '[' + '$encoder.jsEscape( $i18n.getString( "please_select" ) , "'") ' + ']';
</script>

