{ #set( $size = $!{programStages.size()} )
  "programStages": [
  #foreach( ${programStage} in $!{programStages} )
  {
	"id": "${programStage.id}",
	"name": "$!encoder.jsonEncode( ${programStage.displayName} )"
  }#if( $velocityCount < $size ),#end
  #end
  ],
  "fixedAttributes": [
	{
		"id": "[PT:count]",
		"name": "$i18n.getString( 'total_of_patient_registration' )",
		"suggested": ""
	},
	{
		"id": "[CP:gender]",
		"name": "$i18n.getString( 'gender' )",
		"suggested": "F, M"
	},
	{
		"id": "[CP:dobType]",
		"name": "$i18n.getString( 'dob_type' )",
		"suggested": "V, D, A"
	},
	{
		"id": "[CP:age]",
		"name": "$i18n.getString( "age_days" )",
		"suggested": ""
	}
  ],
  "patientAttributes":[
	#set( $size = $!{patientAttributes.size()} )
	#foreach( $patientAttribute in $!{patientAttributes} )
	{
		"id": "[CA:${patientAttribute.id}]",
		"name": "$!encoder.jsonEncode( ${patientAttribute.name} )",
		"suggested":"$patientAttribute.attributeOptions"
	}#if( $velocityCount < $size ),#end
	#end
  ]
}