<h2>$i18n.getString( "patients" )</h2>
<ul>
	<li><a href="patientAttribute.action">$i18n.getString( "patient_attribute" )</a></li>
	<li><a href="patientAttributeVisitSchedule.action">$i18n.getString( "patient_attribute_visit_schedule" )</a></li>
	<li><a href="patientAttributeGroup.action">$i18n.getString( "patient_attribute_group" )</a></li>
	<li><a href="patientIdentifierType.action">$i18n.getString( "patient_identifier_type" )</a></li>
	<li><a href="relationshipType.action">$i18n.getString( "relationship_type" )</a></li>
	<li><a href="patientRegistrationForm.action">$i18n.getString( "patient_registration_form" )</a></li>
</ul>

<h2>$i18n.getString( "programs" )</h2>
<ul>
	<li><a href="program.action">$i18n.getString( "program" )</a></li>
	<li><a href="caseAggregation.action">$i18n.getString( "patient_aggregation_query_builder" )</a></li>
	<li><a href="validationCriteria.action">$i18n.getString( "validation_criteria" )</a></li>
</ul>

#if( $auth.hasAccess( "dhis-web-maintenance-patient", "viewScheduleTasks" ) 
	|| $auth.hasAccess( "dhis-web-maintenance-patient", "viewScheduledCaseAggCondTasks" ) )
<h2>$i18n.getString( "scheduling" )</h2>
<ul>
	#if( $auth.hasAccess( "dhis-web-maintenance-patient", "viewScheduleTasks" ) )
		<li><a href="viewScheduleTasks.action">$i18n.getString( "schedule_automated_message_reminder" )</a></li>
	#end
	#if($auth.hasAccess( "dhis-web-maintenance-patient", "viewScheduledCaseAggCondTasks" ) )
		<li><a href="viewScheduledCaseAggCondTasks.action">$i18n.getString( "schedule_automated_aggregation" )</a></li>
	#end
</ul>
#end
