
<h3>$i18n.getString( "patient_identifier_type_management" ) #openHelp( "patient_identifier_type" )</h3>

<table class="mainPageTable">
  <tr>
    <td style="vertical-align:top">
    
      <table class="listTable">
          <col>          
          <col width="120">
		  <tr>
		  	<td></td>
			<td colspan="4" style="text-align:right"><input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddPatientIdentifierTypeForm.action'" style="width:70px"></td>
		  </tr>
          <tr>            
            <th>$i18n.getString( "name" )</th>
            <th colspan="4">$i18n.getString( "operations" )</th>
          </tr>

          <tbody id="list">
            #foreach( $identifierType in $identifierTypes )
              <tr id="tr${identifierType.id}">
              
                <td onclick="showPatientIdentifierTypeDetails( $identifierType.id )">$encoder.htmlEncode( $identifierType.displayName )</td>                
                
                <td style="text-align:center"#alternate( $mark )>
                  <a href="showUpdatePatientIdentifierTypeForm.action?id=$identifierType.id" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"></a>
                  <a href="javascript:translate( 'PatientIdentifierType', '$identifierType.id' )" title="$i18n.getString( 'translation_translate' )"><img src="../images/i18n.png" alt="$i18n.getString( 'translation_translate' )"/></a>
				  <a href="javascript:removePatientIdentifierType( '$identifierType.id', '$encoder.jsEncode( $identifierType.displayName )' )" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
                  <a href="javascript:showPatientIdentifierTypeDetails( $identifierType.id )" title="$i18n.getString( 'show_details' )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"></a>
                </td>
                
              </tr>
            #end

          </tbody>

        </table>
    </td>
		<td id="detailsData">

            <div id="detailsArea">
                <div id="hideDetailsArea">
					<a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"></a>
				</div>				
				<p><label class="bold">$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
				<p><label class="bold">$i18n.getString( "description" ):</label><br><span id="descriptionField"></span></p>
				<p><label class="bold">$i18n.getString( "mandatory" ):</label><br><span id="mandatoryField"></span></p>
				<p><label class="bold">$i18n.getString( "related" ):</label><br><span id="relatedField"></span></p>
				<p><label class="bold">$i18n.getString( "no_of_char" ):</label><br><span id="noCharsField"></span></p>
				<p><label class="bold">$i18n.getString( "type" ):</label><br><span id="typeField"></span></p>
			</div>
		</td>
  </tr>
</table>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_patientIdentifierType" ) , "'" )';
	var i18n_none = '$encoder.jsEscape( $i18n.getString( "none" ), "'")';
	var i18n_string = '$encoder.jsEscape( $i18n.getString( "string" ), "'")';
	var i18n_number = '$encoder.jsEscape( $i18n.getString( "number" ), "'")';
	var i18n_letter_only = '$encoder.jsEscape( $i18n.getString( "letter_only" ), "'")';
	var i18n_yes = '$encoder.jsEscape( $i18n.getString( "yes" ), "'")';
	var i18n_no = '$encoder.jsEscape( $i18n.getString( "no" ), "'")';
	var i18n_all = '$encoder.jsEscape( $i18n.getString( "all" ), "'")';
	var i18n_orgunit_count = '$encoder.jsEscape( $i18n.getString( "orgunit_count" ) , "'")';
</script>
