<h3>$i18n.getString( "program_stage_section" )</h3>

<h4>$programStage.displayName</h4>

<input type='hidden' id='id' name='id' value='$programStage.id'>

<table class="mainPageTable">
	<tr>
		<td align="right">
			<input type="button" value="$i18n.getString( 'add_new' )" onclick="window.location.href='showAddProgramStageSectionForm.action?programStageId=$programStage.id'" style="width:150px"><br>
			<input type="button" value="$i18n.getString( 'sort_order' )" onclick="window.location.href='showProgramStageSectionSortedOderForm.action?id=$programStage.id'" style="width:150px"><br>
			<input type="button" value="$i18n.getString( 'back' )" onclick="window.location.href='programStage.action?id=$programStage.program.id'" style="width:150px">
		</td>
	</tr>
	<tr>
		<td style="vertical-align:top">  
			<table class="listTable" id="listTable">
				<col>
				<col width="150">	 
				<thead>
					<tr>            
						<th>$i18n.getString( "name" )</th>
						<th>$i18n.getString( "operations" )</th>
					</tr>
				</thead>
		  
				<tbody id="list">
					#set( $mark = false )
					#foreach( $section in $sections )
						<tr id="tr${section.id}" #alternate( $mark )>			  
							<td onclick="showSectionDetails( $section.id )">$encoder.htmlEncode( $section.displayName )</td>
							<td style="text-align:center"#alternate( $mark )>
							  <a href="showUpdateProgramStageSectionForm.action?programStageId=$programStage.id&id=$section.id" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"></a>
							  <a href="javascript:translate( 'ProgramStageSection', '$section.id' )" title="$i18n.getString( 'translation_translate' )"><img src="../images/i18n.png" alt="$i18n.getString( 'translation_translate' )"/></a>
							  <a href="javascript:removeSection( '$section.id', '$section.displayName' )" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
							  <a href="javascript:showSectionDetails( $section.id )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"></a>
							</td>
						</tr>
						#set( $mark = !$mark )
					#end
				</tbody>
			</table>
		</td>
		
		<td id="detailsData">

            <div id="detailsArea">
                <div id="hideDetailsArea">
					<a href="javascript:hideDetails();" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"></a>
				</div>				
				<p><label class="bold">$i18n.getString( "name" ):</label><br><span id="nameField"></span></p>
				<p><label class="bold">$i18n.getString( "no_of_dataelements" ):</label><br><span id="dataElementCountField"></span></p>				
			</div>
		</td>
	</tr>
</table>


<script type="text/javascript">
    var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_prorgam_stage_section" ) , "'" )';
	var i18n_delete_success = '$encoder.jsEscape( $i18n.getString( "delete_success" ) , "'" )';
</script>
