
<h3>$i18n.getString( "relationship_type_management" ) #openHelp( "relationship_type" )</h3>

<table class="mainPageTable">
  <tr>
    <td style="vertical-align:top">
    
      <table class="listTable">          
          <col>
		  <col>
          <col width="120">
		  <tr>
		  	<td></td>
		  	<td></td>
			<td colspan="3" style="text-align:right"><input type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddRelationshipTypeForm.action'" style="width:70px"></td>
		  </tr>
          <tr>
            <th>$i18n.getString( "relationship_type" )</th>            
            <th>$i18n.getString( "name" )</th>
            <th>$i18n.getString( "operations" )</th>
          </tr>

          <tbody id="list">
            #foreach( $relationshipType in $relationshipTypes )
              <tr id="tr${relationshipType.id}">
              
                <td onclick="showRelationshipTypeDetails( $relationshipType.id )">$encoder.htmlEncode( $relationshipType.aIsToB )/$encoder.htmlEncode( $relationshipType.bIsToA )</td>
                
                <td onclick="showRelationshipTypeDetails( $relationshipType.id )">$encoder.htmlEncode( $relationshipType.displayName )</td>               
                
                <td style="text-align:center"#alternate( $mark )>
                  <a href="showUpdateRelationshipTypeForm.action?id=$relationshipType.id" title="$i18n.getString( 'edit' )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"></a>
				  <a href="javascript:translate( 'RelationshipType', '$relationshipType.id' )" title="$i18n.getString( 'translation_translate' )"><img src="../images/i18n.png" alt="$i18n.getString( 'translation_translate' )"/></a>  
				  <a href="javascript:removeRelationshipType( '$relationshipType.id', '$encoder.jsEncode( $relationshipType.aIsToB )', '$encoder.jsEncode( $relationshipType.bIsToA )'  )" title="$i18n.getString( 'remove' )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
                  <a href="javascript:showRelationshipTypeDetails( $relationshipType.id )" title="$i18n.getString( 'show_details' )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"></a>
                </td>           
                
              </tr>
            #end

          </tbody>

        </table>
    </td>
    <td id="detailsData">
            <div id="detailsArea">
                <div id="hideDetailsArea">
                <a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"></a>
            </div>              
            <p><label class="bold">$i18n.getString( "a_is_to_b" ):</label><br><span id="aIsToBField"></span></p>
            <p><label class="bold">$i18n.getString( "b_is_to_a" ):</label><br><span id="bIsToAField"></span></p>
            <p><label class="bold">$i18n.getString( "description" ):</label><br><span id="descriptionField"></span></p>                            
        </div>
    </td>
  </tr>
</table>

<script type="text/javascript">
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_relationship_type" ) , "'" )';
	var i18n_adding_relationship_type_failed = '$encoder.jsEscape( $i18n.getString( "adding_relationshipt_type_failed" ), "'")';	
</script>
