<script>
	var i18n_characters_without_params = '$encoder.jsEscape( $i18n.getString( "characters_without_params" ) , "'")';
	var program_SMS_reminder_form ="<select type='text' id='userGroup$index' name='userGroup$index' class='userGroup'>";
	#foreach( $group in $userGroups )
		program_SMS_reminder_form += "<option value='$group.id'>$i18n.getString($group.name)</option>";
	#end
	program_SMS_reminder_form +="</select>";	
	jQuery( document ).ready( function()
	{
		showHideUserGroup();
		
		validation( 'updateProgramForm', function( form ){
			enable('dateOfEnrollmentDescription');
			enable('dateOfIncidentDescription');
			form.submit();
		}, function(){
				
				var daysAllowedSendMessages = jQuery( "#daysAllowedSendMessages" );
				daysAllowedSendMessages.empty();
				
				var templateMessages = jQuery( "#templateMessages" );
				templateMessages.empty();
				
				var datesToCompare = jQuery( "#datesToCompare" );
				datesToCompare.empty();
				
				var sendTo = jQuery( "#sendTo" );
				sendTo.empty();
				
				var whenToSend = jQuery( "#whenToSend" );
				whenToSend.empty();
				
				var messageType = jQuery( "#messageType" );
				messageType.empty();
				
				var userGroup = jQuery( "#userGroup" );
				userGroup.empty();
				
				jQuery(".daysAllowedSendMessage").each( function( i, item ){ 
					var days = (jQuery(item).attr('realvalue')==undefined) ? 0 : jQuery(item).attr('realvalue');
					daysAllowedSendMessages.append( "<option value='" + days + "' selected='true'>" + days + "</option>" );
				});
				
				jQuery(".templateMessage").each( function( i, item ){ 
					templateMessages.append( "<option value='" + item.value + "' selected='true'>" + item.value + "</option>" );
				});
				
				jQuery(".dateToCompare").each( function( i, item ){ 
					datesToCompare.append( "<option value='" + item.value + "' selected='true'>" + item.value + "</option>" );
				});
				
				jQuery(".sendTo").each( function( i, item ){ 
					sendTo.append( "<option value='" + item.value + "' selected='true'>" + item.value + "</option>" );
				});
				
				jQuery(".whenToSend").each( function( i, item ){ 
					whenToSend.append( "<option value='" + item.value + "' selected='true'>" + item.value + "</option>" );
				});
				
				jQuery(".messageType").each( function( i, item ){ 
					messageType.append( "<option value='" + item.value + "' selected='true'>" + item.value + "</option>" );
				});
				
				jQuery(".userGroup").each( function( i, item ){ 
					userGroup.append( "<option value='" + item.value + "' selected='true'>" + item.value + "</option>" );
				});
				
				var selectedPropertyIds = jQuery( "#selectedPropertyIds" );
				selectedPropertyIds.empty();
				var personDisplayNames = jQuery( "#personDisplayNames" );
				personDisplayNames.empty();
				if(getFieldValue('type')!=3){
					jQuery("#selectedList").find("tr").each( function( i, item ){ 
						selectedPropertyIds.append( "<option value='" + item.id + "' selected='true'>" + item.id + "</option>" );
						var displayed = jQuery( item ).find( "input[name='displayed']:first");
						var checked = displayed.attr('checked') ? true : false;
						personDisplayNames.append( "<option value='" + checked + "' selected='true'>" + checked + "</option>" );
					});
				};
			});
	checkValueIsExist( "name", "validateProgram.action",{id:getFieldValue('id')} );
});

</script>

<h3>$i18n.getString( "edit_program" )</h3>

<form id="updateProgramForm" name="updateProgramForm" action="updateProgram.action" method="post" onsubmit="selectAllById('selectedPropertyIds');" >
  <select id='daysAllowedSendMessages' name="daysAllowedSendMessages" multiple="multiple" class="hidden"></select>
  <select id='templateMessages' name="templateMessages" multiple="multiple" class="hidden"></select>
  <select id='datesToCompare' name="datesToCompare" multiple="multiple" class="hidden"></select>
  <select id='sendTo' name="sendTo" multiple="multiple" class="hidden"></select>
  <select id='whenToSend' name="whenToSend" multiple="multiple" class="hidden"></select>
	<select id='messageType' name="messageType" multiple="multiple" class="hidden"></select>
  <select id='userGroup' name="userGroup" multiple="multiple" class="hidden"></select>

  <input type="hidden" id="id" name="id" value="$program.id">
  <table id="detailsList">
    <thead>
      <tr>
        <th colspan="2" style="width: 590px;">$i18n.getString( "program_details" )</th>
      </tr>
    </thead>
    <tbody>
		<tr>
			<td><label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
			<td><input style="width: 330px;" type="text" id="name" name="name" value="$encoder.htmlEncode( $program.displayName )" class="{validate:{required:true,minlength:4}}"></td>
			<td></td>
		</tr>	
		
		<tr>
			<td><label>$i18n.getString( "description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
			<td><input style="width: 330px;" type="text" id="description" name="description" value="$encoder.htmlEncode( $program.description )" class="{validate:{required:true,minlength:2}}"></td>
			<td></td>
		</tr>

		<tr>
			<td><label>$i18n.getString( "type" ) </label></td>
			<td>
				<select style="width: 336px;" id="type" name="type" onchange='programOnChange();' class="{validate:{required:true}}">
					<option value='1' #if( $program.type=='1' ) selected #end>$i18n.getString('multiple_events_with_registration')</option>
					<option value='2' #if( $program.type=='2' ) selected #end>$i18n.getString('single_event_with_registration')</option>
					<option value='3' #if( $program.type=='3' ) selected #end>$i18n.getString('single_event_without_registration')</option>
				</select>
			</td>
			<td></td>
		</tr>
		
		<tr>
			<td><label>$i18n.getString( "data_entry_method" ) </label></td>
			<td>
                <select id='dataEntryMethod' name='dataEntryMethod' style="width: 335px;">
					<option value='false' #if( $program.dataEntryMethod=='false' ) selected #end>$i18n.getString('drop_down_lists')</option>
					<option value='true' #if( $program.dataEntryMethod=='true' ) selected #end>$i18n.getString('radio_buttons')</option>
				</select>
			</td>
			<td></td>
		</tr>
		
		<tr>
			<td><label>$i18n.getString( "version" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
			<td><input type="text" id="version" name="version" style="width: 330px;" value="$program.version" class="{validate:{required:true,integer:true}}"></td>
			<td></td>
		</tr>
		
		<tr name='nonAnonymous'>
			<th colspan="2">$i18n.getString( "enrollment_details" )</th>
		</tr>
	
		<tr name='nonAnonymous'>
			<td><label>$i18n.getString( "allow_select_enrollment_date_in_future" )</label></td>
			<td><input type="checkbox" id="selectEnrollmentDatesInFuture" name="selectEnrollmentDatesInFuture" value='true' #if($program.selectEnrollmentDatesInFuture=='true') checked #end ></td>
			<td></td>
		</tr>
		
		<tr name='nonAnonymous'>
			<td><label>$i18n.getString( "allow_select_incident_date_in_future" )</label></td>
			<td><input type="checkbox" id="selectIncidentDatesInFuture" name="selectIncidentDatesInFuture" value='true' #if($program.selectIncidentDatesInFuture=='true') checked #end ></td>
			<td></td>
		</tr>

        <tr name='nonAnonymous'>
            <td><label>$i18n.getString( "use_birth_date_as_incident_date" )</label></td>
            <td><input type="checkbox" id="useBirthDateAsIncidentDate" name="useBirthDateAsIncidentDate" value='true' #if($program.useBirthDateAsIncidentDate=='true') checked #end /></td>
            <td></td>
        </tr>

        <tr name='nonAnonymous'>
            <td><label>$i18n.getString( "use_birth_date_as_enrollment_date" )</label></td>
            <td><input type="checkbox" id="useBirthDateAsEnrollmentDate" name="useBirthDateAsEnrollmentDate" value='true' #if($program.useBirthDateAsEnrollmentDate=='true') checked #end  ></td>
            <td></td>
        </tr>


		<tr name='nonAnonymous'>
			<td><label>$i18n.getString( "only_enroll_once" )</label></td>
			<td><input type="checkbox" id="onlyEnrollOnce" name="onlyEnrollOnce" value='true' onchange='programOnChange();' #if( $program.type!='1' ) disabled #end #if($program.onlyEnrollOnce=='true') checked #end></td>
			<td></td>
		</tr>

		<tr name='nonAnonymous'>
			<td><label>$i18n.getString( "show_incident_date" )</label></td>
			<td><input type="checkbox" id="displayIncidentDate" name="displayIncidentDate" value='true' onchange='programOnChange();' #if( $program.type=='3' ) disabled #elseif($program.displayIncidentDate=='true') checked #end></td>
			<td></td>
		</tr>
		
		<tr name='nonAnonymous'>
			<td><label>$i18n.getString( "date_of_incident_description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
			<td><input style="width: 330px;" type="text" id="dateOfIncidentDescription" name="dateOfIncidentDescription" value="$!program.dateOfIncidentDescription" class="{validate:{required:true,minlength:4}}" #if( $program.type=='2' || $program.type=='3') disabled #end ></td>
			<td></td>
		</tr name='nonAnonymous'>
		
		<tr name='nonAnonymous'>
			<td><label>$i18n.getString( "date_of_enrollment_description" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
			<td><input style="width: 330px;" type="text" id="dateOfEnrollmentDescription" name="dateOfEnrollmentDescription"  value="$!program.dateOfEnrollmentDescription" class="{validate:{required:true,minlength:4}}" #if( $program.type=='3' ) disabled #end></td>
			<td></td>
		</tr>
		
        <tr>
            <td><label>$i18n.getString( "used_by_all_orgunits" )</label></td>
            <td><input type="checkbox" id="displayOnAllOrgunit" name="displayOnAllOrgunit" value='true' #if($program.displayOnAllOrgunit) checked #end></td>
            <td></td>
        </tr>


		<tr name='nonAnonymous'>
			<th colspan="2">$i18n.getString( "dashboard_shortcut_to_add_relative" )</th>
		</tr>
		
		<tr name='nonAnonymous'>
			<td>$i18n.getString("shortcut_link_label_eg_add_child")</td>
			<td><input type='text' id='relationshipText' name='relationshipText' value='$!program.relationshipText' ></td>
		</tr>
		
		<tr name='nonAnonymous'>
			<td>$i18n.getString("relationship")</td>
			<td>
				<select type='text' id='relationshipTypeId' name='relationshipTypeId' onchange='relationshipTypeOnchange()' >
					<option value=''>[$i18n.getString("please_select")]</option>
					#foreach($relationshipType in $relationshipTypes)
						<option value='$relationshipType.id' aIsToB='$relationshipType.aIsToB' bIsToA='$relationshipType.bIsToA' #if($program.relationshipType.id==$relationshipType.id) selected #end >$relationshipType.name</option>
					#end
				</select>
			</td>
		</tr>
		
		<tr name='nonAnonymous'>
			<td>$i18n.getString("who_is_the_new_relative_to_the_existing_person")</td>
			<td>
				<select id='relationshipFromA' name='relationshipFromA'>
					#if($!program.relationshipType)
						<option value='false' #if($!program.relationshipFromA=='true') selected #end>$!program.relationshipType.aIsToB</option>
						<option value='true' #if($!program.relationshipFromA=='false') selected #end>$!program.relationshipType.bIsToA</option>
					#end
				</select>
			</td>
		</tr>
		
		<tr name='nonAnonymous'>
			<td>$i18n.getString("program_for_new_relative_to_be_enrolled_in")</td>
			<td>
				<select type='text' id='relatedProgramId' name='relatedProgramId' >
					<option value=''>[$i18n.getString("please_select")]</option>
					#set( $relatedProgram = $program.relatedProgram)
					#foreach($program in $programs)
						<option value='$program.id' #if($relatedProgram.id==$program.id) selected #end >$program.name</option>
					#end
				</select>
			</td>
		</tr>
		
		<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
			
	<tbody>
	</table>

  <table name='nonAnonymous'>
      <thead>
        <tr>
          <th colspan="2" style="width: 590px;">$i18n.getString( "scheduling_of_events" )</th>
        </tr>
      </thead>

      <tbody>
        <tr name='nonAnonymous'>
            <td><label>$i18n.getString( "skip_to_generate_overdue_events" )</label></td>
            <td><input type="checkbox" id="ignoreOverdueEvents" name="ignoreOverdueEvents" value='true' #if($program.ignoreOverdueEvents=='true') checked #end #if( $program.type!='1' ) disabled #end ></td>
            <td></td>
        </tr>
      </tbody>
  </table>

  <br />

	<table name='nonAnonymous'>
		<colgroup>
			<col style="width:400px;"/>
			<col/>
			<col style="width:400px;"/>
		</colgroup>
        <thead>
          <tr>
            <th colspan="3" style="width: 590px;">$i18n.getString( "identifiers_and_attributes" )</th>
          </tr>
        </thead>
		<thead>
		  <tr>        
			<th>$i18n.getString( "available" )</th>
			<th></th>
			<th>$i18n.getString( "selected" )
				<select style='display:none;' multiple id="selectedPropertyIds" name="selectedPropertyIds" ></select>
				<select style='display:none;' multiple id="personDisplayNames" name="personDisplayNames" ></select>
			</th>
		  </tr>
		</thead>
	
		<tr>
			<td>
				<select size="15" style="width:100%;" multiple id="availablePropertyIds" name="availablePropertyIds" ondblclick="selectProperties();" #if( $program.type=='3' ) disabled #end>
					#foreach( $identifier in $availableIdentifierTypes )
						<option value="iden_$identifier.id">$identifier.displayName</option>
					#end
					#foreach( $attribute in $availableAttributes )
						<option value="attr_$attribute.id">$attribute.displayName</option>
					#end
				</select>
			</td>
			<td style="text-align:center">
				<input type="button" value="&gt;" class='filterButton' onclick="selectProperties();"/><br/>
				<input type="button" value="&lt;" class='filterButton' onclick="unSelectProperties();"/><br/>
				<input type="button" value="&gt;&gt;" class='filterButton' onclick="selectAllProperties();"/><br/>
				<input type="button" value="&lt;&lt;" class='filterButton' onclick="unSelectAllProperties();"/>
			</td>
			<td>
				<div class="dataElementDiv">
					<table>
						<colgroup>
							<col/>
							<col style="width:20px;"/>
						</colgroup>
						<thead>
							<tr>
								<th style="width:180px;">$i18n.getString( "identifiers_and_attributes" )</th>
								<th style="width:20px;">$i18n.getString( "displayed_in_patient_list" )</th>
                            </tr>
						</thead>
						<tbody id="selectedList" #if($program.type==3) style="display:none;" #end>
							#foreach( $identifier in $program.patientIdentifierTypes )
								<tr ondblclick="unSelectProperties( this )" id="iden_$identifier.id">
									<td onmousedown="select(event, this)">$encoder.htmlEncode( $identifier.name )</td>
									<td align="center"><input type="checkbox" name="displayed" value="iden_$identifier.id" #if($identifier.personDisplayName == true ) checked #end #if($program.type==3) disabled #end /></td>
								</tr>
							#end
							#foreach( $attribute in $program.patientAttributes )
								<tr ondblclick="unSelectProperties( this )" id="attr_$attribute.id">
									<td onmousedown="select(event, this)">$encoder.htmlEncode( $attribute.name )</td>
									<td align="center"><input type="checkbox" name="displayed" style='display:none' /></td>
								</tr>
							#end
						</tbody>
					</table>
				</div>
			</td>
			<td>
				<a href="javascript:moveUpPropertyList()"><img src="../images/move_up.png"/></a><br/><br/>
				<a href="javascript:moveDownPropertyList()"><img src="../images/move_down.png"/></a><br/><br/>
			</td>  
	  </tr>
    </tbody>
  </table>  
  
  #if($program.type!=3)
	<table>
		<tr>
			<th colspan='3'>$i18n.getString("template_reminder_message")</th>
		</tr>
		<tbody id='programStageMessage'>
			#set($index = 0)
			#foreach($reminder in $program.patientReminders)
				#set($index = $index + 1)
				<tr name="tr$index" class="listAlternateRow" >
					<td colspan='2'>
						$i18n.getString( "reminder" ) $index
						<span style="align:right"><a href='javascript:removeTemplateMessageForm($index)'> ( $i18n.getString("remove_reminder") )</a>
					</td>
				</tr>
				<tr name="tr$index">
					<td><label>$i18n.getString( "send_base_on" )</label></td>
					<td>
						<select type="text" id="whenToSend$index" name="whenToSend$index" class="whenToSend" onchange='whenToSendOnChange($index)'>
							<option value="" >$i18n.getString("days_scheduled")</option>
							<option value="3" #if($!reminder.whenToSend==3) selected #end >$i18n.getString("complete_program")</option>
							<option value="1" #if($!reminder.whenToSend==1) selected #end >$i18n.getString("program_enrollment")</option>
						</select>
					</td>
				</tr>
				<tr name="tr$index">
					<td><label>$i18n.getString( "date_to_compare")</label></td>
					<td>
						<select class="dateToCompare" id='dateToCompare$index' #if($!reminder.whenToSend==3) disabled #end />
							<option value="dateofincident" #if($!reminder.dateToCompare=='dateofincident') selected #end>$i18n.getString( "incident_date" )</option>
							<option value="enrollmentdate" #if($!reminder.dateToCompare=='enrollmentdate') selected #end>$i18n.getString( "enrollment_date" )</option>
						</select>
					</td>
				</tr>
				<tr name="tr$index">
					#set($value=$!reminder.daysAllowedSendMessage)
					#set($time = '1')
					#if($!value && $value<0)
						#set($time = '-1')
						#set($value=-1 * $value)
					#end
					<td><label>$i18n.getString( "send_message" )</label></td>
					<td><input type="text" id="daysAllowedSendMessage$index" name="daysAllowedSendMessage$index" 
						class="daysAllowedSendMessage {validate:{required:true,number:true}}" value="$!value"
						onkeyup='setRealDays($index);' style="width:100px;"
						#if($!reminder.whenToSend==1 || $!reminder.whenToSend==3 ) disabled #end 
						realvalue="$!reminder.daysAllowedSendMessage" />
						$i18n.getString('days')
						<select id='time$index' name='time$index' onchange='setRealDays($index);' style="width:100px;"
							#if($!reminder.whenToSend==1 || $!reminder.whenToSend==3 ) disabled #end  >
							<option value='1' #if($time=='1') selected #end >$i18n.getString('before')</option>
							<option value='-1' #if($time=='-1') selected #end  >$i18n.getString('after')</option>
						</select>
						$i18n.getString('scheduled_date')
					</td>
				</tr>
				<tr name="tr$index">
					<td><label>$i18n.getString( "recipients" )</label></td>
					<td>
						<select type="text" id="sendTo$index" name="sendTo$index" class="sendTo {validate:{required:true,number:true}}" onchange="onchangeUserGroup( $index )">
							<option value="1" #if($!reminder.sendTo==1) selected #end >$i18n.getString("patient_sms_only")</option>
							<option value="3" #if($!reminder.sendTo==3) selected #end >$i18n.getString("orgunit_phone_number_sms_only")</option>
							<option value="2" #if($!reminder.sendTo==2) selected #end >$i18n.getString("health_worker_assigned_to_person")</option>
							<option value="4" #if($!reminder.sendTo==4) selected #end >$i18n.getString("all_users_in_orgunit_registered")</option>
							<option value="5" #if($!reminder.sendTo==5) selected #end >$i18n.getString("user_group")</option>
						</select>
					</td>
				</tr>
				<tr name="tr$index" id="tr$index">
					<td><label>$i18n.getString( "user_group" )</label></td>
					<td>
						<select type="text" id="userGroup$index" name="userGroup$index" class="userGroup">
						#foreach($eachGroup in $userGroups)
							<option value="$eachGroup.id" #if($!reminder.userGroup.id==$eachGroup.id) selected #end>$i18n.getString($eachGroup.name)</option>
						#end	
						</select>
					</td>
				</tr>
				<tr name="tr$index">
					<td><label>$i18n.getString( "message_type" )</label></td>
					<td>
						<select type="text" id="messageType$index" name="messageType$index" #if($!reminder.sendTo==1 || $!reminder.sendTo==3) disabled #end class="messageType {validate:{required:true,number:true}}" >
							<option value="1" #if($!reminder.messageType==1) selected #end >$i18n.getString("direct_sms")</option>
							<option value="2" #if($!reminder.messageType==2) selected #end >$i18n.getString("message")</option>
							<option value="3" #if($!reminder.messageType==3) selected #end >$i18n.getString("both")</option>
						</select>
					</td>
				</tr>
				<tr name="tr$index">
					<td>$i18n.getString( "params" )</td>
					<td>
						<select multiple size='4' ondblclick="insertParams(this.value, $index);">
							<option value="{patient-name}">$i18n.getString("patient_name")</option>
							<option value="{program-name}">$i18n.getString("program_name")</option>
							<option value="{incident-date}">$i18n.getString("incident_date")</option>
							<option value="{days-since-incident-date}">$i18n.getString("days_since_incident_date")</option>
							<option value="{enrollement-date}">$i18n.getString("enrollement_date")</option>
							<option value="{days-since-enrollement-date}">$i18n.getString("days_since_enrollment_date")</option>
							<option value="{orgunit-name}">$i18n.getString("orgunit_name")</option>
						</select>
					</td>
				</tr>
				<tr name="tr$index">
					<td><label>$i18n.getString( "message" )</label></td>
					<td><textarea onkeyup="getMessageLength($index)" id="templateMessage$index" name="templateMessage$index" style="width:320px" class="templateMessage {validate:{required:true}}">$reminder.templateMessage</textarea></td>
				</tr>
				<tr>
					<td></td>
					<td id='messageLengthTD$index'></td>
					<script>getMessageLength($index)</script>
				</tr>
			#end
		</tbody>
		
		<tr>
			<td></td>
			<td>
				<input type="button" value="$i18n.getString('add_more')" onclick='generateTemplateMessageForm();'>
			</td>
		</tr>
	</table>
	#end
	
  <table>
	 <tr>
      	<td colspan='3'>
			<input type="submit" value="$i18n.getString( 'update' )">
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='program.action'">
		</td>
      </tr>
  </table>
</form>
<script>
	var i18n_reminder = '$encoder.jsEscape( $i18n.getString( "reminder" ) , "'")';   
	var i18n_remove_reminder = '$encoder.jsEscape( $i18n.getString( "remove_reminder" ) , "'")';   
	var i18n_days_before_after_comparison_date = '$encoder.jsEscape( $i18n.getString( "days_before_after_comparison_date" ) , "'")';   
	var i18n_params = '$encoder.jsEscape( $i18n.getString( "params" ) , "'")';   
	var i18n_patient_name = '$encoder.jsEscape( $i18n.getString( "patient_name" ) , "'")';   
	var i18n_program_name = '$encoder.jsEscape( $i18n.getString( "program_name" ) , "'")';   
	var i18n_incident_date = '$encoder.jsEscape( $i18n.getString( "incident_date" ) , "'")';   
	var i18n_days_since_incident_date = '$encoder.jsEscape( $i18n.getString( "days_since_incident_date" ) , "'")';   
	var i18n_orgunit_name = '$encoder.jsEscape( $i18n.getString( "orgunit_name" ) , "'")';   
	var i18n_enrollment_date = '$encoder.jsEscape( $i18n.getString( "enrollement_date" ) , "'")';   
	var i18n_days_since_enrollment_date = '$encoder.jsEscape( $i18n.getString( "days_since_enrollment_date" ) , "'")';   
	var i18n_name_exists = '$encoder.jsEscape( $i18n.getString( "name_exists" ) , "'")';
	var i18n_date_to_compare = '$encoder.jsEscape( $i18n.getString( "date_to_compare" ) , "'")'; 
	var i18n_recipients = '$encoder.jsEscape( $i18n.getString( "recipients" ) , "'")'; 
	var i18n_patient_sms_only = '$encoder.jsEscape( $i18n.getString( "patient_sms_only" ) , "'")'; 
	var i18n_health_worker_assigned_to_person = '$encoder.jsEscape( $i18n.getString( "health_worker_assigned_to_person" ) , "'")'; 
	var i18n_orgunit_phone_number_sms_only = '$encoder.jsEscape( $i18n.getString( "orgunit_phone_number_sms_only" ) , "'")'; 
	var i18n_all_users_at_orgunit = '$encoder.jsEscape( $i18n.getString( "all_users_at_orgunit" ) , "'")'; 
	var i18n_send_when_to = '$encoder.jsEscape( $i18n.getString( "send_base_on" ) , "'")';
	var i18n_days_scheduled = '$encoder.jsEscape( $i18n.getString( "days_scheduled" ) , "'")';
	var i18n_complete_program = '$encoder.jsEscape( $i18n.getString( "complete_program" ) , "'")';
	var i18n_program_enrollment = '$encoder.jsEscape( $i18n.getString( "program_enrollment" ) , "'")';
	var i18n_complete_program_stage = '$encoder.jsEscape( $i18n.getString( "complete_program_stage" ) , "'")';
	var i18n_user_group = '$encoder.jsEscape( $i18n.getString( "user_group" ) , "'")';
	var i18n_days = '$encoder.jsEscape( $i18n.getString( "days" ) , "'")';
    var i18n_before = '$encoder.jsEscape( $i18n.getString( "before" ) , "'")';
    var i18n_after = '$encoder.jsEscape( $i18n.getString( "after" ) , "'")';
    var i18n_scheduled_date = '$encoder.jsEscape( $i18n.getString( "scheduled_date" ) , "'")';
    var i18n_message_type = '$encoder.jsEscape( $i18n.getString( "message_type" ) , "'")';
    var i18n_direct_sms = '$encoder.jsEscape( $i18n.getString( "direct_sms" ) , "'")';
    var i18n_send_message = '$encoder.jsEscape( $i18n.getString( "send_message" ) , "'")';
    var i18n_message = '$encoder.jsEscape( $i18n.getString( "message" ) , "'")';
	var i18n_both = '$encoder.jsEscape( $i18n.getString( "both" ) , "'")';

	programOnChange();
</script>
