<script type="text/javascript" src="javascript/updatePatientIdentifierTypeForm.js"></script>
<script>
	var i18n_select_at_least_one_scope = '$encoder.jsEscape( $i18n.getString( "select_at_least_one_scope" ) , "'" )';
</script>

<h3>$i18n.getString( "edit_patient_identifier_type" )</h3>

<form id="updatePatientIdentifierTypeForm" action="updatePatientIdentifierType.action" method="post" >
<input type="hidden" id="id" name="id" value="$patientIdentifierType.id"/>
<table>	
	 <thead>
      <tr>
        <th colspan="4">$i18n.getString( "patient_identifier_type_details" ) </th>
      </tr>
    </thead>
    
	<tbody>
		<tr>
			<td><label>$i18n.getString( "name" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input style="width: 330px;" type="text" id="name" name="name"  value="$encoder.htmlEncode($patientIdentifierType.name)" class="{validate:{required:true,rangelength:[4,100]}}"/></td>
			<td></td>
		</tr>
		
		<tr>
			<td><label>$i18n.getString( "description" ) <em title="$i18n.getString( 'required' )" class="required">*</em></label></td>
			<td><input style="width: 330px;" type="text" id="description" name="description" value="$encoder.htmlEncode($!patientIdentifierType.description)" class="{validate:{required:true,minlength:4, maxlength: 150}}"/></td>
			<td></td>
		</tr>	
		
		<tr>
			<td><label for="mandatory">$i18n.getString( "mandatory" )</label></td>
			<td>
				<input style="margin: 0;" type='checkbox' id="mandatory" name="mandatory" #if( $patientIdentifierType.mandatory ) checked #end >
			</td>		
			<td></td>				
		</tr>
		
		<tr>
			<td><label for="related">$i18n.getString( "related" )</label></td>
			<td>
				<input style="margin: 0;" type='checkbox' name="related" #if( $patientIdentifierType.related ) checked #end >
			</td>		
			<td></td>				
		</tr>
		
		<tr>
			<td><label for="noChars">$i18n.getString( "no_of_char" )</label></td>
			<td>
				<input style="width: 330px;" type="text" name="noChars" id="noChars" value="$!patientIdentifierType.noChars" class="{validate:{number:true}}" />
			</td>		
			<td></td>				
		</tr> 	
		
		<tr>
			<td><label for="type">$i18n.getString( "type" )</label></td>
			<td>
				<select style="width: 336px;" id="type" name="type" class="{validate:{required:true}}" onchange='typeOnChange();'>
					<option value="string" #if( $patientIdentifierType.type=='string' ) selected="selected" #end>$i18n.getString( "text" )</option>
					<option value="number" #if( $patientIdentifierType.type=='number' ) selected="selected" #end>$i18n.getString( "number" )</option>
					<option value="letter" #if( $patientIdentifierType.type=='letter' ) selected="selected" #end>$i18n.getString( "letter_only" )</option>
					<option value="localId" #if( $patientIdentifierType.type=='localId' ) selected="selected" #end>$i18n.getString( "local_identifier" )</option>
				</select>
			</td>		
			<td></td>				
		</tr>
		
		<tr name='localIdField' #if($patientIdentifierType.type!='localId' ) style='display:none;' #end >
			<th colspan='2'><label for="type">$i18n.getString( "scope" )</label></th>
		</tr>
			
		<tr name='localIdField' #if($patientIdentifierType.type!='localId' ) style='display:none;' #end >
			<td><label for="type">$i18n.getString( "orgunit" )</label></td>
			<td>
				<input type='checkbox' id="orgunitScope" name="orgunitScope" value='true' #if( $patientIdentifierType.orgunitScope=='true' ) checked #end >
			</td>
			<td></td>
		</tr>
		
		<tr name='localIdField' #if($patientIdentifierType.type!='localId' ) style='display:none;' #end>
			<td><label for="type">$i18n.getString( "program" )</label></td>
			<td>
				<input type='checkbox' id="programScope" name="programScope" value='true'  #if( $patientIdentifierType.programScope=='true' ) checked #end >
			</td>
			<td></td>
		</tr>
		
		<tr name='localIdField' #if($patientIdentifierType.type!='localId' ) style='display:none;' #end>
			<td><label for="type">$i18n.getString( "period_type" )</label></td>
			<td>
				<select type='checkbox' id="periodTypeName" name="periodTypeName" >
					<option value="">[$i18n.getString( "please_select" )]</option>
					#foreach ( $periodType in $periodTypes )
					<option value="$periodType.name" #if( $patientIdentifierType.periodType.name==$periodType.name ) selected #end>$i18n.getString( $periodType.name )</option>
					#end
				</select>
			</td>
			<td></td>
		</tr>
	</tbody>
	<tr>
		<td></td>
		<td>
			<input type="submit" value="$i18n.getString( 'update' )" />
			<input type="button" value="$i18n.getString( 'cancel' )" onclick="window.location.href='patientIdentifierType.action'" />
		</td>
	</tr>
</table>


</form>
