<script>
jQuery( document ).ready( function()
{
	validation( 'programIndicatorForm', function(form){
		form.submit();
	});
	
	checkValueIsExist( "name", "validateProgramIndicator.action",{id:getFieldValue('id')} );	
	checkValueIsExist( "shortName", "validateProgramIndicator.action",{id:getFieldValue('id')} );	
	checkValueIsExist( "code", "validateProgramIndicator.action",{id:getFieldValue('id')} );	
});
</script>

<h3>$i18n.getString( "update_program_indicator" )</h3>
									
<form id="programIndicatorForm" action="updateProgramIndicator.action" method="post" >
<input type='hidden' id='programId' name='programId' value='$program.id'>
<input type='hidden' id='id' name='id' value='$programIndicator.id'>

<table>	 
	<thead>
      <tr>
        <th colspan="2">$i18n.getString( "program_indicator_details" )</th>
      </tr>
    </thead>
	<tr>
		<td><label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input style="width: 330px;" type="text" id="name" name="name" class="{validate:{required:true,minlength:2}}" value='$programIndicator.name'></td>
		<td></td>
	</tr>	
	<tr>
		<td><label>$i18n.getString( "short_name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input style="width: 330px;" type="text" id="shortName" name="shortName" class="{validate:{required:true,minlength:2}}" value='$programIndicator.shortName'></td>
		<td></td>
	</tr>	
	<tr>
		<td><label>$i18n.getString( "code" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td><input style="width: 330px;" type="text" id="code" name="code" class="{validate:{required:true,minlength:2}}" value='$programIndicator.code'></td>
		<td></td>
	</tr>	
	<tr>
		<td><label>$i18n.getString( "description" ) </label></td>
		<td><textarea style="width: 330px;" type="text" id="description" name="description">$programIndicator.description</textarea></td>
		<td></td>
	</tr>
	<tr>
		<td><label>$i18n.getString( "value_type" )</label></td>
		<td>
			<select style="width: 336px;" id="valueType" name="valueType" onchange='programIndicatorOnChange();' class="{validate:{required:true}}">
				<option value='int' #if( $programIndicator.valueType=='int' ) selected #end>$i18n.getString('int')</option>
				<option value='date' #if( $programIndicator.valueType=='date' ) fasdfasdf selected #end>$i18n.getString('date')</option>
			</select>
		</td>
		<td></td>
	</tr>
	<tr id='rootDateTR' #if($programIndicator.valueType!='date') style='display:none' #end >
		<td><label>$i18n.getString( "date_for_calculating" ) <em title="$i18n.getString( "required" )" class="required">*</em></label></td>
		<td>
			<select style="width:336px;" id="rootDate" name="rootDate" class="{validate:{required:true}}">
				<option value='incident_date'>$i18n.getString('incident_date')</option>
				<option value='execution_date'>$i18n.getString('report_date')</option>
				<option value='current_date'>$i18n.getString('current_date')</option>
			</select>
		</td>
		<td></td>
	</tr>
	<tr>
			<td><label>$i18n.getString( "program_stage" ) </label></td>
			<td>
				<select style="width:336px;" id="programStageId" name="programStageId" onChange="getPatientDataElements();">
					<option value=''>[$i18n.getString('please_select')]</option>
					#foreach( $programStage in $programIndicator.program.programStages )
					<option value='$programStage.id'>$programStage.displayName</option>
					#end
				</select>
			</td>
			<td></td>
		</tr>
</table>
<br>
	
#parse( "/dhis-web-maintenance-patient/programIndicatorForm.vm" )

<p>
	<input type="submit" value="$i18n.getString( 'add' )" style="width:163px;" >
	<input type="button" value="$i18n.getString( 'cancel' )" style="width:163px;"  onclick="window.location.href='programIndicator.action?programId=$programIndicator.program.id'" >
</p>

</form>

<script>
	var i18n_reminder = '$encoder.jsEscape( $i18n.getString( "reminder" ) , "'")';   
	var i18n_remove_reminder = '$encoder.jsEscape( $i18n.getString( "remove_reminder" ) , "'")';   
	var i18n_days_before_after_comparison_date = '$encoder.jsEscape( $i18n.getString( "days_before_after_comparison_date" ) , "'")';   
	var i18n_params = '$encoder.jsEscape( $i18n.getString( "params" ) , "'")';   
	var i18n_patient_name = '$encoder.jsEscape( $i18n.getString( "patient_name" ) , "'")';   
	var i18n_program_name = '$encoder.jsEscape( $i18n.getString( "program_name" ) , "'")';   
	var i18n_incident_date = '$encoder.jsEscape( $i18n.getString( "incident_date" ) , "'")';   
	var i18n_days_since_incident_date = '$encoder.jsEscape( $i18n.getString( "days_since_incident_date" ) , "'")';   
	var i18n_orgunit_name = '$encoder.jsEscape( $i18n.getString( "orgunit_name" ) , "'")';   
	var i18n_enrollment_date = '$encoder.jsEscape( $i18n.getString( "enrollement_date" ) , "'")';   
	var i18n_days_since_enrollment_date = '$encoder.jsEscape( $i18n.getString( "days_since_enrollment_date" ) , "'")';   
	var i18n_message = '$encoder.jsEscape( $i18n.getString( "message" ) , "'")';   
	var i18n_name_exists = '$encoder.jsEscape( $i18n.getString( "name_exists" ) , "'")';   
	var i18n_date_to_compare = '$encoder.jsEscape( $i18n.getString( "date_to_compare" ) , "'")'; 
</script>
