<h3>$i18n.getString( "validation_criteria_management" ) #openHelp( "validation_criteria" )</h3>

<table class="mainPageTable">
	<tr>
		<td style="vertical-align:top">
			<table width="100%">
				<tr>
					<td>
						$i18n.getString( "filter_by_name" ): <input type="text" onkeyup="filterValues( this.value , 1)" style="width:250px"/>
					</td>
					
					<td style="text-align:right" >			
						<input style="text-align:right" type="button" value="$i18n.getString( "add_new" )" onclick="window.location.href='showAddValidationCriteriaForm.action'" style="width:70px">
					</td>
				</tr>
			</table>
			<table class="listTable" id="listTable">
				<thead>	
				 <tr>
				  <th>$i18n.getString('name')</th>
				  <th style="width:140px;" class="{sorter: false}">$i18n.getString('operator')</th>
				</tr>
				</thead>
				<tbody id="list">
				#foreach($criteria in $criterias)
				<tr id="tr${criteria.id}">
				  <td onclick="javascript:showValidationCriteriaDetails( '$criteria.id' )">$criteria.displayName</td>
				  <td>
					<a href="showProgramsForValidationCriteriaForm.action?criteriaId=$criteria.id" title="$i18n.getString( 'assign_validation_for_programs' )"><img src="../images/assign.png" alt="$i18n.getString( 'assign_validation_for_programs' )"></a>
					<a href="showUpdateValidationCriteriaForm.action?id=$criteria.id" title="$i18n.getString( "edit" )"><img src="../images/edit.png" alt="$i18n.getString( 'edit' )"></a>
					<a href="javascript:translate( 'ValidationCriteria', '$criteria.id' )" title="$i18n.getString( 'translation_translate' )"><img src="../images/i18n.png" alt="$i18n.getString( 'translation_translate' )"/></a>  
					<a href="javascript:removeCriteria( '$criteria.id', '$encoder.jsEncode( $criteria.displayName )' )" title="$i18n.getString( "remove" )"><img src="../images/delete.png" alt="$i18n.getString( 'remove' )"></a>
					<a href="javascript:showValidationCriteriaDetails( '$criteria.id' )" title="$i18n.getString( "show_details" )"><img src="../images/information.png" alt="$i18n.getString( 'show_details' )"></a>
				  </td>
				</tr>
				#end
				</tbody>
			</table>
		</td>
		<td id="detailsData">

            <div id="detailsArea">
                <div id="hideDetailsArea">
					<a href="javascript:hideDetails()" title="$i18n.getString( 'hide_details' )"><img src="../images/hide.png" alt="$i18n.getString( 'hide_details' )"></a>
				</div>				
				<p><label class="bold">$i18n.getString( "name" ):</label><br><span id='nameField'></span></p>
				<p><label class="bold">$i18n.getString( "description" ):</label><br><span id='descriptionField'></span></p>
				<p><label class="bold">$i18n.getString( "criteria" ):</label><br><span id='criteriaField'></span></p>
			</div>
		</td>
	</tr>
		
</table>

<script>
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_validation_criteria" ) , "'" )';
	jQuery(document).ready(function(){	
		tableSorter( 'listTable' );
	});

</script>
