<link href="../dhis-web-commons/javascripts/jQuery/ui/css/redmond/jquery-ui-1.9.1.custom.css" media="screen" rel="stylesheet" type="text/css">
<link href="../dhis-web-commons/css/widgets.css" media="screen" rel="stylesheet" type="text/css">
<link href="../dhis-web-commons/css/print.css" media="print" rel="stylesheet" type="text/css">
<link href="../favicon.ico" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="../dhis-web-commons/ckeditor/skins/kama/editor.css?t=B8DJ5M3"/>

<script type="text/javascript">
  
	jQuery(document).ready(	function()
	{
		validation( 'saveDataEntryForm', function( form )
		{
			validateDataEntryForm(form);
		} );
			
		jQuery('#designTextarea').ckeditor();
		#if($!registrationForm)
			jQuery("#designTextarea").ckeditorGet().setData('$!encoder.jsEscape( $registrationForm.dataEntryForm.htmlCode , "'" )');
		#end
		
	});

    var i18n_dataelement_is_inserted = '$encoder.jsEscape( $i18n.getString( "dataelement_is_inserted" ) , "'" )';
	var i18n_specify_dataelememt = '$encoder.jsEscape( $i18n.getString( "specify_dataelememt" ) , "'" )';
    var i18n_choose_existing_dataentry ='$encoder.jsEscape( $i18n.getString( "choose_existing_dataentry" ) , "'" )';
	var i18n_dataelement = '$encoder.jsEscape( $i18n.getString( "dataelement" ) , "'" )';
	var i18n_dataelement_of_orther_program_stage = "$i18n.getString( 'dataelement_of_orther_program_stage' )";
	var i18n_save_success = '$encoder.jsEscape( $i18n.getString( "save_success" ) , "'" )';
	var i18n_enter_a_name = '$encoder.jsEscape( $i18n.getString( "enter_a_name" ) , "'" )';
	var autoSave=${autoSave};
	var previousName = '';
</script>

<style type="text/css">
.ui-state-active2, .ui-widget-content .ui-state-active2, .ui-widget-header .ui-state-active2 {
	border: 1px solid #79b7e7;
	background: #f5f8f9;
	font-weight: bold;
	color: #e17009;
}

.ui-dialog .ui-dialog-content {
	padding: 2px;
}

#fixedAttrSelector, #identifiersSelector, #attributesSelector, #programSelector {
	padding: 2px;
}
</style>

<form id="saveDataEntryForm" name="saveDataEntryForm" action="savePatientRegistrationForm.action" method="get">

<input type="hidden" name="programId" id="programId" value="$!program.id"/>
<input type="hidden" name="dataEntryFormId" id="dataEntryFormId" value="$!registrationForm.dataEntryForm.id"/>

<h3>$i18n.getString( "add_patient_registration_form" )</h3>
<h4>$!program.displayName</h4>

<div class="container" >
	<table id="detailsList" width="100%">
		<col/>
		<tr>
			<th colspan='3'>$i18n.getString( "patient_registration_details" )</th>
		</tr>
		<tr>
			<td>
				<label>$i18n.getString( "name" ) <em title="$i18n.getString( "required" )" class="required">*</em></label>
			</td>
			<td>
				<input type="text" id="name" value="$!registrationForm.dataEntryForm.name" name="name" class="{validate:{required:true,rangelength:[4,150],alphanumericwithbasicpuncspaces:true,firstletteralphabet:false}}" style="width:30em;" >
			</td>			
		</tr>
		<tr>
			<td>&nbsp;</td>
		</tr>		
	</table>  
	
	<table width="100%">
		<tr>
			<th>
				$i18n.getString( "design_patient_registration_form" )
			</th>
		</tr>
		<tr>
			<td>
	        	<div>
	        		<textarea id="designTextarea" name="designTextarea"></textarea>
	        	</div>
			</td>
		</tr>
	</table>
</div>

<table width="100%">	
    <tr>
        <td>
		    <button type="button" id="saveButton" onclick="isSave='true';validateDataEntryForm();">$i18n.getString( 'save' )</button>
            <button type="submit" id="saveAndCloseButton" onclick="isSave='false';"/>$i18n.getString( 'save_and_close' )</button>
            <button type="button" id="cancelButton" onclick="window.location='patientRegistrationForm.action'">$i18n.getString( 'cancel' )</button>
			&nbsp;&nbsp;<span style="color:#606060">|</span>&nbsp;
		    <button type="button" id="propertiesButton" onclick="openPropertiesSelector()"/>$i18n.getString( 'insert_properties' )</button>
			<button type="button" id="insertImagesButton">$i18n.getString( 'insert_images' )</button>
			&nbsp;&nbsp;<span style="color:#606060">|</span>&nbsp;
		    <button type="button" id="deleteButton" #if($!registrationForm.dataEntryForm) #else style='display:none;' #end onclick="deleteRegistrationFormFromView();"  />$i18n.getString( 'delete_this_form' )</button>
			<input type="checkbox" id="autoSave" name="autoSave" value='$!autoSave' #if($autoSave && $autoSave=="true") checked #end onchange="setAutoSaveRegistrationSetting(this.checked)" />$i18n.getString( 'auto_save_patient_registration_forms' )
        </td>		
    </tr>
</table>
  
</form>

<div id='selectionDialog' class='hidden'>
	<table id="fixedAttrTab">
		<tr>
			<td>
				<input type='text' id='fixedAttrFilter' placeholder="$i18n.getString('filter')" style="width:365px;" onkeyup="filterList( this.value, 'fixedAttrSelector' )">
				<input type='button' value="$i18n.getString('clear')" style="width:80px;" onclick="setFieldValue('fixedAttrFilter','');">
			</td>
		</tr>
		<tr>
			<td>
				<select id="fixedAttrSelector" multiple="multiple" style="width:450px;height:270px" onclick='suggestionSelectorToggle()' ondblclick="insertElement( 'fixedAttr' )">
					<option value="registrationDate">$i18n.getString('registration_date')</option>
					<option value="fullName">$i18n.getString('full_name')</option>
					<option value="gender">$i18n.getString('gender')</option>
					<option value="birthDate">$i18n.getString('birth_date')</option>
					<option value="age">$i18n.getString('age_years')</option>
					<option value="phoneNumber">$i18n.getString('phone_number')</option>
					<option value="deathDate">$i18n.getString('death_date')</option>
					<option value="isDead">$i18n.getString('is_dead')</option>
					<option value="healthWorker">$i18n.getString('health_worker')</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				$i18n.getString("default_value")
				<input type='text' id='suggestedField' style='width:295px;'>
				<select style='width:300px;display:none;' id='genderSelector'>
					<option value="">[$i18n.getString( "please_select" )]</option>
					<option value="M">$i18n.getString( "male" )</option>
					<option value="F">$i18n.getString( "female" )</option>
					<option value="T">$i18n.getString( "transgender" )</option>
				</select>
				<select style='width:300px;display:none;' id='dobTypeSelector'>
					<option value="">[$i18n.getString( "please_select" )]</option>
					<option value="V">$i18n.getString( "verified" )</option>
					<option value="D">$i18n.getString( "declared" )</option>
					<option value="A">$i18n.getString( "approximated" )</option>
				</select>
				<input type='checkbox' id='hiddenField'/>$i18n.getString("is_hidden")
			</td>
		</tr>
	</table>
	
	<table id="identifierTypeTab" class='hidden'>
		<tr>
			<td>
				<input type='text' id='identifierTypeFilter' placeholder="$i18n.getString('filter')" style="width:365px;" onkeyup="filterList( this.value, 'identifiersSelector' )">
				<input type='button' value="$i18n.getString('clear')" style="width:80px;" onclick="setFieldValue('identifierTypeFilter','');">
			</td>
		</tr>
		<tr>
			<td>
				<select id="identifiersSelector" multiple="multiple" style="width:450px;height:270px" ondblclick="insertElement( 'iden' )">
					#foreach( $identifierType in $identifierTypes )
						<option value="$identifierType.uid" mandatory='$identifierType.mandatory'>$encoder.htmlEncode($identifierType.displayName) #if($identifierType.mandatory=='true') * #end </option>
					#end
				</select>
			</td>
		</tr>
	</table>
	
	<table id="attributeTab" class='hidden'>
		<tr>
			<td>
				<input type='text' id='attributeFilter' placeholder="$i18n.getString('filter')" style="width:365px;" onkeyup="filterList( this.value, 'attributesSelector' )">
				<input type='button' value="$i18n.getString('clear')" style="width:80px;" onclick="setFieldValue('attributeFilter','');">
			</td>
		</tr>
		<tr>
			<td>
				<select id="attributesSelector" multiple="multiple" style="width:450px;height:270px" ondblclick="insertElement( 'attr' )">
				#foreach( $attribute in $attributes )
					<option value="$attribute.uid" mandatory='$attribute.mandatory'>$encoder.htmlEncode($attribute.displayName) #if($attribute.mandatory=='true') * #end</option>
				#end
				</select>
			</td>
		</tr>
	</table>
	
	#if($!program)
	<table id="programAttrTab" class='hidden'>
		<tr>
			<td>
				<input type='text' placeholder="$i18n.getString('filter')" style="width:365px;" onkeyup="filterList( this.value, 'programAttrSelector' )">
				<input type='button' value="$i18n.getString('clear')" style="width:80px;">
			</td>
		</tr>
		<tr>
			<td>
				<select id="programAttrSelector" multiple="multiple" style="width:450px;height:270px" ondblclick="insertElement( 'prg' )">
					<option value="enrollmentDate" #if($program.useBirthDateAsEnrollmentDate=='false') mandatory='true' #end >$encoder.htmlEncode($program.dateOfEnrollmentDescription) #if($program.useBirthDateAsEnrollmentDate=='false') * #end</option>
					#if($program.displayIncidentDate=='true')
					<option value="dateOfIncident" #if($program.useBirthDateAsIncidentDate=='false') mandatory='true' #end>$encoder.htmlEncode($program.dateOfIncidentDescription) #if($program.useBirthDateAsIncidentDate=='false') * #end</option>
					#end
				</select>
			</td>
		</tr>
	</table>
	#end

	<table>
		<tr>
			<td>
				<button type="button" id="fixAttrButton" onclick="fixAttrOnClick()">$i18n.getString( "fixed_attributes" )</button>
				<button type="button" id="identifierTypeButton" onclick="identifierTypeOnClick()">$i18n.getString( "identifier_types" )</button>
				<button type="button" id="attributesButton" onclick="attributesOnClick()">$i18n.getString( "attributes" )</button>
				
				#if($!program)
					<button type="button" id="programAttrButton" onclick="programAttrOnClick()">$i18n.getString( "program" )</button>
				#end
				
				&nbsp;&nbsp;<span style="color:#606060">|</span>&nbsp;
				<button type="button" id="insertButton" onclick="insertElement( 'fixedAttr' )" >$i18n.getString( "insert" )</button>
			</td>
		</tr>
	</table>

	<span id='message'></span>

</div>

<div id="imageDialog" title="$i18n.getString( 'insert_images' )" class='hidden'>
	<div style="margin:4px">
		<div>
			<select id="imageSelector" multiple="multiple" style="height: 200px; width:100%;" ondblclick='insertImage();'>
			#foreach( $flag in $flags )
			<option value="../dhis-web-commons/flags/${flag}.png">$i18n.getString( ${flag} )</option>
			#end
			</select>
		</div>
		<div style="margin-top:6px"><button type="button" id="insertImageButton">$i18n.getString( "insert" )</button></div>
	</div>
</div>

<div id="validateDiv"></div>

<script>
	var i18n_delete_program_data_entry_confirm = '$encoder.jsEscape( $i18n.getString( "delete_program_data_entry_confirm" ) , "'" )';
	var i18n_property_is_inserted = '$encoder.jsEscape( $i18n.getString( "property_is_inserted" ) , "'" )';
	var i18n_please_insert_all_required_fields = '$encoder.jsEscape( $i18n.getString( "please_insert_all_required_fields" ) , "'" )';
	var i18n_required_fields_valivation = '$encoder.jsEscape( $i18n.getString( "required_fields_valivation" ) , "'" )';
	var i18n_registration_date = '$encoder.jsEscape( $i18n.getString( "registration_date" ) , "'" )';
	var i18n_full_name = '$encoder.jsEscape( $i18n.getString( "full_name" ) , "'" )';
	var i18n_gender = '$encoder.jsEscape( $i18n.getString( "gender" ) , "'" )';
	var i18n_date_of_birth = '$encoder.jsEscape( $i18n.getString( "date_of_birth" ) , "'" )';
	var i18n_properties = '$encoder.jsEscape( $i18n.getString( "properties" ) , "'" )';
	var i18n_confirm_delete = '$encoder.jsEscape( $i18n.getString( "confirm_delete_patient_registration_form" ) , "'" )';
	var i18n_save_unsuccess_please_insert_all_required_fields = '$encoder.jsEscape( $i18n.getString( "save_unsuccess" ) , "'" )' + '. ' + '$encoder.jsEscape( $i18n.getString( "please_insert_all_required_fields" ) , "'" )';
	var i18n_validate_success = '$encoder.jsEscape( $i18n.getString( "validate_success" ) , "'" )';
	var i18n_name_exists = '$encoder.jsEscape( $i18n.getString( "name_exists" ) , "'" )';
	var i18n_dob_type = '$encoder.jsEscape( $i18n.getString( "dob_type" ) , "'" )';
	jQuery(document).ready(	function(){
		openPropertiesSelector();
	});
</script>
